@layer sf.utilities {
  @media (min-width: 1140px) {
    .xl\:radius-0 {
      border-radius: var(--sf-radius-0);
    }
    .xl\:radius-1\/3 {
      border-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-1\/2 {
      border-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-1 {
      border-radius: var(--sf-radius-1);
    }
    .xl\:radius-2 {
      border-radius: var(--sf-radius-2);
    }
    .xl\:radius-3 {
      border-radius: var(--sf-radius-3);
    }
    .xl\:radius-default {
      border-radius: var(--sf-radius-default);
    }
    .xl\:radius-square {
      border-radius: var(--sf-radius-square);
    }
    .xl\:radius-rounded {
      border-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-round {
      border-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-top-0 {
      border-top-left-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-top-0 {
      border-top-right-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-top-0 {
      border-top-right-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-top-0 {
      border-top-left-radius: var(--sf-radius-0);
    }
    .xl\:radius-top-0 {
      border-start-start-radius: var(--sf-radius-0);
      border-start-end-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-bottom-0 {
      border-bottom-left-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-bottom-0 {
      border-bottom-right-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-bottom-0 {
      border-bottom-right-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-bottom-0 {
      border-bottom-left-radius: var(--sf-radius-0);
    }
    .xl\:radius-bottom-0 {
      border-end-start-radius: var(--sf-radius-0);
      border-end-end-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-inline-start-0 {
      border-top-left-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-inline-start-0 {
      border-top-right-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-inline-start-0 {
      border-bottom-left-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-inline-start-0 {
      border-bottom-right-radius: var(--sf-radius-0);
    }
    .xl\:radius-inline-start-0 {
      border-start-start-radius: var(--sf-radius-0);
      border-end-start-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-inline-end-0 {
      border-top-right-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-inline-end-0 {
      border-top-left-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-inline-end-0 {
      border-bottom-right-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-inline-end-0 {
      border-bottom-left-radius: var(--sf-radius-0);
    }
    .xl\:radius-inline-end-0 {
      border-start-end-radius: var(--sf-radius-0);
      border-end-end-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-0 {
      border-top-left-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-0 {
      border-top-right-radius: var(--sf-radius-0);
    }
    .xl\:radius-top-inline-start-0 {
      border-start-start-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-0 {
      border-top-right-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-0 {
      border-top-left-radius: var(--sf-radius-0);
    }
    .xl\:radius-top-inline-end-0 {
      border-start-end-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-0 {
      border-bottom-left-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-0 {
      border-bottom-right-radius: var(--sf-radius-0);
    }
    .xl\:radius-bottom-inline-start-0 {
      border-end-start-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-0 {
      border-bottom-right-radius: var(--sf-radius-0);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-0 {
      border-bottom-left-radius: var(--sf-radius-0);
    }
    .xl\:radius-bottom-inline-end-0 {
      border-end-end-radius: var(--sf-radius-0);
    }
    [dir="ltr"] .xl\:radius-top-1\/3 {
      border-top-left-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-top-1\/3 {
      border-top-right-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-top-1\/3 {
      border-top-right-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-top-1\/3 {
      border-top-left-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-top-1\/3 {
      border-start-start-radius: var(--sf-radius-1\/3);
      border-start-end-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-bottom-1\/3 {
      border-bottom-left-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-bottom-1\/3 {
      border-bottom-right-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-bottom-1\/3 {
      border-bottom-right-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-bottom-1\/3 {
      border-bottom-left-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-bottom-1\/3 {
      border-end-start-radius: var(--sf-radius-1\/3);
      border-end-end-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-inline-start-1\/3 {
      border-top-left-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-inline-start-1\/3 {
      border-top-right-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-inline-start-1\/3 {
      border-bottom-left-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-inline-start-1\/3 {
      border-bottom-right-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-inline-start-1\/3 {
      border-start-start-radius: var(--sf-radius-1\/3);
      border-end-start-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-inline-end-1\/3 {
      border-top-right-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-inline-end-1\/3 {
      border-top-left-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-inline-end-1\/3 {
      border-bottom-right-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-inline-end-1\/3 {
      border-bottom-left-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-inline-end-1\/3 {
      border-start-end-radius: var(--sf-radius-1\/3);
      border-end-end-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-1\/3 {
      border-top-left-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-1\/3 {
      border-top-right-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-top-inline-start-1\/3 {
      border-start-start-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-1\/3 {
      border-top-right-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-1\/3 {
      border-top-left-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-top-inline-end-1\/3 {
      border-start-end-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-1\/3 {
      border-bottom-left-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-1\/3 {
      border-bottom-right-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-bottom-inline-start-1\/3 {
      border-end-start-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-1\/3 {
      border-bottom-right-radius: var(--sf-radius-1\/3);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-1\/3 {
      border-bottom-left-radius: var(--sf-radius-1\/3);
    }
    .xl\:radius-bottom-inline-end-1\/3 {
      border-end-end-radius: var(--sf-radius-1\/3);
    }
    [dir="ltr"] .xl\:radius-top-1\/2 {
      border-top-left-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-top-1\/2 {
      border-top-right-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-top-1\/2 {
      border-top-right-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-top-1\/2 {
      border-top-left-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-top-1\/2 {
      border-start-start-radius: var(--sf-radius-1\/2);
      border-start-end-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-bottom-1\/2 {
      border-bottom-left-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-bottom-1\/2 {
      border-bottom-right-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-bottom-1\/2 {
      border-bottom-right-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-bottom-1\/2 {
      border-bottom-left-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-bottom-1\/2 {
      border-end-start-radius: var(--sf-radius-1\/2);
      border-end-end-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-inline-start-1\/2 {
      border-top-left-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-inline-start-1\/2 {
      border-top-right-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-inline-start-1\/2 {
      border-bottom-left-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-inline-start-1\/2 {
      border-bottom-right-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-inline-start-1\/2 {
      border-start-start-radius: var(--sf-radius-1\/2);
      border-end-start-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-inline-end-1\/2 {
      border-top-right-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-inline-end-1\/2 {
      border-top-left-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-inline-end-1\/2 {
      border-bottom-right-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-inline-end-1\/2 {
      border-bottom-left-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-inline-end-1\/2 {
      border-start-end-radius: var(--sf-radius-1\/2);
      border-end-end-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-1\/2 {
      border-top-left-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-1\/2 {
      border-top-right-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-top-inline-start-1\/2 {
      border-start-start-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-1\/2 {
      border-top-right-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-1\/2 {
      border-top-left-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-top-inline-end-1\/2 {
      border-start-end-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-1\/2 {
      border-bottom-left-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-1\/2 {
      border-bottom-right-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-bottom-inline-start-1\/2 {
      border-end-start-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-1\/2 {
      border-bottom-right-radius: var(--sf-radius-1\/2);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-1\/2 {
      border-bottom-left-radius: var(--sf-radius-1\/2);
    }
    .xl\:radius-bottom-inline-end-1\/2 {
      border-end-end-radius: var(--sf-radius-1\/2);
    }
    [dir="ltr"] .xl\:radius-top-1 {
      border-top-left-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-top-1 {
      border-top-right-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-top-1 {
      border-top-right-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-top-1 {
      border-top-left-radius: var(--sf-radius-1);
    }
    .xl\:radius-top-1 {
      border-start-start-radius: var(--sf-radius-1);
      border-start-end-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-bottom-1 {
      border-bottom-left-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-bottom-1 {
      border-bottom-right-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-bottom-1 {
      border-bottom-right-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-bottom-1 {
      border-bottom-left-radius: var(--sf-radius-1);
    }
    .xl\:radius-bottom-1 {
      border-end-start-radius: var(--sf-radius-1);
      border-end-end-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-inline-start-1 {
      border-top-left-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-inline-start-1 {
      border-top-right-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-inline-start-1 {
      border-bottom-left-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-inline-start-1 {
      border-bottom-right-radius: var(--sf-radius-1);
    }
    .xl\:radius-inline-start-1 {
      border-start-start-radius: var(--sf-radius-1);
      border-end-start-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-inline-end-1 {
      border-top-right-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-inline-end-1 {
      border-top-left-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-inline-end-1 {
      border-bottom-right-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-inline-end-1 {
      border-bottom-left-radius: var(--sf-radius-1);
    }
    .xl\:radius-inline-end-1 {
      border-start-end-radius: var(--sf-radius-1);
      border-end-end-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-1 {
      border-top-left-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-1 {
      border-top-right-radius: var(--sf-radius-1);
    }
    .xl\:radius-top-inline-start-1 {
      border-start-start-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-1 {
      border-top-right-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-1 {
      border-top-left-radius: var(--sf-radius-1);
    }
    .xl\:radius-top-inline-end-1 {
      border-start-end-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-1 {
      border-bottom-left-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-1 {
      border-bottom-right-radius: var(--sf-radius-1);
    }
    .xl\:radius-bottom-inline-start-1 {
      border-end-start-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-1 {
      border-bottom-right-radius: var(--sf-radius-1);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-1 {
      border-bottom-left-radius: var(--sf-radius-1);
    }
    .xl\:radius-bottom-inline-end-1 {
      border-end-end-radius: var(--sf-radius-1);
    }
    [dir="ltr"] .xl\:radius-top-2 {
      border-top-left-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-top-2 {
      border-top-right-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-top-2 {
      border-top-right-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-top-2 {
      border-top-left-radius: var(--sf-radius-2);
    }
    .xl\:radius-top-2 {
      border-start-start-radius: var(--sf-radius-2);
      border-start-end-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-bottom-2 {
      border-bottom-left-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-bottom-2 {
      border-bottom-right-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-bottom-2 {
      border-bottom-right-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-bottom-2 {
      border-bottom-left-radius: var(--sf-radius-2);
    }
    .xl\:radius-bottom-2 {
      border-end-start-radius: var(--sf-radius-2);
      border-end-end-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-inline-start-2 {
      border-top-left-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-inline-start-2 {
      border-top-right-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-inline-start-2 {
      border-bottom-left-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-inline-start-2 {
      border-bottom-right-radius: var(--sf-radius-2);
    }
    .xl\:radius-inline-start-2 {
      border-start-start-radius: var(--sf-radius-2);
      border-end-start-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-inline-end-2 {
      border-top-right-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-inline-end-2 {
      border-top-left-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-inline-end-2 {
      border-bottom-right-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-inline-end-2 {
      border-bottom-left-radius: var(--sf-radius-2);
    }
    .xl\:radius-inline-end-2 {
      border-start-end-radius: var(--sf-radius-2);
      border-end-end-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-2 {
      border-top-left-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-2 {
      border-top-right-radius: var(--sf-radius-2);
    }
    .xl\:radius-top-inline-start-2 {
      border-start-start-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-2 {
      border-top-right-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-2 {
      border-top-left-radius: var(--sf-radius-2);
    }
    .xl\:radius-top-inline-end-2 {
      border-start-end-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-2 {
      border-bottom-left-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-2 {
      border-bottom-right-radius: var(--sf-radius-2);
    }
    .xl\:radius-bottom-inline-start-2 {
      border-end-start-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-2 {
      border-bottom-right-radius: var(--sf-radius-2);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-2 {
      border-bottom-left-radius: var(--sf-radius-2);
    }
    .xl\:radius-bottom-inline-end-2 {
      border-end-end-radius: var(--sf-radius-2);
    }
    [dir="ltr"] .xl\:radius-top-3 {
      border-top-left-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-top-3 {
      border-top-right-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-top-3 {
      border-top-right-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-top-3 {
      border-top-left-radius: var(--sf-radius-3);
    }
    .xl\:radius-top-3 {
      border-start-start-radius: var(--sf-radius-3);
      border-start-end-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-bottom-3 {
      border-bottom-left-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-bottom-3 {
      border-bottom-right-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-bottom-3 {
      border-bottom-right-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-bottom-3 {
      border-bottom-left-radius: var(--sf-radius-3);
    }
    .xl\:radius-bottom-3 {
      border-end-start-radius: var(--sf-radius-3);
      border-end-end-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-inline-start-3 {
      border-top-left-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-inline-start-3 {
      border-top-right-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-inline-start-3 {
      border-bottom-left-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-inline-start-3 {
      border-bottom-right-radius: var(--sf-radius-3);
    }
    .xl\:radius-inline-start-3 {
      border-start-start-radius: var(--sf-radius-3);
      border-end-start-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-inline-end-3 {
      border-top-right-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-inline-end-3 {
      border-top-left-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-inline-end-3 {
      border-bottom-right-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-inline-end-3 {
      border-bottom-left-radius: var(--sf-radius-3);
    }
    .xl\:radius-inline-end-3 {
      border-start-end-radius: var(--sf-radius-3);
      border-end-end-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-3 {
      border-top-left-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-3 {
      border-top-right-radius: var(--sf-radius-3);
    }
    .xl\:radius-top-inline-start-3 {
      border-start-start-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-3 {
      border-top-right-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-3 {
      border-top-left-radius: var(--sf-radius-3);
    }
    .xl\:radius-top-inline-end-3 {
      border-start-end-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-3 {
      border-bottom-left-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-3 {
      border-bottom-right-radius: var(--sf-radius-3);
    }
    .xl\:radius-bottom-inline-start-3 {
      border-end-start-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-3 {
      border-bottom-right-radius: var(--sf-radius-3);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-3 {
      border-bottom-left-radius: var(--sf-radius-3);
    }
    .xl\:radius-bottom-inline-end-3 {
      border-end-end-radius: var(--sf-radius-3);
    }
    [dir="ltr"] .xl\:radius-top-default {
      border-top-left-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-top-default {
      border-top-right-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-top-default {
      border-top-right-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-top-default {
      border-top-left-radius: var(--sf-radius-default);
    }
    .xl\:radius-top-default {
      border-start-start-radius: var(--sf-radius-default);
      border-start-end-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-bottom-default {
      border-bottom-left-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-bottom-default {
      border-bottom-right-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-bottom-default {
      border-bottom-right-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-bottom-default {
      border-bottom-left-radius: var(--sf-radius-default);
    }
    .xl\:radius-bottom-default {
      border-end-start-radius: var(--sf-radius-default);
      border-end-end-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-inline-start-default {
      border-top-left-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-inline-start-default {
      border-top-right-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-inline-start-default {
      border-bottom-left-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-inline-start-default {
      border-bottom-right-radius: var(--sf-radius-default);
    }
    .xl\:radius-inline-start-default {
      border-start-start-radius: var(--sf-radius-default);
      border-end-start-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-inline-end-default {
      border-top-right-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-inline-end-default {
      border-top-left-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-inline-end-default {
      border-bottom-right-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-inline-end-default {
      border-bottom-left-radius: var(--sf-radius-default);
    }
    .xl\:radius-inline-end-default {
      border-start-end-radius: var(--sf-radius-default);
      border-end-end-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-default {
      border-top-left-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-default {
      border-top-right-radius: var(--sf-radius-default);
    }
    .xl\:radius-top-inline-start-default {
      border-start-start-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-default {
      border-top-right-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-default {
      border-top-left-radius: var(--sf-radius-default);
    }
    .xl\:radius-top-inline-end-default {
      border-start-end-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-default {
      border-bottom-left-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-default {
      border-bottom-right-radius: var(--sf-radius-default);
    }
    .xl\:radius-bottom-inline-start-default {
      border-end-start-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-default {
      border-bottom-right-radius: var(--sf-radius-default);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-default {
      border-bottom-left-radius: var(--sf-radius-default);
    }
    .xl\:radius-bottom-inline-end-default {
      border-end-end-radius: var(--sf-radius-default);
    }
    [dir="ltr"] .xl\:radius-top-square {
      border-top-left-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-top-square {
      border-top-right-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-top-square {
      border-top-right-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-top-square {
      border-top-left-radius: var(--sf-radius-square);
    }
    .xl\:radius-top-square {
      border-start-start-radius: var(--sf-radius-square);
      border-start-end-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-bottom-square {
      border-bottom-left-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-bottom-square {
      border-bottom-right-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-bottom-square {
      border-bottom-right-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-bottom-square {
      border-bottom-left-radius: var(--sf-radius-square);
    }
    .xl\:radius-bottom-square {
      border-end-start-radius: var(--sf-radius-square);
      border-end-end-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-inline-start-square {
      border-top-left-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-inline-start-square {
      border-top-right-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-inline-start-square {
      border-bottom-left-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-inline-start-square {
      border-bottom-right-radius: var(--sf-radius-square);
    }
    .xl\:radius-inline-start-square {
      border-start-start-radius: var(--sf-radius-square);
      border-end-start-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-inline-end-square {
      border-top-right-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-inline-end-square {
      border-top-left-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-inline-end-square {
      border-bottom-right-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-inline-end-square {
      border-bottom-left-radius: var(--sf-radius-square);
    }
    .xl\:radius-inline-end-square {
      border-start-end-radius: var(--sf-radius-square);
      border-end-end-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-square {
      border-top-left-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-square {
      border-top-right-radius: var(--sf-radius-square);
    }
    .xl\:radius-top-inline-start-square {
      border-start-start-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-square {
      border-top-right-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-square {
      border-top-left-radius: var(--sf-radius-square);
    }
    .xl\:radius-top-inline-end-square {
      border-start-end-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-square {
      border-bottom-left-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-square {
      border-bottom-right-radius: var(--sf-radius-square);
    }
    .xl\:radius-bottom-inline-start-square {
      border-end-start-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-square {
      border-bottom-right-radius: var(--sf-radius-square);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-square {
      border-bottom-left-radius: var(--sf-radius-square);
    }
    .xl\:radius-bottom-inline-end-square {
      border-end-end-radius: var(--sf-radius-square);
    }
    [dir="ltr"] .xl\:radius-top-rounded {
      border-top-left-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-top-rounded {
      border-top-right-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-top-rounded {
      border-top-right-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-top-rounded {
      border-top-left-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-top-rounded {
      border-start-start-radius: var(--sf-radius-rounded);
      border-start-end-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-bottom-rounded {
      border-bottom-left-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-bottom-rounded {
      border-bottom-right-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-bottom-rounded {
      border-bottom-right-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-bottom-rounded {
      border-bottom-left-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-bottom-rounded {
      border-end-start-radius: var(--sf-radius-rounded);
      border-end-end-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-inline-start-rounded {
      border-top-left-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-inline-start-rounded {
      border-top-right-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-inline-start-rounded {
      border-bottom-left-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-inline-start-rounded {
      border-bottom-right-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-inline-start-rounded {
      border-start-start-radius: var(--sf-radius-rounded);
      border-end-start-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-inline-end-rounded {
      border-top-right-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-inline-end-rounded {
      border-top-left-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-inline-end-rounded {
      border-bottom-right-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-inline-end-rounded {
      border-bottom-left-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-inline-end-rounded {
      border-start-end-radius: var(--sf-radius-rounded);
      border-end-end-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-rounded {
      border-top-left-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-rounded {
      border-top-right-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-top-inline-start-rounded {
      border-start-start-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-rounded {
      border-top-right-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-rounded {
      border-top-left-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-top-inline-end-rounded {
      border-start-end-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-rounded {
      border-bottom-left-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-rounded {
      border-bottom-right-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-bottom-inline-start-rounded {
      border-end-start-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-rounded {
      border-bottom-right-radius: var(--sf-radius-rounded);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-rounded {
      border-bottom-left-radius: var(--sf-radius-rounded);
    }
    .xl\:radius-bottom-inline-end-rounded {
      border-end-end-radius: var(--sf-radius-rounded);
    }
    [dir="ltr"] .xl\:radius-top-round {
      border-top-left-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-top-round {
      border-top-right-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-top-round {
      border-top-right-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-top-round {
      border-top-left-radius: var(--sf-radius-round);
    }
    .xl\:radius-top-round {
      border-start-start-radius: var(--sf-radius-round);
      border-start-end-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-bottom-round {
      border-bottom-left-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-bottom-round {
      border-bottom-right-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-bottom-round {
      border-bottom-right-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-bottom-round {
      border-bottom-left-radius: var(--sf-radius-round);
    }
    .xl\:radius-bottom-round {
      border-end-start-radius: var(--sf-radius-round);
      border-end-end-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-inline-start-round {
      border-top-left-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-inline-start-round {
      border-top-right-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-inline-start-round {
      border-bottom-left-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-inline-start-round {
      border-bottom-right-radius: var(--sf-radius-round);
    }
    .xl\:radius-inline-start-round {
      border-start-start-radius: var(--sf-radius-round);
      border-end-start-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-inline-end-round {
      border-top-right-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-inline-end-round {
      border-top-left-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-inline-end-round {
      border-bottom-right-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-inline-end-round {
      border-bottom-left-radius: var(--sf-radius-round);
    }
    .xl\:radius-inline-end-round {
      border-start-end-radius: var(--sf-radius-round);
      border-end-end-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-top-inline-start-round {
      border-top-left-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-top-inline-start-round {
      border-top-right-radius: var(--sf-radius-round);
    }
    .xl\:radius-top-inline-start-round {
      border-start-start-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-top-inline-end-round {
      border-top-right-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-top-inline-end-round {
      border-top-left-radius: var(--sf-radius-round);
    }
    .xl\:radius-top-inline-end-round {
      border-start-end-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-start-round {
      border-bottom-left-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-start-round {
      border-bottom-right-radius: var(--sf-radius-round);
    }
    .xl\:radius-bottom-inline-start-round {
      border-end-start-radius: var(--sf-radius-round);
    }
    [dir="ltr"] .xl\:radius-bottom-inline-end-round {
      border-bottom-right-radius: var(--sf-radius-round);
    }
    [dir="rtl"] .xl\:radius-bottom-inline-end-round {
      border-bottom-left-radius: var(--sf-radius-round);
    }
    .xl\:radius-bottom-inline-end-round {
      border-end-end-radius: var(--sf-radius-round);
    }
  }
}
