@layer sf.components {
  .theme-light,
  .theme-dark {
    --sf-highlight-text: var(--sf-on-surface);
    --sf-highlight-background: var(--sf-surface-1);
    --sf-highlight-keyword: var(--sf-error);
    --sf-highlight-title: var(--sf-tertiary);
    --sf-highlight-attribute: var(--sf-primary);
    --sf-highlight-string: var(--sf-info);
    --sf-highlight-built-in: var(--sf-warning);
    --sf-highlight-comment: var(--sf-on-surface-variant);
    --sf-highlight-tag: var(--sf-success);
    --sf-highlight-section: var(--sf-primary);
    --sf-highlight-bullet: var(--sf-warning);
    --sf-highlight-punctuation: var(--sf-on-surface-variant);
    --sf-highlight-addition: var(--sf-on-success-container);
    --sf-highlight-addition-background: var(--sf-success-container);
    --sf-highlight-deletion: var(--sf-on-error-container);
    --sf-highlight-deletion-background: var(--sf-error-container);
    --sf-highlight-line-number: var(--sf-on-surface-variant);
    --sf-highlight-line-divider: var(--sf-outline-variant);
  }
  .theme-light pre code.hljs,
  .theme-dark pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }
  .theme-light code.hljs,
  .theme-dark code.hljs {
    padding: 3px 5px;
  }
  .theme-light .hljs,
  .theme-dark .hljs {
    color: var(--sf-highlight-text);
    background: var(--sf-highlight-background);
  }
  .theme-light .hljs-doctag,
  .theme-light .hljs-keyword,
  .theme-light .hljs-meta .hljs-keyword,
  .theme-light .hljs-template-tag,
  .theme-light .hljs-template-variable,
  .theme-light .hljs-type,
  .theme-light .hljs-variable.language_,
  .theme-dark .hljs-doctag,
  .theme-dark .hljs-keyword,
  .theme-dark .hljs-meta .hljs-keyword,
  .theme-dark .hljs-template-tag,
  .theme-dark .hljs-template-variable,
  .theme-dark .hljs-type,
  .theme-dark .hljs-variable.language_ {
    color: var(--sf-highlight-keyword);
  }
  .theme-light .hljs-title,
  .theme-light .hljs-title.class_,
  .theme-light .hljs-title.class_.inherited__,
  .theme-light .hljs-title.function_,
  .theme-dark .hljs-title,
  .theme-dark .hljs-title.class_,
  .theme-dark .hljs-title.class_.inherited__,
  .theme-dark .hljs-title.function_ {
    color: var(--sf-highlight-title);
  }
  .theme-light .hljs-attr,
  .theme-light .hljs-attribute,
  .theme-light .hljs-literal,
  .theme-light .hljs-meta,
  .theme-light .hljs-number,
  .theme-light .hljs-operator,
  .theme-light .hljs-selector-attr,
  .theme-light .hljs-selector-class,
  .theme-light .hljs-selector-id,
  .theme-light .hljs-variable,
  .theme-dark .hljs-attr,
  .theme-dark .hljs-attribute,
  .theme-dark .hljs-literal,
  .theme-dark .hljs-meta,
  .theme-dark .hljs-number,
  .theme-dark .hljs-operator,
  .theme-dark .hljs-selector-attr,
  .theme-dark .hljs-selector-class,
  .theme-dark .hljs-selector-id,
  .theme-dark .hljs-variable {
    color: var(--sf-highlight-attribute);
  }
  .theme-light .hljs-meta .hljs-string,
  .theme-light .hljs-regexp,
  .theme-light .hljs-string,
  .theme-dark .hljs-meta .hljs-string,
  .theme-dark .hljs-regexp,
  .theme-dark .hljs-string {
    color: var(--sf-highlight-string);
  }
  .theme-light .hljs-built_in,
  .theme-light .hljs-symbol,
  .theme-dark .hljs-built_in,
  .theme-dark .hljs-symbol {
    color: var(--sf-highlight-built-in);
  }
  .theme-light .hljs-code,
  .theme-light .hljs-comment,
  .theme-light .hljs-formula,
  .theme-dark .hljs-code,
  .theme-dark .hljs-comment,
  .theme-dark .hljs-formula {
    color: var(--sf-highlight-comment);
  }
  .theme-light .hljs-name,
  .theme-light .hljs-quote,
  .theme-light .hljs-selector-pseudo,
  .theme-light .hljs-selector-tag,
  .theme-dark .hljs-name,
  .theme-dark .hljs-quote,
  .theme-dark .hljs-selector-pseudo,
  .theme-dark .hljs-selector-tag {
    color: var(--sf-highlight-tag);
  }
  .theme-light .hljs-subst,
  .theme-light .hljs-emphasis,
  .theme-light .hljs-strong,
  .theme-dark .hljs-subst,
  .theme-dark .hljs-emphasis,
  .theme-dark .hljs-strong {
    color: var(--sf-highlight-text);
  }
  .theme-light .hljs-section,
  .theme-dark .hljs-section {
    color: var(--sf-highlight-section);
    font-weight: bold;
  }
  .theme-light .hljs-bullet,
  .theme-dark .hljs-bullet {
    color: var(--sf-highlight-bullet);
  }
  .theme-light .hljs-emphasis,
  .theme-dark .hljs-emphasis {
    font-style: italic;
  }
  .theme-light .hljs-strong,
  .theme-dark .hljs-strong {
    font-weight: bold;
  }
  .theme-light .hljs-addition,
  .theme-dark .hljs-addition {
    color: var(--sf-highlight-addition);
    background-color: var(--sf-highlight-addition-background);
  }
  .theme-light .hljs-deletion,
  .theme-dark .hljs-deletion {
    color: var(--sf-highlight-deletion);
    background-color: var(--sf-highlight-deletion-background);
  }
  .theme-light .hljs-punctuation,
  .theme-dark .hljs-punctuation {
    color: var(--sf-highlight-punctuation);
  }
}
@layer sf.components {
  .sf--highlight-head {
    padding: var(--sf-space-1) var(--sf-space-1) var(--sf-space-1\/2);
    margin-bottom: var(--sf-space-1\/2);
  }
  .sf--highlight-wrap {
    padding: 0 var(--sf-space-1) var(--sf-space-1);
    height: 100%;
  }
  .body .source {
    border-radius: var(--sf-radius-1);
  }
  li .source {
    margin-top: var(--sf-text-size-1);
  }
  .theme-dark .hljs,
  .theme-light .hljs {
    padding: 0 !important;
  }
  .source + * {
    margin-top: var(--sf-space-4);
  }
  .hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    color: var(--sf-highlight-line-number);
    vertical-align: top;
    /* your custom style here */
  }
  [dir="ltr"] .hljs-ln-numbers div {
    border-right: 1px solid var(--sf-highlight-line-divider);
  }
  [dir="rtl"] .hljs-ln-numbers div {
    border-left: 1px solid var(--sf-highlight-line-divider);
  }
  [dir="ltr"] .hljs-ln-numbers div {
    padding-right: var(--sf-a5);
  }
  [dir="rtl"] .hljs-ln-numbers div {
    padding-left: var(--sf-a5);
  }
  .hljs-ln-numbers div {
    -webkit-border-end: 1px solid var(--sf-highlight-line-divider);
            border-inline-end: 1px solid var(--sf-highlight-line-divider);
    -webkit-padding-end: var(--sf-a5);
            padding-inline-end: var(--sf-a5);
  }
  /* for block of code */
  [dir="ltr"] .hljs-ln-code {
    padding-left: var(--sf-b0);
  }
  [dir="rtl"] .hljs-ln-code {
    padding-right: var(--sf-b0);
  }
  .hljs-ln-code {
    padding-top: 0;
    -webkit-padding-start: var(--sf-b0);
            padding-inline-start: var(--sf-b0);
    padding-bottom: 0;
  }
  .hljs-ln {
    border-collapse: collapse;
  }
  .hljs-ln-n:before {
    content: attr(data-line-number);
  }
  pre {
    overflow: auto;
  }
}
