@layer sf.utilities {
  .hover\:ring-transparent:hover {
    --sf-ring-color: var(--sf-transparent);
  }
  .hover\:ring-current:hover {
    --sf-ring-color: var(--sf-current);
  }
  .hover\:ring-outline:hover {
    --sf-ring-color: var(--sf-outline);
  }
  .hover\:ring-outline-variant:hover {
    --sf-ring-color: var(--sf-outline-variant);
  }
  .hover\:ring-surface:hover {
    --sf-ring-color: var(--sf-surface-1);
  }
  .hover\:ring-surface-0:hover {
    --sf-ring-color: var(--sf-surface-0);
  }
  .hover\:ring-surface-1:hover {
    --sf-ring-color: var(--sf-surface-1);
  }
  .hover\:ring-surface-container:hover {
    --sf-ring-color: var(--sf-surface-container);
  }
  .hover\:ring-surface-overlay:hover {
    --sf-ring-color: var(--sf-surface-overlay);
  }
  .hover\:ring-surface-transparent-overlay:hover {
    --sf-ring-color: var(--sf-surface-transparent-overlay);
  }
  .hover\:ring-surface-inverse:hover {
    --sf-ring-color: var(--sf-surface-inverse);
  }
  .hover\:ring-on-surface:hover {
    --sf-ring-color: var(--sf-on-surface);
  }
  .hover\:ring-on-surface-variant:hover {
    --sf-ring-color: var(--sf-on-surface-variant);
  }
  .hover\:ring-primary:hover {
    --sf-ring-color: var(--sf-outline-primary);
  }
  .hover\:ring-primary-container:hover {
    --sf-ring-color: var(--sf-primary-container);
  }
  .hover\:ring-primary-transparent-overlay:hover {
    --sf-ring-color: var(--sf-primary-transparent-overlay);
  }
  .hover\:ring-secondary:hover {
    --sf-ring-color: var(--sf-outline-secondary);
  }
  .hover\:ring-secondary-container:hover {
    --sf-ring-color: var(--sf-secondary-container);
  }
  .hover\:ring-secondary-transparent-overlay:hover {
    --sf-ring-color: var(--sf-secondary-transparent-overlay);
  }
  .hover\:ring-tertiary:hover {
    --sf-ring-color: var(--sf-outline-tertiary);
  }
  .hover\:ring-tertiary-container:hover {
    --sf-ring-color: var(--sf-tertiary-container);
  }
  .hover\:ring-tertiary-transparent-overlay:hover {
    --sf-ring-color: var(--sf-tertiary-transparent-overlay);
  }
  .hover\:ring-error:hover {
    --sf-ring-color: var(--sf-outline-error);
  }
  .hover\:ring-error-container:hover {
    --sf-ring-color: var(--sf-error-container);
  }
  .hover\:ring-error-transparent-overlay:hover {
    --sf-ring-color: var(--sf-error-transparent-overlay);
  }
  .hover\:ring-warning:hover {
    --sf-ring-color: var(--sf-outline-warning);
  }
  .hover\:ring-warning-container:hover {
    --sf-ring-color: var(--sf-warning-container);
  }
  .hover\:ring-warning-transparent-overlay:hover {
    --sf-ring-color: var(--sf-warning-transparent-overlay);
  }
  .hover\:ring-success:hover {
    --sf-ring-color: var(--sf-outline-success);
  }
  .hover\:ring-success-container:hover {
    --sf-ring-color: var(--sf-success-container);
  }
  .hover\:ring-success-transparent-overlay:hover {
    --sf-ring-color: var(--sf-success-transparent-overlay);
  }
  .hover\:ring-info:hover {
    --sf-ring-color: var(--sf-outline-info);
  }
  .hover\:ring-info-container:hover {
    --sf-ring-color: var(--sf-info-container);
  }
}
