@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-icon-button {
    border-bottom-right-radius: var(--sf-radius-default);
    border-bottom-right-radius: var(--sf-icon-button--border-bottom-right-radius, var(--sf-icon-button--radius));
  }
  [dir="rtl"] .sf-icon-button {
    border-bottom-left-radius: var(--sf-radius-default);
    border-bottom-left-radius: var(--sf-icon-button--border-bottom-right-radius, var(--sf-icon-button--radius));
  }
  [dir="ltr"] .sf-icon-button {
    border-bottom-left-radius: var(--sf-radius-default);
    border-bottom-left-radius: var(--sf-icon-button--border-bottom-left-radius, var(--sf-icon-button--radius));
  }
  [dir="rtl"] .sf-icon-button {
    border-bottom-right-radius: var(--sf-radius-default);
    border-bottom-right-radius: var(--sf-icon-button--border-bottom-left-radius, var(--sf-icon-button--radius));
  }
  [dir="ltr"] .sf-icon-button {
    border-top-right-radius: var(--sf-radius-default);
    border-top-right-radius: var(--sf-icon-button--border-top-right-radius, var(--sf-icon-button--radius));
  }
  [dir="rtl"] .sf-icon-button {
    border-top-left-radius: var(--sf-radius-default);
    border-top-left-radius: var(--sf-icon-button--border-top-right-radius, var(--sf-icon-button--radius));
  }
  [dir="ltr"] .sf-icon-button {
    border-top-left-radius: var(--sf-radius-default);
    border-top-left-radius: var(--sf-icon-button--border-top-left-radius, var(--sf-icon-button--radius));
  }
  [dir="rtl"] .sf-icon-button {
    border-top-right-radius: var(--sf-radius-default);
    border-top-right-radius: var(--sf-icon-button--border-top-left-radius, var(--sf-icon-button--radius));
  }
  [dir="ltr"] .sf-icon-button {
    padding-left: var(--sf-icon-button--padding-inline-start);
  }
  [dir="rtl"] .sf-icon-button {
    padding-right: var(--sf-icon-button--padding-inline-start);
  }
  [dir="ltr"] .sf-icon-button {
    padding-right: var(--sf-icon-button--padding-inline-end);
  }
  [dir="rtl"] .sf-icon-button {
    padding-left: var(--sf-icon-button--padding-inline-end);
  }
  [dir="ltr"] .sf-icon-button {
    border-right-width: 0;
    border-right-width: var(--sf-icon-button--border-inline-end-width, 0);
  }
  [dir="rtl"] .sf-icon-button {
    border-left-width: 0;
    border-left-width: var(--sf-icon-button--border-inline-end-width, 0);
  }
  [dir="ltr"] .sf-icon-button {
    border-left-width: 0;
    border-left-width: var(--sf-icon-button--border-inline-start-width, 0);
  }
  [dir="rtl"] .sf-icon-button {
    border-right-width: 0;
    border-right-width: var(--sf-icon-button--border-inline-start-width, 0);
  }
  [dir="ltr"] .sf-icon-button {
    border-bottom-right-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-icon-button {
    border-bottom-left-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-icon-button {
    border-bottom-left-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-icon-button {
    border-bottom-right-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-icon-button {
    border-top-right-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-icon-button {
    border-top-left-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-icon-button {
    border-top-left-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-icon-button {
    border-top-right-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-icon-button {
    border-right-width: 0;
  }
  [dir="rtl"] .sf-icon-button {
    border-left-width: 0;
  }
  [dir="ltr"] .sf-icon-button {
    border-left-width: 0;
  }
  [dir="rtl"] .sf-icon-button {
    border-right-width: 0;
  }
  .sf-icon-button {--sf-icon-button--radius: var(--sf-radius--ui);
    border-end-end-radius: var(--sf-radius-default);
    border-end-end-radius: var(--sf-icon-button--border-bottom-right-radius, var(--sf-icon-button--radius));
    border-end-start-radius: var(--sf-radius-default);
    border-end-start-radius: var(--sf-icon-button--border-bottom-left-radius, var(--sf-icon-button--radius));
    border-start-end-radius: var(--sf-radius-default);
    border-start-end-radius: var(--sf-icon-button--border-top-right-radius, var(--sf-icon-button--radius));
    border-start-start-radius: var(--sf-radius-default);
    border-start-start-radius: var(--sf-icon-button--border-top-left-radius, var(--sf-icon-button--radius));
    -webkit-padding-start: var(--sf-icon-button--padding-inline-start);
            padding-inline-start: var(--sf-icon-button--padding-inline-start);
    padding-top: var(--sf-icon-button--padding-top);
    -webkit-padding-end: var(--sf-icon-button--padding-inline-end);
            padding-inline-end: var(--sf-icon-button--padding-inline-end);
    padding-bottom: var(--sf-icon-button--padding-bottom);
    background-color: var(--sf-icon-button--background-color);
    border-color: transparent;
    border-color: var(--sf-icon-button--border-color, transparent);
    border-width: 0;
    border-width: var(--sf-icon-button--border-width, 0);
    border-top-width: 0;
    border-top-width: var(--sf-icon-button--border-top-width, 0);
    border-inline-end-width: 0;
    border-inline-end-width: var(--sf-icon-button--border-inline-end-width, 0);
    border-bottom-width: 0;
    border-bottom-width: var(--sf-icon-button--border-bottom-width, 0);
    border-inline-start-width: 0;
    border-inline-start-width: var(--sf-icon-button--border-inline-start-width, 0);
    border-style: solid;
    border-style: var(--sf-icon-button--border-style, solid);
    box-shadow: var(--sf-icon-button--box-shadow);
  }
  .sf-icon-button .sf-close-icon {
    background-color: var(--sf-close-icon--background-color);
    border-color: transparent;
    border-color: var(--sf-close-icon--border-color, transparent);
  }
  .sf-icon-button .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-icon-size-3));
    height: var(--sf-icon-size-3);
    height: var(--sf-icon--height, var(--sf-icon-size-3));
    width: var(--sf-icon-size-3);
    width: var(--sf-icon--width, var(--sf-icon-size-3));
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon, .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close {
    --sf-icon-button--background-color: var(--sf-primary);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon .sf-icon {
    --sf-icon--color: var(--sf-on-primary);
  }
  .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close {
    --sf-icon-button--background-color: var(--sf-secondary-container);
  }
  .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon .sf-icon {
    --sf-icon--color: var(--sf-on-secondary-container);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close {
    --sf-icon-button--background-color: transparent;
    --sf-icon-button--border-color: var(--sf-outline);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon .sf-icon {
    --sf-icon--color: var(--sf-primary);
  }
  .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--close {
    --sf-icon-button--background-color: transparent;
  }
  .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon .sf-icon {
    --sf-icon--color: var(--sf-primary-active);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon .sf-icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon .sf-icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon .sf-icon {
    --sf-icon--color: var(--sf-on-surface);
  }
  .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--close {
    --sf-icon-button--background-color: var(--sf-surface-container);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close {
    --sf-icon-button--background-color: var(--sf-on-surface);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon .sf-icon {
    --sf-icon--color: var(--sf-on-surface-inverse);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-primary);
  }
  .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-secondary-container);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-primary);
  }
  .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-primary-active);
  }
  .sf-icon-button.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-surface);
    --sf-close-icon--border-color: var(--sf-outline);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-surface-inverse);
  }
  .sf-icon-button.sf-icon-button--size-2.sf-icon-button--icon .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-2);
    --sf-icon--height: var(--sf-text-height-2);
    --sf-icon--width: var(--sf-text-height-2);
  }
  .sf-icon-button.sf-icon-button--size-3.sf-icon-button--icon .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-3);
    --sf-icon--height: var(--sf-text-height-3);
    --sf-icon--width: var(--sf-text-height-3);
  }
  .sf-icon-button.sf-icon-button--size-1\/2.sf-icon-button--icon .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1\/2);
    --sf-icon--height: var(--sf-text-height-1\/2);
    --sf-icon--width: var(--sf-text-height-1\/2);
  }
  .sf-icon-button.sf-icon-button--size-1\/3.sf-icon-button--icon .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1\/3);
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-icon-button.sf-icon-button--size-1.sf-icon-button--icon .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1);
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-icon-button--size-1 {
    --sf-icon-button--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1--space-y-tightness-default);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1--space-y-tightness-default);
    --sf-icon-button--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-icon-button--size-1.tightness-low {
    --sf-icon-button--padding-top: var(--sf-ui-1--space-y-tightness-low);
    --sf-icon-button--padding-bottom: var(--sf-ui-1--space-y-tightness-low);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1--space-y-tightness-low);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1--space-y-tightness-low);
  }
  .sf-icon-button--size-1.tightness-high {
    --sf-icon-button--padding-top: var(--sf-ui-1--space-y-tightness-high);
    --sf-icon-button--padding-bottom: var(--sf-ui-1--space-y-tightness-high);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1--space-y-tightness-high);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1--space-y-tightness-high);
  }
  .sf-icon-button--size-1.tightness-highest {
    --sf-icon-button--padding-top: var(--sf-ui-1--space-y-tightness-highest);
    --sf-icon-button--padding-bottom: var(--sf-ui-1--space-y-tightness-highest);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1--space-y-tightness-highest);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1--space-y-tightness-highest);
  }
  .sf-icon-button--size-2 {
    --sf-icon-button--padding-bottom: var(--sf-ui-2--space-y-tightness-default);
    --sf-icon-button--padding-inline-end: var(--sf-ui-2--space-y-tightness-default);
    --sf-icon-button--padding-inline-start: var(--sf-ui-2--space-y-tightness-default);
    --sf-icon-button--padding-top: var(--sf-ui-2--space-y-tightness-default);
  }
  .sf-icon-button--size-2.tightness-low {
    --sf-icon-button--padding-top: var(--sf-ui-2--space-y-tightness-low);
    --sf-icon-button--padding-bottom: var(--sf-ui-2--space-y-tightness-low);
    --sf-icon-button--padding-inline-start: var(--sf-ui-2--space-y-tightness-low);
    --sf-icon-button--padding-inline-end: var(--sf-ui-2--space-y-tightness-low);
  }
  .sf-icon-button--size-2.tightness-high {
    --sf-icon-button--padding-top: var(--sf-ui-2--space-y-tightness-high);
    --sf-icon-button--padding-bottom: var(--sf-ui-2--space-y-tightness-high);
    --sf-icon-button--padding-inline-start: var(--sf-ui-2--space-y-tightness-high);
    --sf-icon-button--padding-inline-end: var(--sf-ui-2--space-y-tightness-high);
  }
  .sf-icon-button--size-2.tightness-highest {
    --sf-icon-button--padding-top: var(--sf-ui-2--space-y-tightness-highest);
    --sf-icon-button--padding-bottom: var(--sf-ui-2--space-y-tightness-highest);
    --sf-icon-button--padding-inline-start: var(--sf-ui-2--space-y-tightness-highest);
    --sf-icon-button--padding-inline-end: var(--sf-ui-2--space-y-tightness-highest);
  }
  .sf-icon-button--size-3 {
    --sf-icon-button--padding-bottom: var(--sf-ui-3--space-y-tightness-default);
    --sf-icon-button--padding-inline-end: var(--sf-ui-3--space-y-tightness-default);
    --sf-icon-button--padding-inline-start: var(--sf-ui-3--space-y-tightness-default);
    --sf-icon-button--padding-top: var(--sf-ui-3--space-y-tightness-default);
  }
  .sf-icon-button--size-3.tightness-low {
    --sf-icon-button--padding-top: var(--sf-ui-3--space-y-tightness-low);
    --sf-icon-button--padding-bottom: var(--sf-ui-3--space-y-tightness-low);
    --sf-icon-button--padding-inline-start: var(--sf-ui-3--space-y-tightness-low);
    --sf-icon-button--padding-inline-end: var(--sf-ui-3--space-y-tightness-low);
  }
  .sf-icon-button--size-3.tightness-high {
    --sf-icon-button--padding-top: var(--sf-ui-3--space-y-tightness-high);
    --sf-icon-button--padding-bottom: var(--sf-ui-3--space-y-tightness-high);
    --sf-icon-button--padding-inline-start: var(--sf-ui-3--space-y-tightness-high);
    --sf-icon-button--padding-inline-end: var(--sf-ui-3--space-y-tightness-high);
  }
  .sf-icon-button--size-3.tightness-highest {
    --sf-icon-button--padding-top: var(--sf-ui-3--space-y-tightness-highest);
    --sf-icon-button--padding-bottom: var(--sf-ui-3--space-y-tightness-highest);
    --sf-icon-button--padding-inline-start: var(--sf-ui-3--space-y-tightness-highest);
    --sf-icon-button--padding-inline-end: var(--sf-ui-3--space-y-tightness-highest);
  }
  .sf-icon-button--size-1\/2 {
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-icon-button--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-icon-button--size-1\/2.tightness-low {
    --sf-icon-button--padding-top: var(--sf-ui-1\/2--space-y-tightness-low);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-low);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/2--space-y-tightness-low);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/2--space-y-tightness-low);
  }
  .sf-icon-button--size-1\/2.tightness-high {
    --sf-icon-button--padding-top: var(--sf-ui-1\/2--space-y-tightness-high);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-high);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/2--space-y-tightness-high);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/2--space-y-tightness-high);
  }
  .sf-icon-button--size-1\/2.tightness-highest {
    --sf-icon-button--padding-top: var(--sf-ui-1\/2--space-y-tightness-highest);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-highest);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/2--space-y-tightness-highest);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/2--space-y-tightness-highest);
  }
  .sf-icon-button--size-1\/3 {
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/3--space-y-tightness-default);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/3--space-y-tightness-default);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/3--space-y-tightness-default);
    --sf-icon-button--padding-top: var(--sf-ui-1\/3--space-y-tightness-default);
  }
  .sf-icon-button--size-1\/3.tightness-low {
    --sf-icon-button--padding-top: var(--sf-ui-1\/3--space-y-tightness-low);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/3--space-y-tightness-low);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/3--space-y-tightness-low);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/3--space-y-tightness-low);
  }
  .sf-icon-button--size-1\/3.tightness-high {
    --sf-icon-button--padding-top: var(--sf-ui-1\/3--space-y-tightness-high);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/3--space-y-tightness-high);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/3--space-y-tightness-high);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/3--space-y-tightness-high);
  }
  .sf-icon-button--size-1\/3.tightness-highest {
    --sf-icon-button--padding-top: var(--sf-ui-1\/3--space-y-tightness-highest);
    --sf-icon-button--padding-bottom: var(--sf-ui-1\/3--space-y-tightness-highest);
    --sf-icon-button--padding-inline-start: var(--sf-ui-1\/3--space-y-tightness-highest);
    --sf-icon-button--padding-inline-end: var(--sf-ui-1\/3--space-y-tightness-highest);
  }
  .sf-icon-button--outline {
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
    --sf-icon-button--border-style: solid;
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-width: 1px;
  }
  .sf-icon-button.radius-default {
    border-radius: var(--sf-icon-button--radius);
  }
  .sf-icon-button.radius-square {
    border-radius: var(--sf-radius-square);
  }
  .sf-icon-button.radius-rounded {
    border-radius: var(--sf-radius-rounded);
  }
  .sf-icon-button.segment-start {
    --sf-icon-button--border-top-right-radius: var(--sf-radius-square);
    --sf-icon-button--border-bottom-right-radius: var(--sf-radius-square);
    --sf-icon-button--border-inline-end-width: 1px;
  }
  .sf-icon-button.segment-middle {
    --sf-icon-button--border-top-left-radius: var(--sf-radius-square);
    --sf-icon-button--border-top-right-radius: var(--sf-radius-square);
    --sf-icon-button--border-bottom-right-radius: var(--sf-radius-square);
    --sf-icon-button--border-bottom-left-radius: var(--sf-radius-square);
    --sf-icon-button--border-inline-start-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
  }
  [dir="ltr"] .sf-icon-button.segment-end {
    border-left-color: transparent;
    border-left-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="rtl"] .sf-icon-button.segment-end {
    border-right-color: transparent;
    border-right-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button.segment-end {
    border-left-color: transparent;
  }
  [dir="rtl"] .sf-icon-button.segment-end {
    border-right-color: transparent;
  }
  .sf-icon-button.segment-end {
    --sf-icon-button--border-top-left-radius: var(--sf-radius-square);
    --sf-icon-button--border-bottom-left-radius: var(--sf-radius-square);
    border-inline-start-color: transparent;
    border-inline-start-color: var(--sf-white--alfa-24, transparent);
    --sf-icon-button--border-inline-start-width: 1px;
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-end {
    border-left-color: transparent;
    border-left-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-end {
    border-right-color: transparent;
    border-right-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-end {
    border-left-color: transparent;
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-end {
    border-right-color: transparent;
  }
  .sf-icon-button:not(.sf-icon-button--outline).segment-end {
    border-inline-start-color: transparent;
    border-inline-start-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-start {
    border-right-color: transparent;
    border-right-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-start {
    border-left-color: transparent;
    border-left-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-start {
    border-right-color: transparent;
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-start {
    border-left-color: transparent;
  }
  .sf-icon-button:not(.sf-icon-button--outline).segment-start {
    border-inline-end-color: transparent;
    border-inline-end-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-right-color: transparent;
    border-right-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-left-color: transparent;
    border-left-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-left-color: transparent;
    border-left-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-right-color: transparent;
    border-right-color: var(--sf-white--alfa-24, transparent);
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-right-color: transparent;
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-left-color: transparent;
  }
  [dir="ltr"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-left-color: transparent;
  }
  [dir="rtl"] .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-right-color: transparent;
  }
  .sf-icon-button:not(.sf-icon-button--outline).segment-middle {
    border-inline-end-color: transparent;
    border-inline-end-color: var(--sf-white--alfa-24, transparent);
    border-inline-start-color: transparent;
    border-inline-start-color: var(--sf-white--alfa-24, transparent);
  }
}
@layer sf.states {
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon:disabled, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon:disabled, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon:disabled, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon:disabled, .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close:disabled, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close:disabled, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--close:disabled, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close:disabled {
    --sf-icon-button--background-color: var(--sf-disable);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon:disabled .sf-icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon:disabled .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon:disabled, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon:disabled, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close:disabled, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close:disabled {
    --sf-icon-button--border-color: var(--sf-outline-variant);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):hover {
    --sf-icon-button--background-color: var(--sf-primary-hover);
  }
  .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close:not(:disabled):not(.disabled):hover {
    --sf-icon-button--background-color: var(--sf-secondary-container-hover);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):hover {
    --sf-icon-button--background-color: var(--sf-primary-container-hover);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):hover {
    --sf-icon-button--background-color: var(--sf-surface-container-hover);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled).active {
    --sf-icon-button--background-color: var(--sf-primary-active);
  }
  .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close:not(:disabled):not(.disabled).active {
    --sf-icon-button--background-color: var(--sf-secondary-container-active);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled).active {
    --sf-icon-button--background-color: var(--sf-primary-container-active);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled).active {
    --sf-icon-button--background-color: var(--sf-surface-container-active);
  }
  .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--icon:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):focus, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):focus {
    --sf-icon-button--background-color: var(--sf-transparent-for-focus);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):hover, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):hover {
    --sf-icon-button--background-color: var(--sf-on-surface-hover);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--icon:not(:disabled):not(.disabled).active, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled):active, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close:not(:disabled):not(.disabled).active {
    --sf-icon-button--background-color: var(--sf-on-surface-active);
  }
  .sf-icon-button.sf-icon-button--default.sf-icon-button--primary.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--secondary.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--tonal.sf-icon-button--on-surface.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--default.sf-icon-button--on-surface.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--outline.sf-icon-button--primary.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--outline.sf-icon-button--on-surface.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--primary.sf-icon-button--close:disabled > .sf-close > .sf-close-icon, .sf-icon-button.sf-icon-button--link.sf-icon-button--on-surface.sf-icon-button--close:disabled > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-disable);
  }
  .sf-icon-button:not(:disabled):not(.disabled):focus {
    --sf-icon-button--box-shadow: var(--sf-ui-focus);
  }
}
@layer sf.override {
  sf-icon-button[\:has\(.sf-icon-button--outline\[class*\%3Dsegment-\]\)] + sf-icon-button .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline),
  .sf-icon-button.sf-icon-button--outline[class*=segment-] + .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline) {
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
  }
  sf-icon-button:has(.sf-icon-button--outline[class*=segment-]) + sf-icon-button .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline),
  .sf-icon-button.sf-icon-button--outline[class*=segment-] + .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline) {
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
  }
  sf-icon-button[\:has\(.sf-icon-button--outline\[class*\%3Dsegment-\]\)] + sf-button .sf-button[class*=segment-]:not(.sf-button--outline),
  .sf-icon-button.sf-icon-button--outline[class*=segment-] + .sf-button[class*=segment-]:not(.sf-button--outline) {
    --sf-button--border-top-width: 1px;
    --sf-button--border-inline-end-width: 1px;
    --sf-button--border-bottom-width: 1px;
    --sf-button--border-inline-start-width: 1px;
  }
  sf-icon-button:has(.sf-icon-button--outline[class*=segment-]) + sf-button .sf-button[class*=segment-]:not(.sf-button--outline),
  .sf-icon-button.sf-icon-button--outline[class*=segment-] + .sf-button[class*=segment-]:not(.sf-button--outline) {
    --sf-button--border-top-width: 1px;
    --sf-button--border-inline-end-width: 1px;
    --sf-button--border-bottom-width: 1px;
    --sf-button--border-inline-start-width: 1px;
  }
  sf-icon-button[\:has\(\%2B\%20sf-icon-button\%20.sf-icon-button--outline\[class*\%3Dsegment-\]\)] .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline),
  .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline)[\:has\(\%2B\%20.sf-icon-button.sf-icon-button--outline\[class*\%3Dsegment-\]\)] {
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
  }
  sf-icon-button:has(+ sf-icon-button .sf-icon-button--outline[class*=segment-]) .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline),
  .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline):has(+ .sf-icon-button.sf-icon-button--outline[class*=segment-]) {
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
  }
  sf-icon-button[\:has\(\%2B\%20sf-button\%20.sf-button--outline\[class*\%3Dsegment-\]\)] .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline),
  .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline)[\:has\(\%2B\%20.sf-button.sf-button--outline\[class*\%3Dsegment-\]\)] {
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
  }
  sf-icon-button:has(+ sf-button .sf-button--outline[class*=segment-]) .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline),
  .sf-icon-button[class*=segment-]:not(.sf-icon-button--outline):has(+ .sf-button.sf-button--outline[class*=segment-]) {
    --sf-icon-button--border-top-width: 1px;
    --sf-icon-button--border-inline-end-width: 1px;
    --sf-icon-button--border-bottom-width: 1px;
    --sf-icon-button--border-inline-start-width: 1px;
  }
}
