@layer sf.utilities {
  @media (min-width: 960px) {
    .lg\:break-before-auto {
      page-break-before: auto;
      -webkit-column-break-before: auto;
         -moz-column-break-before: auto;
              break-before: auto;
    }
    .lg\:break-before-avoid {
      page-break-before: avoid;
      -webkit-column-break-before: avoid;
         -moz-column-break-before: avoid;
              break-before: avoid;
    }
    .lg\:break-before-all {
      page-break-before: all;
      -webkit-column-break-before: all;
         -moz-column-break-before: all;
              break-before: all;
    }
    .lg\:break-before-avoid-page {
      page-break-before: avoid;
      -webkit-column-break-before: avoid;
         -moz-column-break-before: avoid;
              break-before: avoid-page;
    }
    .lg\:break-before-page {
      page-break-before: always;
      -webkit-column-break-before: page;
         -moz-column-break-before: page;
              break-before: page;
    }
    .lg\:break-before-left {
      page-break-before: left;
      -webkit-column-break-before: left;
         -moz-column-break-before: left;
              break-before: left;
    }
    .lg\:break-before-right {
      page-break-before: right;
      -webkit-column-break-before: right;
         -moz-column-break-before: right;
              break-before: right;
    }
    .lg\:break-before-column {
      -webkit-column-break-before: column;
         -moz-column-break-before: column;
              break-before: column;
    }
  }
}
