@layer sf.utilities {
  @media (min-width: 82.5rem) {
    [dir="ltr"] .xxl\:container {
      padding-left: var(--sf-space-5);
    }
    [dir="rtl"] .xxl\:container {
      padding-right: var(--sf-space-5);
    }
    [dir="ltr"] .xxl\:container {
      padding-right: var(--sf-space-5);
    }
    [dir="rtl"] .xxl\:container {
      padding-left: var(--sf-space-5);
    }
    .xxl\:container {
      width: var(--sf-breakpoint-xxl);
      -webkit-padding-start: var(--sf-space-5);
              padding-inline-start: var(--sf-space-5);
      -webkit-padding-end: var(--sf-space-5);
              padding-inline-end: var(--sf-space-5);
    }
  }
}
