@layer sf.utilities {
  @media (min-width: 960px) {
    [dir="ltr"] .lg\:float-inline-end {
      float: right;
    }
    [dir="rtl"] .lg\:float-inline-end {
      float: left;
    }
    .lg\:float-inline-end {
      float: inline-end;
    }
    [dir="ltr"] .lg\:float-inline-start {
      float: left;
    }
    [dir="rtl"] .lg\:float-inline-start {
      float: right;
    }
    .lg\:float-inline-start {
      float: inline-start;
    }
    .lg\:float-none {
      float: none;
    }
  }
}
