@layer sf.utilities {
  @media (min-width: 1320px) {
    .xxl\:measure {
      max-width: var(--sf-text--measure);
    }
    .xxl\:measure-wide {
      max-width: var(--sf-text--measure-wide);
    }
    .xxl\:measure-narrow {
      max-width: var(--sf-text--measure-narrow);
    }
  }
}
