@layer sf.utilities {
  .hover\:filter-opacity-1:hover {
    -webkit-filter: opacity(0.1);
            filter: opacity(0.1);
  }
  .hover\:filter-opacity-2:hover {
    -webkit-filter: opacity(0.2);
            filter: opacity(0.2);
  }
  .hover\:filter-opacity-3:hover {
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
  }
  .hover\:filter-opacity-4:hover {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
  }
  .hover\:filter-opacity-5:hover {
    -webkit-filter: opacity(0.5);
            filter: opacity(0.5);
  }
  .hover\:filter-opacity-6:hover {
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
  }
  .hover\:filter-opacity-7:hover {
    -webkit-filter: opacity(0.7);
            filter: opacity(0.7);
  }
  .hover\:filter-opacity-8:hover {
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
  }
  .hover\:filter-opacity-9:hover {
    -webkit-filter: opacity(0.9);
            filter: opacity(0.9);
  }
  .hover\:filter-opacity-full:hover {
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  .hover\:filter-opacity-0:hover {
    -webkit-filter: opacity(0);
            filter: opacity(0);
  }
}
