@layer sf.utilities {
  .decoration-inherit {
    -webkit-text-decoration-color: var(--sf-inherit);
            text-decoration-color: var(--sf-inherit);
  }
  .decoration-current {
    -webkit-text-decoration-color: var(--sf-currentColor);
            text-decoration-color: var(--sf-currentColor);
  }
  .decoration-transparent {
    -webkit-text-decoration-color: var(--sf-transparent);
            text-decoration-color: var(--sf-transparent);
  }
  .decoration-primary {
    -webkit-text-decoration-color: var(--sf-outline-primary);
            text-decoration-color: var(--sf-outline-primary);
  }
  .decoration-secondary {
    -webkit-text-decoration-color: var(--sf-outline-secondary);
            text-decoration-color: var(--sf-outline-secondary);
  }
  .decoration-tertiary {
    -webkit-text-decoration-color: var(--sf-outline-tertiary);
            text-decoration-color: var(--sf-outline-tertiary);
  }
  .decoration-error {
    -webkit-text-decoration-color: var(--sf-outline-error);
            text-decoration-color: var(--sf-outline-error);
  }
  .decoration-warning {
    -webkit-text-decoration-color: var(--sf-outline-warning);
            text-decoration-color: var(--sf-outline-warning);
  }
  .decoration-success {
    -webkit-text-decoration-color: var(--sf-outline-success);
            text-decoration-color: var(--sf-outline-success);
  }
}
