@layer sf.utilities {
  @media (min-width: 960px) {
    [dir="ltr"] .lg\:text-start {
      text-align: left;
    }
    [dir="rtl"] .lg\:text-start {
      text-align: right;
    }
    .lg\:text-start {
      text-align: start;
    }
    .lg\:text-center {
      text-align: center;
    }
    [dir="ltr"] .lg\:text-end {
      text-align: right;
    }
    [dir="rtl"] .lg\:text-end {
      text-align: left;
    }
    .lg\:text-end {
      text-align: end;
    }
    .lg\:text-justify {
      text-align: justify;
    }
  }
}
