@layer sf.utilities {
  .focus\:placeholder-opacity-1:focus::-webkit-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .focus\:placeholder-opacity-1:focus::-moz-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .focus\:placeholder-opacity-1:focus:-ms-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .focus\:placeholder-opacity-1:focus::-ms-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .focus\:placeholder-opacity-1:focus::placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .focus\:placeholder-opacity-2:focus::-webkit-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .focus\:placeholder-opacity-2:focus::-moz-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .focus\:placeholder-opacity-2:focus:-ms-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .focus\:placeholder-opacity-2:focus::-ms-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .focus\:placeholder-opacity-2:focus::placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .focus\:placeholder-opacity-3:focus::-webkit-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .focus\:placeholder-opacity-3:focus::-moz-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .focus\:placeholder-opacity-3:focus:-ms-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .focus\:placeholder-opacity-3:focus::-ms-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .focus\:placeholder-opacity-3:focus::placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .focus\:placeholder-opacity-4:focus::-webkit-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .focus\:placeholder-opacity-4:focus::-moz-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .focus\:placeholder-opacity-4:focus:-ms-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .focus\:placeholder-opacity-4:focus::-ms-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .focus\:placeholder-opacity-4:focus::placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .focus\:placeholder-opacity-5:focus::-webkit-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .focus\:placeholder-opacity-5:focus::-moz-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .focus\:placeholder-opacity-5:focus:-ms-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .focus\:placeholder-opacity-5:focus::-ms-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .focus\:placeholder-opacity-5:focus::placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .focus\:placeholder-opacity-6:focus::-webkit-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .focus\:placeholder-opacity-6:focus::-moz-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .focus\:placeholder-opacity-6:focus:-ms-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .focus\:placeholder-opacity-6:focus::-ms-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .focus\:placeholder-opacity-6:focus::placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .focus\:placeholder-opacity-7:focus::-webkit-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .focus\:placeholder-opacity-7:focus::-moz-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .focus\:placeholder-opacity-7:focus:-ms-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .focus\:placeholder-opacity-7:focus::-ms-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .focus\:placeholder-opacity-7:focus::placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .focus\:placeholder-opacity-8:focus::-webkit-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .focus\:placeholder-opacity-8:focus::-moz-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .focus\:placeholder-opacity-8:focus:-ms-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .focus\:placeholder-opacity-8:focus::-ms-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .focus\:placeholder-opacity-8:focus::placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .focus\:placeholder-opacity-9:focus::-webkit-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .focus\:placeholder-opacity-9:focus::-moz-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .focus\:placeholder-opacity-9:focus:-ms-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .focus\:placeholder-opacity-9:focus::-ms-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .focus\:placeholder-opacity-9:focus::placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .focus\:placeholder-opacity-full:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  .focus\:placeholder-opacity-full:focus::-moz-placeholder {
    opacity: 1;
  }
  .focus\:placeholder-opacity-full:focus:-ms-input-placeholder {
    opacity: 1;
  }
  .focus\:placeholder-opacity-full:focus::-ms-input-placeholder {
    opacity: 1;
  }
  .focus\:placeholder-opacity-full:focus::placeholder {
    opacity: 1;
  }
  .focus\:placeholder-opacity-0:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  .focus\:placeholder-opacity-0:focus::-moz-placeholder {
    opacity: 0;
  }
  .focus\:placeholder-opacity-0:focus:-ms-input-placeholder {
    opacity: 0;
  }
  .focus\:placeholder-opacity-0:focus::-ms-input-placeholder {
    opacity: 0;
  }
  .focus\:placeholder-opacity-0:focus::placeholder {
    opacity: 0;
  }
}
