/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
/*
* _var__component_name.scss
* 
* SCSS file containing variables for component styling.
* 
* Used to define default parameters (color, size, etc.)
* that can be overridden in other parts of the project.
* 
* Example usage:
* --sf-icon--fill: 0; // Fill for icon
*/
/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-a1) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  [dir="ltr"] .sf-tag {
    border-bottom-right-radius: var(--sf-radius-1\/2);
    border-bottom-right-radius: var(--sf-tag--border-bottom-right-radius, var(--sf-radius-1\/2));
  }
  [dir="rtl"] .sf-tag {
    border-bottom-left-radius: var(--sf-radius-1\/2);
    border-bottom-left-radius: var(--sf-tag--border-bottom-right-radius, var(--sf-radius-1\/2));
  }
  [dir="ltr"] .sf-tag {
    border-bottom-left-radius: var(--sf-radius-1\/2);
    border-bottom-left-radius: var(--sf-tag--border-bottom-left-radius, var(--sf-radius-1\/2));
  }
  [dir="rtl"] .sf-tag {
    border-bottom-right-radius: var(--sf-radius-1\/2);
    border-bottom-right-radius: var(--sf-tag--border-bottom-left-radius, var(--sf-radius-1\/2));
  }
  [dir="ltr"] .sf-tag {
    border-top-right-radius: var(--sf-radius-1\/2);
    border-top-right-radius: var(--sf-tag--border-top-right-radius, var(--sf-radius-1\/2));
  }
  [dir="rtl"] .sf-tag {
    border-top-left-radius: var(--sf-radius-1\/2);
    border-top-left-radius: var(--sf-tag--border-top-right-radius, var(--sf-radius-1\/2));
  }
  [dir="ltr"] .sf-tag {
    border-top-left-radius: var(--sf-radius-1\/2);
    border-top-left-radius: var(--sf-tag--border-top-left-radius, var(--sf-radius-1\/2));
  }
  [dir="rtl"] .sf-tag {
    border-top-right-radius: var(--sf-radius-1\/2);
    border-top-right-radius: var(--sf-tag--border-top-left-radius, var(--sf-radius-1\/2));
  }
  [dir="ltr"] .sf-tag {
    padding-left: var(--sf-tag--padding-inline-start);
  }
  [dir="rtl"] .sf-tag {
    padding-right: var(--sf-tag--padding-inline-start);
  }
  [dir="ltr"] .sf-tag {
    padding-right: var(--sf-tag--padding-inline-end);
  }
  [dir="rtl"] .sf-tag {
    padding-left: var(--sf-tag--padding-inline-end);
  }
  [dir="ltr"] .sf-tag {
    border-bottom-right-radius: var(--sf-radius-1\/2);
  }
  [dir="rtl"] .sf-tag {
    border-bottom-left-radius: var(--sf-radius-1\/2);
  }
  [dir="ltr"] .sf-tag {
    border-bottom-left-radius: var(--sf-radius-1\/2);
  }
  [dir="rtl"] .sf-tag {
    border-bottom-right-radius: var(--sf-radius-1\/2);
  }
  [dir="ltr"] .sf-tag {
    border-top-right-radius: var(--sf-radius-1\/2);
  }
  [dir="rtl"] .sf-tag {
    border-top-left-radius: var(--sf-radius-1\/2);
  }
  [dir="ltr"] .sf-tag {
    border-top-left-radius: var(--sf-radius-1\/2);
  }
  [dir="rtl"] .sf-tag {
    border-top-right-radius: var(--sf-radius-1\/2);
  }
  .sf-tag {
    border-end-end-radius: var(--sf-radius-1\/2);
    border-end-end-radius: var(--sf-tag--border-bottom-right-radius, var(--sf-radius-1\/2));
    border-end-start-radius: var(--sf-radius-1\/2);
    border-end-start-radius: var(--sf-tag--border-bottom-left-radius, var(--sf-radius-1\/2));
    border-start-end-radius: var(--sf-radius-1\/2);
    border-start-end-radius: var(--sf-tag--border-top-right-radius, var(--sf-radius-1\/2));
    border-start-start-radius: var(--sf-radius-1\/2);
    border-start-start-radius: var(--sf-tag--border-top-left-radius, var(--sf-radius-1\/2));
    gap: var(--sf-a1);
    gap: var(--sf-tag--gap, var(--sf-a1));
    -webkit-padding-start: var(--sf-tag--padding-inline-start);
            padding-inline-start: var(--sf-tag--padding-inline-start);
    padding-top: var(--sf-tag--padding-top);
    -webkit-padding-end: var(--sf-tag--padding-inline-end);
            padding-inline-end: var(--sf-tag--padding-inline-end);
    padding-bottom: var(--sf-tag--padding-bottom);
    background-color: var(--sf-tag--background-color);
    box-shadow: var(--sf-tag--box-shadow);
  }
  .sf-tag .sf-avatar {
    height: var(--sf-avatar--height);
    opacity: var(--sf-avatar--opacity);
    width: var(--sf-avatar--width);
  }
  .sf-tag .sf-close-icon {
    background-color: var(--sf-close-icon--background-color);
    border-color: transparent;
    border-color: var(--sf-close-icon--border-color, transparent);
  }
  .sf-tag .sf-dot-item {
    background-color: var(--sf-dot-item--background-color);
  }
  .sf-tag .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon--font-size);
    height: var(--sf-icon--height);
    width: var(--sf-icon--width);
  }
  [dir="ltr"] .sf-tag .sf-icon-button {
    padding-right: var(--sf-icon-button--padding-inline-end);
  }
  [dir="rtl"] .sf-tag .sf-icon-button {
    padding-left: var(--sf-icon-button--padding-inline-end);
  }
  [dir="ltr"] .sf-tag .sf-icon-button {
    padding-left: var(--sf-icon-button--padding-inline-start);
  }
  [dir="rtl"] .sf-tag .sf-icon-button {
    padding-right: var(--sf-icon-button--padding-inline-start);
  }
  .sf-tag .sf-icon-button {
    padding-bottom: var(--sf-icon-button--padding-bottom);
    -webkit-padding-end: var(--sf-icon-button--padding-inline-end);
            padding-inline-end: var(--sf-icon-button--padding-inline-end);
    -webkit-padding-start: var(--sf-icon-button--padding-inline-start);
            padding-inline-start: var(--sf-icon-button--padding-inline-start);
    padding-top: var(--sf-icon-button--padding-top);
  }
  .sf-tag .sf-tag-color-icon {
    border-radius: var(--sf-tag-color-icon--border-radius);
    height: var(--sf-tag-color-icon--height);
    opacity: var(--sf-tag-color-icon--opacity);
    width: var(--sf-tag-color-icon--width);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-tag .sf-tag-container {
    padding-right: var(--sf-tag-container--padding-inline-end);
  }
  [dir="rtl"] .sf-tag .sf-tag-container {
    padding-left: var(--sf-tag-container--padding-inline-end);
  }
  [dir="ltr"] .sf-tag .sf-tag-container {
    padding-left: var(--sf-tag-container--padding-inline-start);
  }
  [dir="rtl"] .sf-tag .sf-tag-container {
    padding-right: var(--sf-tag-container--padding-inline-start);
  }
  .sf-tag .sf-tag-container {
    --sf-tag-container--background-color: transparent;
    background-color: var(--sf-tag-container--background-color);
    color: var(--sf-tag-container--color);
    font-family: var(--sf-tag-container--font-family);
    font-size: var(--sf-tag-container--font-size);
    font-weight: var(--sf-tag-container--font-weight);
    line-height: var(--sf-tag-container--line-height);
    -webkit-padding-end: var(--sf-tag-container--padding-inline-end);
            padding-inline-end: var(--sf-tag-container--padding-inline-end);
    -webkit-padding-start: var(--sf-tag-container--padding-inline-start);
            padding-inline-start: var(--sf-tag-container--padding-inline-start);
  }
  [dir="ltr"] .sf-tag .sf-tag-count {
    padding-right: var(--sf-tag-count--padding-inline-end);
  }
  [dir="rtl"] .sf-tag .sf-tag-count {
    padding-left: var(--sf-tag-count--padding-inline-end);
  }
  .sf-tag .sf-tag-count {
    background-color: var(--sf-tag-count--background-color);
    color: var(--sf-tag-count--color);
    font-family: var(--sf-tag-count--font-family);
    font-size: var(--sf-tag-count--font-size);
    font-weight: var(--sf-tag-count--font-weight);
    line-height: var(--sf-tag-count--line-height);
    -webkit-padding-end: var(--sf-tag-count--padding-inline-end);
            padding-inline-end: var(--sf-tag-count--padding-inline-end);
  }
  .sf-tag.sf-tag--size-1.sf-tag--color, .sf-tag.sf-tag--size-1.sf-tag--icon, .sf-tag.sf-tag--size-1.sf-tag--default, .sf-tag.sf-tag--size-1.sf-tag--avatar, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox {
    --sf-tag--background-color: var(--sf-surface-container);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag .sf-icon-button.sf-icon-button--link.sf-icon-button--close {
    --sf-icon-button--padding-bottom: var(--sf-space-1\/4);
    --sf-icon-button--padding-inline-end: var(--sf-space-1\/4);
    --sf-icon-button--padding-inline-start: var(--sf-space-1\/4);
    --sf-icon-button--padding-top: var(--sf-space-1\/4);
  }
  .sf-tag.sf-tag--size-1 .sf-tag-color-icon {
    --sf-tag-color-icon--height: var(--sf-text-height-1);
    --sf-tag-color-icon--width: var(--sf-text-height-1);
  }
  .sf-tag.sf-tag--size-1.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--success .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--error .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--warning .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--avatar .sf-tag-container {
    --sf-tag-container--padding-inline-end: var(--sf-ui-1--space-x);
    --sf-tag-container--padding-inline-start: var(--sf-ui-1--space-x);
  }
  .sf-tag.sf-tag--size-1.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--default .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--avatar .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--success .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--error .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--warning .sf-tag-container {
    --sf-tag-container--font-size: var(--sf-text-size-1);
    --sf-tag-container--line-height: var(--sf-text-height-1);
  }
  .sf-tag.sf-tag--size-1.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--default .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--avatar .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--success .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--error .sf-tag-container, .sf-tag.sf-tag--size-1.sf-tag--warning .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--success .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--error .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--warning .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--default .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar .sf-tag-container {
    --sf-tag-container--font-family: var(--sf-text--family);
    --sf-tag-container--font-weight: var(--sf-font-weight-regular);
  }
  .sf-tag.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--default .sf-tag-container, .sf-tag.sf-tag--avatar .sf-tag-container {
    --sf-tag-container--color: var(--sf-on-surface);
  }
  .sf-tag.sf-tag--size-1.sf-tag--success {
    --sf-tag--background-color: var(--sf-success-container);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--success .sf-dot-item {
    --sf-dot-item--background-color: var(--sf-success);
  }
  .sf-tag.sf-tag--success .sf-tag-container {
    --sf-tag-container--color: var(--sf-success);
  }
  .sf-tag.sf-tag--size-1.sf-tag--error {
    --sf-tag--background-color: var(--sf-error-container);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--error .sf-dot-item {
    --sf-dot-item--background-color: var(--sf-error);
  }
  .sf-tag.sf-tag--error .sf-tag-container {
    --sf-tag-container--color: var(--sf-error);
  }
  .sf-tag.sf-tag--size-1.sf-tag--warning {
    --sf-tag--background-color: var(--sf-warning-container);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--warning .sf-dot-item {
    --sf-dot-item--background-color: var(--sf-warning);
  }
  .sf-tag.sf-tag--warning .sf-tag-container {
    --sf-tag-container--color: var(--sf-warning);
  }
  .sf-tag.sf-tag--size-1.sf-tag--checkbox {
    --sf-tag--background-color: var(--sf-surface-container);
    --sf-tag--padding-bottom: var(--sf-ui-2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1.sf-tag--icon .sf-icon {
    --sf-icon--font-size: var(--sf-icon-size-3);
    --sf-icon--height: var(--sf-icon-size-3);
    --sf-icon--width: var(--sf-icon-size-3);
  }
  .sf-tag.sf-tag--icon .sf-icon {
    --sf-icon--color: var(--sf-outline);
  }
  .sf-tag.sf-tag--size-1.sf-tag--default .sf-tag-container {
    --sf-tag-container--padding-inline-end: var(--sf-space-1\/3);
    --sf-tag-container--padding-inline-start: var(--sf-ui-1--space-x);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-tag.sf-tag--size-1 .sf-tag-count {
    --sf-tag-count--padding-inline-end: var(--sf-space-1\/3);
  }
  .sf-tag.sf-tag--size-1.sf-tag--default .sf-tag-count {
    --sf-tag-count--font-size: var(--sf-text-size-1);
    --sf-tag-count--line-height: var(--sf-text-height-1);
  }
  .sf-tag.sf-tag--size-1.sf-tag--default .sf-tag-count, .sf-tag.sf-tag--size-1\/2.sf-tag--default .sf-tag-count {
    --sf-tag-count--font-family: var(--sf-text--family);
    --sf-tag-count--font-weight: var(--sf-font-weight-regular);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-tag.sf-tag--default .sf-tag-count {
    --sf-tag-count--color: var(--sf-on-surface);
    --sf-tag-count--background-color: transparent;
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--success {
    --sf-tag--background-color: var(--sf-success-container);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--success .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--error .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--warning .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar .sf-tag-container {
    --sf-tag-container--padding-inline-end: var(--sf-space-1\/3);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--success .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--error .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--warning .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--color .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--icon .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--default .sf-tag-container, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar .sf-tag-container {
    --sf-tag-container--font-size: var(--sf-text-size-1\/2);
    --sf-tag-container--line-height: var(--sf-text-height-1\/2);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--error {
    --sf-tag--background-color: var(--sf-error-container);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--warning {
    --sf-tag--background-color: var(--sf-warning-container);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--color, .sf-tag.sf-tag--size-1\/2.sf-tag--icon, .sf-tag.sf-tag--size-1\/2.sf-tag--default, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar {
    --sf-tag--background-color: var(--sf-surface-container);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2 .sf-tag-color-icon {
    --sf-tag-color-icon--height: var(--sf-text-height-1\/2);
    --sf-tag-color-icon--width: var(--sf-text-height-1\/2);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--icon .sf-icon {
    --sf-icon--font-size: var(--sf-icon-size-2);
    --sf-icon--height: var(--sf-icon-size-2);
    --sf-icon--width: var(--sf-icon-size-2);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--default .sf-tag-container {
    --sf-tag-container--padding-inline-end: var(--sf-space-1\/4);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-tag.sf-tag--size-1\/2 .sf-tag-count {
    --sf-tag-count--padding-inline-end: var(--sf-space-1\/4);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--default .sf-tag-count {
    --sf-tag-count--font-size: var(--sf-text-size-1\/2);
    --sf-tag-count--line-height: var(--sf-text-height-1\/2);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--avatar .sf-avatar {
    --sf-avatar--height: var(--sf-text-height-1\/2);
    --sf-avatar--width: var(--sf-text-height-1\/2);
  }
  .sf-tag--size-1 {
    --sf-tag--padding-inline-end: var(--sf-ui-1--space-x);
    --sf-tag--padding-inline-start: var(--sf-ui-1--space-x);
  }
  .sf-tag.sf-tag--size-1 .sf-tag-container {
    --sf-tag-container--padding-inline-start: var(--sf-tag--padding-inline-start);
  }
  .sf-tag--size-1\/2 {
    --sf-tag--padding-inline-end: var(--sf-ui-1\/2--space-x);
    --sf-tag--padding-inline-start: var(--sf-ui-1\/2--space-x);
  }
  .sf-tag.sf-tag--size-1\/2 .sf-tag-container {
    --sf-tag-container--padding-inline-start: var(--sf-space-1\/3);
  }
  .sf-tag.sf-tag--color .sf-tag-color-icon {
    --sf-tag-color-icon--border-radius: var(--sf-radius-circle);
  }
}
@layer sf.states {
  .sf-tag.sf-tag--success:not(:disabled):not(.disabled):hover {
    --sf-tag--background-color: var(--sf-success-container-hover);
  }
  .sf-tag.sf-tag--size-1.sf-tag--success:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--success.active {
    --sf-tag--background-color: var(--sf-success-container-active);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1.sf-tag--success.disabled, .sf-tag.sf-tag--size-1.sf-tag--error.disabled, .sf-tag.sf-tag--size-1.sf-tag--warning.disabled, .sf-tag.sf-tag--size-1.sf-tag--color.disabled, .sf-tag.sf-tag--size-1.sf-tag--icon.disabled, .sf-tag.sf-tag--size-1.sf-tag--default.disabled, .sf-tag.sf-tag--size-1.sf-tag--avatar.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox.disabled {
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.disabled .sf-dot-item {
    --sf-dot-item--background-color: var(--sf-disable);
  }
  .sf-tag.sf-tag--success.disabled .sf-tag-container, .sf-tag.sf-tag--error.disabled .sf-tag-container, .sf-tag.sf-tag--warning.disabled .sf-tag-container, .sf-tag.sf-tag--color.disabled .sf-tag-container, .sf-tag.sf-tag--checkbox.disabled .sf-tag-container, .sf-tag.sf-tag--icon.disabled .sf-tag-container, .sf-tag.sf-tag--default.disabled .sf-tag-container, .sf-tag.sf-tag--avatar.disabled .sf-tag-container {
    --sf-tag-container--color: var(--sf-on-disable);
  }
  .sf-tag.sf-tag--size-1.sf-tag--error:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--error.active {
    --sf-tag--background-color: var(--sf-error-container-active);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--error:not(:disabled):not(.disabled):hover {
    --sf-tag--background-color: var(--sf-error-container-hover);
  }
  .sf-tag.sf-tag--warning:not(:disabled):not(.disabled):hover {
    --sf-tag--background-color: var(--sf-warning-container-hover);
  }
  .sf-tag.sf-tag--size-1.sf-tag--warning:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--warning.active {
    --sf-tag--background-color: var(--sf-warning-container-active);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--color:not(:disabled):not(.disabled):hover, .sf-tag.sf-tag--checkbox:not(:disabled):not(.disabled):hover, .sf-tag.sf-tag--icon:not(:disabled):not(.disabled):hover, .sf-tag.sf-tag--default:not(:disabled):not(.disabled):hover, .sf-tag.sf-tag--avatar:not(:disabled):not(.disabled):hover {
    --sf-tag--background-color: var(--sf-surface-container-hover);
  }
  .sf-tag.sf-tag--size-1.sf-tag--color:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--icon:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--default:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--avatar:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--color.active, .sf-tag.sf-tag--size-1.sf-tag--icon.active, .sf-tag.sf-tag--size-1.sf-tag--default.active, .sf-tag.sf-tag--size-1.sf-tag--avatar.active, .sf-tag.sf-tag--size-1\/2.sf-tag--checkbox.active {
    --sf-tag--background-color: var(--sf-primary-container);
    --sf-tag--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-tag.sf-tag--color.disabled .sf-tag-color-icon {
    --sf-tag-color-icon--opacity: var(--sf-opacity-30);
  }
  .sf-tag.sf-tag--size-1.sf-tag--checkbox:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1.sf-tag--checkbox.active {
    --sf-tag--background-color: var(--sf-primary-container);
    --sf-tag--padding-bottom: var(--sf-ui-2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1.sf-tag--checkbox.disabled {
    --sf-tag--padding-bottom: var(--sf-ui-2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--icon.disabled .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-tag.sf-tag--default.disabled .sf-tag-count {
    --sf-tag-count--color: var(--sf-on-disable);
  }
  .sf-tag.sf-tag--avatar.disabled .sf-avatar {
    --sf-avatar--opacity: var(--sf-opacity-30);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--success:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--success.active {
    --sf-tag--background-color: var(--sf-success-container-active);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--success.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--error.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--warning.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--color.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--icon.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--default.disabled, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar.disabled {
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--error:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--error.active {
    --sf-tag--background-color: var(--sf-error-container-active);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--warning:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--warning.active {
    --sf-tag--background-color: var(--sf-warning-container-active);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag.sf-tag--size-1\/2.sf-tag--color:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--icon:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--default:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar:not(:disabled):not(.disabled):active, .sf-tag.sf-tag--size-1\/2.sf-tag--color.active, .sf-tag.sf-tag--size-1\/2.sf-tag--icon.active, .sf-tag.sf-tag--size-1\/2.sf-tag--default.active, .sf-tag.sf-tag--size-1\/2.sf-tag--avatar.active {
    --sf-tag--background-color: var(--sf-primary-container);
    --sf-tag--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-tag--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-tag:not(:disabled):not(.disabled):focus {
    --sf-tag--box-shadow: var(--sf-ui-focus);
  }
  .sf-tag.disabled {
    --sf-tag--background-color: var(--sf-disable);
  }
}
@layer sf.overrides {
  .sf-tag > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon {
    --sf-close-icon--background-color: var(--sf-on-surface-variant);
    --sf-close-icon--border-color: var(--sf-outline);
  }
}
