@layer sf.utilities {
  @media (min-width: 82.5rem) {
    .xxl\:text-a0 {
      font-size: var(--sf-a0);
      line-height: var(--sf-a0);
    }
    .xxl\:text-a1 {
      font-size: var(--sf-a1);
      line-height: var(--sf-a1);
    }
    .xxl\:text-a2 {
      font-size: var(--sf-a2);
      line-height: var(--sf-a2);
    }
    .xxl\:text-a3 {
      font-size: var(--sf-a3);
      line-height: var(--sf-a3);
    }
    .xxl\:text-a4 {
      font-size: var(--sf-a4);
      line-height: var(--sf-a4);
    }
    .xxl\:text-a5 {
      font-size: var(--sf-a5);
      line-height: var(--sf-a5);
    }
    .xxl\:text-a6 {
      font-size: var(--sf-a6);
      line-height: var(--sf-a6);
    }
    .xxl\:text-a7 {
      font-size: var(--sf-a7);
      line-height: var(--sf-a7);
    }
    .xxl\:text-a8 {
      font-size: var(--sf-a8);
      line-height: var(--sf-a8);
    }
    .xxl\:text-a9 {
      font-size: var(--sf-a9);
      line-height: var(--sf-a9);
    }
    .xxl\:text-b0 {
      font-size: var(--sf-b0);
      line-height: var(--sf-b0);
    }
    .xxl\:text-b1 {
      font-size: var(--sf-b1);
      line-height: var(--sf-b1);
    }
    .xxl\:text-b2 {
      font-size: var(--sf-b2);
      line-height: var(--sf-b2);
    }
    .xxl\:text-b3 {
      font-size: var(--sf-b3);
      line-height: var(--sf-b3);
    }
    .xxl\:text-b4 {
      font-size: var(--sf-b4);
      line-height: var(--sf-b4);
    }
    .xxl\:text-b5 {
      font-size: var(--sf-b5);
      line-height: var(--sf-b5);
    }
    .xxl\:text-b6 {
      font-size: var(--sf-b6);
      line-height: var(--sf-b6);
    }
    .xxl\:text-b7 {
      font-size: var(--sf-b7);
      line-height: var(--sf-b7);
    }
    .xxl\:text-b8 {
      font-size: var(--sf-b8);
      line-height: var(--sf-b8);
    }
    .xxl\:text-b9 {
      font-size: var(--sf-b9);
      line-height: var(--sf-b9);
    }
    .xxl\:text-c0 {
      font-size: var(--sf-c0);
      line-height: var(--sf-c0);
    }
    .xxl\:text-c1 {
      font-size: var(--sf-c1);
      line-height: var(--sf-c1);
    }
    .xxl\:text-c2 {
      font-size: var(--sf-c2);
      line-height: var(--sf-c2);
    }
    .xxl\:text-c3 {
      font-size: var(--sf-c3);
      line-height: var(--sf-c3);
    }
    .xxl\:text-c4 {
      font-size: var(--sf-c4);
      line-height: var(--sf-c4);
    }
    .xxl\:text-c5 {
      font-size: var(--sf-c5);
      line-height: var(--sf-c5);
    }
    .xxl\:text-c6 {
      font-size: var(--sf-c6);
      line-height: var(--sf-c6);
    }
    .xxl\:text-c7 {
      font-size: var(--sf-c7);
      line-height: var(--sf-c7);
    }
    .xxl\:text-c8 {
      font-size: var(--sf-c8);
      line-height: var(--sf-c8);
    }
    .xxl\:text-c9 {
      font-size: var(--sf-c9);
      line-height: var(--sf-c9);
    }
    .xxl\:text-d0 {
      font-size: var(--sf-d0);
      line-height: var(--sf-d0);
    }
    .xxl\:text-d1 {
      font-size: var(--sf-d1);
      line-height: var(--sf-d1);
    }
    .xxl\:text-d2 {
      font-size: var(--sf-d2);
      line-height: var(--sf-d2);
    }
    .xxl\:text-d3 {
      font-size: var(--sf-d3);
      line-height: var(--sf-d3);
    }
    .xxl\:text-d4 {
      font-size: var(--sf-d4);
      line-height: var(--sf-d4);
    }
    .xxl\:text-d5 {
      font-size: var(--sf-d5);
      line-height: var(--sf-d5);
    }
    .xxl\:text-d6 {
      font-size: var(--sf-d6);
      line-height: var(--sf-d6);
    }
    .xxl\:text-d7 {
      font-size: var(--sf-d7);
      line-height: var(--sf-d7);
    }
    .xxl\:text-d8 {
      font-size: var(--sf-d8);
      line-height: var(--sf-d8);
    }
    .xxl\:text-d9 {
      font-size: var(--sf-d9);
      line-height: var(--sf-d9);
    }
    .xxl\:text-e0 {
      font-size: var(--sf-e0);
      line-height: var(--sf-e0);
    }
    .xxl\:text-e1 {
      font-size: var(--sf-e1);
      line-height: var(--sf-e1);
    }
    .xxl\:text-e2 {
      font-size: var(--sf-e2);
      line-height: var(--sf-e2);
    }
    .xxl\:text-e3 {
      font-size: var(--sf-e3);
      line-height: var(--sf-e3);
    }
    .xxl\:text-e4 {
      font-size: var(--sf-e4);
      line-height: var(--sf-e4);
    }
    .xxl\:text-e5 {
      font-size: var(--sf-e5);
      line-height: var(--sf-e5);
    }
    .xxl\:text-e6 {
      font-size: var(--sf-e6);
      line-height: var(--sf-e6);
    }
    .xxl\:text-e7 {
      font-size: var(--sf-e7);
      line-height: var(--sf-e7);
    }
    .xxl\:text-e8 {
      font-size: var(--sf-e8);
      line-height: var(--sf-e8);
    }
    .xxl\:text-e9 {
      font-size: var(--sf-e9);
      line-height: var(--sf-e9);
    }
    .xxl\:text-f0 {
      font-size: var(--sf-f0);
      line-height: var(--sf-f0);
    }
    .xxl\:text-f1 {
      font-size: var(--sf-f1);
      line-height: var(--sf-f1);
    }
    .xxl\:text-f2 {
      font-size: var(--sf-f2);
      line-height: var(--sf-f2);
    }
    .xxl\:text-f3 {
      font-size: var(--sf-f3);
      line-height: var(--sf-f3);
    }
    .xxl\:text-f4 {
      font-size: var(--sf-f4);
      line-height: var(--sf-f4);
    }
    .xxl\:text-f5 {
      font-size: var(--sf-f5);
      line-height: var(--sf-f5);
    }
    .xxl\:text-f6 {
      font-size: var(--sf-f6);
      line-height: var(--sf-f6);
    }
    .xxl\:text-f7 {
      font-size: var(--sf-f7);
      line-height: var(--sf-f7);
    }
    .xxl\:text-f8 {
      font-size: var(--sf-f8);
      line-height: var(--sf-f8);
    }
    .xxl\:text-f9 {
      font-size: var(--sf-f9);
      line-height: var(--sf-f9);
    }
    .xxl\:text-g0 {
      font-size: var(--sf-g0);
      line-height: var(--sf-g0);
    }
    .xxl\:text-g1 {
      font-size: var(--sf-g1);
      line-height: var(--sf-g1);
    }
    .xxl\:text-g2 {
      font-size: var(--sf-g2);
      line-height: var(--sf-g2);
    }
    .xxl\:text-g3 {
      font-size: var(--sf-g3);
      line-height: var(--sf-g3);
    }
    .xxl\:text-g4 {
      font-size: var(--sf-g4);
      line-height: var(--sf-g4);
    }
    .xxl\:text-g5 {
      font-size: var(--sf-g5);
      line-height: var(--sf-g5);
    }
    .xxl\:text-g6 {
      font-size: var(--sf-g6);
      line-height: var(--sf-g6);
    }
    .xxl\:text-g7 {
      font-size: var(--sf-g7);
      line-height: var(--sf-g7);
    }
    .xxl\:text-g8 {
      font-size: var(--sf-g8);
      line-height: var(--sf-g8);
    }
    .xxl\:text-g9 {
      font-size: var(--sf-g9);
      line-height: var(--sf-g9);
    }
    .xxl\:text-h0 {
      font-size: var(--sf-h0);
      line-height: var(--sf-h0);
    }
    .xxl\:text-h1 {
      font-size: var(--sf-h1);
      line-height: var(--sf-h1);
    }
    .xxl\:text-h2 {
      font-size: var(--sf-h2);
      line-height: var(--sf-h2);
    }
    .xxl\:text-h3 {
      font-size: var(--sf-h3);
      line-height: var(--sf-h3);
    }
    .xxl\:text-h4 {
      font-size: var(--sf-h4);
      line-height: var(--sf-h4);
    }
    .xxl\:text-h5 {
      font-size: var(--sf-h5);
      line-height: var(--sf-h5);
    }
    .xxl\:text-h6 {
      font-size: var(--sf-h6);
      line-height: var(--sf-h6);
    }
    .xxl\:text-h7 {
      font-size: var(--sf-h7);
      line-height: var(--sf-h7);
    }
    .xxl\:text-h8 {
      font-size: var(--sf-h8);
      line-height: var(--sf-h8);
    }
    .xxl\:text-h9 {
      font-size: var(--sf-h9);
      line-height: var(--sf-h9);
    }
    .xxl\:text-i0 {
      font-size: var(--sf-i0);
      line-height: var(--sf-i0);
    }
    .xxl\:text-i1 {
      font-size: var(--sf-i1);
      line-height: var(--sf-i1);
    }
    .xxl\:text-i2 {
      font-size: var(--sf-i2);
      line-height: var(--sf-i2);
    }
    .xxl\:text-i3 {
      font-size: var(--sf-i3);
      line-height: var(--sf-i3);
    }
    .xxl\:text-i4 {
      font-size: var(--sf-i4);
      line-height: var(--sf-i4);
    }
    .xxl\:text-i5 {
      font-size: var(--sf-i5);
      line-height: var(--sf-i5);
    }
    .xxl\:text-i6 {
      font-size: var(--sf-i6);
      line-height: var(--sf-i6);
    }
    .xxl\:text-i7 {
      font-size: var(--sf-i7);
      line-height: var(--sf-i7);
    }
    .xxl\:text-i8 {
      font-size: var(--sf-i8);
      line-height: var(--sf-i8);
    }
    .xxl\:text-i9 {
      font-size: var(--sf-i9);
      line-height: var(--sf-i9);
    }
  }
}
