@layer sf.utilities {
  .scroll-over-auto {
    -ms-scroll-chaining: chained;
        overscroll-behavior: auto;
  }
  .scroll-over-x-auto {
    overscroll-behavior-x: auto;
  }
  .scroll-over-y-auto {
    overscroll-behavior-y: auto;
  }
  .scroll-over-contain {
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;
  }
  .scroll-over-x-contain {
    overscroll-behavior-x: contain;
  }
  .scroll-over-y-contain {
    overscroll-behavior-y: contain;
  }
  .scroll-over-none {
    -ms-scroll-chaining: none;
        overscroll-behavior: none;
  }
  .scroll-over-x-none {
    overscroll-behavior-x: none;
  }
  .scroll-over-y-none {
    overscroll-behavior-y: none;
  }
}
