@layer sf.utilities {
  @media (min-width: 82.5rem) {
    .xxl\:flex-1 {
      flex: 1 1 0%;
    }
    .xxl\:flex-auto {
      flex: 1 1 auto;
    }
    .xxl\:flex-content {
      flex: 1 0 auto;
    }
    .xxl\:flex-initial {
      flex: 0 1 auto;
    }
    .xxl\:flex-none {
      flex: none;
    }
  }
}
