@layer sf.utilities {
  .ring-opacity-1 {
    --sf-ring--alfa: var(--sf-opacity-10, 0.1);
  }
  .ring-opacity-2 {
    --sf-ring--alfa: var(--sf-opacity-20, 0.2);
  }
  .ring-opacity-3 {
    --sf-ring--alfa: var(--sf-opacity-30, 0.3);
  }
  .ring-opacity-4 {
    --sf-ring--alfa: var(--sf-opacity-40, 0.4);
  }
  .ring-opacity-5 {
    --sf-ring--alfa: var(--sf-opacity-50, 0.5);
  }
  .ring-opacity-6 {
    --sf-ring--alfa: var(--sf-opacity-60, 0.6);
  }
  .ring-opacity-7 {
    --sf-ring--alfa: var(--sf-opacity-70, 0.7);
  }
  .ring-opacity-8 {
    --sf-ring--alfa: var(--sf-opacity-80, 0.8);
  }
  .ring-opacity-9 {
    --sf-ring--alfa: var(--sf-opacity-90, 0.9);
  }
  .ring-opacity-full {
    --sf-ring--alfa: 1;
  }
  .ring-opacity-0 {
    --sf-ring--alfa: 0;
  }
}
