@layer sf.utilities {
  @media (min-width: 82.5rem) {
    .xxl\:border-1 {
      border-width: var(--sf-a1);
    }
    .xxl\:border-2 {
      border-width: var(--sf-a2);
    }
    .xxl\:border-3 {
      border-width: var(--sf-a3);
    }
    .xxl\:border-4 {
      border-width: var(--sf-a4);
    }
    .xxl\:border-5 {
      border-width: var(--sf-a5);
    }
    .xxl\:border-6 {
      border-width: var(--sf-a6);
    }
    .xxl\:border-7 {
      border-width: var(--sf-a7);
    }
    .xxl\:border-8 {
      border-width: var(--sf-a8);
    }
    .xxl\:border-9 {
      border-width: var(--sf-a9);
    }
    .xxl\:border-10 {
      border-width: var(--sf-b0);
    }
    .xxl\:border-0 {
      border-width: var(--sf-0);
    }
    .xxl\:border-top-1 {
      border-top-width: var(--sf-a1);
    }
    .xxl\:border-top-2 {
      border-top-width: var(--sf-a2);
    }
    .xxl\:border-top-3 {
      border-top-width: var(--sf-a3);
    }
    .xxl\:border-top-4 {
      border-top-width: var(--sf-a4);
    }
    .xxl\:border-top-5 {
      border-top-width: var(--sf-a5);
    }
    .xxl\:border-top-6 {
      border-top-width: var(--sf-a6);
    }
    .xxl\:border-top-7 {
      border-top-width: var(--sf-a7);
    }
    .xxl\:border-top-8 {
      border-top-width: var(--sf-a8);
    }
    .xxl\:border-top-9 {
      border-top-width: var(--sf-a9);
    }
    .xxl\:border-top-10 {
      border-top-width: var(--sf-b0);
    }
    .xxl\:border-top-0 {
      border-top-width: var(--sf-0);
    }
    [dir="ltr"] .xxl\:border-inline-end-1 {
      border-right-width: var(--sf-a1);
    }
    [dir="rtl"] .xxl\:border-inline-end-1 {
      border-left-width: var(--sf-a1);
    }
    .xxl\:border-inline-end-1 {
      border-inline-end-width: var(--sf-a1);
    }
    [dir="ltr"] .xxl\:border-inline-end-2 {
      border-right-width: var(--sf-a2);
    }
    [dir="rtl"] .xxl\:border-inline-end-2 {
      border-left-width: var(--sf-a2);
    }
    .xxl\:border-inline-end-2 {
      border-inline-end-width: var(--sf-a2);
    }
    [dir="ltr"] .xxl\:border-inline-end-3 {
      border-right-width: var(--sf-a3);
    }
    [dir="rtl"] .xxl\:border-inline-end-3 {
      border-left-width: var(--sf-a3);
    }
    .xxl\:border-inline-end-3 {
      border-inline-end-width: var(--sf-a3);
    }
    [dir="ltr"] .xxl\:border-inline-end-4 {
      border-right-width: var(--sf-a4);
    }
    [dir="rtl"] .xxl\:border-inline-end-4 {
      border-left-width: var(--sf-a4);
    }
    .xxl\:border-inline-end-4 {
      border-inline-end-width: var(--sf-a4);
    }
    [dir="ltr"] .xxl\:border-inline-end-5 {
      border-right-width: var(--sf-a5);
    }
    [dir="rtl"] .xxl\:border-inline-end-5 {
      border-left-width: var(--sf-a5);
    }
    .xxl\:border-inline-end-5 {
      border-inline-end-width: var(--sf-a5);
    }
    [dir="ltr"] .xxl\:border-inline-end-6 {
      border-right-width: var(--sf-a6);
    }
    [dir="rtl"] .xxl\:border-inline-end-6 {
      border-left-width: var(--sf-a6);
    }
    .xxl\:border-inline-end-6 {
      border-inline-end-width: var(--sf-a6);
    }
    [dir="ltr"] .xxl\:border-inline-end-7 {
      border-right-width: var(--sf-a7);
    }
    [dir="rtl"] .xxl\:border-inline-end-7 {
      border-left-width: var(--sf-a7);
    }
    .xxl\:border-inline-end-7 {
      border-inline-end-width: var(--sf-a7);
    }
    [dir="ltr"] .xxl\:border-inline-end-8 {
      border-right-width: var(--sf-a8);
    }
    [dir="rtl"] .xxl\:border-inline-end-8 {
      border-left-width: var(--sf-a8);
    }
    .xxl\:border-inline-end-8 {
      border-inline-end-width: var(--sf-a8);
    }
    [dir="ltr"] .xxl\:border-inline-end-9 {
      border-right-width: var(--sf-a9);
    }
    [dir="rtl"] .xxl\:border-inline-end-9 {
      border-left-width: var(--sf-a9);
    }
    .xxl\:border-inline-end-9 {
      border-inline-end-width: var(--sf-a9);
    }
    [dir="ltr"] .xxl\:border-inline-end-10 {
      border-right-width: var(--sf-b0);
    }
    [dir="rtl"] .xxl\:border-inline-end-10 {
      border-left-width: var(--sf-b0);
    }
    .xxl\:border-inline-end-10 {
      border-inline-end-width: var(--sf-b0);
    }
    [dir="ltr"] .xxl\:border-inline-end-0 {
      border-right-width: var(--sf-0);
    }
    [dir="rtl"] .xxl\:border-inline-end-0 {
      border-left-width: var(--sf-0);
    }
    .xxl\:border-inline-end-0 {
      border-inline-end-width: var(--sf-0);
    }
    .xxl\:border-bottom-1 {
      border-bottom-width: var(--sf-a1);
    }
    .xxl\:border-bottom-2 {
      border-bottom-width: var(--sf-a2);
    }
    .xxl\:border-bottom-3 {
      border-bottom-width: var(--sf-a3);
    }
    .xxl\:border-bottom-4 {
      border-bottom-width: var(--sf-a4);
    }
    .xxl\:border-bottom-5 {
      border-bottom-width: var(--sf-a5);
    }
    .xxl\:border-bottom-6 {
      border-bottom-width: var(--sf-a6);
    }
    .xxl\:border-bottom-7 {
      border-bottom-width: var(--sf-a7);
    }
    .xxl\:border-bottom-8 {
      border-bottom-width: var(--sf-a8);
    }
    .xxl\:border-bottom-9 {
      border-bottom-width: var(--sf-a9);
    }
    .xxl\:border-bottom-10 {
      border-bottom-width: var(--sf-b0);
    }
    .xxl\:border-bottom-0 {
      border-bottom-width: var(--sf-0);
    }
    [dir="ltr"] .xxl\:border-inline-start-1 {
      border-left-width: var(--sf-a1);
    }
    [dir="rtl"] .xxl\:border-inline-start-1 {
      border-right-width: var(--sf-a1);
    }
    .xxl\:border-inline-start-1 {
      border-inline-start-width: var(--sf-a1);
    }
    [dir="ltr"] .xxl\:border-inline-start-2 {
      border-left-width: var(--sf-a2);
    }
    [dir="rtl"] .xxl\:border-inline-start-2 {
      border-right-width: var(--sf-a2);
    }
    .xxl\:border-inline-start-2 {
      border-inline-start-width: var(--sf-a2);
    }
    [dir="ltr"] .xxl\:border-inline-start-3 {
      border-left-width: var(--sf-a3);
    }
    [dir="rtl"] .xxl\:border-inline-start-3 {
      border-right-width: var(--sf-a3);
    }
    .xxl\:border-inline-start-3 {
      border-inline-start-width: var(--sf-a3);
    }
    [dir="ltr"] .xxl\:border-inline-start-4 {
      border-left-width: var(--sf-a4);
    }
    [dir="rtl"] .xxl\:border-inline-start-4 {
      border-right-width: var(--sf-a4);
    }
    .xxl\:border-inline-start-4 {
      border-inline-start-width: var(--sf-a4);
    }
    [dir="ltr"] .xxl\:border-inline-start-5 {
      border-left-width: var(--sf-a5);
    }
    [dir="rtl"] .xxl\:border-inline-start-5 {
      border-right-width: var(--sf-a5);
    }
    .xxl\:border-inline-start-5 {
      border-inline-start-width: var(--sf-a5);
    }
    [dir="ltr"] .xxl\:border-inline-start-6 {
      border-left-width: var(--sf-a6);
    }
    [dir="rtl"] .xxl\:border-inline-start-6 {
      border-right-width: var(--sf-a6);
    }
    .xxl\:border-inline-start-6 {
      border-inline-start-width: var(--sf-a6);
    }
    [dir="ltr"] .xxl\:border-inline-start-7 {
      border-left-width: var(--sf-a7);
    }
    [dir="rtl"] .xxl\:border-inline-start-7 {
      border-right-width: var(--sf-a7);
    }
    .xxl\:border-inline-start-7 {
      border-inline-start-width: var(--sf-a7);
    }
    [dir="ltr"] .xxl\:border-inline-start-8 {
      border-left-width: var(--sf-a8);
    }
    [dir="rtl"] .xxl\:border-inline-start-8 {
      border-right-width: var(--sf-a8);
    }
    .xxl\:border-inline-start-8 {
      border-inline-start-width: var(--sf-a8);
    }
    [dir="ltr"] .xxl\:border-inline-start-9 {
      border-left-width: var(--sf-a9);
    }
    [dir="rtl"] .xxl\:border-inline-start-9 {
      border-right-width: var(--sf-a9);
    }
    .xxl\:border-inline-start-9 {
      border-inline-start-width: var(--sf-a9);
    }
    [dir="ltr"] .xxl\:border-inline-start-10 {
      border-left-width: var(--sf-b0);
    }
    [dir="rtl"] .xxl\:border-inline-start-10 {
      border-right-width: var(--sf-b0);
    }
    .xxl\:border-inline-start-10 {
      border-inline-start-width: var(--sf-b0);
    }
    [dir="ltr"] .xxl\:border-inline-start-0 {
      border-left-width: var(--sf-0);
    }
    [dir="rtl"] .xxl\:border-inline-start-0 {
      border-right-width: var(--sf-0);
    }
    .xxl\:border-inline-start-0 {
      border-inline-start-width: var(--sf-0);
    }
    [dir="ltr"] .xxl\:border-x-1 {
      border-right-width: var(--sf-a1);
    }
    [dir="rtl"] .xxl\:border-x-1 {
      border-left-width: var(--sf-a1);
    }
    [dir="ltr"] .xxl\:border-x-1 {
      border-left-width: var(--sf-a1);
    }
    [dir="rtl"] .xxl\:border-x-1 {
      border-right-width: var(--sf-a1);
    }
    .xxl\:border-x-1 {
      border-inline-end-width: var(--sf-a1);
      border-inline-start-width: var(--sf-a1);
    }
    [dir="ltr"] .xxl\:border-x-2 {
      border-right-width: var(--sf-a2);
    }
    [dir="rtl"] .xxl\:border-x-2 {
      border-left-width: var(--sf-a2);
    }
    [dir="ltr"] .xxl\:border-x-2 {
      border-left-width: var(--sf-a2);
    }
    [dir="rtl"] .xxl\:border-x-2 {
      border-right-width: var(--sf-a2);
    }
    .xxl\:border-x-2 {
      border-inline-end-width: var(--sf-a2);
      border-inline-start-width: var(--sf-a2);
    }
    [dir="ltr"] .xxl\:border-x-3 {
      border-right-width: var(--sf-a3);
    }
    [dir="rtl"] .xxl\:border-x-3 {
      border-left-width: var(--sf-a3);
    }
    [dir="ltr"] .xxl\:border-x-3 {
      border-left-width: var(--sf-a3);
    }
    [dir="rtl"] .xxl\:border-x-3 {
      border-right-width: var(--sf-a3);
    }
    .xxl\:border-x-3 {
      border-inline-end-width: var(--sf-a3);
      border-inline-start-width: var(--sf-a3);
    }
    [dir="ltr"] .xxl\:border-x-4 {
      border-right-width: var(--sf-a4);
    }
    [dir="rtl"] .xxl\:border-x-4 {
      border-left-width: var(--sf-a4);
    }
    [dir="ltr"] .xxl\:border-x-4 {
      border-left-width: var(--sf-a4);
    }
    [dir="rtl"] .xxl\:border-x-4 {
      border-right-width: var(--sf-a4);
    }
    .xxl\:border-x-4 {
      border-inline-end-width: var(--sf-a4);
      border-inline-start-width: var(--sf-a4);
    }
    [dir="ltr"] .xxl\:border-x-5 {
      border-right-width: var(--sf-a5);
    }
    [dir="rtl"] .xxl\:border-x-5 {
      border-left-width: var(--sf-a5);
    }
    [dir="ltr"] .xxl\:border-x-5 {
      border-left-width: var(--sf-a5);
    }
    [dir="rtl"] .xxl\:border-x-5 {
      border-right-width: var(--sf-a5);
    }
    .xxl\:border-x-5 {
      border-inline-end-width: var(--sf-a5);
      border-inline-start-width: var(--sf-a5);
    }
    [dir="ltr"] .xxl\:border-x-6 {
      border-right-width: var(--sf-a6);
    }
    [dir="rtl"] .xxl\:border-x-6 {
      border-left-width: var(--sf-a6);
    }
    [dir="ltr"] .xxl\:border-x-6 {
      border-left-width: var(--sf-a6);
    }
    [dir="rtl"] .xxl\:border-x-6 {
      border-right-width: var(--sf-a6);
    }
    .xxl\:border-x-6 {
      border-inline-end-width: var(--sf-a6);
      border-inline-start-width: var(--sf-a6);
    }
    [dir="ltr"] .xxl\:border-x-7 {
      border-right-width: var(--sf-a7);
    }
    [dir="rtl"] .xxl\:border-x-7 {
      border-left-width: var(--sf-a7);
    }
    [dir="ltr"] .xxl\:border-x-7 {
      border-left-width: var(--sf-a7);
    }
    [dir="rtl"] .xxl\:border-x-7 {
      border-right-width: var(--sf-a7);
    }
    .xxl\:border-x-7 {
      border-inline-end-width: var(--sf-a7);
      border-inline-start-width: var(--sf-a7);
    }
    [dir="ltr"] .xxl\:border-x-8 {
      border-right-width: var(--sf-a8);
    }
    [dir="rtl"] .xxl\:border-x-8 {
      border-left-width: var(--sf-a8);
    }
    [dir="ltr"] .xxl\:border-x-8 {
      border-left-width: var(--sf-a8);
    }
    [dir="rtl"] .xxl\:border-x-8 {
      border-right-width: var(--sf-a8);
    }
    .xxl\:border-x-8 {
      border-inline-end-width: var(--sf-a8);
      border-inline-start-width: var(--sf-a8);
    }
    [dir="ltr"] .xxl\:border-x-9 {
      border-right-width: var(--sf-a9);
    }
    [dir="rtl"] .xxl\:border-x-9 {
      border-left-width: var(--sf-a9);
    }
    [dir="ltr"] .xxl\:border-x-9 {
      border-left-width: var(--sf-a9);
    }
    [dir="rtl"] .xxl\:border-x-9 {
      border-right-width: var(--sf-a9);
    }
    .xxl\:border-x-9 {
      border-inline-end-width: var(--sf-a9);
      border-inline-start-width: var(--sf-a9);
    }
    [dir="ltr"] .xxl\:border-x-10 {
      border-right-width: var(--sf-b0);
    }
    [dir="rtl"] .xxl\:border-x-10 {
      border-left-width: var(--sf-b0);
    }
    [dir="ltr"] .xxl\:border-x-10 {
      border-left-width: var(--sf-b0);
    }
    [dir="rtl"] .xxl\:border-x-10 {
      border-right-width: var(--sf-b0);
    }
    .xxl\:border-x-10 {
      border-inline-end-width: var(--sf-b0);
      border-inline-start-width: var(--sf-b0);
    }
    [dir="ltr"] .xxl\:border-x-0 {
      border-right-width: var(--sf-0);
    }
    [dir="rtl"] .xxl\:border-x-0 {
      border-left-width: var(--sf-0);
    }
    [dir="ltr"] .xxl\:border-x-0 {
      border-left-width: var(--sf-0);
    }
    [dir="rtl"] .xxl\:border-x-0 {
      border-right-width: var(--sf-0);
    }
    .xxl\:border-x-0 {
      border-inline-end-width: var(--sf-0);
      border-inline-start-width: var(--sf-0);
    }
    .xxl\:border-y-1 {
      border-top-width: var(--sf-a1);
      border-bottom-width: var(--sf-a1);
    }
    .xxl\:border-y-2 {
      border-top-width: var(--sf-a2);
      border-bottom-width: var(--sf-a2);
    }
    .xxl\:border-y-3 {
      border-top-width: var(--sf-a3);
      border-bottom-width: var(--sf-a3);
    }
    .xxl\:border-y-4 {
      border-top-width: var(--sf-a4);
      border-bottom-width: var(--sf-a4);
    }
    .xxl\:border-y-5 {
      border-top-width: var(--sf-a5);
      border-bottom-width: var(--sf-a5);
    }
    .xxl\:border-y-6 {
      border-top-width: var(--sf-a6);
      border-bottom-width: var(--sf-a6);
    }
    .xxl\:border-y-7 {
      border-top-width: var(--sf-a7);
      border-bottom-width: var(--sf-a7);
    }
    .xxl\:border-y-8 {
      border-top-width: var(--sf-a8);
      border-bottom-width: var(--sf-a8);
    }
    .xxl\:border-y-9 {
      border-top-width: var(--sf-a9);
      border-bottom-width: var(--sf-a9);
    }
    .xxl\:border-y-10 {
      border-top-width: var(--sf-b0);
      border-bottom-width: var(--sf-b0);
    }
    .xxl\:border-y-0 {
      border-top-width: var(--sf-0);
      border-bottom-width: var(--sf-0);
    }
  }
}
