@layer sf.utilities {
  .scroll-transparent,
  .scroll-thumb-transparent {
    --sf-scroll-bg-thumb: var(--sf-transparent);
  }
  .scroll-current,
  .scroll-thumb-current {
    --sf-scroll-bg-thumb: var(--sf-current);
  }
  .scroll-surface,
  .scroll-thumb-surface {
    --sf-scroll-bg-thumb: var(--sf-on-surface);
  }
  .scroll-primary,
  .scroll-thumb-primary {
    --sf-scroll-bg-thumb: var(--sf-on-primary);
  }
  .scroll-secondary,
  .scroll-thumb-secondary {
    --sf-scroll-bg-thumb: var(--sf-on-secondary);
  }
  .scroll-tertiary,
  .scroll-thumb-tertiary {
    --sf-scroll-bg-thumb: var(--sf-on-tertiary);
  }
}
