@layer sf.utilities {
  .focus\:ring-opacity-1:focus {
    --sf-ring--alfa: var(--sf-opacity-10, 0.1);
  }
  .focus\:ring-opacity-2:focus {
    --sf-ring--alfa: var(--sf-opacity-20, 0.2);
  }
  .focus\:ring-opacity-3:focus {
    --sf-ring--alfa: var(--sf-opacity-30, 0.3);
  }
  .focus\:ring-opacity-4:focus {
    --sf-ring--alfa: var(--sf-opacity-40, 0.4);
  }
  .focus\:ring-opacity-5:focus {
    --sf-ring--alfa: var(--sf-opacity-50, 0.5);
  }
  .focus\:ring-opacity-6:focus {
    --sf-ring--alfa: var(--sf-opacity-60, 0.6);
  }
  .focus\:ring-opacity-7:focus {
    --sf-ring--alfa: var(--sf-opacity-70, 0.7);
  }
  .focus\:ring-opacity-8:focus {
    --sf-ring--alfa: var(--sf-opacity-80, 0.8);
  }
  .focus\:ring-opacity-9:focus {
    --sf-ring--alfa: var(--sf-opacity-90, 0.9);
  }
  .focus\:ring-opacity-full:focus {
    --sf-ring--alfa: 1;
  }
  .focus\:ring-opacity-0:focus {
    --sf-ring--alfa: 0;
  }
}
