@layer sf.utilities {
  .scroll-bg-1 {
    --sf-scroll-bg-width: var(--sf-b0);
  }
  .scroll-bg-2 {
    --sf-scroll-bg-width: var(--sf-b4);
  }
  .scroll-bg-3 {
    --sf-scroll-bg-width: var(--sf-b8);
  }
  .scroll-bg-4 {
    --sf-scroll-bg-width: var(--sf-c1);
  }
}
