@layer sf.utilities {
  .bg-none {
    background-image: none;
  }
  .bg-gradient-to-t {
    background-image: linear-gradient(to top, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to top, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-tr {
    background-image: linear-gradient(to top right, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to top right, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to right, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to bottom right, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to bottom, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-bl {
    background-image: linear-gradient(to bottom left, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to bottom left, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-l {
    background-image: linear-gradient(to left, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to left, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
  .bg-gradient-to-tl {
    background-image: linear-gradient(to top left, var(--sf-gradient--color-1), var(--sf-gradient--color-1), var(--sf-gradient--color-1));
    background-image: linear-gradient(to top left, var(--sf-gradient--color-1), var(--sf-gradient--color-2, var(--sf-gradient--color-3, var(--sf-gradient--color-1))), var(--sf-gradient--color-3, var(--sf-gradient--color-2, var(--sf-gradient--color-1))));
  }
}
