@layer sf.utilities {
  .rotate-0 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .rotate-1 {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  .rotate-2 {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  .rotate-3 {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .rotate-5 {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .rotate-15 {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .rotate-45 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .rotate-90 {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .rotate-180 {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
