@layer sf.utilities {
  @media (min-width: 520px) {
    .sm\:content-center {
      align-content: center;
      justify-content: center;
      place-content: center;
    }
    .sm\:content-start {
      align-content: start;
      justify-content: start;
      place-content: start;
    }
    .sm\:content-end {
      align-content: end;
      justify-content: end;
      place-content: end;
    }
    .sm\:content-between {
      align-content: space-between;
      justify-content: space-between;
      place-content: space-between;
    }
    .sm\:content-around {
      align-content: space-around;
      justify-content: space-around;
      place-content: space-around;
    }
    .sm\:content-evenly {
      align-content: space-evenly;
      justify-content: space-evenly;
      place-content: space-evenly;
    }
    .sm\:content-stretch {
      align-content: stretch;
      justify-content: stretch;
      place-content: stretch;
    }
  }
}
