@layer sf.utilities {
  .active\:decoration-inherit:active {
    -webkit-text-decoration-color: var(--sf-inherit);
            text-decoration-color: var(--sf-inherit);
  }
  .active\:decoration-current:active {
    -webkit-text-decoration-color: var(--sf-currentColor);
            text-decoration-color: var(--sf-currentColor);
  }
  .active\:decoration-transparent:active {
    -webkit-text-decoration-color: var(--sf-transparent);
            text-decoration-color: var(--sf-transparent);
  }
  .active\:decoration-primary:active {
    -webkit-text-decoration-color: var(--sf-outline-primary);
            text-decoration-color: var(--sf-outline-primary);
  }
  .active\:decoration-secondary:active {
    -webkit-text-decoration-color: var(--sf-outline-secondary);
            text-decoration-color: var(--sf-outline-secondary);
  }
  .active\:decoration-tertiary:active {
    -webkit-text-decoration-color: var(--sf-outline-tertiary);
            text-decoration-color: var(--sf-outline-tertiary);
  }
  .active\:decoration-error:active {
    -webkit-text-decoration-color: var(--sf-outline-error);
            text-decoration-color: var(--sf-outline-error);
  }
  .active\:decoration-warning:active {
    -webkit-text-decoration-color: var(--sf-outline-warning);
            text-decoration-color: var(--sf-outline-warning);
  }
  .active\:decoration-success:active {
    -webkit-text-decoration-color: var(--sf-outline-success);
            text-decoration-color: var(--sf-outline-success);
  }
}
