@layer sf.utilities {
  .hover\:skew-x-0:hover {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  .hover\:skew-y-0:hover {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  .hover\:skew-x-1:hover {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
  .hover\:skew-y-1:hover {
    -webkit-transform: skewY(1deg);
            transform: skewY(1deg);
  }
  .hover\:skew-x-2:hover {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  .hover\:skew-y-2:hover {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  .hover\:skew-x-3:hover {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  .hover\:skew-y-3:hover {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  .hover\:skew-x-5:hover {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  .hover\:skew-y-5:hover {
    -webkit-transform: skewY(5deg);
            transform: skewY(5deg);
  }
  .hover\:skew-x-15:hover {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  .hover\:skew-y-15:hover {
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
  }
}
