@layer sf.utilities {
  .border-spacing-0 {
    border-spacing: var(--sf-space-0);
  }
  .border-spacing-x-0 {
    border-spacing: var(--sf-space-0) 0;
  }
  .border-spacing-y-0 {
    border-spacing: 0 var(--sf-space-0);
  }
  .border-spacing-1\/4 {
    border-spacing: var(--sf-space-1\/4);
  }
  .border-spacing-x-1\/4 {
    border-spacing: var(--sf-space-1\/4) 0;
  }
  .border-spacing-y-1\/4 {
    border-spacing: 0 var(--sf-space-1\/4);
  }
  .border-spacing-1\/3 {
    border-spacing: var(--sf-space-1\/3);
  }
  .border-spacing-x-1\/3 {
    border-spacing: var(--sf-space-1\/3) 0;
  }
  .border-spacing-y-1\/3 {
    border-spacing: 0 var(--sf-space-1\/3);
  }
  .border-spacing-1\/2 {
    border-spacing: var(--sf-space-1\/2);
  }
  .border-spacing-x-1\/2 {
    border-spacing: var(--sf-space-1\/2) 0;
  }
  .border-spacing-y-1\/2 {
    border-spacing: 0 var(--sf-space-1\/2);
  }
  .border-spacing-1 {
    border-spacing: var(--sf-space-1);
  }
  .border-spacing-x-1 {
    border-spacing: var(--sf-space-1) 0;
  }
  .border-spacing-y-1 {
    border-spacing: 0 var(--sf-space-1);
  }
  .border-spacing-2 {
    border-spacing: var(--sf-space-2);
  }
  .border-spacing-x-2 {
    border-spacing: var(--sf-space-2) 0;
  }
  .border-spacing-y-2 {
    border-spacing: 0 var(--sf-space-2);
  }
  .border-spacing-3 {
    border-spacing: var(--sf-space-3);
  }
  .border-spacing-x-3 {
    border-spacing: var(--sf-space-3) 0;
  }
  .border-spacing-y-3 {
    border-spacing: 0 var(--sf-space-3);
  }
  .border-spacing-4 {
    border-spacing: var(--sf-space-4);
  }
  .border-spacing-x-4 {
    border-spacing: var(--sf-space-4) 0;
  }
  .border-spacing-y-4 {
    border-spacing: 0 var(--sf-space-4);
  }
  .border-spacing-5 {
    border-spacing: var(--sf-space-5);
  }
  .border-spacing-x-5 {
    border-spacing: var(--sf-space-5) 0;
  }
  .border-spacing-y-5 {
    border-spacing: 0 var(--sf-space-5);
  }
  .border-spacing-6 {
    border-spacing: var(--sf-space-6);
  }
  .border-spacing-x-6 {
    border-spacing: var(--sf-space-6) 0;
  }
  .border-spacing-y-6 {
    border-spacing: 0 var(--sf-space-6);
  }
  .border-spacing-7 {
    border-spacing: var(--sf-space-7);
  }
  .border-spacing-x-7 {
    border-spacing: var(--sf-space-7) 0;
  }
  .border-spacing-y-7 {
    border-spacing: 0 var(--sf-space-7);
  }
  .border-spacing-8 {
    border-spacing: var(--sf-space-8);
  }
  .border-spacing-x-8 {
    border-spacing: var(--sf-space-8) 0;
  }
  .border-spacing-y-8 {
    border-spacing: 0 var(--sf-space-8);
  }
}
