@layer sf.utilities {
  .from-transparent {
    --sf-gradient--color-1: var(--sf-transparent);
  }
  .via-transparent {
    --sf-gradient--color-2: var(--sf-transparent);
  }
  .to-transparent {
    --sf-gradient--color-3: var(--sf-transparent);
  }
  .from-current {
    --sf-gradient--color-1: var(--sf-current);
  }
  .via-current {
    --sf-gradient--color-2: var(--sf-current);
  }
  .to-current {
    --sf-gradient--color-3: var(--sf-current);
  }
  .from-inherit {
    --sf-gradient--color-1: var(--sf-inherit);
  }
  .via-inherit {
    --sf-gradient--color-2: var(--sf-inherit);
  }
  .to-inherit {
    --sf-gradient--color-3: var(--sf-inherit);
  }
  .from-surface-0 {
    --sf-gradient--color-1: var(--sf-surface-0);
  }
  .via-surface-0 {
    --sf-gradient--color-2: var(--sf-surface-0);
  }
  .to-surface-0 {
    --sf-gradient--color-3: var(--sf-surface-0);
  }
  .from-surface-1 {
    --sf-gradient--color-1: var(--sf-surface-1);
  }
  .via-surface-1 {
    --sf-gradient--color-2: var(--sf-surface-1);
  }
  .to-surface-1 {
    --sf-gradient--color-3: var(--sf-surface-1);
  }
  .from-surface-2 {
    --sf-gradient--color-1: var(--sf-surface-2);
  }
  .via-surface-2 {
    --sf-gradient--color-2: var(--sf-surface-2);
  }
  .to-surface-2 {
    --sf-gradient--color-3: var(--sf-surface-2);
  }
  .from-on-surface {
    --sf-gradient--color-1: var(--sf-on-surface);
  }
  .via-on-surface {
    --sf-gradient--color-2: var(--sf-on-surface);
  }
  .to-on-surface {
    --sf-gradient--color-3: var(--sf-on-surface);
  }
  .from-primary {
    --sf-gradient--color-1: var(--sf-primary);
  }
  .via-primary {
    --sf-gradient--color-2: var(--sf-primary);
  }
  .to-primary {
    --sf-gradient--color-3: var(--sf-primary);
  }
  .from-primary-container {
    --sf-gradient--color-1: var(--sf-primary-container);
  }
  .via-primary-container {
    --sf-gradient--color-2: var(--sf-primary-container);
  }
  .to-primary-container {
    --sf-gradient--color-3: var(--sf-primary-container);
  }
  .from-secondary {
    --sf-gradient--color-1: var(--sf-secondary);
  }
  .via-secondary {
    --sf-gradient--color-2: var(--sf-secondary);
  }
  .to-secondary {
    --sf-gradient--color-3: var(--sf-secondary);
  }
  .from-secondary-container {
    --sf-gradient--color-1: var(--sf-secondary-container);
  }
  .via-secondary-container {
    --sf-gradient--color-2: var(--sf-secondary-container);
  }
  .to-secondary-container {
    --sf-gradient--color-3: var(--sf-secondary-container);
  }
  .from-tertiary {
    --sf-gradient--color-1: var(--sf-tertiary);
  }
  .via-tertiary {
    --sf-gradient--color-2: var(--sf-tertiary);
  }
  .to-tertiary {
    --sf-gradient--color-3: var(--sf-tertiary);
  }
  .from-tertiary-container {
    --sf-gradient--color-1: var(--sf-tertiary-container);
  }
  .via-tertiary-container {
    --sf-gradient--color-2: var(--sf-tertiary-container);
  }
  .to-tertiary-container {
    --sf-gradient--color-3: var(--sf-tertiary-container);
  }
  .from-success {
    --sf-gradient--color-1: var(--sf-success);
  }
  .via-success {
    --sf-gradient--color-2: var(--sf-success);
  }
  .to-success {
    --sf-gradient--color-3: var(--sf-success);
  }
  .from-warning {
    --sf-gradient--color-1: var(--sf-warning);
  }
  .via-warning {
    --sf-gradient--color-2: var(--sf-warning);
  }
  .to-warning {
    --sf-gradient--color-3: var(--sf-warning);
  }
}
