@layer sf.utilities {
  .bg-size-a0 {
    background-size: var(--sf-a0);
  }
  .bg-size-a1 {
    background-size: var(--sf-a1);
  }
  .bg-size-a2 {
    background-size: var(--sf-a2);
  }
  .bg-size-a3 {
    background-size: var(--sf-a3);
  }
  .bg-size-a4 {
    background-size: var(--sf-a4);
  }
  .bg-size-a5 {
    background-size: var(--sf-a5);
  }
  .bg-size-a6 {
    background-size: var(--sf-a6);
  }
  .bg-size-a7 {
    background-size: var(--sf-a7);
  }
  .bg-size-a8 {
    background-size: var(--sf-a8);
  }
  .bg-size-a9 {
    background-size: var(--sf-a9);
  }
  .bg-size-b0 {
    background-size: var(--sf-b0);
  }
  .bg-size-b1 {
    background-size: var(--sf-b1);
  }
  .bg-size-b2 {
    background-size: var(--sf-b2);
  }
  .bg-size-b3 {
    background-size: var(--sf-b3);
  }
  .bg-size-b4 {
    background-size: var(--sf-b4);
  }
  .bg-size-b5 {
    background-size: var(--sf-b5);
  }
  .bg-size-b6 {
    background-size: var(--sf-b6);
  }
  .bg-size-b7 {
    background-size: var(--sf-b7);
  }
  .bg-size-b8 {
    background-size: var(--sf-b8);
  }
  .bg-size-b9 {
    background-size: var(--sf-b9);
  }
  .bg-size-c0 {
    background-size: var(--sf-c0);
  }
  .bg-size-c1 {
    background-size: var(--sf-c1);
  }
  .bg-size-c2 {
    background-size: var(--sf-c2);
  }
  .bg-size-c3 {
    background-size: var(--sf-c3);
  }
  .bg-size-c4 {
    background-size: var(--sf-c4);
  }
  .bg-size-c5 {
    background-size: var(--sf-c5);
  }
  .bg-size-c6 {
    background-size: var(--sf-c6);
  }
  .bg-size-c7 {
    background-size: var(--sf-c7);
  }
  .bg-size-c8 {
    background-size: var(--sf-c8);
  }
  .bg-size-c9 {
    background-size: var(--sf-c9);
  }
  .bg-size-d0 {
    background-size: var(--sf-d0);
  }
  .bg-size-d1 {
    background-size: var(--sf-d1);
  }
  .bg-size-d2 {
    background-size: var(--sf-d2);
  }
  .bg-size-d3 {
    background-size: var(--sf-d3);
  }
  .bg-size-d4 {
    background-size: var(--sf-d4);
  }
  .bg-size-d5 {
    background-size: var(--sf-d5);
  }
  .bg-size-d6 {
    background-size: var(--sf-d6);
  }
  .bg-size-d7 {
    background-size: var(--sf-d7);
  }
  .bg-size-d8 {
    background-size: var(--sf-d8);
  }
  .bg-size-d9 {
    background-size: var(--sf-d9);
  }
  .bg-size-e0 {
    background-size: var(--sf-e0);
  }
  .bg-size-e1 {
    background-size: var(--sf-e1);
  }
  .bg-size-e2 {
    background-size: var(--sf-e2);
  }
  .bg-size-e3 {
    background-size: var(--sf-e3);
  }
  .bg-size-e4 {
    background-size: var(--sf-e4);
  }
  .bg-size-e5 {
    background-size: var(--sf-e5);
  }
  .bg-size-e6 {
    background-size: var(--sf-e6);
  }
  .bg-size-e7 {
    background-size: var(--sf-e7);
  }
  .bg-size-e8 {
    background-size: var(--sf-e8);
  }
  .bg-size-e9 {
    background-size: var(--sf-e9);
  }
  .bg-size-f0 {
    background-size: var(--sf-f0);
  }
  .bg-size-f1 {
    background-size: var(--sf-f1);
  }
  .bg-size-f2 {
    background-size: var(--sf-f2);
  }
  .bg-size-f3 {
    background-size: var(--sf-f3);
  }
  .bg-size-f4 {
    background-size: var(--sf-f4);
  }
  .bg-size-f5 {
    background-size: var(--sf-f5);
  }
  .bg-size-f6 {
    background-size: var(--sf-f6);
  }
  .bg-size-f7 {
    background-size: var(--sf-f7);
  }
  .bg-size-f8 {
    background-size: var(--sf-f8);
  }
  .bg-size-f9 {
    background-size: var(--sf-f9);
  }
  .bg-size-g0 {
    background-size: var(--sf-g0);
  }
  .bg-size-g1 {
    background-size: var(--sf-g1);
  }
  .bg-size-g2 {
    background-size: var(--sf-g2);
  }
  .bg-size-g3 {
    background-size: var(--sf-g3);
  }
  .bg-size-g4 {
    background-size: var(--sf-g4);
  }
  .bg-size-g5 {
    background-size: var(--sf-g5);
  }
  .bg-size-g6 {
    background-size: var(--sf-g6);
  }
  .bg-size-g7 {
    background-size: var(--sf-g7);
  }
  .bg-size-g8 {
    background-size: var(--sf-g8);
  }
  .bg-size-g9 {
    background-size: var(--sf-g9);
  }
  .bg-size-h0 {
    background-size: var(--sf-h0);
  }
  .bg-size-h1 {
    background-size: var(--sf-h1);
  }
  .bg-size-h2 {
    background-size: var(--sf-h2);
  }
  .bg-size-h3 {
    background-size: var(--sf-h3);
  }
  .bg-size-h4 {
    background-size: var(--sf-h4);
  }
  .bg-size-h5 {
    background-size: var(--sf-h5);
  }
  .bg-size-h6 {
    background-size: var(--sf-h6);
  }
  .bg-size-h7 {
    background-size: var(--sf-h7);
  }
  .bg-size-h8 {
    background-size: var(--sf-h8);
  }
  .bg-size-h9 {
    background-size: var(--sf-h9);
  }
  .bg-size-i0 {
    background-size: var(--sf-i0);
  }
  .bg-size-i1 {
    background-size: var(--sf-i1);
  }
  .bg-size-i2 {
    background-size: var(--sf-i2);
  }
  .bg-size-i3 {
    background-size: var(--sf-i3);
  }
  .bg-size-i4 {
    background-size: var(--sf-i4);
  }
  .bg-size-i5 {
    background-size: var(--sf-i5);
  }
  .bg-size-i6 {
    background-size: var(--sf-i6);
  }
  .bg-size-i7 {
    background-size: var(--sf-i7);
  }
  .bg-size-i8 {
    background-size: var(--sf-i8);
  }
  .bg-size-i9 {
    background-size: var(--sf-i9);
  }
  .bg-size-0 {
    background-size: 0%;
  }
  .bg-size-1 {
    background-size: 1%;
  }
  .bg-size-2 {
    background-size: 2%;
  }
  .bg-size-3 {
    background-size: 3%;
  }
  .bg-size-4 {
    background-size: 4%;
  }
  .bg-size-5 {
    background-size: 5%;
  }
  .bg-size-6 {
    background-size: 6%;
  }
  .bg-size-7 {
    background-size: 7%;
  }
  .bg-size-8 {
    background-size: 8%;
  }
  .bg-size-9 {
    background-size: 9%;
  }
  .bg-size-10 {
    background-size: 10%;
  }
  .bg-size-11 {
    background-size: 11%;
  }
  .bg-size-12 {
    background-size: 12%;
  }
  .bg-size-13 {
    background-size: 13%;
  }
  .bg-size-14 {
    background-size: 14%;
  }
  .bg-size-15 {
    background-size: 15%;
  }
  .bg-size-16 {
    background-size: 16%;
  }
  .bg-size-17 {
    background-size: 17%;
  }
  .bg-size-18 {
    background-size: 18%;
  }
  .bg-size-19 {
    background-size: 19%;
  }
  .bg-size-20 {
    background-size: 20%;
  }
  .bg-size-21 {
    background-size: 21%;
  }
  .bg-size-22 {
    background-size: 22%;
  }
  .bg-size-23 {
    background-size: 23%;
  }
  .bg-size-24 {
    background-size: 24%;
  }
  .bg-size-25 {
    background-size: 25%;
  }
  .bg-size-26 {
    background-size: 26%;
  }
  .bg-size-27 {
    background-size: 27%;
  }
  .bg-size-28 {
    background-size: 28%;
  }
  .bg-size-29 {
    background-size: 29%;
  }
  .bg-size-30 {
    background-size: 30%;
  }
  .bg-size-31 {
    background-size: 31%;
  }
  .bg-size-32 {
    background-size: 32%;
  }
  .bg-size-33 {
    background-size: 33%;
  }
  .bg-size-34 {
    background-size: 34%;
  }
  .bg-size-35 {
    background-size: 35%;
  }
  .bg-size-36 {
    background-size: 36%;
  }
  .bg-size-37 {
    background-size: 37%;
  }
  .bg-size-38 {
    background-size: 38%;
  }
  .bg-size-39 {
    background-size: 39%;
  }
  .bg-size-40 {
    background-size: 40%;
  }
  .bg-size-41 {
    background-size: 41%;
  }
  .bg-size-42 {
    background-size: 42%;
  }
  .bg-size-43 {
    background-size: 43%;
  }
  .bg-size-44 {
    background-size: 44%;
  }
  .bg-size-45 {
    background-size: 45%;
  }
  .bg-size-46 {
    background-size: 46%;
  }
  .bg-size-47 {
    background-size: 47%;
  }
  .bg-size-48 {
    background-size: 48%;
  }
  .bg-size-49 {
    background-size: 49%;
  }
  .bg-size-50 {
    background-size: 50%;
  }
  .bg-size-51 {
    background-size: 51%;
  }
  .bg-size-52 {
    background-size: 52%;
  }
  .bg-size-53 {
    background-size: 53%;
  }
  .bg-size-54 {
    background-size: 54%;
  }
  .bg-size-55 {
    background-size: 55%;
  }
  .bg-size-56 {
    background-size: 56%;
  }
  .bg-size-57 {
    background-size: 57%;
  }
  .bg-size-58 {
    background-size: 58%;
  }
  .bg-size-59 {
    background-size: 59%;
  }
  .bg-size-60 {
    background-size: 60%;
  }
  .bg-size-61 {
    background-size: 61%;
  }
  .bg-size-62 {
    background-size: 62%;
  }
  .bg-size-63 {
    background-size: 63%;
  }
  .bg-size-64 {
    background-size: 64%;
  }
  .bg-size-65 {
    background-size: 65%;
  }
  .bg-size-66 {
    background-size: 66%;
  }
  .bg-size-67 {
    background-size: 67%;
  }
  .bg-size-68 {
    background-size: 68%;
  }
  .bg-size-69 {
    background-size: 69%;
  }
  .bg-size-70 {
    background-size: 70%;
  }
  .bg-size-71 {
    background-size: 71%;
  }
  .bg-size-72 {
    background-size: 72%;
  }
  .bg-size-73 {
    background-size: 73%;
  }
  .bg-size-74 {
    background-size: 74%;
  }
  .bg-size-75 {
    background-size: 75%;
  }
  .bg-size-76 {
    background-size: 76%;
  }
  .bg-size-77 {
    background-size: 77%;
  }
  .bg-size-78 {
    background-size: 78%;
  }
  .bg-size-79 {
    background-size: 79%;
  }
  .bg-size-80 {
    background-size: 80%;
  }
  .bg-size-81 {
    background-size: 81%;
  }
  .bg-size-82 {
    background-size: 82%;
  }
  .bg-size-83 {
    background-size: 83%;
  }
  .bg-size-84 {
    background-size: 84%;
  }
  .bg-size-85 {
    background-size: 85%;
  }
  .bg-size-86 {
    background-size: 86%;
  }
  .bg-size-87 {
    background-size: 87%;
  }
  .bg-size-88 {
    background-size: 88%;
  }
  .bg-size-89 {
    background-size: 89%;
  }
  .bg-size-90 {
    background-size: 90%;
  }
  .bg-size-91 {
    background-size: 91%;
  }
  .bg-size-92 {
    background-size: 92%;
  }
  .bg-size-93 {
    background-size: 93%;
  }
  .bg-size-94 {
    background-size: 94%;
  }
  .bg-size-95 {
    background-size: 95%;
  }
  .bg-size-96 {
    background-size: 96%;
  }
  .bg-size-97 {
    background-size: 97%;
  }
  .bg-size-98 {
    background-size: 98%;
  }
  .bg-size-99 {
    background-size: 99%;
  }
  .bg-size-100 {
    background-size: 100%;
  }
}
