@layer sf.utilities {
  @media (min-width: 1320px) {
    .xxl\:bg-origin-border {
      background-origin: border-box;
    }
    .xxl\:bg-origin-padding {
      background-origin: padding-box;
    }
    .xxl\:bg-origin-content {
      background-origin: content-box;
    }
  }
}
