@layer sf.utilities {
  .self-auto {
    align-self: auto;
    justify-self: auto;
    place-self: auto;
  }
  .self-start {
    align-self: start;
    justify-self: start;
    place-self: start;
  }
  .self-end {
    align-self: end;
    justify-self: end;
    place-self: end;
  }
  .self-center {
    align-self: center;
    justify-self: center;
    place-self: center;
  }
  .self-stretch {
    align-self: stretch;
    justify-self: stretch;
    place-self: stretch;
  }
}
