@layer sf.utilities {
  @media (min-width: 520px) {
    [dir="ltr"] .sm\:container {
      padding-left: var(--sf-space-2);
    }
    [dir="rtl"] .sm\:container {
      padding-right: var(--sf-space-2);
    }
    [dir="ltr"] .sm\:container {
      padding-right: var(--sf-space-2);
    }
    [dir="rtl"] .sm\:container {
      padding-left: var(--sf-space-2);
    }
    .sm\:container {
      width: var(--sf-breakpoint-sm);
      -webkit-padding-start: var(--sf-space-2);
              padding-inline-start: var(--sf-space-2);
      -webkit-padding-end: var(--sf-space-2);
              padding-inline-end: var(--sf-space-2);
    }
  }
}
