@layer sf.utilities {
  @media (min-width: 520px) {
    _:-ms-input-placeholder, html:not([dir="rtl"]) .sm\:container {
      padding-left: var(--sf-space-2);
    }
    @supports not (padding-inline-start: initial) {
    html:not([dir="rtl"]) .sm\:container {
      padding-left: var(--sf-space-2);
      }
    }
    .sm\:container:where(:dir(ltr)) {
      padding-left: var(--sf-space-2);
    }
    _:-ms-input-placeholder, [dir="rtl"] .sm\:container {
      padding-right: var(--sf-space-2);
    }
    @supports not (padding-inline-start: initial) {
    [dir="rtl"] .sm\:container {
      padding-right: var(--sf-space-2);
      }
    }
    .sm\:container:where(:dir(rtl)) {
      padding-right: var(--sf-space-2);
    }
    _:-ms-input-placeholder, html:not([dir="rtl"]) .sm\:container {
      padding-right: var(--sf-space-2);
    }
    @supports not (padding-inline-end: initial) {
    html:not([dir="rtl"]) .sm\:container {
      padding-right: var(--sf-space-2);
      }
    }
    .sm\:container:where(:dir(ltr)) {
      padding-right: var(--sf-space-2);
    }
    _:-ms-input-placeholder, [dir="rtl"] .sm\:container {
      padding-left: var(--sf-space-2);
    }
    @supports not (padding-inline-end: initial) {
    [dir="rtl"] .sm\:container {
      padding-left: var(--sf-space-2);
      }
    }
    .sm\:container:where(:dir(rtl)) {
      padding-left: var(--sf-space-2);
    }
    .sm\:container {
      width: var(--sf-breakpoint-sm);
      -webkit-padding-start: var(--sf-space-2);
              padding-inline-start: var(--sf-space-2);
      -webkit-padding-end: var(--sf-space-2);
              padding-inline-end: var(--sf-space-2);
    }
  }
}
