@layer sf.utilities {
  _:-ms-input-placeholder, html:not([dir="rtl"]) .float-inline-end {
    float: right;
  }
  @supports not (float: inline-end) {
  html:not([dir="rtl"]) .float-inline-end {
    float: right;
    }
  }
  .float-inline-end:where(:dir(ltr)) {
    float: right;
  }
  _:-ms-input-placeholder, [dir="rtl"] .float-inline-end {
    float: left;
  }
  @supports not (float: inline-end) {
  [dir="rtl"] .float-inline-end {
    float: left;
    }
  }
  .float-inline-end:where(:dir(rtl)) {
    float: left;
  }
  .float-inline-end {
    float: inline-end;
  }
  _:-ms-input-placeholder, html:not([dir="rtl"]) .float-inline-start {
    float: left;
  }
  @supports not (float: inline-start) {
  html:not([dir="rtl"]) .float-inline-start {
    float: left;
    }
  }
  .float-inline-start:where(:dir(ltr)) {
    float: left;
  }
  _:-ms-input-placeholder, [dir="rtl"] .float-inline-start {
    float: right;
  }
  @supports not (float: inline-start) {
  [dir="rtl"] .float-inline-start {
    float: right;
    }
  }
  .float-inline-start:where(:dir(rtl)) {
    float: right;
  }
  .float-inline-start {
    float: inline-start;
  }
  .float-none {
    float: none;
  }
}
