/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
/*
* _var__component_name.scss
* 
* SCSS file containing variables for component styling.
* 
* Used to define default parameters (color, size, etc.)
* that can be overridden in other parts of the project.
* 
* Example usage:
* --sf-icon--fill: 0; // Fill for icon
*/
/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
/* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
[dir="ltr"] .sf-alert {
  border-bottom-right-radius: var(--sf-radius-2);
  border-bottom-right-radius: var(--sf-alert--border-bottom-right-radius, var(--sf-radius-2));
}
[dir="rtl"] .sf-alert {
  border-bottom-left-radius: var(--sf-radius-2);
  border-bottom-left-radius: var(--sf-alert--border-bottom-right-radius, var(--sf-radius-2));
}
[dir="ltr"] .sf-alert {
  border-bottom-left-radius: var(--sf-radius-2);
  border-bottom-left-radius: var(--sf-alert--border-bottom-left-radius, var(--sf-radius-2));
}
[dir="rtl"] .sf-alert {
  border-bottom-right-radius: var(--sf-radius-2);
  border-bottom-right-radius: var(--sf-alert--border-bottom-left-radius, var(--sf-radius-2));
}
[dir="ltr"] .sf-alert {
  border-right-width: 1px;
  border-right-width: var(--sf-alert--border-right-width, 1px);
}
[dir="rtl"] .sf-alert {
  border-left-width: 1px;
  border-left-width: var(--sf-alert--border-right-width, 1px);
}
[dir="ltr"] .sf-alert {
  border-left-width: 1px;
  border-left-width: var(--sf-alert--border-left-width, 1px);
}
[dir="rtl"] .sf-alert {
  border-right-width: 1px;
  border-right-width: var(--sf-alert--border-left-width, 1px);
}
[dir="ltr"] .sf-alert {
  border-top-right-radius: var(--sf-radius-2);
  border-top-right-radius: var(--sf-alert--border-top-right-radius, var(--sf-radius-2));
}
[dir="rtl"] .sf-alert {
  border-top-left-radius: var(--sf-radius-2);
  border-top-left-radius: var(--sf-alert--border-top-right-radius, var(--sf-radius-2));
}
[dir="ltr"] .sf-alert {
  border-top-left-radius: var(--sf-radius-2);
  border-top-left-radius: var(--sf-alert--border-top-left-radius, var(--sf-radius-2));
}
[dir="rtl"] .sf-alert {
  border-top-right-radius: var(--sf-radius-2);
  border-top-right-radius: var(--sf-alert--border-top-left-radius, var(--sf-radius-2));
}
[dir="ltr"] .sf-alert {
  padding-right: var(--sf-space-1);
  padding-right: var(--sf-alert--padding-right, var(--sf-space-1));
}
[dir="rtl"] .sf-alert {
  padding-left: var(--sf-space-1);
  padding-left: var(--sf-alert--padding-right, var(--sf-space-1));
}
[dir="ltr"] .sf-alert {
  padding-left: var(--sf-space-1);
  padding-left: var(--sf-alert--padding-left, var(--sf-space-1));
}
[dir="rtl"] .sf-alert {
  padding-right: var(--sf-space-1);
  padding-right: var(--sf-alert--padding-left, var(--sf-space-1));
}
[dir="ltr"] .sf-alert {
  border-bottom-right-radius: var(--sf-radius-2);
}
[dir="rtl"] .sf-alert {
  border-bottom-left-radius: var(--sf-radius-2);
}
[dir="ltr"] .sf-alert {
  border-bottom-left-radius: var(--sf-radius-2);
}
[dir="rtl"] .sf-alert {
  border-bottom-right-radius: var(--sf-radius-2);
}
[dir="ltr"] .sf-alert {
  border-right-width: 1px;
}
[dir="rtl"] .sf-alert {
  border-left-width: 1px;
}
[dir="ltr"] .sf-alert {
  border-left-width: 1px;
}
[dir="rtl"] .sf-alert {
  border-right-width: 1px;
}
[dir="ltr"] .sf-alert {
  border-top-right-radius: var(--sf-radius-2);
}
[dir="rtl"] .sf-alert {
  border-top-left-radius: var(--sf-radius-2);
}
[dir="ltr"] .sf-alert {
  border-top-left-radius: var(--sf-radius-2);
}
[dir="rtl"] .sf-alert {
  border-top-right-radius: var(--sf-radius-2);
}
[dir="ltr"] .sf-alert {
  padding-right: var(--sf-space-1);
}
[dir="rtl"] .sf-alert {
  padding-left: var(--sf-space-1);
}
[dir="ltr"] .sf-alert {
  padding-left: var(--sf-space-1);
}
[dir="rtl"] .sf-alert {
  padding-right: var(--sf-space-1);
}
.sf-alert {
  border-bottom-width: 1px;
  border-bottom-width: var(--sf-alert--border-bottom-width, 1px);
  border-end-end-radius: var(--sf-radius-2);
  border-end-end-radius: var(--sf-alert--border-bottom-right-radius, var(--sf-radius-2));
  border-end-start-radius: var(--sf-radius-2);
  border-end-start-radius: var(--sf-alert--border-bottom-left-radius, var(--sf-radius-2));
  border-inline-end-width: 1px;
  border-inline-end-width: var(--sf-alert--border-right-width, 1px);
  border-inline-start-width: 1px;
  border-inline-start-width: var(--sf-alert--border-left-width, 1px);
  border-start-end-radius: var(--sf-radius-2);
  border-start-end-radius: var(--sf-alert--border-top-right-radius, var(--sf-radius-2));
  border-start-start-radius: var(--sf-radius-2);
  border-start-start-radius: var(--sf-alert--border-top-left-radius, var(--sf-radius-2));
  border-style: solid;
  border-style: var(--sf-alert--border-style, solid);
  border-top-width: 1px;
  border-top-width: var(--sf-alert--border-top-width, 1px);
  border-width: 1px;
  border-width: var(--sf-alert--border-width, 1px);
  gap: var(--sf-space-1);
  gap: var(--sf-alert--gap, var(--sf-space-1));
  padding-bottom: var(--sf-space-1);
  padding-bottom: var(--sf-alert--padding-bottom, var(--sf-space-1));
  -webkit-padding-end: var(--sf-space-1);
          padding-inline-end: var(--sf-space-1);
  -webkit-padding-end: var(--sf-alert--padding-right, var(--sf-space-1));
          padding-inline-end: var(--sf-alert--padding-right, var(--sf-space-1));
  -webkit-padding-start: var(--sf-space-1);
          padding-inline-start: var(--sf-space-1);
  -webkit-padding-start: var(--sf-alert--padding-left, var(--sf-space-1));
          padding-inline-start: var(--sf-alert--padding-left, var(--sf-space-1));
  padding-top: var(--sf-space-1);
  padding-top: var(--sf-alert--padding-top, var(--sf-space-1));
  background-color: var(--sf-alert--background-color);
  border-color: transparent;
  border-color: var(--sf-alert--border-color, transparent);
}

/* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-alert-wrap--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
.sf-alert .sf-alert-wrap {
  --sf-alert-wrap--background-color: transparent;
  --sf-alert-wrap--gap: var(--sf-space-1);
  background-color: var(--sf-alert-wrap--background-color);
  gap: var(--sf-alert-wrap--gap);
}

/* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-alert-buttons--gap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
.sf-alert .sf-alert-buttons {
  --sf-alert-buttons--background-color: transparent;
  --sf-alert-buttons--gap: var(--sf-space-1\/3);
  background-color: var(--sf-alert-buttons--background-color);
  gap: var(--sf-alert-buttons--gap);
}

/* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-alert-content--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
.sf-alert .sf-alert-content {
  --sf-alert-content--background-color: transparent;
  --sf-alert-content--gap: var(--sf-space-1\/2);
  background-color: var(--sf-alert-content--background-color);
  gap: var(--sf-alert-content--gap);
}

.sf-alert .sf-alert-supporting-text {
  --sf-alert-supporting-text--color: var(--sf-on-surface);
  --sf-alert-supporting-text--font-family: var(--sf-text--family);
  --sf-alert-supporting-text--font-size: var(--sf-text-size-1);
  --sf-alert-supporting-text--font-weight: var(--sf-font-weight-regular);
  --sf-alert-supporting-text--line-height: var(--sf-text-height-1);
  color: var(--sf-alert-supporting-text--color);
  font-family: var(--sf-alert-supporting-text--font-family);
  font-size: var(--sf-alert-supporting-text--font-size);
  font-weight: var(--sf-alert-supporting-text--font-weight);
  line-height: var(--sf-alert-supporting-text--line-height);
}

.sf-alert .sf-alert-text {
  --sf-alert-text--color: var(--sf-on-surface);
  --sf-alert-text--font-family: var(--sf-text--family);
  --sf-alert-text--font-size: var(--sf-text-size-1);
  --sf-alert-text--font-weight: var(--sf-font-weight-regular);
  --sf-alert-text--line-height: var(--sf-text-height-1);
  color: var(--sf-alert-text--color);
  font-family: var(--sf-alert-text--font-family);
  font-size: var(--sf-alert-text--font-size);
  font-weight: var(--sf-alert-text--font-weight);
  line-height: var(--sf-alert-text--line-height);
}

.sf-alert .sf-close-icon {
  background-color: var(--sf-close-icon--background-color);
  border-color: transparent;
  border-color: var(--sf-close-icon--border-color, transparent);
}

.sf-alert .sf-icon {
  --sf-icon--font-size: var(--sf-text-height-1);
  --sf-icon--height: var(--sf-text-height-1);
  --sf-icon--width: var(--sf-text-height-1);
  color: var(--sf-on-surface-variant);
  color: var(--sf-icon--color, var(--sf-on-surface-variant));
  font-size: var(--sf-icon--font-size);
  height: var(--sf-icon--height);
  width: var(--sf-icon--width);
}

.sf-alert.sf-alert--clear.sf-alert--default {
  --sf-alert--background-color: var(--sf-surface-container);
  --sf-alert--border-color: var(--sf-outline);
}

.sf-alert.sf-alert--clear.sf-alert--default > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--clear.sf-alert--outlined > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon {
  --sf-close-icon--background-color: var(--sf-outline);
  --sf-close-icon--border-color: var(--sf-alert--border-color);
}

.sf-alert.sf-alert--info.sf-alert--default {
  --sf-alert--background-color: var(--sf-info-container);
  --sf-alert--border-color: var(--sf-outline-primary);
}

.sf-alert.sf-alert--info .sf-icon {
  --sf-icon--color: var(--sf-info);
}

.sf-alert.sf-alert--info.sf-alert--default > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--danger.sf-alert--default > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--warning.sf-alert--default > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--success.sf-alert--default > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--info.sf-alert--outlined > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--danger.sf-alert--outlined > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--warning.sf-alert--outlined > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--success.sf-alert--outlined > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--clear.sf-alert--flat > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--info.sf-alert--flat > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--danger.sf-alert--flat > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--warning.sf-alert--flat > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon, .sf-alert.sf-alert--success.sf-alert--flat > .sf-icon-button.sf-icon-button--link.sf-icon-button--close > .sf-close > .sf-close-icon {
  --sf-close-icon--background-color: var(--sf-outline);
  --sf-close-icon--border-color: var(--sf-outline);
}

.sf-alert.sf-alert--danger.sf-alert--default {
  --sf-alert--background-color: var(--sf-error-container);
  --sf-alert--border-color: var(--sf-outline-error);
}

.sf-alert.sf-alert--danger .sf-icon {
  --sf-icon--color: var(--sf-error);
}

.sf-alert.sf-alert--warning.sf-alert--default {
  --sf-alert--background-color: var(--sf-warning-container);
  --sf-alert--border-color: var(--sf-outline-warning);
}

.sf-alert.sf-alert--warning .sf-icon {
  --sf-icon--color: var(--sf-warning);
}

.sf-alert.sf-alert--success.sf-alert--default {
  --sf-alert--background-color: var(--sf-success-container);
  --sf-alert--border-color: var(--sf-outline-success);
}

.sf-alert.sf-alert--success .sf-icon {
  --sf-icon--color: transparent;
}

.sf-alert.sf-alert--clear.sf-alert--outlined {
  --sf-alert--border-color: var(--sf-outline);
}

.sf-alert.sf-alert--info.sf-alert--outlined {
  --sf-alert--border-color: var(--sf-outline-info);
}

.sf-alert.sf-alert--danger.sf-alert--outlined {
  --sf-alert--border-color: var(--sf-outline-error);
}

.sf-alert.sf-alert--warning.sf-alert--outlined {
  --sf-alert--border-color: var(--sf-outline-warning);
}

.sf-alert.sf-alert--success.sf-alert--outlined {
  --sf-alert--border-color: var(--sf-outline-success);
}

.sf-alert.sf-alert--clear.sf-alert--flat {
  --sf-alert--background-color: var(--sf-surface-container);
}

.sf-alert.sf-alert--info.sf-alert--flat {
  --sf-alert--background-color: var(--sf-info-container);
}

.sf-alert.sf-alert--danger.sf-alert--flat {
  --sf-alert--background-color: var(--sf-error-container);
}

.sf-alert.sf-alert--warning.sf-alert--flat {
  --sf-alert--background-color: var(--sf-warning-container);
}

.sf-alert.sf-alert--success.sf-alert--flat {
  --sf-alert--background-color: var(--sf-success-container);
}

.sf-alert--outlined {
  --sf-alert--background-color: transparent;
}

.sf-alert--flat {
  --sf-alert--border-color: var(--sf-transparent);
}
