@layer sf.components {
  .sf-menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sf-menu > .sf-menu-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sf-menu > .sf-menu-item:not(.open) > .sf-menu {
    display: none;
  }
}
@layer sf.components {
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/3) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  [dir="ltr"] .sf-menu-element {
    border-bottom-right-radius: var(--sf-radius-1);
    border-bottom-right-radius: var(--sf-menu-element--border-bottom-right-radius, var(--sf-radius-1));
  }
  [dir="rtl"] .sf-menu-element {
    border-bottom-left-radius: var(--sf-radius-1);
    border-bottom-left-radius: var(--sf-menu-element--border-bottom-right-radius, var(--sf-radius-1));
  }
  [dir="ltr"] .sf-menu-element {
    border-bottom-left-radius: var(--sf-radius-1);
    border-bottom-left-radius: var(--sf-menu-element--border-bottom-left-radius, var(--sf-radius-1));
  }
  [dir="rtl"] .sf-menu-element {
    border-bottom-right-radius: var(--sf-radius-1);
    border-bottom-right-radius: var(--sf-menu-element--border-bottom-left-radius, var(--sf-radius-1));
  }
  [dir="ltr"] .sf-menu-element {
    border-right-width: 1px;
    border-right-width: var(--sf-menu-element--border-right-width, 1px);
  }
  [dir="rtl"] .sf-menu-element {
    border-left-width: 1px;
    border-left-width: var(--sf-menu-element--border-right-width, 1px);
  }
  [dir="ltr"] .sf-menu-element {
    border-left-width: 1px;
    border-left-width: var(--sf-menu-element--border-left-width, 1px);
  }
  [dir="rtl"] .sf-menu-element {
    border-right-width: 1px;
    border-right-width: var(--sf-menu-element--border-left-width, 1px);
  }
  [dir="ltr"] .sf-menu-element {
    border-top-right-radius: var(--sf-radius-1);
    border-top-right-radius: var(--sf-menu-element--border-top-right-radius, var(--sf-radius-1));
  }
  [dir="rtl"] .sf-menu-element {
    border-top-left-radius: var(--sf-radius-1);
    border-top-left-radius: var(--sf-menu-element--border-top-right-radius, var(--sf-radius-1));
  }
  [dir="ltr"] .sf-menu-element {
    border-top-left-radius: var(--sf-radius-1);
    border-top-left-radius: var(--sf-menu-element--border-top-left-radius, var(--sf-radius-1));
  }
  [dir="rtl"] .sf-menu-element {
    border-top-right-radius: var(--sf-radius-1);
    border-top-right-radius: var(--sf-menu-element--border-top-left-radius, var(--sf-radius-1));
  }
  [dir="ltr"] .sf-menu-element {
    padding-right: var(--sf-space-1);
    padding-right: var(--sf-menu-element--padding-right, var(--sf-space-1));
  }
  [dir="rtl"] .sf-menu-element {
    padding-left: var(--sf-space-1);
    padding-left: var(--sf-menu-element--padding-right, var(--sf-space-1));
  }
  [dir="ltr"] .sf-menu-element {
    padding-left: var(--sf-menu-element--padding-inline-start);
  }
  [dir="rtl"] .sf-menu-element {
    padding-right: var(--sf-menu-element--padding-inline-start);
  }
  [dir="ltr"] .sf-menu-element {
    border-bottom-right-radius: var(--sf-radius-1);
  }
  [dir="rtl"] .sf-menu-element {
    border-bottom-left-radius: var(--sf-radius-1);
  }
  [dir="ltr"] .sf-menu-element {
    border-bottom-left-radius: var(--sf-radius-1);
  }
  [dir="rtl"] .sf-menu-element {
    border-bottom-right-radius: var(--sf-radius-1);
  }
  [dir="ltr"] .sf-menu-element {
    border-right-width: 1px;
  }
  [dir="rtl"] .sf-menu-element {
    border-left-width: 1px;
  }
  [dir="ltr"] .sf-menu-element {
    border-left-width: 1px;
  }
  [dir="rtl"] .sf-menu-element {
    border-right-width: 1px;
  }
  [dir="ltr"] .sf-menu-element {
    border-top-right-radius: var(--sf-radius-1);
  }
  [dir="rtl"] .sf-menu-element {
    border-top-left-radius: var(--sf-radius-1);
  }
  [dir="ltr"] .sf-menu-element {
    border-top-left-radius: var(--sf-radius-1);
  }
  [dir="rtl"] .sf-menu-element {
    border-top-right-radius: var(--sf-radius-1);
  }
  [dir="ltr"] .sf-menu-element {
    padding-right: var(--sf-space-1);
  }
  [dir="rtl"] .sf-menu-element {
    padding-left: var(--sf-space-1);
  }
  .sf-menu-element {
    border-bottom-width: 1px;
    border-bottom-width: var(--sf-menu-element--border-bottom-width, 1px);
    border-end-end-radius: var(--sf-radius-1);
    border-end-end-radius: var(--sf-menu-element--border-bottom-right-radius, var(--sf-radius-1));
    border-end-start-radius: var(--sf-radius-1);
    border-end-start-radius: var(--sf-menu-element--border-bottom-left-radius, var(--sf-radius-1));
    border-inline-end-width: 1px;
    border-inline-end-width: var(--sf-menu-element--border-right-width, 1px);
    border-inline-start-width: 1px;
    border-inline-start-width: var(--sf-menu-element--border-left-width, 1px);
    border-start-end-radius: var(--sf-radius-1);
    border-start-end-radius: var(--sf-menu-element--border-top-right-radius, var(--sf-radius-1));
    border-start-start-radius: var(--sf-radius-1);
    border-start-start-radius: var(--sf-menu-element--border-top-left-radius, var(--sf-radius-1));
    border-style: solid;
    border-style: var(--sf-menu-element--border-style, solid);
    border-top-width: 1px;
    border-top-width: var(--sf-menu-element--border-top-width, 1px);
    border-width: 1px;
    border-width: var(--sf-menu-element--border-width, 1px);
    font-family: var(--sf-text--family);
    font-family: var(--sf-menu-element--font-family, var(--sf-text--family));
    font-size: var(--sf-text-size-1);
    font-size: var(--sf-menu-element--font-size, var(--sf-text-size-1));
    font-weight: var(--sf-font-weight-regular);
    font-weight: var(--sf-menu-element--font-weight, var(--sf-font-weight-regular));
    gap: var(--sf-space-1\/3);
    gap: var(--sf-menu-element--gap, var(--sf-space-1\/3));
    line-height: var(--sf-text-height-1);
    line-height: var(--sf-menu-element--line-height, var(--sf-text-height-1));
    padding-bottom: var(--sf-space-1\/3);
    padding-bottom: var(--sf-menu-element--padding-bottom, var(--sf-space-1\/3));
    -webkit-padding-end: var(--sf-space-1);
            padding-inline-end: var(--sf-space-1);
    -webkit-padding-end: var(--sf-menu-element--padding-right, var(--sf-space-1));
            padding-inline-end: var(--sf-menu-element--padding-right, var(--sf-space-1));
    padding-top: var(--sf-space-1\/3);
    padding-top: var(--sf-menu-element--padding-top, var(--sf-space-1\/3));
    -webkit-padding-start: var(--sf-menu-element--padding-inline-start);
            padding-inline-start: var(--sf-menu-element--padding-inline-start);
    background-color: var(--sf-menu-element--background-color);
    border-color: transparent;
    border-color: var(--sf-menu-element--border-color, transparent);
    color: var(--sf-menu-element--color);
    --sf-menu-element--background-color: var(--sf-transparent);
    --sf-menu-element--border-color: var(--sf-surface-container);
    --sf-menu-element--color: var(--sf-on-surface);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-menu-element-wrap--gap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-menu-element .sf-menu-element-wrap {
    --sf-menu-element-wrap--background-color: transparent;
    --sf-menu-element-wrap--gap: var(--sf-space-1\/3);
    --sf-menu-element-wrap--padding-bottom: var(--sf-space-1\/4);
    --sf-menu-element-wrap--padding-top: var(--sf-space-1\/4);
    background-color: var(--sf-menu-element-wrap--background-color);
    gap: var(--sf-menu-element-wrap--gap);
    padding-bottom: var(--sf-menu-element-wrap--padding-bottom);
    padding-top: var(--sf-menu-element-wrap--padding-top);
  }
  .sf-menu-element.sf-menu-element--level-1.disabled .sf-icon, .sf-menu-element.sf-menu-element--level-2.disabled .sf-icon, .sf-menu-element.sf-menu-element--level-3.disabled .sf-icon, .sf-menu-element.sf-menu-element--level-4.disabled .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-menu-element:not(:disabled):not(.disabled):hover .sf-icon, .sf-menu-element.open .sf-icon {
    --sf-icon--color: var(--sf-on-surface-variant);
  }
  .sf-menu-element.disabled {
    --sf-menu-element--background-color: var(--sf-disable);
    --sf-menu-element--border-color: var(--sf-outline-disable);
    --sf-menu-element--color: var(--sf-on-disable);
  }
  .sf-menu-element.disabled .sf-icon {
    --sf-icon--color: var(--sf-menu-element--color);
  }
  .sf-menu-element:not(:disabled):not(.disabled):hover {
    --sf-menu-element--background-color: var(--sf-surface-container-hover);
    --sf-menu-element--border-color: var(--sf-surface-container-hover);
  }
  .sf-menu-element.open {
    --sf-menu-element--background-color: var(--sf-surface-container-active);
    --sf-menu-element--border-color: var(--sf-surface-container-active);
  }
  .sf-menu-element--level-1 {
    --sf-menu-element--padding-inline-start: var(--sf-space-1);
  }
  .sf-menu-element--level-2 {
    --sf-menu-element--padding-inline-start: var(--sf-space-3);
  }
  .sf-menu-element--level-3 {
    --sf-menu-element--padding-inline-start: var(--sf-space-4);
  }
  .sf-menu-element--level-4 {
    --sf-menu-element--padding-inline-start: var(--sf-space-5);
  }
}
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/3) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-menu {
    background-color: transparent;
    background-color: var(--sf-menu--background-color, transparent);
    gap: var(--sf-space-1\/3);
    gap: var(--sf-menu--gap, var(--sf-space-1\/3));
  }
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-menu-item--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-menu .sf-menu-item {
    --sf-menu-item--background-color: transparent;
    --sf-menu-item--gap: var(--sf-space-1\/3);
    background-color: var(--sf-menu-item--background-color);
    gap: var(--sf-menu-item--gap);
  }
}
