@layer sf.utilities {
  @media (min-width: 720px) {
    [dir="ltr"] .md\:container {
      padding-left: var(--sf-space-3);
    }
    [dir="rtl"] .md\:container {
      padding-right: var(--sf-space-3);
    }
    [dir="ltr"] .md\:container {
      padding-right: var(--sf-space-3);
    }
    [dir="rtl"] .md\:container {
      padding-left: var(--sf-space-3);
    }
    .md\:container {
      width: var(--sf-breakpoint-md);
      -webkit-padding-start: var(--sf-space-3);
              padding-inline-start: var(--sf-space-3);
      -webkit-padding-end: var(--sf-space-3);
              padding-inline-end: var(--sf-space-3);
    }
  }
}
