@layer sf.utilities {
  .hover\:underline:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .hover\:overline:hover {
    -webkit-text-decoration-line: overline;
            text-decoration-line: overline;
  }
  .hover\:line-through:hover {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
  .hover\:decoration-none:hover {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
}
