@layer sf.utilities {
  .min-h-full {
    min-height: 100%;
  }
  .min-h-screen {
    min-height: 100vh;
  }
  .min-h-min {
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
  }
  .min-h-max {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .min-h-fit {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .min-h-0 {
    min-height: 0;
  }
}
