/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  .sf-checkbox-box {
    position: relative;
  }
  .sf-checkbox-box > input[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    margin: 0;
    opacity: 0;
    cursor: inherit;
  }
}
@layer sf.override {
  .sf-checkbox > .sf-checkbox-box > .sf-icon, .sf-checkbox > .sf-checkbox-box > sf-icon > .sf-icon {
    max-width: 100%;
    max-height: 100%;
  }
}
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-checkbox {
    background-color: transparent;
    background-color: var(--sf-checkbox--background-color, transparent);
    gap: var(--sf-checkbox--gap);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-checkbox .sf-checkbox-box {
    border-bottom-right-radius: var(--sf-checkbox-box--border-end-end-radius);
  }
  [dir="rtl"] .sf-checkbox .sf-checkbox-box {
    border-bottom-left-radius: var(--sf-checkbox-box--border-end-end-radius);
  }
  [dir="ltr"] .sf-checkbox .sf-checkbox-box {
    border-bottom-left-radius: var(--sf-checkbox-box--border-end-start-radius);
  }
  [dir="rtl"] .sf-checkbox .sf-checkbox-box {
    border-bottom-right-radius: var(--sf-checkbox-box--border-end-start-radius);
  }
  [dir="ltr"] .sf-checkbox .sf-checkbox-box {
    border-top-right-radius: var(--sf-checkbox-box--border-start-end-radius);
  }
  [dir="rtl"] .sf-checkbox .sf-checkbox-box {
    border-top-left-radius: var(--sf-checkbox-box--border-start-end-radius);
  }
  [dir="ltr"] .sf-checkbox .sf-checkbox-box {
    border-top-left-radius: var(--sf-checkbox-box--border-start-start-radius);
  }
  [dir="rtl"] .sf-checkbox .sf-checkbox-box {
    border-top-right-radius: var(--sf-checkbox-box--border-start-start-radius);
  }
  .sf-checkbox .sf-checkbox-box {
    --sf-checkbox-box--background-color: var(--sf-surface-0);
    --sf-checkbox-box--border: var(--sf-a1) solid;
    --sf-checkbox-box--border-color: var(--sf-outline);
    --sf-checkbox-box--border-end-end-radius: var(--sf-radius-default);
    --sf-checkbox-box--border-end-start-radius: var(--sf-radius-default);
    --sf-checkbox-box--border-start-end-radius: var(--sf-radius-default);
    --sf-checkbox-box--border-start-start-radius: var(--sf-radius-default);
    background-color: var(--sf-checkbox-box--background-color);
    border: 0 solid;
    border: var(--sf-checkbox-box--border, 0 solid);
    border-color: transparent;
    border-color: var(--sf-checkbox-box--border-color, transparent);
    border-end-end-radius: var(--sf-checkbox-box--border-end-end-radius);
    border-end-start-radius: var(--sf-checkbox-box--border-end-start-radius);
    border-start-end-radius: var(--sf-checkbox-box--border-start-end-radius);
    border-start-start-radius: var(--sf-checkbox-box--border-start-start-radius);
    box-shadow: var(--sf-checkbox-box--box-shadow);
    height: var(--sf-checkbox-box--height);
    width: var(--sf-checkbox-box--width);
  }
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-checkbox .sf-checkbox-container {
    --sf-checkbox-container--background-color: transparent;
    background-color: var(--sf-checkbox-container--background-color);
  }
  .sf-checkbox .sf-checkbox-description {
    --sf-checkbox-description--color: var(--sf-on-surface-variant);
    --sf-checkbox-description--font-family: var(--sf-text--family);
    --sf-checkbox-description--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-checkbox-description--color);
    font-family: var(--sf-checkbox-description--font-family);
    font-size: var(--sf-checkbox-description--font-size);
    font-weight: var(--sf-checkbox-description--font-weight);
    line-height: var(--sf-checkbox-description--line-height);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-checkbox-top--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-checkbox .sf-checkbox-top {
    --sf-checkbox-top--background-color: transparent;
    --sf-checkbox-top--gap: var(--sf-space-1\/4);
    background-color: var(--sf-checkbox-top--background-color);
    gap: var(--sf-checkbox-top--gap);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-checkbox .sf-checkbox-label {
    --sf-checkbox-label--background-color: transparent;
    background-color: var(--sf-checkbox-label--background-color);
    color: var(--sf-checkbox-label--color);
    font-family: var(--sf-checkbox-label--font-family);
    font-size: var(--sf-checkbox-label--font-size);
    font-weight: var(--sf-checkbox-label--font-weight);
    line-height: var(--sf-checkbox-label--line-height);
    --sf-checkbox-label--font-family: var(--sf-text--family);
    --sf-checkbox-label--font-weight: var(--sf-font-weight-medium);
  }
  .sf-checkbox .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-icon-size-3));
    height: var(--sf-icon-size-3);
    height: var(--sf-icon--height, var(--sf-icon-size-3));
    width: var(--sf-icon-size-3);
    width: var(--sf-icon--width, var(--sf-icon-size-3));
  }
  .sf-checkbox.sf-checkbox--size-1 .sf-checkbox-box {
    --sf-checkbox-box--height: var(--sf-text-height-1);
    --sf-checkbox-box--width: var(--sf-text-height-1);
  }
  .sf-checkbox.sf-checkbox--size-1 > .sf-checkbox-container > .sf-checkbox-top > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-checkbox.sf-checkbox--size-1 .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1);
  }
  .sf-checkbox.sf-checkbox--size-1 .sf-checkbox-description {
    --sf-checkbox-description--font-size: var(--sf-text-size-1\/2);
    --sf-checkbox-description--line-height: var(--sf-text-height-1\/2);
  }
  .sf-checkbox.sf-checkbox--size-1 .sf-checkbox-label {
    --sf-checkbox-label--font-size: var(--sf-text-size-1);
    --sf-checkbox-label--line-height: var(--sf-text-height-1);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1[\:has\(input\)] > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1:has(input) > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-checkbox.sf-checkbox--size-1\/3 .sf-checkbox-box {
    --sf-checkbox-box--height: var(--sf-text-height-1\/3);
    --sf-checkbox-box--width: var(--sf-text-height-1\/3);
  }
  .sf-checkbox.sf-checkbox--size-1\/3 > .sf-checkbox-container > .sf-checkbox-top > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-checkbox.sf-checkbox--size-1\/3 .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1\/3);
  }
  .sf-checkbox.sf-checkbox--size-1\/3 .sf-checkbox-description {
    --sf-checkbox-description--font-size: var(--sf-text-size-1\/4);
    --sf-checkbox-description--line-height: var(--sf-text-height-1\/4);
  }
  .sf-checkbox.sf-checkbox--size-1\/3 .sf-checkbox-label {
    --sf-checkbox-label--font-size: var(--sf-text-size-1\/3);
    --sf-checkbox-label--line-height: var(--sf-text-height-1\/3);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1\/3[\:has\(input\)] > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1\/3:has(input) > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-checkbox--size-1 {
    --sf-checkbox--gap: var(--sf-space-1\/3);
  }
  .sf-checkbox--size-1\/3 {
    --sf-checkbox--gap: var(--sf-space-1\/4);
  }
  .sf-checkbox.error .sf-checkbox-box {
    --sf-checkbox-box--border-color: var(--sf-error);
  }
}
@layer sf.states {
  .sf-checkbox:not(.error)[\:has\(input\:not\(\:checked\)\)] .sf-checkbox-label, .sf-checkbox:not(.error)[\:has\(input\:indeterminate\)] .sf-checkbox-label, .sf-checkbox:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)][\:has\(input\:indeterminate\)] .sf-checkbox-label, .sf-checkbox:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)][\:has\(input\:checked\)] .sf-checkbox-label, .sf-checkbox:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)][\:has\(input\:indeterminate\)] .sf-checkbox-label, .sf-checkbox.error[\:has\(input\:not\(\:checked\)\)] .sf-checkbox-label {
    --sf-checkbox-label--color: var(--sf-on-surface);
  }
  .sf-checkbox:not(.error):has(input:not(:checked)) .sf-checkbox-label, .sf-checkbox:not(.error):has(input:indeterminate) .sf-checkbox-label, .sf-checkbox:not(.error):has(input:enabled:not(:disabled):not(.disabled):hover):has(input:indeterminate) .sf-checkbox-label, .sf-checkbox:not(.error):has(input:enabled:not(:disabled):not(.disabled):active):has(input:checked) .sf-checkbox-label, .sf-checkbox:not(.error):has(input:enabled:not(:disabled):not(.disabled):active):has(input:indeterminate) .sf-checkbox-label, .sf-checkbox.error:has(input:not(:checked)) .sf-checkbox-label {
    --sf-checkbox-label--color: var(--sf-on-surface);
  }
  .sf-checkbox:not(.error)[\:has\(input\:indeterminate\)][\:not-has\(input\:disabled\)] .sf-checkbox-box, .sf-checkbox:not(.error)[\:has\(input\:checked\)] .sf-checkbox-box, .sf-checkbox:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] .sf-checkbox-box {
    --sf-checkbox-box--background-color: var(--sf-primary);
    --sf-checkbox-box--border-color: var(--sf-primary);
  }
  .sf-checkbox:not(.error):has(input:indeterminate):not(:has(input:disabled)) .sf-checkbox-box, .sf-checkbox:not(.error):has(input:checked) .sf-checkbox-box, .sf-checkbox:not(.error):has(input:enabled:not(:disabled):not(.disabled):active) .sf-checkbox-box {
    --sf-checkbox-box--background-color: var(--sf-primary);
    --sf-checkbox-box--border-color: var(--sf-primary);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1[\:has\(input\:indeterminate\)] > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1:has(input:indeterminate) > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-checkbox:not(.error)[\:has\(input\:indeterminate\)] > .sf-checkbox-box > [\:not-has\(input\:disabled\)] .sf-icon, .sf-checkbox:not(.error)[\:has\(input\:checked\)] > .sf-checkbox-box > .sf-icon, .sf-checkbox:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] > .sf-checkbox-box > .sf-icon {
    --sf-icon--color: var(--sf-on-primary);
  }
  .sf-checkbox:not(.error):has(input:indeterminate) > .sf-checkbox-box > :not(:has(input:disabled)) .sf-icon, .sf-checkbox:not(.error):has(input:checked) > .sf-checkbox-box > .sf-icon, .sf-checkbox:not(.error):has(input:enabled:not(:disabled):not(.disabled):active) > .sf-checkbox-box > .sf-icon {
    --sf-icon--color: var(--sf-on-primary);
  }
  .sf-checkbox[\:has\(input\:disabled\)] > .sf-checkbox-container > .sf-checkbox-top > .sf-icon, .sf-checkbox[\:has\(input\:disabled\)][\:has\(input\:indeterminate\)] > .sf-checkbox-box > .sf-icon {
    --sf-icon--color: var(--sf-disable);
  }
  .sf-checkbox:has(input:disabled) > .sf-checkbox-container > .sf-checkbox-top > .sf-icon, .sf-checkbox:has(input:disabled):has(input:indeterminate) > .sf-checkbox-box > .sf-icon {
    --sf-icon--color: var(--sf-disable);
  }
  .sf-checkbox[\:has\(input\:disabled\)][\:has\(input\:not\(\:checked\)\)] .sf-checkbox-label, .sf-checkbox[\:has\(input\:disabled\)][\:has\(input\:indeterminate\)] .sf-checkbox-label {
    --sf-checkbox-label--color: var(--sf-disable);
  }
  .sf-checkbox:has(input:disabled):has(input:not(:checked)) .sf-checkbox-label, .sf-checkbox:has(input:disabled):has(input:indeterminate) .sf-checkbox-label {
    --sf-checkbox-label--color: var(--sf-disable);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1\/3[\:has\(input\:indeterminate\)] > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-checkbox:not(.error).sf-checkbox--size-1\/3:has(input:indeterminate) > .sf-checkbox-box > .sf-icon {
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-checkbox:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] .sf-checkbox-box {
    --sf-checkbox-box--border-color: var(--sf-primary-hover);
  }
  .sf-checkbox:not(.error):has(input:enabled:not(:disabled):not(.disabled):hover) .sf-checkbox-box {
    --sf-checkbox-box--border-color: var(--sf-primary-hover);
  }
  .sf-checkbox:not(.error)[\:has\(input\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] .sf-checkbox-box {
    --sf-checkbox-box--box-shadow: var(--sf-ui-focus);
  }
  .sf-checkbox:not(.error):has(input:not(:disabled):not(.disabled):focus) .sf-checkbox-box {
    --sf-checkbox-box--box-shadow: var(--sf-ui-focus);
  }
  .sf-checkbox[\:has\(input\:disabled\)] .sf-checkbox-box {
    --sf-checkbox-box--border-color: var(--sf-outline-disable);
  }
  .sf-checkbox:has(input:disabled) .sf-checkbox-box {
    --sf-checkbox-box--border-color: var(--sf-outline-disable);
  }
  .sf-checkbox[\:has\(input\:disabled\)] .sf-checkbox-description {
    --sf-checkbox-description--color: var(--sf-disable);
  }
  .sf-checkbox:has(input:disabled) .sf-checkbox-description {
    --sf-checkbox-description--color: var(--sf-disable);
  }
}
