/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-switch {
    background-color: transparent;
    background-color: var(--sf-switch--background-color, transparent);
    gap: var(--sf-switch--gap);
  }
  .sf-switch .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-text-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-text-size-3));
    height: var(--sf-text-size-3);
    height: var(--sf-icon--height, var(--sf-text-size-3));
    width: var(--sf-text-size-3);
    width: var(--sf-icon--width, var(--sf-text-size-3));
  }
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-switch-container-wrap--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-switch .sf-switch-container-wrap {
    --sf-switch-container-wrap--background-color: transparent;
    --sf-switch-container-wrap--gap: var(--sf-space-0);
    background-color: var(--sf-switch-container-wrap--background-color);
    gap: var(--sf-switch-container-wrap--gap);
  }
  .sf-switch .sf-switch-description {
    --sf-switch-description--color: var(--sf-on-surface-variant);
    --sf-switch-description--font-family: var(--sf-text--family);
    --sf-switch-description--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-switch-description--color);
    font-family: var(--sf-switch-description--font-family);
    font-size: var(--sf-switch-description--font-size);
    font-weight: var(--sf-switch-description--font-weight);
    line-height: var(--sf-switch-description--line-height);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) gap/var(--sf-switch-top--gap) */
  .sf-switch .sf-switch-top {
    --sf-switch-top--background-color: transparent;
    background-color: var(--sf-switch-top--background-color);
    gap: var(--sf-switch-top--gap);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-switch-container--gap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-switch .sf-switch-container {
    --sf-switch-container--background-color: transparent;
    --sf-switch-container--gap: var(--sf-a0);
    background-color: var(--sf-switch-container--background-color);
    color: var(--sf-switch-container--color);
    font-family: var(--sf-switch-container--font-family);
    font-size: var(--sf-switch-container--font-size);
    font-weight: var(--sf-switch-container--font-weight);
    gap: var(--sf-switch-container--gap);
    line-height: var(--sf-switch-container--line-height);
    --sf-switch-container--color: var(--sf-on-surface);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) align-items/center (.items-center) */
  [dir="ltr"] .sf-switch .sf-switch-toggler {
    border-bottom-right-radius: var(--sf-switch-toggler--border-end-end-radius);
  }
  [dir="rtl"] .sf-switch .sf-switch-toggler {
    border-bottom-left-radius: var(--sf-switch-toggler--border-end-end-radius);
  }
  [dir="ltr"] .sf-switch .sf-switch-toggler {
    border-bottom-left-radius: var(--sf-switch-toggler--border-end-start-radius);
  }
  [dir="rtl"] .sf-switch .sf-switch-toggler {
    border-bottom-right-radius: var(--sf-switch-toggler--border-end-start-radius);
  }
  [dir="ltr"] .sf-switch .sf-switch-toggler {
    border-top-right-radius: var(--sf-switch-toggler--border-start-end-radius);
  }
  [dir="rtl"] .sf-switch .sf-switch-toggler {
    border-top-left-radius: var(--sf-switch-toggler--border-start-end-radius);
  }
  [dir="ltr"] .sf-switch .sf-switch-toggler {
    border-top-left-radius: var(--sf-switch-toggler--border-start-start-radius);
  }
  [dir="rtl"] .sf-switch .sf-switch-toggler {
    border-top-right-radius: var(--sf-switch-toggler--border-start-start-radius);
  }
  [dir="ltr"] .sf-switch .sf-switch-toggler {
    padding-right: var(--sf-switch-toggler--padding-inline-end);
  }
  [dir="rtl"] .sf-switch .sf-switch-toggler {
    padding-left: var(--sf-switch-toggler--padding-inline-end);
  }
  [dir="ltr"] .sf-switch .sf-switch-toggler {
    padding-left: var(--sf-switch-toggler--padding-inline-start);
  }
  [dir="rtl"] .sf-switch .sf-switch-toggler {
    padding-right: var(--sf-switch-toggler--padding-inline-start);
  }
  .sf-switch .sf-switch-toggler {
    --sf-switch-toggler--background-color: var(--sf-surface-0);
    --sf-switch-toggler--border: 1px solid;
    --sf-switch-toggler--border-color: var(--sf-outline);
    --sf-switch-toggler--border-end-end-radius: var(--sf-radius-circle);
    --sf-switch-toggler--border-end-start-radius: var(--sf-radius-circle);
    --sf-switch-toggler--border-start-end-radius: var(--sf-radius-circle);
    --sf-switch-toggler--border-start-start-radius: var(--sf-radius-circle);
    --sf-switch-toggler--border-style: solid;
    --sf-switch-toggler--border-width: 1px;
    background-color: var(--sf-switch-toggler--background-color);
    border: var(--sf-switch-toggler--border);
    border-color: transparent;
    border-color: var(--sf-switch-toggler--border-color, transparent);
    border-end-end-radius: var(--sf-switch-toggler--border-end-end-radius);
    border-end-start-radius: var(--sf-switch-toggler--border-end-start-radius);
    border-start-end-radius: var(--sf-switch-toggler--border-start-end-radius);
    border-start-start-radius: var(--sf-switch-toggler--border-start-start-radius);
    border-style: solid;
    border-style: var(--sf-switch-toggler--border-style, solid);
    border-width: var(--sf-switch-toggler--border-width);
    box-shadow: var(--sf-switch-toggler--box-shadow);
    height: var(--sf-switch-toggler--height);
    padding-bottom: var(--sf-switch-toggler--padding-bottom);
    -webkit-padding-end: var(--sf-switch-toggler--padding-inline-end);
            padding-inline-end: var(--sf-switch-toggler--padding-inline-end);
    -webkit-padding-start: var(--sf-switch-toggler--padding-inline-start);
            padding-inline-start: var(--sf-switch-toggler--padding-inline-start);
    padding-top: var(--sf-switch-toggler--padding-top);
    width: var(--sf-switch-toggler--width);
  }
  .sf-switch .sf-switch-inner {
    --sf-switch-inner--background-color: var(--sf-on-surface-variant);
    --sf-switch-inner--border-radius: var(--sf-radius-circle);
    background-color: var(--sf-switch-inner--background-color);
    border-radius: var(--sf-switch-inner--border-radius);
    height: var(--sf-switch-inner--height);
    width: var(--sf-switch-inner--width);
  }
  .sf-switch.sf-switch--size-1 .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1);
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-switch.sf-switch--size-1 .sf-switch-container {
    --sf-switch-container--font-size: var(--sf-text-size-1);
    --sf-switch-container--line-height: var(--sf-text-height-1);
  }
  .sf-switch.sf-switch--size-1 .sf-switch-container, .sf-switch.sf-switch--size-1\/3 .sf-switch-container {
    --sf-switch-container--font-family: var(--sf-text--family);
    --sf-switch-container--font-weight: var(--sf-font-weight-medium);
  }
  .sf-switch.sf-switch--size-1 .sf-switch-inner {
    --sf-switch-inner--height: var(--sf-b4);
    --sf-switch-inner--width: var(--sf-b4);
  }
  /* utility-hint: justify-content/flex-start (.justify-start) */
  .sf-switch.sf-switch--size-1 .sf-switch-toggler {
    --sf-switch-toggler--height: var(--sf-text-height-1);
    --sf-switch-toggler--padding-bottom: var(--sf-a5);
    --sf-switch-toggler--padding-inline-end: var(--sf-a5);
    --sf-switch-toggler--padding-inline-start: var(--sf-a5);
    --sf-switch-toggler--padding-top: var(--sf-a5);
    --sf-switch-toggler--width: var(--sf-text-size-8);
  }
  .sf-switch.sf-switch--size-1 .sf-switch-top {
    --sf-switch-top--gap: var(--sf-space-1\/4);
  }
  .sf-switch.disabled .sf-switch-container {
    --sf-switch-container--color: var(--sf-disable);
  }
  .sf-switch.sf-switch--size-1 .sf-switch-description {
    --sf-switch-description--font-size: var(--sf-text-size-1\/2);
    --sf-switch-description--line-height: var(--sf-text-height-1\/2);
  }
  .sf-switch.active[\:not-has\(input\:disabled\)] .sf-switch-inner {
    --sf-switch-inner--background-color: var(--sf-on-primary);
  }
  .sf-switch.active:not(:has(input:disabled)) .sf-switch-inner {
    --sf-switch-inner--background-color: var(--sf-on-primary);
  }
  .sf-switch.active[\:not-has\(input\:disabled\)] .sf-switch-toggler {
    --sf-switch-toggler--background-color: var(--sf-primary);
  }
  .sf-switch.active:not(:has(input:disabled)) .sf-switch-toggler {
    --sf-switch-toggler--background-color: var(--sf-primary);
  }
  .sf-switch.sf-switch--size-1\/3 .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1\/3);
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-switch.sf-switch--size-1\/3 .sf-switch-container {
    --sf-switch-container--font-size: var(--sf-text-size-1\/3);
    --sf-switch-container--line-height: var(--sf-text-height-1\/3);
  }
  .sf-switch.sf-switch--size-1\/3 .sf-switch-inner {
    --sf-switch-inner--height: var(--sf-a9);
    --sf-switch-inner--width: var(--sf-a9);
  }
  /* utility-hint: justify-content/flex-start (.justify-start) */
  .sf-switch.sf-switch--size-1\/3 .sf-switch-toggler {
    --sf-switch-toggler--height: var(--sf-text-height-1\/3);
    --sf-switch-toggler--padding-bottom: var(--sf-space-1\/4);
    --sf-switch-toggler--padding-inline-end: var(--sf-space-1\/4);
    --sf-switch-toggler--padding-inline-start: var(--sf-space-1\/4);
    --sf-switch-toggler--padding-top: var(--sf-space-1\/4);
    --sf-switch-toggler--width: var(--sf-text-size-5);
  }
  .sf-switch.sf-switch--size-1\/3 .sf-switch-top {
    --sf-switch-top--gap: var(--sf-space-0);
  }
  .sf-switch.sf-switch--size-1\/3 .sf-switch-description {
    --sf-switch-description--font-size: var(--sf-text-size-1\/4);
    --sf-switch-description--line-height: var(--sf-text-height-1\/4);
  }
  .sf-switch--size-1 {
    --sf-switch--gap: var(--sf-space-1\/3);
  }
  .sf-switch--size-1\/3 {
    --sf-switch--gap: var(--sf-space-1\/4);
  }
  .sf-switch.disabled .sf-icon {
    --sf-icon--color: var(--sf-disable);
  }
  .sf-switch.disabled .sf-switch-description {
    --sf-switch-description--color: var(--sf-disable);
  }
  .sf-switch.disabled .sf-switch-inner {
    --sf-switch-inner--background-color: var(--sf-on-disable);
  }
  /* utility-hint: justify-content/flex-start (.justify-start) */
  .sf-switch.disabled .sf-switch-toggler {
    --sf-switch-toggler--border-color: var(--sf-outline-disable);
  }
  .sf-switch[\:has\(input\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] .sf-switch-toggler {
    --sf-switch-toggler--box-shadow: var(--sf-ui-focus);
  }
  .sf-switch:has(input:not(:disabled):not(.disabled):focus) .sf-switch-toggler {
    --sf-switch-toggler--box-shadow: var(--sf-ui-focus);
  }
  .sf-switch[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] .sf-switch-toggler {
    --sf-switch-toggler--border-color: var(--sf-primary-hover);
  }
  .sf-switch:has(input:enabled:not(:disabled):not(.disabled):hover) .sf-switch-toggler {
    --sf-switch-toggler--border-color: var(--sf-primary-hover);
  }
  .sf-switch:not(:disabled):not(.disabled):active .sf-switch-inner {
    --sf-switch-inner--background-color: var(--sf-on-primary);
  }
  /* utility-hint: justify-content/flex-end (.justify-end) */
  .sf-switch:not(:disabled):not(.disabled):active .sf-switch-toggler {
    --sf-switch-toggler--background-color: var(--sf-primary);
  }
}
@layer sf.components {
  .sf-switch {
    cursor: pointer;
  }
  .sf-switch.disabled {
    cursor: default;
  }
  .sf-switch .sf-switch-toggler {
    position: relative;
  }
  .sf-switch .sf-switch-text {
    white-space: nowrap;
    white-space: var(--sf-switch-text--white-space, nowrap);
  }
  .sf-switch .sf-switch-toggler input[type=checkbox] {
    cursor: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
  }
}
