@layer sf.utilities {
  .focus\:ring-offset-transparent:focus {
    --sf-ring-offset-color: var(--sf-transparent);
  }
  .focus\:ring-offset-current:focus {
    --sf-ring-offset-color: var(--sf-current);
  }
  .focus\:ring-offset-outline:focus {
    --sf-ring-offset-color: var(--sf-outline);
  }
  .focus\:ring-offset-outline-variant:focus {
    --sf-ring-offset-color: var(--sf-outline-variant);
  }
  .focus\:ring-offset-surface:focus {
    --sf-ring-offset-color: var(--sf-surface-1);
  }
  .focus\:ring-offset-surface-0:focus {
    --sf-ring-offset-color: var(--sf-surface-0);
  }
  .focus\:ring-offset-surface-1:focus {
    --sf-ring-offset-color: var(--sf-surface-1);
  }
  .focus\:ring-offset-surface-container:focus {
    --sf-ring-offset-color: var(--sf-surface-container);
  }
  .focus\:ring-offset-surface-overlay:focus {
    --sf-ring-offset-color: var(--sf-surface-overlay);
  }
  .focus\:ring-offset-surface-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-surface-transparent-overlay);
  }
  .focus\:ring-offset-surface-inverse:focus {
    --sf-ring-offset-color: var(--sf-surface-inverse);
  }
  .focus\:ring-offset-on-surface:focus {
    --sf-ring-offset-color: var(--sf-on-surface);
  }
  .focus\:ring-offset-on-surface-variant:focus {
    --sf-ring-offset-color: var(--sf-on-surface-variant);
  }
  .focus\:ring-offset-primary:focus {
    --sf-ring-offset-color: var(--sf-outline-primary);
  }
  .focus\:ring-offset-primary-container:focus {
    --sf-ring-offset-color: var(--sf-primary-container);
  }
  .focus\:ring-offset-primary-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-primary-transparent-overlay);
  }
  .focus\:ring-offset-secondary:focus {
    --sf-ring-offset-color: var(--sf-outline-secondary);
  }
  .focus\:ring-offset-secondary-container:focus {
    --sf-ring-offset-color: var(--sf-secondary-container);
  }
  .focus\:ring-offset-secondary-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-secondary-transparent-overlay);
  }
  .focus\:ring-offset-tertiary:focus {
    --sf-ring-offset-color: var(--sf-outline-tertiary);
  }
  .focus\:ring-offset-tertiary-container:focus {
    --sf-ring-offset-color: var(--sf-tertiary-container);
  }
  .focus\:ring-offset-tertiary-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-tertiary-transparent-overlay);
  }
  .focus\:ring-offset-error:focus {
    --sf-ring-offset-color: var(--sf-outline-error);
  }
  .focus\:ring-offset-error-container:focus {
    --sf-ring-offset-color: var(--sf-error-container);
  }
  .focus\:ring-offset-error-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-error-transparent-overlay);
  }
  .focus\:ring-offset-warning:focus {
    --sf-ring-offset-color: var(--sf-outline-warning);
  }
  .focus\:ring-offset-warning-container:focus {
    --sf-ring-offset-color: var(--sf-warning-container);
  }
  .focus\:ring-offset-warning-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-warning-transparent-overlay);
  }
  .focus\:ring-offset-success:focus {
    --sf-ring-offset-color: var(--sf-outline-success);
  }
  .focus\:ring-offset-success-container:focus {
    --sf-ring-offset-color: var(--sf-success-container);
  }
  .focus\:ring-offset-success-transparent-overlay:focus {
    --sf-ring-offset-color: var(--sf-success-transparent-overlay);
  }
  .focus\:ring-offset-info:focus {
    --sf-ring-offset-color: var(--sf-outline-info);
  }
  .focus\:ring-offset-info-container:focus {
    --sf-ring-offset-color: var(--sf-info-container);
  }
}
