@layer sf.utilities {
  @media (min-width: 71.25rem) {
    .xl\:bg-origin-border {
      background-origin: border-box;
    }
    .xl\:bg-origin-padding {
      background-origin: padding-box;
    }
    .xl\:bg-origin-content {
      background-origin: content-box;
    }
  }
}
