@layer sf.utilities {
  @media (min-width: 720px) {
    .md\:max-h-full {
      max-height: 100%;
    }
    .md\:max-h-screen {
      max-height: 100vh;
    }
    .md\:max-h-min {
      max-height: -webkit-min-content;
      max-height: -moz-min-content;
      max-height: min-content;
    }
    .md\:max-h-max {
      max-height: -webkit-max-content;
      max-height: -moz-max-content;
      max-height: max-content;
    }
    .md\:max-h-fit {
      max-height: -webkit-fit-content;
      max-height: -moz-fit-content;
      max-height: fit-content;
    }
    .md\:max-h-px {
      max-height: 1px;
    }
    .md\:max-h-0 {
      max-height: 0;
    }
  }
}
