@layer sf.utilities {
  [dir="ltr"] .container {
    padding-left: var(--sf-space-1);
  }
  [dir="rtl"] .container {
    padding-right: var(--sf-space-1);
  }
  [dir="ltr"] .container {
    padding-right: var(--sf-space-1);
  }
  [dir="rtl"] .container {
    padding-left: var(--sf-space-1);
  }
  .container {
    width: 100%;
    -webkit-padding-start: var(--sf-space-1);
            padding-inline-start: var(--sf-space-1);
    -webkit-padding-end: var(--sf-space-1);
            padding-inline-end: var(--sf-space-1);
  }
  @media (min-width: 520px) {
    [dir="ltr"] .container {
      padding-left: var(--sf-space-2);
    }
    [dir="rtl"] .container {
      padding-right: var(--sf-space-2);
    }
    [dir="ltr"] .container {
      padding-right: var(--sf-space-2);
    }
    [dir="rtl"] .container {
      padding-left: var(--sf-space-2);
    }
    .container {
      width: 100%;
      max-width: var(--sf-breakpoint-sm);
      -webkit-padding-start: var(--sf-space-2);
              padding-inline-start: var(--sf-space-2);
      -webkit-padding-end: var(--sf-space-2);
              padding-inline-end: var(--sf-space-2);
    }
  }
  @media (min-width: 720px) {
    [dir="ltr"] .container {
      padding-left: var(--sf-space-3);
    }
    [dir="rtl"] .container {
      padding-right: var(--sf-space-3);
    }
    [dir="ltr"] .container {
      padding-right: var(--sf-space-3);
    }
    [dir="rtl"] .container {
      padding-left: var(--sf-space-3);
    }
    .container {
      width: 100%;
      max-width: var(--sf-breakpoint-md);
      -webkit-padding-start: var(--sf-space-3);
              padding-inline-start: var(--sf-space-3);
      -webkit-padding-end: var(--sf-space-3);
              padding-inline-end: var(--sf-space-3);
    }
  }
  @media (min-width: 960px) {
    [dir="ltr"] .container {
      padding-left: var(--sf-space-4);
    }
    [dir="rtl"] .container {
      padding-right: var(--sf-space-4);
    }
    [dir="ltr"] .container {
      padding-right: var(--sf-space-4);
    }
    [dir="rtl"] .container {
      padding-left: var(--sf-space-4);
    }
    .container {
      width: 100%;
      max-width: var(--sf-breakpoint-lg);
      -webkit-padding-start: var(--sf-space-4);
              padding-inline-start: var(--sf-space-4);
      -webkit-padding-end: var(--sf-space-4);
              padding-inline-end: var(--sf-space-4);
    }
  }
  @media (min-width: 1140px) {
    [dir="ltr"] .container {
      padding-left: var(--sf-space-5);
    }
    [dir="rtl"] .container {
      padding-right: var(--sf-space-5);
    }
    [dir="ltr"] .container {
      padding-right: var(--sf-space-5);
    }
    [dir="rtl"] .container {
      padding-left: var(--sf-space-5);
    }
    .container {
      width: 100%;
      max-width: var(--sf-breakpoint-xl);
      -webkit-padding-start: var(--sf-space-5);
              padding-inline-start: var(--sf-space-5);
      -webkit-padding-end: var(--sf-space-5);
              padding-inline-end: var(--sf-space-5);
    }
  }
  @media (min-width: 1320px) {
    [dir="ltr"] .container {
      padding-left: var(--sf-space-6);
    }
    [dir="rtl"] .container {
      padding-right: var(--sf-space-6);
    }
    [dir="ltr"] .container {
      padding-right: var(--sf-space-6);
    }
    [dir="rtl"] .container {
      padding-left: var(--sf-space-6);
    }
    .container {
      width: 100%;
      max-width: var(--sf-breakpoint-xxl);
      -webkit-padding-start: var(--sf-space-6);
              padding-inline-start: var(--sf-space-6);
      -webkit-padding-end: var(--sf-space-6);
              padding-inline-end: var(--sf-space-6);
    }
  }
}
