@layer sf.components {
  [dir="ltr"] .sf-tree {
    padding-left: var(--sf-space-1);
    padding-left: var(--sf-tree--padding-inline-start, var(--sf-space-1));
  }
  [dir="rtl"] .sf-tree {
    padding-right: var(--sf-space-1);
    padding-right: var(--sf-tree--padding-inline-start, var(--sf-space-1));
  }
  [dir="ltr"] .sf-tree {
    padding-right: var(--sf-space-1);
    padding-right: var(--sf-tree--padding-inline-end, var(--sf-space-1));
  }
  [dir="rtl"] .sf-tree {
    padding-left: var(--sf-space-1);
    padding-left: var(--sf-tree--padding-inline-end, var(--sf-space-1));
  }
  [dir="ltr"] .sf-tree {
    padding-left: var(--sf-space-1);
  }
  [dir="rtl"] .sf-tree {
    padding-right: var(--sf-space-1);
  }
  [dir="ltr"] .sf-tree {
    padding-right: var(--sf-space-1);
  }
  [dir="rtl"] .sf-tree {
    padding-left: var(--sf-space-1);
  }
  .sf-tree {
    -webkit-padding-start: var(--sf-space-1);
            padding-inline-start: var(--sf-space-1);
    -webkit-padding-start: var(--sf-tree--padding-inline-start, var(--sf-space-1));
            padding-inline-start: var(--sf-tree--padding-inline-start, var(--sf-space-1));
    -webkit-padding-end: var(--sf-space-1);
            padding-inline-end: var(--sf-space-1);
    -webkit-padding-end: var(--sf-tree--padding-inline-end, var(--sf-space-1));
            padding-inline-end: var(--sf-tree--padding-inline-end, var(--sf-space-1));
    padding-top: var(--sf-space-1);
    padding-top: var(--sf-tree--padding-top, var(--sf-space-1));
    padding-bottom: var(--sf-space-1);
    padding-bottom: var(--sf-tree--padding-bottom, var(--sf-space-1));
    gap: var(--sf-space-1\/3);
    gap: var(--sf-tree--gap, var(--sf-space-1\/3));
  }
  .sf-tree .sf-tree-item {
    gap: var(--sf-space-1\/3);
    gap: var(--sf-tree-item--gap, var(--sf-space-1\/3));
  }
  [dir="ltr"] .sf-tree > .sf-tree-item .sf-tree-item {
    padding-left: var(--sf-space-3);
    padding-left: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
  }
  [dir="rtl"] .sf-tree > .sf-tree-item .sf-tree-item {
    padding-right: var(--sf-space-3);
    padding-right: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
  }
  [dir="ltr"] .sf-tree > .sf-tree-item .sf-tree-item {
    padding-left: var(--sf-space-3);
  }
  [dir="rtl"] .sf-tree > .sf-tree-item .sf-tree-item {
    padding-right: var(--sf-space-3);
  }
  .sf-tree > .sf-tree-item .sf-tree-item {
    -webkit-padding-start: var(--sf-space-3);
            padding-inline-start: var(--sf-space-3);
    -webkit-padding-start: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
            padding-inline-start: var(--sf-tree-item--nested-padding-inline-start, var(--sf-space-3));
  }
  [dir="ltr"] .sf-tree .sf-tree-chevron {
    left: calc(-1 * var(--sf-icon-size-3));
  }
  [dir="rtl"] .sf-tree .sf-tree-chevron {
    right: calc(-1 * var(--sf-icon-size-3));
  }
  .sf-tree .sf-tree-chevron {
    inset-inline-start: calc(-1 * var(--sf-icon-size-3));
  }
  .sf-tree .sf-tree-chevron .sf-icon {
    font-size: var(--sf-icon-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-icon-size-3));
    height: var(--sf-icon-size-3);
    height: var(--sf-icon--height, var(--sf-icon-size-3));
    pointer-events: none;
    width: var(--sf-icon-size-3);
    width: var(--sf-icon--width, var(--sf-icon-size-3));
  }
}
@layer sf.states {
  .sf-tree-item:not(.open) > .sf-tree-item {
    display: none;
  }
}
@layer sf.overrides {
  .sf-tree .sf-tree-item .sf-icon-button {
    --sf-icon-button--padding-bottom: 0;
    --sf-icon-button--padding-inline-end: 0;
    --sf-icon-button--padding-inline-start: 0;
    --sf-icon-button--padding-top: 0;
  }
  .sf-tree .sf-tree-item .sf-icon-button:hover {
    --sf-icon-button--background-color: var(--sf-transparent, transparent);
  }
}
