@layer sf.utilities {
  @media (min-width: 520px) {
    .sm\:self-auto {
      align-self: auto;
      justify-self: auto;
      place-self: auto;
    }
    .sm\:self-start {
      align-self: start;
      justify-self: start;
      place-self: start;
    }
    .sm\:self-end {
      align-self: end;
      justify-self: end;
      place-self: end;
    }
    .sm\:self-center {
      align-self: center;
      justify-self: center;
      place-self: center;
    }
    .sm\:self-stretch {
      align-self: stretch;
      justify-self: stretch;
      place-self: stretch;
    }
  }
}
