@layer sf.utilities {
  @media (min-width: 720px) {
    [dir="ltr"] .md\:offset-1\/12 {
      margin-left: 8.333333%;
    }
    [dir="rtl"] .md\:offset-1\/12 {
      margin-right: 8.333333%;
    }
    .md\:offset-1\/12 {
      -webkit-margin-start: 8.333333%;
              margin-inline-start: 8.333333%;
    }
    [dir="ltr"] .md\:offset-2\/12 {
      margin-left: 16.666667%;
    }
    [dir="rtl"] .md\:offset-2\/12 {
      margin-right: 16.666667%;
    }
    .md\:offset-2\/12 {
      -webkit-margin-start: 16.666667%;
              margin-inline-start: 16.666667%;
    }
    [dir="ltr"] .md\:offset-3\/12 {
      margin-left: 25%;
    }
    [dir="rtl"] .md\:offset-3\/12 {
      margin-right: 25%;
    }
    .md\:offset-3\/12 {
      -webkit-margin-start: 25%;
              margin-inline-start: 25%;
    }
    [dir="ltr"] .md\:offset-4\/12 {
      margin-left: 33.333333%;
    }
    [dir="rtl"] .md\:offset-4\/12 {
      margin-right: 33.333333%;
    }
    .md\:offset-4\/12 {
      -webkit-margin-start: 33.333333%;
              margin-inline-start: 33.333333%;
    }
    [dir="ltr"] .md\:offset-5\/12 {
      margin-left: 41.666667%;
    }
    [dir="rtl"] .md\:offset-5\/12 {
      margin-right: 41.666667%;
    }
    .md\:offset-5\/12 {
      -webkit-margin-start: 41.666667%;
              margin-inline-start: 41.666667%;
    }
    [dir="ltr"] .md\:offset-6\/12 {
      margin-left: 50%;
    }
    [dir="rtl"] .md\:offset-6\/12 {
      margin-right: 50%;
    }
    .md\:offset-6\/12 {
      -webkit-margin-start: 50%;
              margin-inline-start: 50%;
    }
    [dir="ltr"] .md\:offset-7\/12 {
      margin-left: 58.333333%;
    }
    [dir="rtl"] .md\:offset-7\/12 {
      margin-right: 58.333333%;
    }
    .md\:offset-7\/12 {
      -webkit-margin-start: 58.333333%;
              margin-inline-start: 58.333333%;
    }
    [dir="ltr"] .md\:offset-8\/12 {
      margin-left: 66.666667%;
    }
    [dir="rtl"] .md\:offset-8\/12 {
      margin-right: 66.666667%;
    }
    .md\:offset-8\/12 {
      -webkit-margin-start: 66.666667%;
              margin-inline-start: 66.666667%;
    }
    [dir="ltr"] .md\:offset-9\/12 {
      margin-left: 75%;
    }
    [dir="rtl"] .md\:offset-9\/12 {
      margin-right: 75%;
    }
    .md\:offset-9\/12 {
      -webkit-margin-start: 75%;
              margin-inline-start: 75%;
    }
    [dir="ltr"] .md\:offset-10\/12 {
      margin-left: 83.333333%;
    }
    [dir="rtl"] .md\:offset-10\/12 {
      margin-right: 83.333333%;
    }
    .md\:offset-10\/12 {
      -webkit-margin-start: 83.333333%;
              margin-inline-start: 83.333333%;
    }
    [dir="ltr"] .md\:offset-11\/12 {
      margin-left: 91.666667%;
    }
    [dir="rtl"] .md\:offset-11\/12 {
      margin-right: 91.666667%;
    }
    .md\:offset-11\/12 {
      -webkit-margin-start: 91.666667%;
              margin-inline-start: 91.666667%;
    }
  }
}
