@layer sf.utilities {
  .hover\:ring-offset-1:hover {
    --sf-ring-offset-width: var(--sf-a1);
  }
  .hover\:ring-offset-2:hover {
    --sf-ring-offset-width: var(--sf-a2);
  }
  .hover\:ring-offset-3:hover {
    --sf-ring-offset-width: var(--sf-a3);
  }
  .hover\:ring-offset-4:hover {
    --sf-ring-offset-width: var(--sf-a4);
  }
  .hover\:ring-offset-0:hover {
    --sf-ring-offset-width: var(--sf-0);
  }
}
