@layer sf.utilities {
  @media (min-width: 1320px) {
    .xxl\:flex-wrap {
      flex-wrap: wrap;
    }
    .xxl\:flex-wrap-reverse {
      flex-wrap: wrap-reverse;
    }
    .xxl\:flex-nowrap {
      flex-wrap: nowrap;
    }
  }
}
