@layer sf.utilities {
  @media (min-width: 1140px) {
    .xl\:layout-col-1 {
      -webkit-column-count: 1;
         -moz-column-count: 1;
              column-count: 1;
    }
    .xl\:layout-col-2 {
      -webkit-column-count: 2;
         -moz-column-count: 2;
              column-count: 2;
    }
    .xl\:layout-col-3 {
      -webkit-column-count: 3;
         -moz-column-count: 3;
              column-count: 3;
    }
    .xl\:layout-col-4 {
      -webkit-column-count: 4;
         -moz-column-count: 4;
              column-count: 4;
    }
    .xl\:layout-col-5 {
      -webkit-column-count: 5;
         -moz-column-count: 5;
              column-count: 5;
    }
    .xl\:layout-col-6 {
      -webkit-column-count: 6;
         -moz-column-count: 6;
              column-count: 6;
    }
    .xl\:layout-col-7 {
      -webkit-column-count: 7;
         -moz-column-count: 7;
              column-count: 7;
    }
    .xl\:layout-col-8 {
      -webkit-column-count: 8;
         -moz-column-count: 8;
              column-count: 8;
    }
    .xl\:layout-col-9 {
      -webkit-column-count: 9;
         -moz-column-count: 9;
              column-count: 9;
    }
    .xl\:layout-col-10 {
      -webkit-column-count: 10;
         -moz-column-count: 10;
              column-count: 10;
    }
    .xl\:layout-col-11 {
      -webkit-column-count: 11;
         -moz-column-count: 11;
              column-count: 11;
    }
    .xl\:layout-col-12 {
      -webkit-column-count: 12;
         -moz-column-count: 12;
              column-count: 12;
    }
    .xl\:layout-col-auto {
      -webkit-column-count: auto;
         -moz-column-count: auto;
              column-count: auto;
    }
  }
}
