@layer sf.utilities {
  .hover\:translate-x-0:hover {
    --sf-translate-x: var(--sf-0px);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-0:hover {
    --sf-translate-y: var(--sf-0px);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-0:hover {
    --sf-translate-x: calc(0rem - var(--sf-0px));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-0:hover {
    --sf-translate-y: calc(0rem - var(--sf-0px));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-1:hover {
    --sf-translate-x: var(--sf-px);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-1:hover {
    --sf-translate-y: var(--sf-px);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-1:hover {
    --sf-translate-x: calc(0rem - var(--sf-px));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-1:hover {
    --sf-translate-y: calc(0rem - var(--sf-px));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-2:hover {
    --sf-translate-x: var(--sf-a2);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-2:hover {
    --sf-translate-y: var(--sf-a2);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-2:hover {
    --sf-translate-x: calc(0rem - var(--sf-a2));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-2:hover {
    --sf-translate-y: calc(0rem - var(--sf-a2));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-3:hover {
    --sf-translate-x: var(--sf-a4);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-3:hover {
    --sf-translate-y: var(--sf-a4);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-3:hover {
    --sf-translate-x: calc(0rem - var(--sf-a4));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-3:hover {
    --sf-translate-y: calc(0rem - var(--sf-a4));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-4:hover {
    --sf-translate-x: var(--sf-a6);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-4:hover {
    --sf-translate-y: var(--sf-a6);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-4:hover {
    --sf-translate-x: calc(0rem - var(--sf-a6));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-4:hover {
    --sf-translate-y: calc(0rem - var(--sf-a6));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-5:hover {
    --sf-translate-x: var(--sf-a8);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-5:hover {
    --sf-translate-y: var(--sf-a8);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-5:hover {
    --sf-translate-x: calc(0rem - var(--sf-a8));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-5:hover {
    --sf-translate-y: calc(0rem - var(--sf-a8));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-6:hover {
    --sf-translate-x: var(--sf-b0);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-6:hover {
    --sf-translate-y: var(--sf-b0);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-6:hover {
    --sf-translate-x: calc(0rem - var(--sf-b0));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-6:hover {
    --sf-translate-y: calc(0rem - var(--sf-b0));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-7:hover {
    --sf-translate-x: var(--sf-b2);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-7:hover {
    --sf-translate-y: var(--sf-b2);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-7:hover {
    --sf-translate-x: calc(0rem - var(--sf-b2));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-7:hover {
    --sf-translate-y: calc(0rem - var(--sf-b2));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-8:hover {
    --sf-translate-x: var(--sf-b4);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-8:hover {
    --sf-translate-y: var(--sf-b4);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-8:hover {
    --sf-translate-x: calc(0rem - var(--sf-b4));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-8:hover {
    --sf-translate-y: calc(0rem - var(--sf-b4));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-9:hover {
    --sf-translate-x: var(--sf-b6);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-9:hover {
    --sf-translate-y: var(--sf-b6);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-9:hover {
    --sf-translate-x: calc(0rem - var(--sf-b6));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-9:hover {
    --sf-translate-y: calc(0rem - var(--sf-b6));
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-half:hover {
    --sf-translate-x: 50%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-half:hover {
    --sf-translate-y: 50%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-half:hover {
    --sf-translate-x: -50%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-half:hover {
    --sf-translate-y: -50%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-x-full:hover {
    --sf-translate-x: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .hover\:translate-y-full:hover {
    --sf-translate-y: 100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-x-full:hover {
    --sf-translate-x: -100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
  .-hover\:translate-y-full:hover {
    --sf-translate-y: -100%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
            transform: translate(var(--sf-translate-x, 0), var(--sf-translate-y, 0));
  }
}
