/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-file-upload {
    border-bottom-width: var(--sf-file-upload--border-bottom-width, var(--sf-a1, 0));
    border-bottom-right-radius: var(--sf-file-upload--border-bottom-right-radius, var(--sf-radius-2));
    border-bottom-left-radius: var(--sf-file-upload--border-bottom-left-radius, var(--sf-radius-2));
    border-right-width: var(--sf-file-upload--border-right-width, var(--sf-a1, 0));
    border-left-width: var(--sf-file-upload--border-left-width, var(--sf-a1, 0));
    border-top-right-radius: var(--sf-file-upload--border-top-right-radius, var(--sf-radius-2));
    border-top-left-radius: var(--sf-file-upload--border-top-left-radius, var(--sf-radius-2));
    border-top-width: var(--sf-file-upload--border-top-width, var(--sf-a1, 0));
    gap: var(--sf-file-upload--gap);
    padding-left: var(--sf-file-upload--padding-inline-start);
    padding-top: var(--sf-file-upload--padding-top);
    padding-right: var(--sf-file-upload--padding-inline-end);
    padding-bottom: var(--sf-file-upload--padding-bottom);
    background-color: var(--sf-file-upload--background-color);
    border-color: var(--sf-file-upload--border-color, transparent);
    -webkit-box-shadow: var(--sf-file-upload--box-shadow);
            box-shadow: var(--sf-file-upload--box-shadow);
    --sf-file-upload--background-color: var(--sf-surface-0);
    --sf-file-upload--border-color: var(--sf-outline);
  }
  .sf-file-upload .sf-featured-icon {
    background-color: var(--sf-featured-icon--background-color);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-file-upload-bottom--gap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-file-upload .sf-file-upload-bottom {
    --sf-file-upload-bottom--background-color: transparent;
    --sf-file-upload-bottom--gap: var(--sf-space-1\/4);
    background-color: var(--sf-file-upload-bottom--background-color);
    gap: var(--sf-file-upload-bottom--gap);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-file-upload-block--gap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-file-upload .sf-file-upload-block {
    --sf-file-upload-block--background-color: transparent;
    --sf-file-upload-block--gap: var(--sf-space-1\/4);
    background-color: var(--sf-file-upload-block--background-color);
    gap: var(--sf-file-upload-block--gap);
  }
  .sf-file-upload .sf-file-upload-block-text {
    --sf-file-upload-block-text--color: var(--sf-on-surface-variant);
    --sf-file-upload-block-text--font-family: var(--sf-text--family);
    --sf-file-upload-block-text--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-file-upload-block-text--color);
    font-family: var(--sf-file-upload-block-text--font-family);
    font-size: var(--sf-file-upload-block-text--font-size);
    font-weight: var(--sf-file-upload-block-text--font-weight);
    line-height: var(--sf-file-upload-block-text--line-height);
  }
  .sf-file-upload .sf-file-upload-link {
    --sf-file-upload-link--color: var(--sf-primary);
    --sf-file-upload-link--font-family: var(--sf-text--family);
    --sf-file-upload-link--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-file-upload-link--color);
    font-family: var(--sf-file-upload-link--font-family);
    font-size: var(--sf-file-upload-link--font-size);
    font-weight: var(--sf-file-upload-link--font-weight);
    line-height: var(--sf-file-upload-link--line-height);
  }
  .sf-file-upload .sf-file-upload-text {
    --sf-file-upload-text--color: var(--sf-on-surface-variant);
    --sf-file-upload-text--font-family: var(--sf-text--family);
    --sf-file-upload-text--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-file-upload-text--color);
    font-family: var(--sf-file-upload-text--font-family);
    font-size: var(--sf-file-upload-text--font-size);
    font-weight: var(--sf-file-upload-text--font-weight);
    line-height: var(--sf-file-upload-text--line-height);
  }
  .sf-file-upload.sf-file-upload--size-1 .sf-file-upload-block-text {
    --sf-file-upload-block-text--font-size: var(--sf-text-size-1);
    --sf-file-upload-block-text--line-height: var(--sf-text-height-1);
  }
  .sf-file-upload.sf-file-upload--size-1 .sf-file-upload-link {
    --sf-file-upload-link--font-size: var(--sf-text-size-1);
    --sf-file-upload-link--line-height: var(--sf-text-height-1);
  }
  .sf-file-upload.sf-file-upload--size-1 .sf-file-upload-text {
    --sf-file-upload-text--font-size: var(--sf-text-size-1);
    --sf-file-upload-text--line-height: var(--sf-text-height-1);
  }
  .sf-file-upload.sf-file-upload--size-2 .sf-file-upload-block-text {
    --sf-file-upload-block-text--font-size: var(--sf-text-size-2);
    --sf-file-upload-block-text--line-height: var(--sf-text-height-2);
  }
  .sf-file-upload.sf-file-upload--size-2 .sf-file-upload-link {
    --sf-file-upload-link--font-size: var(--sf-text-size-2);
    --sf-file-upload-link--line-height: var(--sf-text-height-2);
  }
  .sf-file-upload.sf-file-upload--size-2 .sf-file-upload-text {
    --sf-file-upload-text--font-size: var(--sf-text-size-2);
    --sf-file-upload-text--line-height: var(--sf-text-height-2);
  }
  .sf-file-upload.sf-file-upload--size-3 .sf-file-upload-block-text {
    --sf-file-upload-block-text--font-size: var(--sf-text-size-3);
    --sf-file-upload-block-text--line-height: var(--sf-text-height-3);
  }
  .sf-file-upload.sf-file-upload--size-3 .sf-file-upload-link {
    --sf-file-upload-link--font-size: var(--sf-text-size-3);
    --sf-file-upload-link--line-height: var(--sf-text-height-3);
  }
  .sf-file-upload.sf-file-upload--size-3 .sf-file-upload-text {
    --sf-file-upload-text--font-size: var(--sf-text-size-3);
    --sf-file-upload-text--line-height: var(--sf-text-height-3);
  }
  .sf-file-upload.sf-file-upload--size-1\/2 .sf-file-upload-block-text {
    --sf-file-upload-block-text--font-size: var(--sf-text-size-1\/2);
    --sf-file-upload-block-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-file-upload.sf-file-upload--size-1\/2 .sf-file-upload-link {
    --sf-file-upload-link--font-size: var(--sf-text-size-1\/2);
    --sf-file-upload-link--line-height: var(--sf-text-height-1\/2);
  }
  .sf-file-upload.sf-file-upload--size-1\/2 .sf-file-upload-text {
    --sf-file-upload-text--font-size: var(--sf-text-size-1\/2);
    --sf-file-upload-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-file-upload.sf-file-upload--size-1\/3 .sf-file-upload-block-text {
    --sf-file-upload-block-text--font-size: var(--sf-text-size-1\/3);
    --sf-file-upload-block-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-file-upload.sf-file-upload--size-1\/3 .sf-file-upload-link {
    --sf-file-upload-link--font-size: var(--sf-text-size-1\/3);
    --sf-file-upload-link--line-height: var(--sf-text-height-1\/3);
  }
  .sf-file-upload.sf-file-upload--size-1\/3 .sf-file-upload-text {
    --sf-file-upload-text--font-size: var(--sf-text-size-1\/3);
    --sf-file-upload-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-file-upload--size-1 {
    --sf-file-upload--gap: var(--sf-space-1\/3);
    --sf-file-upload--padding-bottom: var(--sf-space-1);
    --sf-file-upload--padding-inline-end: var(--sf-space-3);
    --sf-file-upload--padding-inline-start: var(--sf-space-3);
    --sf-file-upload--padding-top: var(--sf-space-1);
  }
  .sf-file-upload--size-2 {
    --sf-file-upload--gap: var(--sf-space-1\/2);
    --sf-file-upload--padding-bottom: var(--sf-space-2);
    --sf-file-upload--padding-inline-end: var(--sf-space-4);
    --sf-file-upload--padding-inline-start: var(--sf-space-4);
    --sf-file-upload--padding-top: var(--sf-space-2);
  }
  .sf-file-upload--size-3 {
    --sf-file-upload--gap: var(--sf-space-1);
    --sf-file-upload--padding-bottom: var(--sf-space-2);
    --sf-file-upload--padding-inline-end: var(--sf-space-4);
    --sf-file-upload--padding-inline-start: var(--sf-space-4);
    --sf-file-upload--padding-top: var(--sf-space-2);
  }
  .sf-file-upload--size-1\/2 {
    --sf-file-upload--gap: var(--sf-space-1\/3);
    --sf-file-upload--padding-bottom: var(--sf-space-1\/2);
    --sf-file-upload--padding-inline-end: var(--sf-space-2);
    --sf-file-upload--padding-inline-start: var(--sf-space-2);
    --sf-file-upload--padding-top: var(--sf-space-1\/2);
  }
  .sf-file-upload--size-1\/3 {
    --sf-file-upload--gap: var(--sf-space-1\/4);
    --sf-file-upload--padding-bottom: var(--sf-space-1\/2);
    --sf-file-upload--padding-inline-end: var(--sf-space-2);
    --sf-file-upload--padding-inline-start: var(--sf-space-2);
    --sf-file-upload--padding-top: var(--sf-space-1\/2);
  }
}
@layer sf.states {
  .sf-file-upload:not(:disabled):not(.disabled):hover {
    --sf-file-upload--border-color: var(--sf-outline-primary);
  }
  .sf-file-upload:not(:disabled):not(.disabled):focus {
    --sf-file-upload--background-color: var(--sf-transparent-for-focus);
    --sf-file-upload--border-color: var(--sf-outline-variant);
    --sf-file-upload--box-shadow: var(--sf-ui-focus);
  }
  .sf-file-upload.disabled .sf-featured-icon.sf-featured-icon--clear.sf-featured-icon--light.sf-featured-icon--circle {
    --sf-featured-icon--background-color: var(--sf-disable);
  }
  .sf-file-upload.disabled > .sf-featured-icon.sf-featured-icon--clear.sf-featured-icon--light.sf-featured-icon--circle > .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-file-upload.disabled {
    --sf-file-upload--background-color: var(--sf-disable);
    --sf-file-upload--border-color: var(--sf-outline-disable);
  }
  .sf-file-upload.disabled .sf-file-upload-block-text {
    --sf-file-upload-block-text--color: var(--sf-on-disable);
  }
  .sf-file-upload.disabled .sf-file-upload-link {
    --sf-file-upload-link--color: var(--sf-on-disable);
  }
  .sf-file-upload.disabled .sf-file-upload-text {
    --sf-file-upload-text--color: var(--sf-on-disable);
  }
}
@layer sf.overrides {
  .sf-file-upload > .sf-featured-icon.sf-featured-icon--clear.sf-featured-icon--light.sf-featured-icon--circle > .sf-icon {
    --sf-icon--color: var(--sf-primary);
  }
}
@layer sf.components {
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-upload-progress {
    background-color: var(--sf-upload-progress--background-color, transparent);
    gap: var(--sf-upload-progress--gap);
  }
  .sf-upload-progress .sf-icon {
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon--font-size, var(--sf-icon-size-3));
    height: var(--sf-icon--height, var(--sf-icon-size-3));
    width: var(--sf-icon--width, var(--sf-icon-size-3));
  }
  /* utility-hint: gap/var(--sf-progress-bar--gap) */
  .sf-upload-progress .sf-progress-bar {
    gap: var(--sf-progress-bar--gap);
  }
  .sf-upload-progress .sf-progress-bar-progress {
    border-bottom-right-radius: var(--sf-progress-bar-progress--border-end-end-radius);
    border-bottom-left-radius: var(--sf-progress-bar-progress--border-end-start-radius);
    border-top-right-radius: var(--sf-progress-bar-progress--border-start-end-radius);
    border-top-left-radius: var(--sf-progress-bar-progress--border-start-start-radius);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) gap/var(--sf-upload-progress-content--gap) */
  .sf-upload-progress .sf-upload-progress-content {
    --sf-upload-progress-content--background-color: transparent;
    background-color: var(--sf-upload-progress-content--background-color);
    gap: var(--sf-upload-progress-content--gap);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) gap/var(--sf-upload-progress-top--gap) */
  .sf-upload-progress .sf-upload-progress-top {
    --sf-upload-progress-top--background-color: transparent;
    background-color: var(--sf-upload-progress-top--background-color);
    gap: var(--sf-upload-progress-top--gap);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-upload-progress .sf-upload-progress-left {
    --sf-upload-progress-left--background-color: transparent;
    background-color: var(--sf-upload-progress-left--background-color);
  }
  .sf-upload-progress .sf-upload-progress-name {
    --sf-upload-progress-name--color: var(--sf-on-surface);
    --sf-upload-progress-name--font-family: var(--sf-text--family);
    --sf-upload-progress-name--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-upload-progress-name--color);
    font-family: var(--sf-upload-progress-name--font-family);
    font-size: var(--sf-upload-progress-name--font-size);
    font-weight: var(--sf-upload-progress-name--font-weight);
    line-height: var(--sf-upload-progress-name--line-height);
  }
  .sf-upload-progress .sf-upload-progress-text {
    --sf-upload-progress-text--font-family: var(--sf-text--family);
    --sf-upload-progress-text--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-upload-progress-text--color);
    font-family: var(--sf-upload-progress-text--font-family);
    font-size: var(--sf-upload-progress-text--font-size);
    font-weight: var(--sf-upload-progress-text--font-weight);
    line-height: var(--sf-upload-progress-text--line-height);
  }
  .sf-upload-progress .sf-upload-progress-repeat {
    color: var(--sf-upload-progress-repeat--color);
    font-family: var(--sf-upload-progress-repeat--font-family);
    font-size: var(--sf-upload-progress-repeat--font-size);
    font-weight: var(--sf-upload-progress-repeat--font-weight);
    line-height: var(--sf-upload-progress-repeat--line-height);
  }
  /* utility-hint: flex/1 (.flex-1) */
  .sf-upload-progress.sf-upload-progress--size-1 .sf-progress-bar, .sf-upload-progress.sf-upload-progress--size-2 .sf-progress-bar {
    --sf-progress-bar--gap: var(--sf-space-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--size-1 .sf-upload-progress-content, .sf-upload-progress.sf-upload-progress--size-1\/3 .sf-upload-progress-content, .sf-upload-progress.sf-upload-progress--size-1\/2 .sf-upload-progress-content {
    --sf-upload-progress-content--gap: var(--sf-space-1\/4);
  }
  .sf-upload-progress.sf-upload-progress--size-1 .sf-upload-progress-name {
    --sf-upload-progress-name--font-size: var(--sf-text-size-1);
    --sf-upload-progress-name--line-height: var(--sf-text-height-1);
  }
  .sf-upload-progress.sf-upload-progress--process.sf-upload-progress--size-1\/3 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--done.sf-upload-progress--size-1\/3 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-1\/3 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--process.sf-upload-progress--size-1\/2 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--done.sf-upload-progress--size-1\/2 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-1\/2 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--size-1 .sf-upload-progress-top {
    --sf-upload-progress-top--gap: var(--sf-space-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--size-1 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-3);
    --sf-icon--height: var(--sf-text-size-3);
    --sf-icon--width: var(--sf-text-size-3);
  }
  .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-1 .sf-upload-progress-repeat {
    --sf-upload-progress-repeat--font-size: var(--sf-text-size-1);
    --sf-upload-progress-repeat--line-height: var(--sf-text-height-1);
  }
  .sf-upload-progress.sf-upload-progress--size-2 .sf-upload-progress-content {
    --sf-upload-progress-content--gap: var(--sf-space-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--size-2 .sf-upload-progress-name {
    --sf-upload-progress-name--font-size: var(--sf-text-size-2);
    --sf-upload-progress-name--line-height: var(--sf-text-height-2);
  }
  .sf-upload-progress.sf-upload-progress--size-2 .sf-upload-progress-top {
    --sf-upload-progress-top--gap: var(--sf-space-1\/2);
  }
  .sf-upload-progress.sf-upload-progress--size-2 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-4);
    --sf-icon--height: var(--sf-text-size-4);
    --sf-icon--width: var(--sf-text-size-4);
  }
  .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-2 .sf-upload-progress-repeat {
    --sf-upload-progress-repeat--font-size: var(--sf-text-size-2);
    --sf-upload-progress-repeat--line-height: var(--sf-text-height-2);
  }
  /* utility-hint: flex/1 (.flex-1) */
  .sf-upload-progress.sf-upload-progress--size-3 .sf-progress-bar {
    --sf-progress-bar--gap: var(--sf-space-1\/2);
  }
  .sf-upload-progress.sf-upload-progress--size-3 .sf-upload-progress-content {
    --sf-upload-progress-content--gap: var(--sf-space-1\/2);
  }
  .sf-upload-progress.sf-upload-progress--size-3 .sf-upload-progress-name {
    --sf-upload-progress-name--font-size: var(--sf-text-size-3);
    --sf-upload-progress-name--line-height: var(--sf-text-height-3);
  }
  .sf-upload-progress.sf-upload-progress--size-3 .sf-upload-progress-top {
    --sf-upload-progress-top--gap: var(--sf-space-1);
  }
  .sf-upload-progress.sf-upload-progress--size-3 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-5);
    --sf-icon--height: var(--sf-text-size-5);
    --sf-icon--width: var(--sf-text-size-5);
  }
  .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-3 .sf-upload-progress-repeat {
    --sf-upload-progress-repeat--font-size: var(--sf-text-size-3);
    --sf-upload-progress-repeat--line-height: var(--sf-text-height-3);
  }
  /* utility-hint: flex/1 (.flex-1) */
  .sf-upload-progress.sf-upload-progress--size-1\/3 .sf-progress-bar, .sf-upload-progress.sf-upload-progress--size-1\/2 .sf-progress-bar {
    --sf-progress-bar--gap: var(--sf-space-1\/4);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/3 .sf-upload-progress-name {
    --sf-upload-progress-name--font-size: var(--sf-text-size-1\/3);
    --sf-upload-progress-name--line-height: var(--sf-text-height-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/3 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-1);
    --sf-icon--height: var(--sf-text-size-1);
    --sf-icon--width: var(--sf-text-size-1);
  }
  .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-1\/3 .sf-upload-progress-repeat {
    --sf-upload-progress-repeat--font-size: var(--sf-text-size-1\/3);
    --sf-upload-progress-repeat--line-height: var(--sf-text-height-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/2 .sf-upload-progress-name {
    --sf-upload-progress-name--font-size: var(--sf-text-size-1\/2);
    --sf-upload-progress-name--line-height: var(--sf-text-height-1\/2);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/2 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-2);
    --sf-icon--height: var(--sf-text-size-2);
    --sf-icon--width: var(--sf-text-size-2);
  }
  .sf-upload-progress.sf-upload-progress--error.sf-upload-progress--size-1\/2 .sf-upload-progress-repeat {
    --sf-upload-progress-repeat--font-size: var(--sf-text-size-1\/2);
    --sf-upload-progress-repeat--line-height: var(--sf-text-height-1\/2);
  }
  .sf-upload-progress--size-1 {
    --sf-upload-progress--gap: var(--sf-space-1\/2);
  }
  .sf-upload-progress.sf-upload-progress--size-1 .sf-upload-progress-text {
    --sf-upload-progress-text--font-size: var(--sf-text-size-1\/2);
    --sf-upload-progress-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-upload-progress--size-2 {
    --sf-upload-progress--gap: var(--sf-space-1);
  }
  .sf-upload-progress.sf-upload-progress--size-2 .sf-upload-progress-text {
    --sf-upload-progress-text--font-size: var(--sf-text-size-1);
    --sf-upload-progress-text--line-height: var(--sf-text-height-1);
  }
  .sf-upload-progress--size-3 {
    --sf-upload-progress--gap: var(--sf-space-2);
  }
  .sf-upload-progress.sf-upload-progress--size-3 .sf-upload-progress-text {
    --sf-upload-progress-text--font-size: var(--sf-text-size-2);
    --sf-upload-progress-text--line-height: var(--sf-text-height-2);
  }
  .sf-upload-progress--size-1\/3, .sf-upload-progress--size-1\/2 {
    --sf-upload-progress--gap: var(--sf-space-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/3 .sf-upload-progress-text {
    --sf-upload-progress-text--font-size: var(--sf-text-size-1\/4);
    --sf-upload-progress-text--line-height: var(--sf-text-height-1\/4);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/3 .sf-upload-progress-top, .sf-upload-progress.sf-upload-progress--size-1\/2 .sf-upload-progress-top {
    --sf-upload-progress-top--gap: var(--sf-upload-progress--gap);
  }
  .sf-upload-progress.sf-upload-progress--size-1\/2 .sf-upload-progress-text {
    --sf-upload-progress-text--font-size: var(--sf-text-size-1\/3);
    --sf-upload-progress-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-upload-progress.sf-upload-progress--process .sf-icon, .sf-upload-progress.sf-upload-progress--done .sf-icon {
    --sf-icon--color: var(--sf-primary);
  }
  .sf-upload-progress.sf-upload-progress--process .sf-progress-bar-progress, .sf-upload-progress.sf-upload-progress--done .sf-progress-bar-progress {
    --sf-progress-bar-progress--border-end-end-radius: var(--sf-radius-1\/2);
    --sf-progress-bar-progress--border-end-start-radius: var(--sf-radius-1\/2);
    --sf-progress-bar-progress--border-start-end-radius: var(--sf-radius-1\/2);
    --sf-progress-bar-progress--border-start-start-radius: var(--sf-radius-1\/2);
  }
  .sf-upload-progress.sf-upload-progress--process .sf-upload-progress-text, .sf-upload-progress.sf-upload-progress--done .sf-upload-progress-text {
    --sf-upload-progress-text--color: var(--sf-on-surface-variant);
  }
  .sf-upload-progress.sf-upload-progress--error .sf-icon {
    --sf-icon--color: var(--sf-error);
  }
  .sf-upload-progress.sf-upload-progress--error .sf-upload-progress-repeat {
    --sf-upload-progress-repeat--color: var(--sf-on-surface);
    --sf-upload-progress-repeat--font-family: var(--sf-text--family);
    --sf-upload-progress-repeat--font-weight: var(--sf-font-weight-regular);
  }
  .sf-upload-progress.sf-upload-progress--error .sf-upload-progress-text {
    --sf-upload-progress-text--color: var(--sf-on-surface);
  }
}
@layer sf.overrides {
  .sf-upload-progress > .sf-upload-progress-content > .sf-upload-progress-top > .sf-icon-button.sf-icon-button--link.sf-icon-button--icon > .sf-icon {
    --sf-icon--color: var(--sf-on-surface-variant);
  }
}
