/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-b0) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  [dir="ltr"] .sf-reference-link {
    border-bottom-right-radius: var(--sf-radius-default);
    border-bottom-right-radius: var(--sf-reference-link--border-bottom-right-radius, var(--sf-radius-default));
  }
  [dir="rtl"] .sf-reference-link {
    border-bottom-left-radius: var(--sf-radius-default);
    border-bottom-left-radius: var(--sf-reference-link--border-bottom-right-radius, var(--sf-radius-default));
  }
  [dir="ltr"] .sf-reference-link {
    border-bottom-left-radius: var(--sf-radius-default);
    border-bottom-left-radius: var(--sf-reference-link--border-bottom-left-radius, var(--sf-radius-default));
  }
  [dir="rtl"] .sf-reference-link {
    border-bottom-right-radius: var(--sf-radius-default);
    border-bottom-right-radius: var(--sf-reference-link--border-bottom-left-radius, var(--sf-radius-default));
  }
  [dir="ltr"] .sf-reference-link {
    border-right-width: 1px;
    border-right-width: var(--sf-reference-link--border-right-width, 1px);
  }
  [dir="rtl"] .sf-reference-link {
    border-left-width: 1px;
    border-left-width: var(--sf-reference-link--border-right-width, 1px);
  }
  [dir="ltr"] .sf-reference-link {
    border-left-width: 1px;
    border-left-width: var(--sf-reference-link--border-left-width, 1px);
  }
  [dir="rtl"] .sf-reference-link {
    border-right-width: 1px;
    border-right-width: var(--sf-reference-link--border-left-width, 1px);
  }
  [dir="ltr"] .sf-reference-link {
    border-top-right-radius: var(--sf-radius-default);
    border-top-right-radius: var(--sf-reference-link--border-top-right-radius, var(--sf-radius-default));
  }
  [dir="rtl"] .sf-reference-link {
    border-top-left-radius: var(--sf-radius-default);
    border-top-left-radius: var(--sf-reference-link--border-top-right-radius, var(--sf-radius-default));
  }
  [dir="ltr"] .sf-reference-link {
    border-top-left-radius: var(--sf-radius-default);
    border-top-left-radius: var(--sf-reference-link--border-top-left-radius, var(--sf-radius-default));
  }
  [dir="rtl"] .sf-reference-link {
    border-top-right-radius: var(--sf-radius-default);
    border-top-right-radius: var(--sf-reference-link--border-top-left-radius, var(--sf-radius-default));
  }
  [dir="ltr"] .sf-reference-link {
    padding-right: var(--sf-space-1);
    padding-right: var(--sf-reference-link--padding-right, var(--sf-space-1));
  }
  [dir="rtl"] .sf-reference-link {
    padding-left: var(--sf-space-1);
    padding-left: var(--sf-reference-link--padding-right, var(--sf-space-1));
  }
  [dir="ltr"] .sf-reference-link {
    padding-left: var(--sf-space-1);
    padding-left: var(--sf-reference-link--padding-left, var(--sf-space-1));
  }
  [dir="rtl"] .sf-reference-link {
    padding-right: var(--sf-space-1);
    padding-right: var(--sf-reference-link--padding-left, var(--sf-space-1));
  }
  [dir="ltr"] .sf-reference-link {
    border-bottom-right-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-reference-link {
    border-bottom-left-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-reference-link {
    border-bottom-left-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-reference-link {
    border-bottom-right-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-reference-link {
    border-top-right-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-reference-link {
    border-top-left-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-reference-link {
    border-top-left-radius: var(--sf-radius-default);
  }
  [dir="rtl"] .sf-reference-link {
    border-top-right-radius: var(--sf-radius-default);
  }
  [dir="ltr"] .sf-reference-link {
    padding-right: var(--sf-space-1);
  }
  [dir="rtl"] .sf-reference-link {
    padding-left: var(--sf-space-1);
  }
  [dir="ltr"] .sf-reference-link {
    padding-left: var(--sf-space-1);
  }
  [dir="rtl"] .sf-reference-link {
    padding-right: var(--sf-space-1);
  }
  .sf-reference-link {
    background-color: transparent;
    background-color: var(--sf-reference-link--background-color, transparent);
    border-bottom-width: 1px;
    border-bottom-width: var(--sf-reference-link--border-bottom-width, 1px);
    border-end-end-radius: var(--sf-radius-default);
    border-end-end-radius: var(--sf-reference-link--border-bottom-right-radius, var(--sf-radius-default));
    border-end-start-radius: var(--sf-radius-default);
    border-end-start-radius: var(--sf-reference-link--border-bottom-left-radius, var(--sf-radius-default));
    border-inline-end-width: 1px;
    border-inline-end-width: var(--sf-reference-link--border-right-width, 1px);
    border-inline-start-width: 1px;
    border-inline-start-width: var(--sf-reference-link--border-left-width, 1px);
    border-start-end-radius: var(--sf-radius-default);
    border-start-end-radius: var(--sf-reference-link--border-top-right-radius, var(--sf-radius-default));
    border-start-start-radius: var(--sf-radius-default);
    border-start-start-radius: var(--sf-reference-link--border-top-left-radius, var(--sf-radius-default));
    border-style: solid;
    border-style: var(--sf-reference-link--border-style, solid);
    border-top-width: 1px;
    border-top-width: var(--sf-reference-link--border-top-width, 1px);
    border-width: 1px;
    border-width: var(--sf-reference-link--border-width, 1px);
    gap: var(--sf-b0);
    gap: var(--sf-reference-link--gap, var(--sf-b0));
    padding-bottom: var(--sf-space-1);
    padding-bottom: var(--sf-reference-link--padding-bottom, var(--sf-space-1));
    -webkit-padding-end: var(--sf-space-1);
            padding-inline-end: var(--sf-space-1);
    -webkit-padding-end: var(--sf-reference-link--padding-right, var(--sf-space-1));
            padding-inline-end: var(--sf-reference-link--padding-right, var(--sf-space-1));
    -webkit-padding-start: var(--sf-space-1);
            padding-inline-start: var(--sf-space-1);
    -webkit-padding-start: var(--sf-reference-link--padding-left, var(--sf-space-1));
            padding-inline-start: var(--sf-reference-link--padding-left, var(--sf-space-1));
    padding-top: var(--sf-space-1);
    padding-top: var(--sf-reference-link--padding-top, var(--sf-space-1));
    border-color: transparent;
    border-color: var(--sf-reference-link--border-color, transparent);
    --sf-reference-link--border-color: var(--sf-outline-variant);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-reference-link-left--gap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-reference-link .sf-reference-link-left {
    --sf-reference-link-left--background-color: transparent;
    --sf-reference-link-left--gap: var(--sf-space-1\/4);
    background-color: var(--sf-reference-link-left--background-color);
    color: var(--sf-reference-link-left--color);
    font-family: var(--sf-reference-link-left--font-family);
    font-size: var(--sf-reference-link-left--font-size);
    font-weight: var(--sf-reference-link-left--font-weight);
    gap: var(--sf-reference-link-left--gap);
    line-height: var(--sf-reference-link-left--line-height);
    --sf-reference-link-left--font-family: var(--sf-text--family);
    --sf-reference-link-left--font-size: var(--sf-text-size-1);
    --sf-reference-link-left--font-weight: var(--sf-font-weight-regular);
    --sf-reference-link-left--line-height: var(--sf-text-height-1);
  }
  .sf-reference-link .sf-reference-link-left > .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1);
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon--font-size);
    height: var(--sf-icon--height);
    width: var(--sf-icon--width);
  }
  .sf-reference-link .sf-reference-link-text {
    --sf-reference-link-text--color: var(--sf-on-surface-variant);
    --sf-reference-link-text--font-family: var(--sf-text--family);
    --sf-reference-link-text--font-size: var(--sf-text-size-1);
    --sf-reference-link-text--font-weight: var(--sf-font-weight-regular);
    --sf-reference-link-text--line-height: var(--sf-text-height-1);
    color: var(--sf-reference-link-text--color);
    font-family: var(--sf-reference-link-text--font-family);
    font-size: var(--sf-reference-link-text--font-size);
    font-weight: var(--sf-reference-link-text--font-weight);
    line-height: var(--sf-reference-link-text--line-height);
  }
  .sf-reference-link.disabled {
    --sf-reference-link--border-color: var(--sf-outline-disable);
  }
  .sf-reference-link.disabled .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-reference-link.disabled .sf-reference-link-left {
    --sf-reference-link-left--color: var(--sf-on-disable);
  }
  .sf-reference-link.disabled .sf-reference-link-text {
    --sf-reference-link-text--color: var(--sf-on-disable);
  }
}
