@layer sf.utilities {
  .min-w-min {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
  }
  .min-w-max {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .min-w-fit {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .min-w-full {
    min-width: 100%;
  }
  .min-w-0 {
    min-width: 0;
  }
}
