@layer sf.utilities {
  .focus\:underline:focus {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .focus\:overline:focus {
    -webkit-text-decoration-line: overline;
            text-decoration-line: overline;
  }
  .focus\:line-through:focus {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through;
  }
  .focus\:decoration-none:focus {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }
}
