@layer sf.utilities {
  .hover\:placeholder-transparent:hover::-webkit-input-placeholder {
    color: var(--sf-transparent);
  }
  .hover\:placeholder-transparent:hover::-moz-placeholder {
    color: var(--sf-transparent);
  }
  .hover\:placeholder-transparent:hover:-ms-input-placeholder {
    color: var(--sf-transparent);
  }
  .hover\:placeholder-transparent:hover::-ms-input-placeholder {
    color: var(--sf-transparent);
  }
  .hover\:placeholder-transparent:hover::placeholder {
    color: var(--sf-transparent);
  }
  .hover\:placeholder-inherit:hover::-webkit-input-placeholder {
    color: var(--sf-inherit);
  }
  .hover\:placeholder-inherit:hover::-moz-placeholder {
    color: var(--sf-inherit);
  }
  .hover\:placeholder-inherit:hover:-ms-input-placeholder {
    color: var(--sf-inherit);
  }
  .hover\:placeholder-inherit:hover::-ms-input-placeholder {
    color: var(--sf-inherit);
  }
  .hover\:placeholder-inherit:hover::placeholder {
    color: var(--sf-inherit);
  }
  .hover\:placeholder-on-surface:hover::-webkit-input-placeholder {
    color: var(--sf-on-surface);
  }
  .hover\:placeholder-on-surface:hover::-moz-placeholder {
    color: var(--sf-on-surface);
  }
  .hover\:placeholder-on-surface:hover:-ms-input-placeholder {
    color: var(--sf-on-surface);
  }
  .hover\:placeholder-on-surface:hover::-ms-input-placeholder {
    color: var(--sf-on-surface);
  }
  .hover\:placeholder-on-surface:hover::placeholder {
    color: var(--sf-on-surface);
  }
  .hover\:placeholder-on-surface-fixed:hover::-webkit-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .hover\:placeholder-on-surface-fixed:hover::-moz-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .hover\:placeholder-on-surface-fixed:hover:-ms-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .hover\:placeholder-on-surface-fixed:hover::-ms-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .hover\:placeholder-on-surface-fixed:hover::placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .hover\:placeholder-on-surface-variant:hover::-webkit-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .hover\:placeholder-on-surface-variant:hover::-moz-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .hover\:placeholder-on-surface-variant:hover:-ms-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .hover\:placeholder-on-surface-variant:hover::-ms-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .hover\:placeholder-on-surface-variant:hover::placeholder {
    color: var(--sf-on-surface-variant);
  }
  .hover\:placeholder-on-surface-inverse:hover::-webkit-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .hover\:placeholder-on-surface-inverse:hover::-moz-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .hover\:placeholder-on-surface-inverse:hover:-ms-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .hover\:placeholder-on-surface-inverse:hover::-ms-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .hover\:placeholder-on-surface-inverse:hover::placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .hover\:placeholder-on-surface-inverse-fixed:hover::-webkit-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .hover\:placeholder-on-surface-inverse-fixed:hover::-moz-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .hover\:placeholder-on-surface-inverse-fixed:hover:-ms-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .hover\:placeholder-on-surface-inverse-fixed:hover::-ms-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .hover\:placeholder-on-surface-inverse-fixed:hover::placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .hover\:placeholder-disable:hover::-webkit-input-placeholder {
    color: var(--sf-disable);
  }
  .hover\:placeholder-disable:hover::-moz-placeholder {
    color: var(--sf-disable);
  }
  .hover\:placeholder-disable:hover:-ms-input-placeholder {
    color: var(--sf-disable);
  }
  .hover\:placeholder-disable:hover::-ms-input-placeholder {
    color: var(--sf-disable);
  }
  .hover\:placeholder-disable:hover::placeholder {
    color: var(--sf-disable);
  }
  .hover\:placeholder-on-disable:hover::-webkit-input-placeholder {
    color: var(--sf-on-disable);
  }
  .hover\:placeholder-on-disable:hover::-moz-placeholder {
    color: var(--sf-on-disable);
  }
  .hover\:placeholder-on-disable:hover:-ms-input-placeholder {
    color: var(--sf-on-disable);
  }
  .hover\:placeholder-on-disable:hover::-ms-input-placeholder {
    color: var(--sf-on-disable);
  }
  .hover\:placeholder-on-disable:hover::placeholder {
    color: var(--sf-on-disable);
  }
  .hover\:placeholder-primary:hover::-webkit-input-placeholder {
    color: var(--sf-primary);
  }
  .hover\:placeholder-primary:hover::-moz-placeholder {
    color: var(--sf-primary);
  }
  .hover\:placeholder-primary:hover:-ms-input-placeholder {
    color: var(--sf-primary);
  }
  .hover\:placeholder-primary:hover::-ms-input-placeholder {
    color: var(--sf-primary);
  }
  .hover\:placeholder-primary:hover::placeholder {
    color: var(--sf-primary);
  }
  .hover\:placeholder-on-primary:hover::-webkit-input-placeholder {
    color: var(--sf-on-primary);
  }
  .hover\:placeholder-on-primary:hover::-moz-placeholder {
    color: var(--sf-on-primary);
  }
  .hover\:placeholder-on-primary:hover:-ms-input-placeholder {
    color: var(--sf-on-primary);
  }
  .hover\:placeholder-on-primary:hover::-ms-input-placeholder {
    color: var(--sf-on-primary);
  }
  .hover\:placeholder-on-primary:hover::placeholder {
    color: var(--sf-on-primary);
  }
  .hover\:placeholder-on-primary-container:hover::-webkit-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .hover\:placeholder-on-primary-container:hover::-moz-placeholder {
    color: var(--sf-on-primary-container);
  }
  .hover\:placeholder-on-primary-container:hover:-ms-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .hover\:placeholder-on-primary-container:hover::-ms-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .hover\:placeholder-on-primary-container:hover::placeholder {
    color: var(--sf-on-primary-container);
  }
  .hover\:placeholder-on-primary-container-graphic:hover::-webkit-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .hover\:placeholder-on-primary-container-graphic:hover::-moz-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .hover\:placeholder-on-primary-container-graphic:hover:-ms-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .hover\:placeholder-on-primary-container-graphic:hover::-ms-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .hover\:placeholder-on-primary-container-graphic:hover::placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .hover\:placeholder-secondary:hover::-webkit-input-placeholder {
    color: var(--sf-secondary);
  }
  .hover\:placeholder-secondary:hover::-moz-placeholder {
    color: var(--sf-secondary);
  }
  .hover\:placeholder-secondary:hover:-ms-input-placeholder {
    color: var(--sf-secondary);
  }
  .hover\:placeholder-secondary:hover::-ms-input-placeholder {
    color: var(--sf-secondary);
  }
  .hover\:placeholder-secondary:hover::placeholder {
    color: var(--sf-secondary);
  }
  .hover\:placeholder-on-secondary:hover::-webkit-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .hover\:placeholder-on-secondary:hover::-moz-placeholder {
    color: var(--sf-on-secondary);
  }
  .hover\:placeholder-on-secondary:hover:-ms-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .hover\:placeholder-on-secondary:hover::-ms-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .hover\:placeholder-on-secondary:hover::placeholder {
    color: var(--sf-on-secondary);
  }
  .hover\:placeholder-on-secondary-container:hover::-webkit-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .hover\:placeholder-on-secondary-container:hover::-moz-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .hover\:placeholder-on-secondary-container:hover:-ms-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .hover\:placeholder-on-secondary-container:hover::-ms-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .hover\:placeholder-on-secondary-container:hover::placeholder {
    color: var(--sf-on-secondary-container);
  }
  .hover\:placeholder-on-secondary-container-graphic:hover::-webkit-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .hover\:placeholder-on-secondary-container-graphic:hover::-moz-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .hover\:placeholder-on-secondary-container-graphic:hover:-ms-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .hover\:placeholder-on-secondary-container-graphic:hover::-ms-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .hover\:placeholder-on-secondary-container-graphic:hover::placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .hover\:placeholder-tertiary:hover::-webkit-input-placeholder {
    color: var(--sf-tertiary);
  }
  .hover\:placeholder-tertiary:hover::-moz-placeholder {
    color: var(--sf-tertiary);
  }
  .hover\:placeholder-tertiary:hover:-ms-input-placeholder {
    color: var(--sf-tertiary);
  }
  .hover\:placeholder-tertiary:hover::-ms-input-placeholder {
    color: var(--sf-tertiary);
  }
  .hover\:placeholder-tertiary:hover::placeholder {
    color: var(--sf-tertiary);
  }
  .hover\:placeholder-on-tertiary:hover::-webkit-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .hover\:placeholder-on-tertiary:hover::-moz-placeholder {
    color: var(--sf-on-tertiary);
  }
  .hover\:placeholder-on-tertiary:hover:-ms-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .hover\:placeholder-on-tertiary:hover::-ms-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .hover\:placeholder-on-tertiary:hover::placeholder {
    color: var(--sf-on-tertiary);
  }
  .hover\:placeholder-on-tertiary-container:hover::-webkit-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .hover\:placeholder-on-tertiary-container:hover::-moz-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .hover\:placeholder-on-tertiary-container:hover:-ms-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .hover\:placeholder-on-tertiary-container:hover::-ms-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .hover\:placeholder-on-tertiary-container:hover::placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .hover\:placeholder-on-tertiary-container-graphic:hover::-webkit-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .hover\:placeholder-on-tertiary-container-graphic:hover::-moz-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .hover\:placeholder-on-tertiary-container-graphic:hover:-ms-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .hover\:placeholder-on-tertiary-container-graphic:hover::-ms-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .hover\:placeholder-on-tertiary-container-graphic:hover::placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .hover\:placeholder-error:hover::-webkit-input-placeholder {
    color: var(--sf-error);
  }
  .hover\:placeholder-error:hover::-moz-placeholder {
    color: var(--sf-error);
  }
  .hover\:placeholder-error:hover:-ms-input-placeholder {
    color: var(--sf-error);
  }
  .hover\:placeholder-error:hover::-ms-input-placeholder {
    color: var(--sf-error);
  }
  .hover\:placeholder-error:hover::placeholder {
    color: var(--sf-error);
  }
  .hover\:placeholder-on-error:hover::-webkit-input-placeholder {
    color: var(--sf-on-error);
  }
  .hover\:placeholder-on-error:hover::-moz-placeholder {
    color: var(--sf-on-error);
  }
  .hover\:placeholder-on-error:hover:-ms-input-placeholder {
    color: var(--sf-on-error);
  }
  .hover\:placeholder-on-error:hover::-ms-input-placeholder {
    color: var(--sf-on-error);
  }
  .hover\:placeholder-on-error:hover::placeholder {
    color: var(--sf-on-error);
  }
  .hover\:placeholder-on-error-container:hover::-webkit-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .hover\:placeholder-on-error-container:hover::-moz-placeholder {
    color: var(--sf-on-error-container);
  }
  .hover\:placeholder-on-error-container:hover:-ms-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .hover\:placeholder-on-error-container:hover::-ms-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .hover\:placeholder-on-error-container:hover::placeholder {
    color: var(--sf-on-error-container);
  }
  .hover\:placeholder-on-error-container-graphic:hover::-webkit-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .hover\:placeholder-on-error-container-graphic:hover::-moz-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .hover\:placeholder-on-error-container-graphic:hover:-ms-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .hover\:placeholder-on-error-container-graphic:hover::-ms-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .hover\:placeholder-on-error-container-graphic:hover::placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .hover\:placeholder-warning:hover::-webkit-input-placeholder {
    color: var(--sf-warning);
  }
  .hover\:placeholder-warning:hover::-moz-placeholder {
    color: var(--sf-warning);
  }
  .hover\:placeholder-warning:hover:-ms-input-placeholder {
    color: var(--sf-warning);
  }
  .hover\:placeholder-warning:hover::-ms-input-placeholder {
    color: var(--sf-warning);
  }
  .hover\:placeholder-warning:hover::placeholder {
    color: var(--sf-warning);
  }
  .hover\:placeholder-on-warning:hover::-webkit-input-placeholder {
    color: var(--sf-on-warning);
  }
  .hover\:placeholder-on-warning:hover::-moz-placeholder {
    color: var(--sf-on-warning);
  }
  .hover\:placeholder-on-warning:hover:-ms-input-placeholder {
    color: var(--sf-on-warning);
  }
  .hover\:placeholder-on-warning:hover::-ms-input-placeholder {
    color: var(--sf-on-warning);
  }
  .hover\:placeholder-on-warning:hover::placeholder {
    color: var(--sf-on-warning);
  }
  .hover\:placeholder-on-warning-container:hover::-webkit-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .hover\:placeholder-on-warning-container:hover::-moz-placeholder {
    color: var(--sf-on-warning-container);
  }
  .hover\:placeholder-on-warning-container:hover:-ms-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .hover\:placeholder-on-warning-container:hover::-ms-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .hover\:placeholder-on-warning-container:hover::placeholder {
    color: var(--sf-on-warning-container);
  }
  .hover\:placeholder-on-warning-container-graphic:hover::-webkit-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .hover\:placeholder-on-warning-container-graphic:hover::-moz-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .hover\:placeholder-on-warning-container-graphic:hover:-ms-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .hover\:placeholder-on-warning-container-graphic:hover::-ms-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .hover\:placeholder-on-warning-container-graphic:hover::placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .hover\:placeholder-success:hover::-webkit-input-placeholder {
    color: var(--sf-success);
  }
  .hover\:placeholder-success:hover::-moz-placeholder {
    color: var(--sf-success);
  }
  .hover\:placeholder-success:hover:-ms-input-placeholder {
    color: var(--sf-success);
  }
  .hover\:placeholder-success:hover::-ms-input-placeholder {
    color: var(--sf-success);
  }
  .hover\:placeholder-success:hover::placeholder {
    color: var(--sf-success);
  }
  .hover\:placeholder-on-success:hover::-webkit-input-placeholder {
    color: var(--sf-on-success);
  }
  .hover\:placeholder-on-success:hover::-moz-placeholder {
    color: var(--sf-on-success);
  }
  .hover\:placeholder-on-success:hover:-ms-input-placeholder {
    color: var(--sf-on-success);
  }
  .hover\:placeholder-on-success:hover::-ms-input-placeholder {
    color: var(--sf-on-success);
  }
  .hover\:placeholder-on-success:hover::placeholder {
    color: var(--sf-on-success);
  }
  .hover\:placeholder-on-success-container:hover::-webkit-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .hover\:placeholder-on-success-container:hover::-moz-placeholder {
    color: var(--sf-on-success-container);
  }
  .hover\:placeholder-on-success-container:hover:-ms-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .hover\:placeholder-on-success-container:hover::-ms-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .hover\:placeholder-on-success-container:hover::placeholder {
    color: var(--sf-on-success-container);
  }
  .hover\:placeholder-on-success-container-graphic:hover::-webkit-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .hover\:placeholder-on-success-container-graphic:hover::-moz-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .hover\:placeholder-on-success-container-graphic:hover:-ms-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .hover\:placeholder-on-success-container-graphic:hover::-ms-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .hover\:placeholder-on-success-container-graphic:hover::placeholder {
    color: var(--sf-on-success-container-graphic);
  }
}
