@layer sf.utilities {
  @media (min-width: 82.5rem) {
    .xxl\:start-start {
      justify-content: flex-start;
      align-items: flex-start;
    }
    .xxl\:start-center {
      justify-content: flex-start;
      align-items: center;
    }
    .xxl\:start-end {
      justify-content: flex-start;
      align-items: flex-end;
    }
    .xxl\:center-start {
      justify-content: center;
      align-items: flex-start;
    }
    .xxl\:center-center {
      justify-content: center;
      align-items: center;
    }
    .xxl\:center-end {
      justify-content: center;
      align-items: flex-end;
    }
    .xxl\:end-start {
      justify-content: flex-end;
      align-items: flex-start;
    }
    .xxl\:end-center {
      justify-content: flex-end;
      align-items: center;
    }
    .xxl\:end-end {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
