@layer sf.utilities {
  .animation-duration-fast {
    -webkit-animation-duration: var(--sf-duration-fast);
            animation-duration: var(--sf-duration-fast);
  }
  .animation-duration-normal {
    -webkit-animation-duration: var(--sf-duration-normal);
            animation-duration: var(--sf-duration-normal);
  }
  .animation-duration-slow {
    -webkit-animation-duration: var(--sf-duration-slow);
            animation-duration: var(--sf-duration-slow);
  }
}
