@layer sf.utilities {
  .border-dotted {
    border-style: dotted;
  }
  .border-dashed {
    border-style: dashed;
  }
  .border-solid {
    border-style: solid;
  }
  .border-double {
    border-style: double;
  }
  .border-hidden {
    border-style: hidden;
  }
  .border-inset {
    border-style: inset;
  }
  .border-none {
    border-style: none;
  }
  [dir="ltr"] .border-inline-start-dotted {
    border-left-style: dotted;
  }
  [dir="rtl"] .border-inline-start-dotted {
    border-right-style: dotted;
  }
  .border-inline-start-dotted {
    border-inline-start-style: dotted;
  }
  [dir="ltr"] .border-inline-start-dashed {
    border-left-style: dashed;
  }
  [dir="rtl"] .border-inline-start-dashed {
    border-right-style: dashed;
  }
  .border-inline-start-dashed {
    border-inline-start-style: dashed;
  }
  [dir="ltr"] .border-inline-start-solid {
    border-left-style: solid;
  }
  [dir="rtl"] .border-inline-start-solid {
    border-right-style: solid;
  }
  .border-inline-start-solid {
    border-inline-start-style: solid;
  }
  [dir="ltr"] .border-inline-start-double {
    border-left-style: double;
  }
  [dir="rtl"] .border-inline-start-double {
    border-right-style: double;
  }
  .border-inline-start-double {
    border-inline-start-style: double;
  }
  [dir="ltr"] .border-inline-start-hidden {
    border-left-style: hidden;
  }
  [dir="rtl"] .border-inline-start-hidden {
    border-right-style: hidden;
  }
  .border-inline-start-hidden {
    border-inline-start-style: hidden;
  }
  [dir="ltr"] .border-inline-start-inset {
    border-left-style: inset;
  }
  [dir="rtl"] .border-inline-start-inset {
    border-right-style: inset;
  }
  .border-inline-start-inset {
    border-inline-start-style: inset;
  }
  [dir="ltr"] .border-inline-start-none {
    border-left-style: none;
  }
  [dir="rtl"] .border-inline-start-none {
    border-right-style: none;
  }
  .border-inline-start-none {
    border-inline-start-style: none;
  }
  [dir="ltr"] .border-inline-end-dotted {
    border-right-style: dotted;
  }
  [dir="rtl"] .border-inline-end-dotted {
    border-left-style: dotted;
  }
  .border-inline-end-dotted {
    border-inline-end-style: dotted;
  }
  [dir="ltr"] .border-inline-end-dashed {
    border-right-style: dashed;
  }
  [dir="rtl"] .border-inline-end-dashed {
    border-left-style: dashed;
  }
  .border-inline-end-dashed {
    border-inline-end-style: dashed;
  }
  [dir="ltr"] .border-inline-end-solid {
    border-right-style: solid;
  }
  [dir="rtl"] .border-inline-end-solid {
    border-left-style: solid;
  }
  .border-inline-end-solid {
    border-inline-end-style: solid;
  }
  [dir="ltr"] .border-inline-end-double {
    border-right-style: double;
  }
  [dir="rtl"] .border-inline-end-double {
    border-left-style: double;
  }
  .border-inline-end-double {
    border-inline-end-style: double;
  }
  [dir="ltr"] .border-inline-end-hidden {
    border-right-style: hidden;
  }
  [dir="rtl"] .border-inline-end-hidden {
    border-left-style: hidden;
  }
  .border-inline-end-hidden {
    border-inline-end-style: hidden;
  }
  [dir="ltr"] .border-inline-end-inset {
    border-right-style: inset;
  }
  [dir="rtl"] .border-inline-end-inset {
    border-left-style: inset;
  }
  .border-inline-end-inset {
    border-inline-end-style: inset;
  }
  [dir="ltr"] .border-inline-end-none {
    border-right-style: none;
  }
  [dir="rtl"] .border-inline-end-none {
    border-left-style: none;
  }
  .border-inline-end-none {
    border-inline-end-style: none;
  }
  .border-top-dotted {
    border-top-style: dotted;
  }
  .border-top-dashed {
    border-top-style: dashed;
  }
  .border-top-solid {
    border-top-style: solid;
  }
  .border-top-double {
    border-top-style: double;
  }
  .border-top-hidden {
    border-top-style: hidden;
  }
  .border-top-inset {
    border-top-style: inset;
  }
  .border-top-none {
    border-top-style: none;
  }
  .border-bottom-dotted {
    border-bottom-style: dotted;
  }
  .border-bottom-dashed {
    border-bottom-style: dashed;
  }
  .border-bottom-solid {
    border-bottom-style: solid;
  }
  .border-bottom-double {
    border-bottom-style: double;
  }
  .border-bottom-hidden {
    border-bottom-style: hidden;
  }
  .border-bottom-inset {
    border-bottom-style: inset;
  }
  .border-bottom-none {
    border-bottom-style: none;
  }
  [dir="ltr"] .border-x-dotted {
    border-left-style: dotted;
  }
  [dir="rtl"] .border-x-dotted {
    border-right-style: dotted;
  }
  [dir="ltr"] .border-x-dotted {
    border-right-style: dotted;
  }
  [dir="rtl"] .border-x-dotted {
    border-left-style: dotted;
  }
  .border-x-dotted {
    border-inline-start-style: dotted;
    border-inline-end-style: dotted;
  }
  [dir="ltr"] .border-x-dashed {
    border-left-style: dashed;
  }
  [dir="rtl"] .border-x-dashed {
    border-right-style: dashed;
  }
  [dir="ltr"] .border-x-dashed {
    border-right-style: dashed;
  }
  [dir="rtl"] .border-x-dashed {
    border-left-style: dashed;
  }
  .border-x-dashed {
    border-inline-start-style: dashed;
    border-inline-end-style: dashed;
  }
  [dir="ltr"] .border-x-solid {
    border-left-style: solid;
  }
  [dir="rtl"] .border-x-solid {
    border-right-style: solid;
  }
  [dir="ltr"] .border-x-solid {
    border-right-style: solid;
  }
  [dir="rtl"] .border-x-solid {
    border-left-style: solid;
  }
  .border-x-solid {
    border-inline-start-style: solid;
    border-inline-end-style: solid;
  }
  [dir="ltr"] .border-x-double {
    border-left-style: double;
  }
  [dir="rtl"] .border-x-double {
    border-right-style: double;
  }
  [dir="ltr"] .border-x-double {
    border-right-style: double;
  }
  [dir="rtl"] .border-x-double {
    border-left-style: double;
  }
  .border-x-double {
    border-inline-start-style: double;
    border-inline-end-style: double;
  }
  [dir="ltr"] .border-x-hidden {
    border-left-style: hidden;
  }
  [dir="rtl"] .border-x-hidden {
    border-right-style: hidden;
  }
  [dir="ltr"] .border-x-hidden {
    border-right-style: hidden;
  }
  [dir="rtl"] .border-x-hidden {
    border-left-style: hidden;
  }
  .border-x-hidden {
    border-inline-start-style: hidden;
    border-inline-end-style: hidden;
  }
  [dir="ltr"] .border-x-inset {
    border-left-style: inset;
  }
  [dir="rtl"] .border-x-inset {
    border-right-style: inset;
  }
  [dir="ltr"] .border-x-inset {
    border-right-style: inset;
  }
  [dir="rtl"] .border-x-inset {
    border-left-style: inset;
  }
  .border-x-inset {
    border-inline-start-style: inset;
    border-inline-end-style: inset;
  }
  [dir="ltr"] .border-x-none {
    border-left-style: none;
  }
  [dir="rtl"] .border-x-none {
    border-right-style: none;
  }
  [dir="ltr"] .border-x-none {
    border-right-style: none;
  }
  [dir="rtl"] .border-x-none {
    border-left-style: none;
  }
  .border-x-none {
    border-inline-start-style: none;
    border-inline-end-style: none;
  }
  .border-y-dotted {
    border-top-style: dotted;
    border-bottom-style: dotted;
  }
  .border-y-dashed {
    border-top-style: dashed;
    border-bottom-style: dashed;
  }
  .border-y-solid {
    border-top-style: solid;
    border-bottom-style: solid;
  }
  .border-y-double {
    border-top-style: double;
    border-bottom-style: double;
  }
  .border-y-hidden {
    border-top-style: hidden;
    border-bottom-style: hidden;
  }
  .border-y-inset {
    border-top-style: inset;
    border-bottom-style: inset;
  }
  .border-y-none {
    border-top-style: none;
    border-bottom-style: none;
  }
}
