@layer sf.utilities {
  @media (min-width: 82.5rem) {
    .xxl\:self-cross-auto {
      align-self: auto;
    }
    .xxl\:self-cross-start {
      align-self: start;
    }
    .xxl\:self-cross-end {
      align-self: end;
    }
    .xxl\:self-cross-center {
      align-self: center;
    }
    .xxl\:self-cross-stretch {
      align-self: stretch;
    }
    .xxl\:self-cross-baseline {
      align-self: baseline;
    }
  }
}
