@layer sf.utilities {
  .scroll-0,
  .scroll-thumb-0 {
    --sf-scroll-thumb-inset: var(--sf-0);
  }
  .scroll-1,
  .scroll-thumb-1 {
    --sf-scroll-thumb-inset: var(--sf-a4);
  }
  .scroll-2,
  .scroll-thumb-2 {
    --sf-scroll-thumb-inset: var(--sf-a3);
  }
  .scroll-3,
  .scroll-thumb-3 {
    --sf-scroll-thumb-inset: var(--sf-a2);
  }
  .scroll-4,
  .scroll-thumb-4 {
    --sf-scroll-thumb-inset: var(--sf-a1);
  }
}
