@layer sf.utilities {
  .top-0 {
    top: 0;
  }
  [dir="ltr"] .inline-end-0 {
    right: 0;
  }
  [dir="rtl"] .inline-end-0 {
    left: 0;
  }
  .inline-end-0 {
    inset-inline-end: 0;
  }
  .bottom-0 {
    bottom: 0;
  }
  [dir="ltr"] .inline-start-0 {
    left: 0;
  }
  [dir="rtl"] .inline-start-0 {
    right: 0;
  }
  .inline-start-0 {
    inset-inline-start: 0;
  }
  .top-auto {
    top: auto;
  }
  [dir="ltr"] .inline-end-auto {
    right: auto;
  }
  [dir="rtl"] .inline-end-auto {
    left: auto;
  }
  .inline-end-auto {
    inset-inline-end: auto;
  }
  .bottom-auto {
    bottom: auto;
  }
  [dir="ltr"] .inline-start-auto {
    left: auto;
  }
  [dir="rtl"] .inline-start-auto {
    right: auto;
  }
  .inline-start-auto {
    inset-inline-start: auto;
  }
  .top-1\/2 {
    top: 50%;
  }
  [dir="ltr"] .inline-end-1\/2 {
    right: 50%;
  }
  [dir="rtl"] .inline-end-1\/2 {
    left: 50%;
  }
  .inline-end-1\/2 {
    inset-inline-end: 50%;
  }
  .bottom-1\/2 {
    bottom: 50%;
  }
  [dir="ltr"] .inline-start-1\/2 {
    left: 50%;
  }
  [dir="rtl"] .inline-start-1\/2 {
    right: 50%;
  }
  .inline-start-1\/2 {
    inset-inline-start: 50%;
  }
  .top-1\/3 {
    top: 33.333333%;
  }
  [dir="ltr"] .inline-end-1\/3 {
    right: 33.333333%;
  }
  [dir="rtl"] .inline-end-1\/3 {
    left: 33.333333%;
  }
  .inline-end-1\/3 {
    inset-inline-end: 33.333333%;
  }
  .bottom-1\/3 {
    bottom: 33.333333%;
  }
  [dir="ltr"] .inline-start-1\/3 {
    left: 33.333333%;
  }
  [dir="rtl"] .inline-start-1\/3 {
    right: 33.333333%;
  }
  .inline-start-1\/3 {
    inset-inline-start: 33.333333%;
  }
  .top-2\/3 {
    top: 66.666667%;
  }
  [dir="ltr"] .inline-end-2\/3 {
    right: 66.666667%;
  }
  [dir="rtl"] .inline-end-2\/3 {
    left: 66.666667%;
  }
  .inline-end-2\/3 {
    inset-inline-end: 66.666667%;
  }
  .bottom-2\/3 {
    bottom: 66.666667%;
  }
  [dir="ltr"] .inline-start-2\/3 {
    left: 66.666667%;
  }
  [dir="rtl"] .inline-start-2\/3 {
    right: 66.666667%;
  }
  .inline-start-2\/3 {
    inset-inline-start: 66.666667%;
  }
  .top-1\/4 {
    top: 25%;
  }
  [dir="ltr"] .inline-end-1\/4 {
    right: 25%;
  }
  [dir="rtl"] .inline-end-1\/4 {
    left: 25%;
  }
  .inline-end-1\/4 {
    inset-inline-end: 25%;
  }
  .bottom-1\/4 {
    bottom: 25%;
  }
  [dir="ltr"] .inline-start-1\/4 {
    left: 25%;
  }
  [dir="rtl"] .inline-start-1\/4 {
    right: 25%;
  }
  .inline-start-1\/4 {
    inset-inline-start: 25%;
  }
  .top-2\/4 {
    top: 50%;
  }
  [dir="ltr"] .inline-end-2\/4 {
    right: 50%;
  }
  [dir="rtl"] .inline-end-2\/4 {
    left: 50%;
  }
  .inline-end-2\/4 {
    inset-inline-end: 50%;
  }
  .bottom-2\/4 {
    bottom: 50%;
  }
  [dir="ltr"] .inline-start-2\/4 {
    left: 50%;
  }
  [dir="rtl"] .inline-start-2\/4 {
    right: 50%;
  }
  .inline-start-2\/4 {
    inset-inline-start: 50%;
  }
  .top-3\/4 {
    top: 75%;
  }
  [dir="ltr"] .inline-end-3\/4 {
    right: 75%;
  }
  [dir="rtl"] .inline-end-3\/4 {
    left: 75%;
  }
  .inline-end-3\/4 {
    inset-inline-end: 75%;
  }
  .bottom-3\/4 {
    bottom: 75%;
  }
  [dir="ltr"] .inline-start-3\/4 {
    left: 75%;
  }
  [dir="rtl"] .inline-start-3\/4 {
    right: 75%;
  }
  .inline-start-3\/4 {
    inset-inline-start: 75%;
  }
  .top-1\/5 {
    top: 20%;
  }
  [dir="ltr"] .inline-end-1\/5 {
    right: 20%;
  }
  [dir="rtl"] .inline-end-1\/5 {
    left: 20%;
  }
  .inline-end-1\/5 {
    inset-inline-end: 20%;
  }
  .bottom-1\/5 {
    bottom: 20%;
  }
  [dir="ltr"] .inline-start-1\/5 {
    left: 20%;
  }
  [dir="rtl"] .inline-start-1\/5 {
    right: 20%;
  }
  .inline-start-1\/5 {
    inset-inline-start: 20%;
  }
  .top-2\/5 {
    top: 40%;
  }
  [dir="ltr"] .inline-end-2\/5 {
    right: 40%;
  }
  [dir="rtl"] .inline-end-2\/5 {
    left: 40%;
  }
  .inline-end-2\/5 {
    inset-inline-end: 40%;
  }
  .bottom-2\/5 {
    bottom: 40%;
  }
  [dir="ltr"] .inline-start-2\/5 {
    left: 40%;
  }
  [dir="rtl"] .inline-start-2\/5 {
    right: 40%;
  }
  .inline-start-2\/5 {
    inset-inline-start: 40%;
  }
  .top-3\/5 {
    top: 60%;
  }
  [dir="ltr"] .inline-end-3\/5 {
    right: 60%;
  }
  [dir="rtl"] .inline-end-3\/5 {
    left: 60%;
  }
  .inline-end-3\/5 {
    inset-inline-end: 60%;
  }
  .bottom-3\/5 {
    bottom: 60%;
  }
  [dir="ltr"] .inline-start-3\/5 {
    left: 60%;
  }
  [dir="rtl"] .inline-start-3\/5 {
    right: 60%;
  }
  .inline-start-3\/5 {
    inset-inline-start: 60%;
  }
  .top-4\/5 {
    top: 80%;
  }
  [dir="ltr"] .inline-end-4\/5 {
    right: 80%;
  }
  [dir="rtl"] .inline-end-4\/5 {
    left: 80%;
  }
  .inline-end-4\/5 {
    inset-inline-end: 80%;
  }
  .bottom-4\/5 {
    bottom: 80%;
  }
  [dir="ltr"] .inline-start-4\/5 {
    left: 80%;
  }
  [dir="rtl"] .inline-start-4\/5 {
    right: 80%;
  }
  .inline-start-4\/5 {
    inset-inline-start: 80%;
  }
  .top-1\/6 {
    top: 16.666667%;
  }
  [dir="ltr"] .inline-end-1\/6 {
    right: 16.666667%;
  }
  [dir="rtl"] .inline-end-1\/6 {
    left: 16.666667%;
  }
  .inline-end-1\/6 {
    inset-inline-end: 16.666667%;
  }
  .bottom-1\/6 {
    bottom: 16.666667%;
  }
  [dir="ltr"] .inline-start-1\/6 {
    left: 16.666667%;
  }
  [dir="rtl"] .inline-start-1\/6 {
    right: 16.666667%;
  }
  .inline-start-1\/6 {
    inset-inline-start: 16.666667%;
  }
  .top-2\/6 {
    top: 33.333333%;
  }
  [dir="ltr"] .inline-end-2\/6 {
    right: 33.333333%;
  }
  [dir="rtl"] .inline-end-2\/6 {
    left: 33.333333%;
  }
  .inline-end-2\/6 {
    inset-inline-end: 33.333333%;
  }
  .bottom-2\/6 {
    bottom: 33.333333%;
  }
  [dir="ltr"] .inline-start-2\/6 {
    left: 33.333333%;
  }
  [dir="rtl"] .inline-start-2\/6 {
    right: 33.333333%;
  }
  .inline-start-2\/6 {
    inset-inline-start: 33.333333%;
  }
  .top-3\/6 {
    top: 50%;
  }
  [dir="ltr"] .inline-end-3\/6 {
    right: 50%;
  }
  [dir="rtl"] .inline-end-3\/6 {
    left: 50%;
  }
  .inline-end-3\/6 {
    inset-inline-end: 50%;
  }
  .bottom-3\/6 {
    bottom: 50%;
  }
  [dir="ltr"] .inline-start-3\/6 {
    left: 50%;
  }
  [dir="rtl"] .inline-start-3\/6 {
    right: 50%;
  }
  .inline-start-3\/6 {
    inset-inline-start: 50%;
  }
  .top-4\/6 {
    top: 66.666667%;
  }
  [dir="ltr"] .inline-end-4\/6 {
    right: 66.666667%;
  }
  [dir="rtl"] .inline-end-4\/6 {
    left: 66.666667%;
  }
  .inline-end-4\/6 {
    inset-inline-end: 66.666667%;
  }
  .bottom-4\/6 {
    bottom: 66.666667%;
  }
  [dir="ltr"] .inline-start-4\/6 {
    left: 66.666667%;
  }
  [dir="rtl"] .inline-start-4\/6 {
    right: 66.666667%;
  }
  .inline-start-4\/6 {
    inset-inline-start: 66.666667%;
  }
  .top-5\/6 {
    top: 83.333333%;
  }
  [dir="ltr"] .inline-end-5\/6 {
    right: 83.333333%;
  }
  [dir="rtl"] .inline-end-5\/6 {
    left: 83.333333%;
  }
  .inline-end-5\/6 {
    inset-inline-end: 83.333333%;
  }
  .bottom-5\/6 {
    bottom: 83.333333%;
  }
  [dir="ltr"] .inline-start-5\/6 {
    left: 83.333333%;
  }
  [dir="rtl"] .inline-start-5\/6 {
    right: 83.333333%;
  }
  .inline-start-5\/6 {
    inset-inline-start: 83.333333%;
  }
  .top-1\/12 {
    top: 8.333333%;
  }
  [dir="ltr"] .inline-end-1\/12 {
    right: 8.333333%;
  }
  [dir="rtl"] .inline-end-1\/12 {
    left: 8.333333%;
  }
  .inline-end-1\/12 {
    inset-inline-end: 8.333333%;
  }
  .bottom-1\/12 {
    bottom: 8.333333%;
  }
  [dir="ltr"] .inline-start-1\/12 {
    left: 8.333333%;
  }
  [dir="rtl"] .inline-start-1\/12 {
    right: 8.333333%;
  }
  .inline-start-1\/12 {
    inset-inline-start: 8.333333%;
  }
  .top-2\/12 {
    top: 16.666667%;
  }
  [dir="ltr"] .inline-end-2\/12 {
    right: 16.666667%;
  }
  [dir="rtl"] .inline-end-2\/12 {
    left: 16.666667%;
  }
  .inline-end-2\/12 {
    inset-inline-end: 16.666667%;
  }
  .bottom-2\/12 {
    bottom: 16.666667%;
  }
  [dir="ltr"] .inline-start-2\/12 {
    left: 16.666667%;
  }
  [dir="rtl"] .inline-start-2\/12 {
    right: 16.666667%;
  }
  .inline-start-2\/12 {
    inset-inline-start: 16.666667%;
  }
  .top-3\/12 {
    top: 25%;
  }
  [dir="ltr"] .inline-end-3\/12 {
    right: 25%;
  }
  [dir="rtl"] .inline-end-3\/12 {
    left: 25%;
  }
  .inline-end-3\/12 {
    inset-inline-end: 25%;
  }
  .bottom-3\/12 {
    bottom: 25%;
  }
  [dir="ltr"] .inline-start-3\/12 {
    left: 25%;
  }
  [dir="rtl"] .inline-start-3\/12 {
    right: 25%;
  }
  .inline-start-3\/12 {
    inset-inline-start: 25%;
  }
  .top-4\/12 {
    top: 33.333333%;
  }
  [dir="ltr"] .inline-end-4\/12 {
    right: 33.333333%;
  }
  [dir="rtl"] .inline-end-4\/12 {
    left: 33.333333%;
  }
  .inline-end-4\/12 {
    inset-inline-end: 33.333333%;
  }
  .bottom-4\/12 {
    bottom: 33.333333%;
  }
  [dir="ltr"] .inline-start-4\/12 {
    left: 33.333333%;
  }
  [dir="rtl"] .inline-start-4\/12 {
    right: 33.333333%;
  }
  .inline-start-4\/12 {
    inset-inline-start: 33.333333%;
  }
  .top-5\/12 {
    top: 41.666667%;
  }
  [dir="ltr"] .inline-end-5\/12 {
    right: 41.666667%;
  }
  [dir="rtl"] .inline-end-5\/12 {
    left: 41.666667%;
  }
  .inline-end-5\/12 {
    inset-inline-end: 41.666667%;
  }
  .bottom-5\/12 {
    bottom: 41.666667%;
  }
  [dir="ltr"] .inline-start-5\/12 {
    left: 41.666667%;
  }
  [dir="rtl"] .inline-start-5\/12 {
    right: 41.666667%;
  }
  .inline-start-5\/12 {
    inset-inline-start: 41.666667%;
  }
  .top-6\/12 {
    top: 50%;
  }
  [dir="ltr"] .inline-end-6\/12 {
    right: 50%;
  }
  [dir="rtl"] .inline-end-6\/12 {
    left: 50%;
  }
  .inline-end-6\/12 {
    inset-inline-end: 50%;
  }
  .bottom-6\/12 {
    bottom: 50%;
  }
  [dir="ltr"] .inline-start-6\/12 {
    left: 50%;
  }
  [dir="rtl"] .inline-start-6\/12 {
    right: 50%;
  }
  .inline-start-6\/12 {
    inset-inline-start: 50%;
  }
  .top-7\/12 {
    top: 58.333333%;
  }
  [dir="ltr"] .inline-end-7\/12 {
    right: 58.333333%;
  }
  [dir="rtl"] .inline-end-7\/12 {
    left: 58.333333%;
  }
  .inline-end-7\/12 {
    inset-inline-end: 58.333333%;
  }
  .bottom-7\/12 {
    bottom: 58.333333%;
  }
  [dir="ltr"] .inline-start-7\/12 {
    left: 58.333333%;
  }
  [dir="rtl"] .inline-start-7\/12 {
    right: 58.333333%;
  }
  .inline-start-7\/12 {
    inset-inline-start: 58.333333%;
  }
  .top-8\/12 {
    top: 66.666667%;
  }
  [dir="ltr"] .inline-end-8\/12 {
    right: 66.666667%;
  }
  [dir="rtl"] .inline-end-8\/12 {
    left: 66.666667%;
  }
  .inline-end-8\/12 {
    inset-inline-end: 66.666667%;
  }
  .bottom-8\/12 {
    bottom: 66.666667%;
  }
  [dir="ltr"] .inline-start-8\/12 {
    left: 66.666667%;
  }
  [dir="rtl"] .inline-start-8\/12 {
    right: 66.666667%;
  }
  .inline-start-8\/12 {
    inset-inline-start: 66.666667%;
  }
  .top-9\/12 {
    top: 75%;
  }
  [dir="ltr"] .inline-end-9\/12 {
    right: 75%;
  }
  [dir="rtl"] .inline-end-9\/12 {
    left: 75%;
  }
  .inline-end-9\/12 {
    inset-inline-end: 75%;
  }
  .bottom-9\/12 {
    bottom: 75%;
  }
  [dir="ltr"] .inline-start-9\/12 {
    left: 75%;
  }
  [dir="rtl"] .inline-start-9\/12 {
    right: 75%;
  }
  .inline-start-9\/12 {
    inset-inline-start: 75%;
  }
  .top-10\/12 {
    top: 83.333333%;
  }
  [dir="ltr"] .inline-end-10\/12 {
    right: 83.333333%;
  }
  [dir="rtl"] .inline-end-10\/12 {
    left: 83.333333%;
  }
  .inline-end-10\/12 {
    inset-inline-end: 83.333333%;
  }
  .bottom-10\/12 {
    bottom: 83.333333%;
  }
  [dir="ltr"] .inline-start-10\/12 {
    left: 83.333333%;
  }
  [dir="rtl"] .inline-start-10\/12 {
    right: 83.333333%;
  }
  .inline-start-10\/12 {
    inset-inline-start: 83.333333%;
  }
  .top-11\/12 {
    top: 91.666667%;
  }
  [dir="ltr"] .inline-end-11\/12 {
    right: 91.666667%;
  }
  [dir="rtl"] .inline-end-11\/12 {
    left: 91.666667%;
  }
  .inline-end-11\/12 {
    inset-inline-end: 91.666667%;
  }
  .bottom-11\/12 {
    bottom: 91.666667%;
  }
  [dir="ltr"] .inline-start-11\/12 {
    left: 91.666667%;
  }
  [dir="rtl"] .inline-start-11\/12 {
    right: 91.666667%;
  }
  .inline-start-11\/12 {
    inset-inline-start: 91.666667%;
  }
  .top-full {
    top: 100%;
  }
  [dir="ltr"] .inline-end-full {
    right: 100%;
  }
  [dir="rtl"] .inline-end-full {
    left: 100%;
  }
  .inline-end-full {
    inset-inline-end: 100%;
  }
  .bottom-full {
    bottom: 100%;
  }
  [dir="ltr"] .inline-start-full {
    left: 100%;
  }
  [dir="rtl"] .inline-start-full {
    right: 100%;
  }
  .inline-start-full {
    inset-inline-start: 100%;
  }
  [dir="ltr"] .inset-0 {
    right: 0;
  }
  [dir="rtl"] .inset-0 {
    left: 0;
  }
  [dir="ltr"] .inset-0 {
    left: 0;
  }
  [dir="rtl"] .inset-0 {
    right: 0;
  }
  .inset-0 {
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
  }
  [dir="ltr"] .inset-x-0 {
    right: 0;
  }
  [dir="rtl"] .inset-x-0 {
    left: 0;
  }
  [dir="ltr"] .inset-x-0 {
    left: 0;
  }
  [dir="rtl"] .inset-x-0 {
    right: 0;
  }
  .inset-x-0 {
    inset-inline-end: 0;
    inset-inline-start: 0;
  }
  .inset-y-0 {
    top: 0;
    bottom: 0;
  }
  [dir="ltr"] .inset-center {
    left: 50%;
  }
  [dir="rtl"] .inset-center {
    right: 50%;
  }
  .inset-center {
    inset-inline-start: 50%;
    top: 50%;
  }
}
