/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-radio-button {
    background-color: transparent;
    background-color: var(--sf-radio-button--background-color, transparent);
    gap: var(--sf-radio-button--gap);
  }
  .sf-radio-button > .sf-radio-button-container > .sf-radio-button-top > .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-icon-size-3));
    height: var(--sf-icon-size-3);
    height: var(--sf-icon--height, var(--sf-icon-size-3));
    width: var(--sf-icon-size-3);
    width: var(--sf-icon--width, var(--sf-icon-size-3));
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-radio-button-box--gap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-radio-button .sf-radio-button-box {
    border-bottom-right-radius: var(--sf-radio-button-box--border-end-end-radius);
  }
  [dir="rtl"] .sf-radio-button .sf-radio-button-box {
    border-bottom-left-radius: var(--sf-radio-button-box--border-end-end-radius);
  }
  [dir="ltr"] .sf-radio-button .sf-radio-button-box {
    border-bottom-left-radius: var(--sf-radio-button-box--border-end-start-radius);
  }
  [dir="rtl"] .sf-radio-button .sf-radio-button-box {
    border-bottom-right-radius: var(--sf-radio-button-box--border-end-start-radius);
  }
  [dir="ltr"] .sf-radio-button .sf-radio-button-box {
    border-top-right-radius: var(--sf-radio-button-box--border-start-end-radius);
  }
  [dir="rtl"] .sf-radio-button .sf-radio-button-box {
    border-top-left-radius: var(--sf-radio-button-box--border-start-end-radius);
  }
  [dir="ltr"] .sf-radio-button .sf-radio-button-box {
    border-top-left-radius: var(--sf-radio-button-box--border-start-start-radius);
  }
  [dir="rtl"] .sf-radio-button .sf-radio-button-box {
    border-top-right-radius: var(--sf-radio-button-box--border-start-start-radius);
  }
  .sf-radio-button .sf-radio-button-box {
    --sf-radio-button-box--background-color: transparent;
    --sf-radio-button-box--border: 1px solid;
    --sf-radio-button-box--border-color: var(--sf-outline);
    --sf-radio-button-box--border-end-end-radius: var(--sf-radius-circle);
    --sf-radio-button-box--border-end-start-radius: var(--sf-radius-circle);
    --sf-radio-button-box--border-start-end-radius: var(--sf-radius-circle);
    --sf-radio-button-box--border-start-start-radius: var(--sf-radius-circle);
    --sf-radio-button-box--border-style: solid;
    --sf-radio-button-box--border-width: 1px;
    --sf-radio-button-box--gap: var(--sf-a0);
    background-color: var(--sf-radio-button-box--background-color);
    border: var(--sf-radio-button-box--border);
    border-color: transparent;
    border-color: var(--sf-radio-button-box--border-color, transparent);
    border-end-end-radius: var(--sf-radio-button-box--border-end-end-radius);
    border-end-start-radius: var(--sf-radio-button-box--border-end-start-radius);
    border-start-end-radius: var(--sf-radio-button-box--border-start-end-radius);
    border-start-start-radius: var(--sf-radio-button-box--border-start-start-radius);
    border-style: solid;
    border-style: var(--sf-radio-button-box--border-style, solid);
    border-width: var(--sf-radio-button-box--border-width);
    box-shadow: var(--sf-radio-button-box--box-shadow);
    gap: var(--sf-radio-button-box--gap);
    height: var(--sf-radio-button-box--height);
    width: var(--sf-radio-button-box--width);
  }
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-radio-button .sf-radio-button-container {
    --sf-radio-button-container--background-color: transparent;
    background-color: var(--sf-radio-button-container--background-color);
  }
  .sf-radio-button .sf-radio-button-description {
    --sf-radio-button-description--color: var(--sf-on-surface-variant);
    --sf-radio-button-description--font-family: var(--sf-text--family);
    --sf-radio-button-description--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-radio-button-description--color);
    font-family: var(--sf-radio-button-description--font-family);
    font-size: var(--sf-radio-button-description--font-size);
    font-weight: var(--sf-radio-button-description--font-weight);
    line-height: var(--sf-radio-button-description--line-height);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) gap/var(--sf-radio-button-top--gap) */
  .sf-radio-button .sf-radio-button-top {
    --sf-radio-button-top--background-color: transparent;
    background-color: var(--sf-radio-button-top--background-color);
    gap: var(--sf-radio-button-top--gap);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-radio-button .sf-radio-button-text {
    --sf-radio-button-text--background-color: transparent;
    background-color: var(--sf-radio-button-text--background-color);
    color: var(--sf-radio-button-text--color);
    font-family: var(--sf-radio-button-text--font-family);
    font-size: var(--sf-radio-button-text--font-size);
    font-weight: var(--sf-radio-button-text--font-weight);
    line-height: var(--sf-radio-button-text--line-height);
    --sf-radio-button-text--color: var(--sf-on-surface);
  }
  .sf-radio-button .sf-radio-button-mark {
    background-color: var(--sf-radio-button-mark--background-color);
    border-radius: var(--sf-radio-button-mark--border-radius);
    height: var(--sf-radio-button-mark--height);
    width: var(--sf-radio-button-mark--width);
  }
  .sf-radio-button.sf-radio-button--size-1 .sf-radio-button-box {
    --sf-radio-button-box--height: var(--sf-text-height-1);
    --sf-radio-button-box--width: var(--sf-text-height-1);
  }
  .sf-radio-button.sf-radio-button--size-1 .sf-radio-button-description {
    --sf-radio-button-description--font-size: var(--sf-text-size-1\/2);
    --sf-radio-button-description--line-height: var(--sf-text-height-1\/2);
  }
  .sf-radio-button.sf-radio-button--size-1 .sf-radio-button-text {
    --sf-radio-button-text--font-size: var(--sf-text-size-1);
    --sf-radio-button-text--line-height: var(--sf-text-height-1);
  }
  .sf-radio-button.sf-radio-button--size-1 .sf-radio-button-text, .sf-radio-button.sf-radio-button--size-1\/3 .sf-radio-button-text {
    --sf-radio-button-text--font-family: var(--sf-text--family);
    --sf-radio-button-text--font-weight: var(--sf-font-weight-medium);
  }
  .sf-radio-button.sf-radio-button--size-1 .sf-radio-button-top {
    --sf-radio-button-top--gap: var(--sf-space-1\/4);
  }
  .sf-radio-button.sf-radio-button--size-1[\:has\(input\:checked\)] .sf-radio-button-mark {
    --sf-radio-button-mark--height: var(--sf-b2);
    --sf-radio-button-mark--width: var(--sf-b2);
  }
  .sf-radio-button.sf-radio-button--size-1:has(input:checked) .sf-radio-button-mark {
    --sf-radio-button-mark--height: var(--sf-b2);
    --sf-radio-button-mark--width: var(--sf-b2);
  }
  .sf-radio-button[\:has\(input\:disabled\)] .sf-radio-button-text {
    --sf-radio-button-text--color: var(--sf-disable);
  }
  .sf-radio-button:has(input:disabled) .sf-radio-button-text {
    --sf-radio-button-text--color: var(--sf-disable);
  }
  .sf-radio-button.sf-radio-button--size-1\/3 .sf-radio-button-box {
    --sf-radio-button-box--height: var(--sf-text-height-1\/3);
    --sf-radio-button-box--width: var(--sf-text-height-1\/3);
  }
  .sf-radio-button.sf-radio-button--size-1\/3 > .sf-radio-button-container > .sf-radio-button-top > .sf-icon {
    --sf-icon--font-size: var(--sf-icon-size-1);
    --sf-icon--height: var(--sf-icon-size-1);
    --sf-icon--width: var(--sf-icon-size-1);
  }
  .sf-radio-button.sf-radio-button--size-1\/3 .sf-radio-button-description {
    --sf-radio-button-description--font-size: var(--sf-text-size-1\/4);
    --sf-radio-button-description--line-height: var(--sf-text-height-1\/4);
  }
  .sf-radio-button.sf-radio-button--size-1\/3 .sf-radio-button-text {
    --sf-radio-button-text--font-size: var(--sf-text-size-1\/3);
    --sf-radio-button-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-radio-button.sf-radio-button--size-1\/3 .sf-radio-button-top {
    --sf-radio-button-top--gap: var(--sf-space-0);
  }
  .sf-radio-button.sf-radio-button--size-1\/3[\:has\(input\:checked\)] .sf-radio-button-mark {
    --sf-radio-button-mark--height: var(--sf-a8);
    --sf-radio-button-mark--width: var(--sf-a8);
  }
  .sf-radio-button.sf-radio-button--size-1\/3:has(input:checked) .sf-radio-button-mark {
    --sf-radio-button-mark--height: var(--sf-a8);
    --sf-radio-button-mark--width: var(--sf-a8);
  }
  .sf-radio-button--size-1 {
    --sf-radio-button--gap: var(--sf-space-1\/3);
  }
  .sf-radio-button--size-1\/3 {
    --sf-radio-button--gap: var(--sf-space-1\/4);
  }
  .sf-radio-button[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-primary-hover);
  }
  .sf-radio-button:has(input:enabled:not(:disabled):not(.disabled):hover) .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-primary-hover);
  }
  .sf-radio-button[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\)]:hover {
    --sf-radio-button--background-color: var(--sf-surface-container-hover);
  }
  .sf-radio-button:has(input:enabled:not(:disabled):not(.disabled)):hover {
    --sf-radio-button--background-color: var(--sf-surface-container-hover);
  }
  .sf-radio-button[\:has\(input\:checked\)] .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-primary);
  }
  .sf-radio-button:has(input:checked) .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-primary);
  }
  .sf-radio-button[\:has\(input\:checked\)] .sf-radio-button-mark {
    --sf-radio-button-mark--background-color: var(--sf-primary);
    --sf-radio-button-mark--border-radius: var(--sf-radius-circle);
  }
  .sf-radio-button:has(input:checked) .sf-radio-button-mark {
    --sf-radio-button-mark--background-color: var(--sf-primary);
    --sf-radio-button-mark--border-radius: var(--sf-radius-circle);
  }
  .sf-radio-button[\:has\(input\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] .sf-radio-button-box,
  .sf-radio-button[\:has\(input\:not\(\:disabled\)\:not\(.disabled\).focus-visible\)] .sf-radio-button-box {
    --sf-radio-button-box--background-color: var(--sf-transparent-for-focus);
    --sf-radio-button-box--box-shadow: var(--sf-ui-focus);
  }
  .sf-radio-button:has(input:not(:disabled):not(.disabled):focus) .sf-radio-button-box,
  .sf-radio-button:has(input:not(:disabled):not(.disabled).focus-visible) .sf-radio-button-box {
    --sf-radio-button-box--background-color: var(--sf-transparent-for-focus);
    --sf-radio-button-box--box-shadow: var(--sf-ui-focus);
  }
  .sf-radio-button[\:has\(input\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] .sf-radio-button-box,
  .sf-radio-button[\:has\(input\:not\(\:disabled\)\:not\(.disabled\)\:focus-visible\)] .sf-radio-button-box {
    --sf-radio-button-box--background-color: var(--sf-transparent-for-focus);
    --sf-radio-button-box--box-shadow: var(--sf-ui-focus);
  }
  .sf-radio-button:has(input:not(:disabled):not(.disabled):focus) .sf-radio-button-box,
  .sf-radio-button:has(input:not(:disabled):not(.disabled):focus-visible) .sf-radio-button-box {
    --sf-radio-button-box--background-color: var(--sf-transparent-for-focus);
    --sf-radio-button-box--box-shadow: var(--sf-ui-focus);
  }
  .sf-radio-button[\:has\(input\:disabled\)] .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-outline-disable);
  }
  .sf-radio-button:has(input:disabled) .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-outline-disable);
  }
  .sf-radio-button[\:has\(input\:disabled\)] > .sf-radio-button-container > .sf-radio-button-top > .sf-icon {
    --sf-icon--color: var(--sf-disable);
  }
  .sf-radio-button:has(input:disabled) > .sf-radio-button-container > .sf-radio-button-top > .sf-icon {
    --sf-icon--color: var(--sf-disable);
  }
  .sf-radio-button[\:has\(input\:disabled\)] .sf-radio-button-description {
    --sf-radio-button-description--color: var(--sf-disable);
  }
  .sf-radio-button:has(input:disabled) .sf-radio-button-description {
    --sf-radio-button-description--color: var(--sf-disable);
  }
  .sf-radio-button.error .sf-radio-button-box {
    --sf-radio-button-box--border-color: var(--sf-error);
  }
}
@layer sf.components {
  .sf-radio-button .sf-radio-button-box {
    position: relative;
  }
  .sf-radio-button .sf-radio-button-box > input[type=radio] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    margin: 0;
    opacity: 0;
    cursor: inherit;
  }
  .sf-radio-button .sf-radio-button-text {
    white-space: nowrap;
    white-space: var(--sf-radio-button-text--white-space, nowrap);
  }
  .sf-radio-group--font {
    gap: var(--sf-space-1\/4);
  }
}
