/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  .sf-range-slider {
    min-height: var(--sf-text-size-3);
    min-height: var(--sf-thumb-handle--height, var(--sf-text-size-3));
    position: relative;
    touch-action: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .sf-range-slider .sf-range-slider-base {
    height: var(--sf-text-size-3);
    height: var(--sf-thumb-handle--height, var(--sf-text-size-3));
    position: relative;
    width: 100%;
  }
  .sf-range-slider .sf-range-slider-track {
    left: 0;
    right: 0;
    inset-inline: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 0;
  }
  .sf-range-slider .sf-range-slider-progress {
    height: var(--sf-space-1\/3);
    height: var(--sf-range-slider-track--height, var(--sf-space-1\/3));
    left: 0;
    right: 0;
    inset-inline: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
  }
  .sf-range-slider .sf-range-slider-progress-line,
  .sf-range-slider .sf-range-slider-origin {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform-style: flat;
            transform-style: flat;
    width: 100%;
    will-change: transform;
  }
  .sf-range-slider .sf-range-slider-handle {
    background: transparent;
    border: 0;
    box-shadow: none;
    cursor: -webkit-grab;
    cursor: grab;
    height: var(--sf-text-size-3);
    height: var(--sf-thumb-handle--height, var(--sf-text-size-3));
    outline: none;
    position: absolute;
    top: 0;
    width: var(--sf-text-size-3);
    width: var(--sf-thumb-handle--width, var(--sf-text-size-3));
    z-index: 2;
  }
  .sf-range-slider .sf-range-slider-touch-area {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0;
    cursor: inherit;
    position: absolute;
  }
  .sf-range-slider .sf-range-slider-handle-lower {
    right: calc(var(--sf-text-size-3) / -2);
    right: calc(var(--sf-thumb-handle--width, var(--sf-text-size-3)) / -2);
  }
  .sf-range-slider .sf-range-slider-handle-upper {
    right: calc(var(--sf-text-size-3) / -2);
    right: calc(var(--sf-thumb-handle--width, var(--sf-text-size-3)) / -2);
  }
  .sf-range-slider .sf-range-slider-origin {
    height: 0;
    position: absolute;
  }
  .sf-range-slider .sf-range-slider-visual {
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .sf-range-slider .sf-thumb--label-tooltip {
    position: relative;
  }
  .sf-range-slider .sf-thumb--label-text {
    position: relative;
  }
  .sf-range-slider .sf-thumb--label-tooltip .sf-tooltip,
  .sf-range-slider .sf-thumb--label-text .sf-thumb-text {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    white-space: nowrap;
  }
  .sf-range-slider .sf-thumb--position-top.sf-thumb--label-tooltip .sf-tooltip,
  .sf-range-slider .sf-thumb--position-top.sf-thumb--label-text .sf-thumb-text {
    bottom: calc(100% + var(--sf-space-1\/4));
  }
  .sf-range-slider .sf-thumb--position-bottom.sf-thumb--label-tooltip .sf-tooltip,
  .sf-range-slider .sf-thumb--position-bottom.sf-thumb--label-text .sf-thumb-text {
    top: calc(100% + var(--sf-space-1\/4));
  }
  .sf-range-slider .sf-range-slider-handle .sf-thumb-inner {
    transition-property: all;
  }
  .sf-range-slider.disabled .sf-range-slider-handle.sf-thumb,
  .sf-range-slider[disabled] .sf-range-slider-handle.sf-thumb,
  .sf-range-slider.disabled .sf-range-slider-handle,
  .sf-range-slider[disabled] .sf-range-slider-handle {
    cursor: default;
  }
}
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-thumb {
    background-color: transparent;
    background-color: var(--sf-thumb--background-color, transparent);
    gap: var(--sf-space-1\/4);
    gap: var(--sf-thumb--gap, var(--sf-space-1\/4));
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-thumb .sf-thumb-handle {
    border-bottom-right-radius: var(--sf-thumb-handle--border-end-end-radius);
  }
  [dir="rtl"] .sf-thumb .sf-thumb-handle {
    border-bottom-left-radius: var(--sf-thumb-handle--border-end-end-radius);
  }
  [dir="ltr"] .sf-thumb .sf-thumb-handle {
    border-bottom-left-radius: var(--sf-thumb-handle--border-end-start-radius);
  }
  [dir="rtl"] .sf-thumb .sf-thumb-handle {
    border-bottom-right-radius: var(--sf-thumb-handle--border-end-start-radius);
  }
  [dir="ltr"] .sf-thumb .sf-thumb-handle {
    border-top-right-radius: var(--sf-thumb-handle--border-start-end-radius);
  }
  [dir="rtl"] .sf-thumb .sf-thumb-handle {
    border-top-left-radius: var(--sf-thumb-handle--border-start-end-radius);
  }
  [dir="ltr"] .sf-thumb .sf-thumb-handle {
    border-top-left-radius: var(--sf-thumb-handle--border-start-start-radius);
  }
  [dir="rtl"] .sf-thumb .sf-thumb-handle {
    border-top-right-radius: var(--sf-thumb-handle--border-start-start-radius);
  }
  .sf-thumb .sf-thumb-handle {
    --sf-thumb-handle--background-color: var(--sf-primary);
    --sf-thumb-handle--border-end-end-radius: var(--sf-radius-circle);
    --sf-thumb-handle--border-end-start-radius: var(--sf-radius-circle);
    --sf-thumb-handle--border-start-end-radius: var(--sf-radius-circle);
    --sf-thumb-handle--border-start-start-radius: var(--sf-radius-circle);
    --sf-thumb-handle--height: var(--sf-text-size-3);
    --sf-thumb-handle--width: var(--sf-text-size-3);
    background-color: var(--sf-thumb-handle--background-color);
    border-end-end-radius: var(--sf-thumb-handle--border-end-end-radius);
    border-end-start-radius: var(--sf-thumb-handle--border-end-start-radius);
    border-start-end-radius: var(--sf-thumb-handle--border-start-end-radius);
    border-start-start-radius: var(--sf-thumb-handle--border-start-start-radius);
    box-shadow: var(--sf-thumb-handle--box-shadow);
    height: var(--sf-thumb-handle--height);
    width: var(--sf-thumb-handle--width);
  }
  .sf-thumb .sf-thumb-inner {
    --sf-thumb-inner--background-color: var(--sf-surface-0);
    --sf-thumb-inner--border-radius: var(--sf-radius-circle);
    --sf-thumb-inner--height: var(--sf-text-size-1\/2);
    --sf-thumb-inner--width: var(--sf-text-size-1\/2);
    background-color: var(--sf-thumb-inner--background-color);
    border-radius: var(--sf-thumb-inner--border-radius);
    height: var(--sf-thumb-inner--height);
    width: var(--sf-thumb-inner--width);
  }
  .sf-thumb .sf-thumb-text {
    color: var(--sf-thumb-text--color);
    font-family: var(--sf-thumb-text--font-family);
    font-size: var(--sf-thumb-text--font-size);
    font-weight: var(--sf-thumb-text--font-weight);
    line-height: var(--sf-thumb-text--line-height);
  }
  .sf-thumb .sf-tooltip-content {
    box-shadow: var(--sf-tooltip-content--box-shadow);
  }
  .sf-thumb .sf-tooltip-text {
    font-weight: var(--sf-tooltip-text--font-weight);
  }
  .sf-thumb.sf-thumb--label-tooltip .sf-tooltip-content {
    --sf-tooltip-content--box-shadow: var(--sf-ui-shadow-1);
  }
  .sf-thumb.sf-thumb--label-tooltip .sf-tooltip-text {
    --sf-tooltip-text--font-weight: var(--sf-font-weight-regular);
  }
  .sf-thumb.sf-thumb--label-text .sf-thumb-text {
    --sf-thumb-text--color: var(--sf-on-surface);
    --sf-thumb-text--font-family: var(--sf-text--family);
    --sf-thumb-text--font-size: var(--sf-text-size-1\/2);
    --sf-thumb-text--font-weight: var(--sf-font-weight-regular);
    --sf-thumb-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-thumb:not(:disabled):not(.disabled):focus .sf-thumb-handle {
    --sf-thumb-handle--box-shadow: var(--sf-ui-focus);
  }
  .sf-thumb:not(:disabled):not(.disabled):hover .sf-thumb-handle {
    --sf-thumb-handle--background-color: var(--sf-primary-hover);
  }
  .sf-thumb:not(:disabled):not(.disabled):hover .sf-thumb-inner {
    --sf-thumb-inner--height: var(--sf-text-size-2);
    --sf-thumb-inner--width: var(--sf-text-size-2);
  }
}
@layer sf.components {
  /* utility-hint: display/block */
  .sf-range-slider {
    background-color: transparent;
    background-color: var(--sf-range-slider--background-color, transparent);
  }
  /* utility-hint: display/block */
  .sf-range-slider .sf-range-slider-progress {
    --sf-range-slider-progress--background-color: transparent;
    background-color: var(--sf-range-slider-progress--background-color);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-progress-line {
    border-bottom-right-radius: var(--sf-range-slider-progress-line--border-end-end-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-progress-line {
    border-bottom-left-radius: var(--sf-range-slider-progress-line--border-end-end-radius);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-progress-line {
    border-bottom-left-radius: var(--sf-range-slider-progress-line--border-end-start-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-progress-line {
    border-bottom-right-radius: var(--sf-range-slider-progress-line--border-end-start-radius);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-progress-line {
    border-top-right-radius: var(--sf-range-slider-progress-line--border-start-end-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-progress-line {
    border-top-left-radius: var(--sf-range-slider-progress-line--border-start-end-radius);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-progress-line {
    border-top-left-radius: var(--sf-range-slider-progress-line--border-start-start-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-progress-line {
    border-top-right-radius: var(--sf-range-slider-progress-line--border-start-start-radius);
  }
  .sf-range-slider .sf-range-slider-progress-line {
    --sf-range-slider-progress-line--background-color: var(--sf-primary);
    --sf-range-slider-progress-line--border-end-end-radius: var(--sf-radius-1\/2);
    --sf-range-slider-progress-line--border-end-start-radius: var(--sf-radius-1\/2);
    --sf-range-slider-progress-line--border-start-end-radius: var(--sf-radius-1\/2);
    --sf-range-slider-progress-line--border-start-start-radius: var(--sf-radius-1\/2);
    --sf-range-slider-progress-line--height: var(--sf-space-1\/3);
    background-color: var(--sf-range-slider-progress-line--background-color);
    border-end-end-radius: var(--sf-range-slider-progress-line--border-end-end-radius);
    border-end-start-radius: var(--sf-range-slider-progress-line--border-end-start-radius);
    border-start-end-radius: var(--sf-range-slider-progress-line--border-start-end-radius);
    border-start-start-radius: var(--sf-range-slider-progress-line--border-start-start-radius);
    height: var(--sf-range-slider-progress-line--height);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-track {
    border-bottom-right-radius: var(--sf-range-slider-track--border-end-end-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-track {
    border-bottom-left-radius: var(--sf-range-slider-track--border-end-end-radius);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-track {
    border-bottom-left-radius: var(--sf-range-slider-track--border-end-start-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-track {
    border-bottom-right-radius: var(--sf-range-slider-track--border-end-start-radius);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-track {
    border-top-right-radius: var(--sf-range-slider-track--border-start-end-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-track {
    border-top-left-radius: var(--sf-range-slider-track--border-start-end-radius);
  }
  [dir="ltr"] .sf-range-slider .sf-range-slider-track {
    border-top-left-radius: var(--sf-range-slider-track--border-start-start-radius);
  }
  [dir="rtl"] .sf-range-slider .sf-range-slider-track {
    border-top-right-radius: var(--sf-range-slider-track--border-start-start-radius);
  }
  .sf-range-slider .sf-range-slider-track {
    --sf-range-slider-track--background-color: var(--sf-surface-container);
    --sf-range-slider-track--border-end-end-radius: var(--sf-radius-1\/2);
    --sf-range-slider-track--border-end-start-radius: var(--sf-radius-1\/2);
    --sf-range-slider-track--border-start-end-radius: var(--sf-radius-1\/2);
    --sf-range-slider-track--border-start-start-radius: var(--sf-radius-1\/2);
    --sf-range-slider-track--box-shadow: var(--sf-ui-shadow-2);
    --sf-range-slider-track--height: var(--sf-space-1\/3);
    background-color: var(--sf-range-slider-track--background-color);
    border-end-end-radius: var(--sf-range-slider-track--border-end-end-radius);
    border-end-start-radius: var(--sf-range-slider-track--border-end-start-radius);
    border-start-end-radius: var(--sf-range-slider-track--border-start-end-radius);
    border-start-start-radius: var(--sf-range-slider-track--border-start-start-radius);
    box-shadow: var(--sf-range-slider-track--box-shadow);
    height: var(--sf-range-slider-track--height);
  }
}
