@layer sf.utilities {
  @media (min-width: 720px) {
    _:-ms-input-placeholder, html:not([dir="rtl"]) .md\:float-inline-end {
      float: right;
    }
    @supports not (float: inline-end) {
    html:not([dir="rtl"]) .md\:float-inline-end {
      float: right;
      }
    }
    .md\:float-inline-end:where(:dir(ltr)) {
      float: right;
    }
    _:-ms-input-placeholder, [dir="rtl"] .md\:float-inline-end {
      float: left;
    }
    @supports not (float: inline-end) {
    [dir="rtl"] .md\:float-inline-end {
      float: left;
      }
    }
    .md\:float-inline-end:where(:dir(rtl)) {
      float: left;
    }
    .md\:float-inline-end {
      float: inline-end;
    }
    _:-ms-input-placeholder, html:not([dir="rtl"]) .md\:float-inline-start {
      float: left;
    }
    @supports not (float: inline-start) {
    html:not([dir="rtl"]) .md\:float-inline-start {
      float: left;
      }
    }
    .md\:float-inline-start:where(:dir(ltr)) {
      float: left;
    }
    _:-ms-input-placeholder, [dir="rtl"] .md\:float-inline-start {
      float: right;
    }
    @supports not (float: inline-start) {
    [dir="rtl"] .md\:float-inline-start {
      float: right;
      }
    }
    .md\:float-inline-start:where(:dir(rtl)) {
      float: right;
    }
    .md\:float-inline-start {
      float: inline-start;
    }
    .md\:float-none {
      float: none;
    }
  }
}
