@layer sf.utilities {
  .skew-x-0 {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  .skew-y-0 {
    -webkit-transform: skewY(0deg);
            transform: skewY(0deg);
  }
  .skew-x-1 {
    -webkit-transform: skewX(1deg);
            transform: skewX(1deg);
  }
  .skew-y-1 {
    -webkit-transform: skewY(1deg);
            transform: skewY(1deg);
  }
  .skew-x-2 {
    -webkit-transform: skewX(2deg);
            transform: skewX(2deg);
  }
  .skew-y-2 {
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  .skew-x-3 {
    -webkit-transform: skewX(3deg);
            transform: skewX(3deg);
  }
  .skew-y-3 {
    -webkit-transform: skewY(3deg);
            transform: skewY(3deg);
  }
  .skew-x-5 {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
  }
  .skew-y-5 {
    -webkit-transform: skewY(5deg);
            transform: skewY(5deg);
  }
  .skew-x-15 {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  .skew-y-15 {
    -webkit-transform: skewY(15deg);
            transform: skewY(15deg);
  }
}
