@layer sf.utilities {
  @media (min-width: 1320px) {
    .xxl\:bg-auto {
      background-size: auto;
    }
    .xxl\:bg-cover {
      background-size: cover;
    }
    .xxl\:bg-contain {
      background-size: contain;
    }
  }
}
