@layer sf.utilities {
  .focus-visible\:ring-opacity-1.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-10, 0.1);
  }
  .focus-visible\:ring-opacity-1:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-10, 0.1);
  }
  .focus-visible\:ring-opacity-2.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-20, 0.2);
  }
  .focus-visible\:ring-opacity-2:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-20, 0.2);
  }
  .focus-visible\:ring-opacity-3.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-30, 0.3);
  }
  .focus-visible\:ring-opacity-3:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-30, 0.3);
  }
  .focus-visible\:ring-opacity-4.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-40, 0.4);
  }
  .focus-visible\:ring-opacity-4:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-40, 0.4);
  }
  .focus-visible\:ring-opacity-5.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-50, 0.5);
  }
  .focus-visible\:ring-opacity-5:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-50, 0.5);
  }
  .focus-visible\:ring-opacity-6.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-60, 0.6);
  }
  .focus-visible\:ring-opacity-6:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-60, 0.6);
  }
  .focus-visible\:ring-opacity-7.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-70, 0.7);
  }
  .focus-visible\:ring-opacity-7:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-70, 0.7);
  }
  .focus-visible\:ring-opacity-8.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-80, 0.8);
  }
  .focus-visible\:ring-opacity-8:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-80, 0.8);
  }
  .focus-visible\:ring-opacity-9.focus-visible {
    --sf-ring--alfa: var(--sf-opacity-90, 0.9);
  }
  .focus-visible\:ring-opacity-9:focus-visible {
    --sf-ring--alfa: var(--sf-opacity-90, 0.9);
  }
  .focus-visible\:ring-opacity-full.focus-visible {
    --sf-ring--alfa: 1;
  }
  .focus-visible\:ring-opacity-full:focus-visible {
    --sf-ring--alfa: 1;
  }
  .focus-visible\:ring-opacity-0.focus-visible {
    --sf-ring--alfa: 0;
  }
  .focus-visible\:ring-opacity-0:focus-visible {
    --sf-ring--alfa: 0;
  }
}
