/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-textarea {
    background-color: transparent;
    background-color: var(--sf-textarea--background-color, transparent);
    gap: var(--sf-space-1\/4);
    gap: var(--sf-textarea--gap, var(--sf-space-1\/4));
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-textarea .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--background-color: transparent;
    background-color: var(--sf-textarea-hint-text-wrap--background-color);
    color: var(--sf-textarea-hint-text-wrap--color);
    font-family: var(--sf-textarea-hint-text-wrap--font-family);
    font-size: var(--sf-textarea-hint-text-wrap--font-size);
    font-weight: var(--sf-textarea-hint-text-wrap--font-weight);
    line-height: var(--sf-textarea-hint-text-wrap--line-height);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-textarea-label--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-textarea .sf-textarea-label {
    --sf-textarea-label--background-color: transparent;
    --sf-textarea-label--gap: var(--sf-space-1\/4);
    background-color: var(--sf-textarea-label--background-color);
    gap: var(--sf-textarea-label--gap);
  }
  .sf-textarea .sf-textarea-required {
    --sf-textarea-required--color: var(--sf-error);
    --sf-textarea-required--font-family: var(--sf-text--family);
    --sf-textarea-required--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-textarea-required--color);
    font-family: var(--sf-textarea-required--font-family);
    font-size: var(--sf-textarea-required--font-size);
    font-weight: var(--sf-textarea-required--font-weight);
    line-height: var(--sf-textarea-required--line-height);
  }
  .sf-textarea .sf-textarea-text {
    --sf-textarea-text--color: var(--sf-on-surface-muted);
    --sf-textarea-text--font-family: var(--sf-text--family);
    --sf-textarea-text--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-textarea-text--color);
    font-family: var(--sf-textarea-text--font-family);
    font-size: var(--sf-textarea-text--font-size);
    font-weight: var(--sf-textarea-text--font-weight);
    line-height: var(--sf-textarea-text--line-height);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) */
  [dir="ltr"] .sf-textarea textarea {
    border-bottom-right-radius: var(--sf-textarea-textarea--border-end-end-radius);
  }
  [dir="rtl"] .sf-textarea textarea {
    border-bottom-left-radius: var(--sf-textarea-textarea--border-end-end-radius);
  }
  [dir="ltr"] .sf-textarea textarea {
    border-bottom-left-radius: var(--sf-textarea-textarea--border-end-start-radius);
  }
  [dir="rtl"] .sf-textarea textarea {
    border-bottom-right-radius: var(--sf-textarea-textarea--border-end-start-radius);
  }
  [dir="ltr"] .sf-textarea textarea {
    border-top-right-radius: var(--sf-textarea-textarea--border-start-end-radius);
  }
  [dir="rtl"] .sf-textarea textarea {
    border-top-left-radius: var(--sf-textarea-textarea--border-start-end-radius);
  }
  [dir="ltr"] .sf-textarea textarea {
    border-top-left-radius: var(--sf-textarea-textarea--border-start-start-radius);
  }
  [dir="rtl"] .sf-textarea textarea {
    border-top-right-radius: var(--sf-textarea-textarea--border-start-start-radius);
  }
  [dir="ltr"] .sf-textarea textarea {
    padding-right: var(--sf-textarea-textarea--padding-inline-end);
  }
  [dir="rtl"] .sf-textarea textarea {
    padding-left: var(--sf-textarea-textarea--padding-inline-end);
  }
  [dir="ltr"] .sf-textarea textarea {
    padding-left: var(--sf-textarea-textarea--padding-inline-start);
  }
  [dir="rtl"] .sf-textarea textarea {
    padding-right: var(--sf-textarea-textarea--padding-inline-start);
  }
  .sf-textarea textarea {
    --sf-textarea-textarea--border: var(--sf-a1) solid;
    --sf-textarea-textarea--border-end-end-radius: var(--sf-ui-radius-default);
    --sf-textarea-textarea--border-end-start-radius: var(--sf-ui-radius-default);
    --sf-textarea-textarea--border-start-end-radius: var(--sf-ui-radius-default);
    --sf-textarea-textarea--border-start-start-radius: var(--sf-ui-radius-default);
    background-color: var(--sf-textarea-textarea--background-color);
    border: var(--sf-textarea-textarea--border);
    border-color: transparent;
    border-color: var(--sf-textarea-textarea--border-color, transparent);
    border-end-end-radius: var(--sf-textarea-textarea--border-end-end-radius);
    border-end-start-radius: var(--sf-textarea-textarea--border-end-start-radius);
    border-start-end-radius: var(--sf-textarea-textarea--border-start-end-radius);
    border-start-start-radius: var(--sf-textarea-textarea--border-start-start-radius);
    box-shadow: var(--sf-textarea-textarea--box-shadow);
    color: var(--sf-textarea-textarea--color);
    font-family: var(--sf-textarea-textarea--font-family);
    font-size: var(--sf-textarea-textarea--font-size);
    font-weight: var(--sf-textarea-textarea--font-weight);
    line-height: var(--sf-textarea-textarea--line-height);
    padding-bottom: var(--sf-textarea-textarea--padding-bottom);
    -webkit-padding-end: var(--sf-textarea-textarea--padding-inline-end);
            padding-inline-end: var(--sf-textarea-textarea--padding-inline-end);
    -webkit-padding-start: var(--sf-textarea-textarea--padding-inline-start);
            padding-inline-start: var(--sf-textarea-textarea--padding-inline-start);
    padding-top: var(--sf-textarea-textarea--padding-top);
  }
  .sf-textarea textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-surface-muted);
    --sf-textarea-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-textarea-placeholder--color);
    font-family: var(--sf-textarea-placeholder--font-family);
    font-size: var(--sf-textarea-placeholder--font-size);
    line-height: var(--sf-textarea-placeholder--line-height);
  }
  .sf-textarea textarea::-moz-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-surface-muted);
    --sf-textarea-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-textarea-placeholder--color);
    font-family: var(--sf-textarea-placeholder--font-family);
    font-size: var(--sf-textarea-placeholder--font-size);
    line-height: var(--sf-textarea-placeholder--line-height);
  }
  .sf-textarea textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-surface-muted);
    --sf-textarea-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-textarea-placeholder--color);
    font-family: var(--sf-textarea-placeholder--font-family);
    font-size: var(--sf-textarea-placeholder--font-size);
    line-height: var(--sf-textarea-placeholder--line-height);
  }
  .sf-textarea textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-surface-muted);
    --sf-textarea-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-textarea-placeholder--color);
    font-family: var(--sf-textarea-placeholder--font-family);
    font-size: var(--sf-textarea-placeholder--font-size);
    line-height: var(--sf-textarea-placeholder--line-height);
  }
  .sf-textarea textarea::placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-surface-muted);
    --sf-textarea-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-textarea-placeholder--color);
    font-family: var(--sf-textarea-placeholder--font-family);
    font-size: var(--sf-textarea-placeholder--font-size);
    line-height: var(--sf-textarea-placeholder--line-height);
  }
  .sf-textarea.sf-textarea--size-1.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-hint-text-wrap--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1.sf-textarea--filled .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-2.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-2.sf-textarea--filled .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-3.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-3.sf-textarea--filled .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--filled .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--font-family: var(--sf-text--family);
    --sf-textarea-hint-text-wrap--font-weight: var(--sf-font-weight-regular);
  }
  .sf-textarea.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--color: var(--sf-on-surface-muted);
  }
  .sf-textarea.sf-textarea--size-1 .sf-textarea-required {
    --sf-textarea-required--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-required--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1 .sf-textarea-text {
    --sf-textarea-text--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-1.sf-textarea--filled textarea {
    --sf-textarea-textarea--font-size: var(--sf-text-size-1);
    --sf-textarea-textarea--line-height: var(--sf-text-height-1);
    --sf-textarea-textarea--font-family: var(--sf-text--family);
    --sf-textarea-textarea--font-weight: var(--sf-font-weight-regular);
  }
  .sf-textarea.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--filled textarea {
    --sf-textarea-textarea--color: var(--sf-on-surface);
  }
  .sf-textarea.sf-textarea--bordered textarea {
    --sf-textarea-textarea--background-color: var(--sf-surface-0);
    --sf-textarea-textarea--border-color: var(--sf-outline-variant);
  }
  .sf-textarea.sf-textarea--size-1.sf-textarea--bordered[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary);
  }
  .sf-textarea.sf-textarea--size-1.sf-textarea--bordered:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary);
  }
  .sf-textarea.sf-textarea--bordered[\:has\(textarea\:disabled\)] textarea, .sf-textarea.sf-textarea--filled[\:has\(textarea\:disabled\)] textarea {
    --sf-textarea-textarea--color: var(--sf-on-disable);
  }
  .sf-textarea.sf-textarea--bordered:has(textarea:disabled) textarea, .sf-textarea.sf-textarea--filled:has(textarea:disabled) textarea {
    --sf-textarea-textarea--color: var(--sf-on-disable);
  }
  .sf-textarea.sf-textarea--bordered[\:has\(textarea\:disabled\)] textarea {
    --sf-textarea-textarea--border-color: var(--sf-outline-disable);
  }
  .sf-textarea.sf-textarea--bordered:has(textarea:disabled) textarea {
    --sf-textarea-textarea--border-color: var(--sf-outline-disable);
  }
  .sf-textarea.sf-textarea--filled[\:has\(textarea\:disabled\)] textarea {
    --sf-textarea-textarea--background-color: var(--sf-disable);
    --sf-textarea-textarea--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-1\/2--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-1\/2--space-x);
    --sf-textarea-textarea--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-textarea.sf-textarea--filled:has(textarea:disabled) textarea {
    --sf-textarea-textarea--background-color: var(--sf-disable);
    --sf-textarea-textarea--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-1\/2--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-1\/2--space-x);
    --sf-textarea-textarea--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-textarea.sf-textarea--bordered[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] textarea {
    --sf-textarea-textarea--background-color: var(--sf-transparent-for-focus);
    --sf-textarea-textarea--border-color: var(--sf-outline);
  }
  .sf-textarea.sf-textarea--bordered:has(textarea:enabled:not(:disabled):not(.disabled):focus) textarea {
    --sf-textarea-textarea--background-color: var(--sf-transparent-for-focus);
    --sf-textarea-textarea--border-color: var(--sf-outline);
  }
  .sf-textarea.error.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.error.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--color: var(--sf-error);
  }
  .sf-textarea.error.sf-textarea--bordered textarea {
    --sf-textarea-textarea--background-color: var(--sf-transparent-for-focus);
    --sf-textarea-textarea--border-color: var(--sf-error);
  }
  .sf-textarea.sf-textarea--filled textarea {
    --sf-textarea-textarea--background-color: var(--sf-surface-container);
    --sf-textarea-textarea--border-color: var(--sf-transparent-for-focus);
  }
  .sf-textarea.sf-textarea--filled[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] textarea {
    --sf-textarea-textarea--background-color: var(--sf-surface-container-hover);
  }
  .sf-textarea.sf-textarea--filled:has(textarea:enabled:not(:disabled):not(.disabled):hover) textarea {
    --sf-textarea-textarea--background-color: var(--sf-surface-container-hover);
  }
  .sf-textarea.sf-textarea--filled[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary-active);
  }
  .sf-textarea.sf-textarea--filled:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary-active);
  }
  .sf-textarea.error.sf-textarea--filled textarea {
    --sf-textarea-textarea--background-color: var(--sf-error-container);
  }
  .sf-textarea.sf-textarea--size-2.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-2.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--font-size: var(--sf-text-size-1);
    --sf-textarea-hint-text-wrap--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-2 .sf-textarea-required {
    --sf-textarea-required--font-size: var(--sf-text-size-1);
    --sf-textarea-required--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-2 .sf-textarea-text {
    --sf-textarea-text--font-size: var(--sf-text-size-1);
    --sf-textarea-text--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-2.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-2.sf-textarea--filled textarea {
    --sf-textarea-textarea--font-size: var(--sf-text-size-2);
    --sf-textarea-textarea--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-2.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-2.sf-textarea--filled textarea, .sf-textarea.sf-textarea--size-3.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-3.sf-textarea--filled textarea, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--filled textarea, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--filled textarea {
    --sf-textarea-textarea--font-family: var(--sf-text--family);
  }
  .sf-textarea.sf-textarea--size-2.sf-textarea--bordered[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea, .sf-textarea.sf-textarea--size-3.sf-textarea--bordered[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--bordered[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--bordered[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary-active);
  }
  .sf-textarea.sf-textarea--size-2.sf-textarea--bordered:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea, .sf-textarea.sf-textarea--size-3.sf-textarea--bordered:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--bordered:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--bordered:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary-active);
  }
  .sf-textarea.sf-textarea--size-3.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-3.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--font-size: var(--sf-text-size-2);
    --sf-textarea-hint-text-wrap--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-3 .sf-textarea-required {
    --sf-textarea-required--font-size: var(--sf-text-size-2);
    --sf-textarea-required--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-3 .sf-textarea-text {
    --sf-textarea-text--font-size: var(--sf-text-size-2);
    --sf-textarea-text--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-3.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-3.sf-textarea--filled textarea {
    --sf-textarea-textarea--font-size: var(--sf-text-size-3);
    --sf-textarea-textarea--line-height: var(--sf-text-height-3);
  }
  .sf-textarea.sf-textarea--size-1\/3.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--font-size: var(--sf-text-size-1\/4);
    --sf-textarea-hint-text-wrap--line-height: var(--sf-text-height-1\/4);
  }
  .sf-textarea.sf-textarea--size-1\/3 .sf-textarea-required {
    --sf-textarea-required--font-size: var(--sf-text-size-1\/4);
    --sf-textarea-required--line-height: var(--sf-text-height-1\/4);
  }
  .sf-textarea.sf-textarea--size-1\/3 .sf-textarea-text {
    --sf-textarea-text--font-size: var(--sf-text-size-1\/4);
    --sf-textarea-text--line-height: var(--sf-text-height-1\/4);
  }
  .sf-textarea.sf-textarea--size-1\/3.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-1\/3.sf-textarea--filled textarea {
    --sf-textarea-textarea--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-textarea--line-height: var(--sf-text-height-1\/3);
    --sf-textarea-textarea--padding-bottom: calc(var(--sf-ui-1\/3--space-y-tightness-default) - var(--sf-a1));
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-1\/3--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-1\/3--space-x);
    --sf-textarea-textarea--padding-top: calc(var(--sf-ui-1\/3--space-y-tightness-default) - var(--sf-a1));
  }
  .sf-textarea.sf-textarea--size-1\/3 textarea[rows="1"] {
    height: var(--sf-ui-1\/3--control-height);
    block-size: var(--sf-ui-1\/3--control-height);
  }
  .sf-textarea.sf-textarea--size-1\/2.sf-textarea--bordered .sf-textarea-hint-text-wrap, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--filled .sf-textarea-hint-text-wrap {
    --sf-textarea-hint-text-wrap--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-hint-text-wrap--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/2 .sf-textarea-required {
    --sf-textarea-required--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-required--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/2 .sf-textarea-text {
    --sf-textarea-text--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/2.sf-textarea--bordered textarea, .sf-textarea.sf-textarea--size-1\/2.sf-textarea--filled textarea {
    --sf-textarea-textarea--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-textarea--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1 textarea {
    --sf-textarea-textarea--padding-bottom: calc(var(--sf-ui-1--space-y-tightness-default) - var(--sf-a1));
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-1--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-1--space-x);
    --sf-textarea-textarea--padding-top: calc(var(--sf-ui-1--space-y-tightness-default) - var(--sf-a1));
  }
  .sf-textarea.sf-textarea--size-1 textarea[rows="1"] {
    height: var(--sf-ui-1--control-height);
    block-size: var(--sf-ui-1--control-height);
  }
  .sf-textarea.sf-textarea--size-1 textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-1 textarea::-moz-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-1 textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-1 textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-1 textarea::placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-textarea.sf-textarea--size-2 textarea {
    --sf-textarea-textarea--padding-bottom: calc(var(--sf-ui-2--space-y-tightness-default) - var(--sf-a1));
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-2--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-2--space-x);
    --sf-textarea-textarea--padding-top: calc(var(--sf-ui-2--space-y-tightness-default) - var(--sf-a1));
  }
  .sf-textarea.sf-textarea--size-2 textarea[rows="1"] {
    height: var(--sf-ui-2--control-height);
    block-size: var(--sf-ui-2--control-height);
  }
  .sf-textarea.sf-textarea--size-2 textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-2 textarea::-moz-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-2 textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-2 textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-2 textarea::placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-textarea.sf-textarea--size-3 textarea {
    --sf-textarea-textarea--padding-bottom: calc(var(--sf-ui-3--space-y-tightness-default) - var(--sf-a1));
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-3--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-3--space-x);
    --sf-textarea-textarea--padding-top: calc(var(--sf-ui-3--space-y-tightness-default) - var(--sf-a1));
  }
  .sf-textarea.sf-textarea--size-3 textarea[rows="1"] {
    height: var(--sf-ui-3--control-height);
    block-size: var(--sf-ui-3--control-height);
  }
  .sf-textarea.sf-textarea--size-3 textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-textarea.sf-textarea--size-3 textarea::-moz-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-textarea.sf-textarea--size-3 textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-textarea.sf-textarea--size-3 textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-textarea.sf-textarea--size-3 textarea::placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-textarea.sf-textarea--size-1\/3 textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/3 textarea::-moz-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/3 textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/3 textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/3 textarea::placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea {
    --sf-textarea-textarea--padding-bottom: calc(var(--sf-ui-1\/2--space-y-tightness-default) - var(--sf-a1));
    --sf-textarea-textarea--padding-inline-end: var(--sf-ui-1\/2--space-x);
    --sf-textarea-textarea--padding-inline-start: var(--sf-ui-1\/2--space-x);
    --sf-textarea-textarea--padding-top: calc(var(--sf-ui-1\/2--space-y-tightness-default) - var(--sf-a1));
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea[rows="1"] {
    height: var(--sf-ui-1\/2--control-height);
    block-size: var(--sf-ui-1\/2--control-height);
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea::-moz-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea.sf-textarea--size-1\/2 textarea::placeholder {
    --sf-textarea-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-textarea-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-textarea[\:has\(textarea\:disabled\)] textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea[\:has\(textarea\:disabled\)] textarea::-moz-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea[\:has\(textarea\:disabled\)] textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea[\:has\(textarea\:disabled\)] textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea[\:has\(textarea\:disabled\)] textarea::placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea:has(textarea:disabled) textarea::-webkit-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea:has(textarea:disabled) textarea::-moz-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea:has(textarea:disabled) textarea:-ms-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea:has(textarea:disabled) textarea::-ms-input-placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea:has(textarea:disabled) textarea::placeholder {
    --sf-textarea-placeholder--color: var(--sf-on-disable);
  }
  .sf-textarea[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary-hover);
  }
  .sf-textarea:has(textarea:enabled:not(:disabled):not(.disabled):hover) textarea {
    --sf-textarea-textarea--border-color: var(--sf-primary-hover);
  }
  .sf-textarea[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] textarea {
    --sf-textarea-textarea--background-color: var(--sf-surface-0);
  }
  .sf-textarea:has(textarea:enabled:not(:disabled):not(.disabled):active) textarea {
    --sf-textarea-textarea--background-color: var(--sf-surface-0);
  }
  .sf-textarea[\:has\(textarea\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] textarea {
    --sf-textarea-textarea--box-shadow: var(--sf-ui-focus);
  }
  .sf-textarea:has(textarea:enabled:not(:disabled):not(.disabled):focus) textarea {
    --sf-textarea-textarea--box-shadow: var(--sf-ui-focus);
  }
}
