@layer sf.utilities {
  .select-none {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .select-auto {
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
  }
  .select-text {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
  .select-contain {
    -webkit-user-select: contain;
       -moz-user-select: contain;
        -ms-user-select: element;
            user-select: contain;
  }
  .select-all {
    -webkit-user-select: all;
       -moz-user-select: all;
            user-select: all;
  }
}
