@layer sf.utilities {
  @media (min-width: 520px) {
    .sm\:flex-wrap {
      flex-wrap: wrap;
    }
    .sm\:flex-wrap-reverse {
      flex-wrap: wrap-reverse;
    }
    .sm\:flex-nowrap {
      flex-wrap: nowrap;
    }
  }
}
