@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-file-preview {
    background-color: transparent;
    background-color: var(--sf-file-preview--background-color, transparent);
    gap: var(--sf-space-1\/4);
    gap: var(--sf-file-preview--gap, var(--sf-space-1\/4));
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-file-preview .sf-file-preview-actions {
    --sf-file-preview-actions--background-color: transparent;
    --sf-file-preview-actions--gap: var(--sf-space-1\/4);
    background-color: var(--sf-file-preview-actions--background-color);
    gap: var(--sf-file-preview-actions--gap);
  }
  [dir="ltr"] .sf-file-preview .sf-icon-button {
    border-bottom-right-radius: var(--sf-icon-button--border-end-end-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-icon-button {
    border-bottom-left-radius: var(--sf-icon-button--border-end-end-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-icon-button {
    border-bottom-left-radius: var(--sf-icon-button--border-end-start-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-icon-button {
    border-bottom-right-radius: var(--sf-icon-button--border-end-start-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-icon-button {
    border-top-right-radius: var(--sf-icon-button--border-start-end-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-icon-button {
    border-top-left-radius: var(--sf-icon-button--border-start-end-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-icon-button {
    border-top-left-radius: var(--sf-icon-button--border-start-start-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-icon-button {
    border-top-right-radius: var(--sf-icon-button--border-start-start-radius);
  }
  .sf-file-preview .sf-icon-button {
    --sf-icon-button--border-end-end-radius: var(--sf-radius-rounded);
    --sf-icon-button--border-end-start-radius: var(--sf-radius-rounded);
    --sf-icon-button--border-start-end-radius: var(--sf-radius-rounded);
    --sf-icon-button--border-start-start-radius: var(--sf-radius-rounded);
    border-end-end-radius: var(--sf-icon-button--border-end-end-radius);
    border-end-start-radius: var(--sf-icon-button--border-end-start-radius);
    border-start-end-radius: var(--sf-icon-button--border-start-end-radius);
    border-start-start-radius: var(--sf-icon-button--border-start-start-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-file-preview-holder {
    border-bottom-right-radius: var(--sf-file-preview-holder--border-end-end-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-file-preview-holder {
    border-bottom-left-radius: var(--sf-file-preview-holder--border-end-end-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-file-preview-holder {
    border-bottom-left-radius: var(--sf-file-preview-holder--border-end-start-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-file-preview-holder {
    border-bottom-right-radius: var(--sf-file-preview-holder--border-end-start-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-file-preview-holder {
    border-top-right-radius: var(--sf-file-preview-holder--border-start-end-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-file-preview-holder {
    border-top-left-radius: var(--sf-file-preview-holder--border-start-end-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-file-preview-holder {
    border-top-left-radius: var(--sf-file-preview-holder--border-start-start-radius);
  }
  [dir="rtl"] .sf-file-preview .sf-file-preview-holder {
    border-top-right-radius: var(--sf-file-preview-holder--border-start-start-radius);
  }
  [dir="ltr"] .sf-file-preview .sf-file-preview-holder {
    padding-right: var(--sf-file-preview-holder--padding-inline-end);
  }
  [dir="rtl"] .sf-file-preview .sf-file-preview-holder {
    padding-left: var(--sf-file-preview-holder--padding-inline-end);
  }
  [dir="ltr"] .sf-file-preview .sf-file-preview-holder {
    padding-left: var(--sf-file-preview-holder--padding-inline-start);
  }
  [dir="rtl"] .sf-file-preview .sf-file-preview-holder {
    padding-right: var(--sf-file-preview-holder--padding-inline-start);
  }
  .sf-file-preview .sf-file-preview-holder {
    --sf-file-preview-holder--background-color: var(--sf-primary);
    --sf-file-preview-holder--border-end-end-radius: var(--sf-radius-1);
    --sf-file-preview-holder--border-end-start-radius: var(--sf-radius-1);
    --sf-file-preview-holder--border-start-end-radius: var(--sf-radius-1);
    --sf-file-preview-holder--border-start-start-radius: var(--sf-radius-1);
    --sf-file-preview-holder--padding-bottom: var(--sf-space-1\/3);
    --sf-file-preview-holder--padding-inline-end: var(--sf-space-1\/3);
    --sf-file-preview-holder--padding-inline-start: var(--sf-space-1\/3);
    --sf-file-preview-holder--padding-top: var(--sf-space-1\/3);
    background-color: var(--sf-file-preview-holder--background-color);
    border-end-end-radius: var(--sf-file-preview-holder--border-end-end-radius);
    border-end-start-radius: var(--sf-file-preview-holder--border-end-start-radius);
    border-start-end-radius: var(--sf-file-preview-holder--border-start-end-radius);
    border-start-start-radius: var(--sf-file-preview-holder--border-start-start-radius);
    padding-bottom: var(--sf-file-preview-holder--padding-bottom);
    -webkit-padding-after: var(--sf-file-preview-holder--padding-bottom);
            padding-block-end: var(--sf-file-preview-holder--padding-bottom);
    padding-top: var(--sf-file-preview-holder--padding-top);
    -webkit-padding-before: var(--sf-file-preview-holder--padding-top);
            padding-block-start: var(--sf-file-preview-holder--padding-top);
    -webkit-padding-end: var(--sf-file-preview-holder--padding-inline-end);
            padding-inline-end: var(--sf-file-preview-holder--padding-inline-end);
    -webkit-padding-start: var(--sf-file-preview-holder--padding-inline-start);
            padding-inline-start: var(--sf-file-preview-holder--padding-inline-start);
  }
  .sf-file-preview .sf-file-preview-holder > .sf-icon {
    --sf-icon--color: var(--sf-on-primary);
    color: var(--sf-icon--color);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-0) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-file-preview .sf-file-preview-main {
    --sf-file-preview-main--background-color: transparent;
    --sf-file-preview-main--gap: var(--sf-space-0);
    background-color: var(--sf-file-preview-main--background-color);
    gap: var(--sf-file-preview-main--gap);
  }
  .sf-file-preview .sf-file-preview-name {
    --sf-file-preview-name--color: var(--sf-on-surface);
    --sf-file-preview-name--font-family: var(--sf-text--family);
    --sf-file-preview-name--font-size: var(--sf-text-size-1);
    --sf-file-preview-name--font-weight: var(--sf-font-weight-regular);
    --sf-file-preview-name--line-height: var(--sf-text-height-1);
    color: var(--sf-file-preview-name--color);
    font-family: var(--sf-file-preview-name--font-family);
    font-size: var(--sf-file-preview-name--font-size);
    font-weight: var(--sf-file-preview-name--font-weight);
    line-height: var(--sf-file-preview-name--line-height);
  }
  .sf-file-preview .sf-file-preview-size {
    --sf-file-preview-size--color: var(--sf-on-surface-variant);
    --sf-file-preview-size--font-family: var(--sf-text--family);
    --sf-file-preview-size--font-size: var(--sf-text-size-1\/2);
    --sf-file-preview-size--font-weight: var(--sf-font-weight-regular);
    --sf-file-preview-size--line-height: var(--sf-text-height-1\/2);
    color: var(--sf-file-preview-size--color);
    font-family: var(--sf-file-preview-size--font-family);
    font-size: var(--sf-file-preview-size--font-size);
    font-weight: var(--sf-file-preview-size--font-weight);
    line-height: var(--sf-file-preview-size--line-height);
  }
}
@layer sf.states {
  .sf-file-preview:not(:disabled):not(.disabled):hover .sf-file-preview-holder {
    --sf-file-preview-holder--background-color: var(--sf-primary-hover);
  }
}
