@layer sf.utilities {
  .hover\:ring-offset-transparent:hover {
    --sf-ring-offset-color: var(--sf-transparent);
  }
  .hover\:ring-offset-current:hover {
    --sf-ring-offset-color: var(--sf-current);
  }
  .hover\:ring-offset-outline:hover {
    --sf-ring-offset-color: var(--sf-outline);
  }
  .hover\:ring-offset-outline-variant:hover {
    --sf-ring-offset-color: var(--sf-outline-variant);
  }
  .hover\:ring-offset-surface:hover {
    --sf-ring-offset-color: var(--sf-surface-1);
  }
  .hover\:ring-offset-surface-0:hover {
    --sf-ring-offset-color: var(--sf-surface-0);
  }
  .hover\:ring-offset-surface-1:hover {
    --sf-ring-offset-color: var(--sf-surface-1);
  }
  .hover\:ring-offset-surface-container:hover {
    --sf-ring-offset-color: var(--sf-surface-container);
  }
  .hover\:ring-offset-surface-overlay:hover {
    --sf-ring-offset-color: var(--sf-surface-overlay);
  }
  .hover\:ring-offset-surface-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-surface-transparent-overlay);
  }
  .hover\:ring-offset-surface-inverse:hover {
    --sf-ring-offset-color: var(--sf-surface-inverse);
  }
  .hover\:ring-offset-on-surface:hover {
    --sf-ring-offset-color: var(--sf-on-surface);
  }
  .hover\:ring-offset-on-surface-variant:hover {
    --sf-ring-offset-color: var(--sf-on-surface-variant);
  }
  .hover\:ring-offset-primary:hover {
    --sf-ring-offset-color: var(--sf-outline-primary);
  }
  .hover\:ring-offset-primary-container:hover {
    --sf-ring-offset-color: var(--sf-primary-container);
  }
  .hover\:ring-offset-primary-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-primary-transparent-overlay);
  }
  .hover\:ring-offset-secondary:hover {
    --sf-ring-offset-color: var(--sf-outline-secondary);
  }
  .hover\:ring-offset-secondary-container:hover {
    --sf-ring-offset-color: var(--sf-secondary-container);
  }
  .hover\:ring-offset-secondary-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-secondary-transparent-overlay);
  }
  .hover\:ring-offset-tertiary:hover {
    --sf-ring-offset-color: var(--sf-outline-tertiary);
  }
  .hover\:ring-offset-tertiary-container:hover {
    --sf-ring-offset-color: var(--sf-tertiary-container);
  }
  .hover\:ring-offset-tertiary-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-tertiary-transparent-overlay);
  }
  .hover\:ring-offset-error:hover {
    --sf-ring-offset-color: var(--sf-outline-error);
  }
  .hover\:ring-offset-error-container:hover {
    --sf-ring-offset-color: var(--sf-error-container);
  }
  .hover\:ring-offset-error-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-error-transparent-overlay);
  }
  .hover\:ring-offset-warning:hover {
    --sf-ring-offset-color: var(--sf-outline-warning);
  }
  .hover\:ring-offset-warning-container:hover {
    --sf-ring-offset-color: var(--sf-warning-container);
  }
  .hover\:ring-offset-warning-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-warning-transparent-overlay);
  }
  .hover\:ring-offset-success:hover {
    --sf-ring-offset-color: var(--sf-outline-success);
  }
  .hover\:ring-offset-success-container:hover {
    --sf-ring-offset-color: var(--sf-success-container);
  }
  .hover\:ring-offset-success-transparent-overlay:hover {
    --sf-ring-offset-color: var(--sf-success-transparent-overlay);
  }
  .hover\:ring-offset-info:hover {
    --sf-ring-offset-color: var(--sf-outline-info);
  }
  .hover\:ring-offset-info-container:hover {
    --sf-ring-offset-color: var(--sf-info-container);
  }
}
