@layer sf.utilities {
  .cursor-auto {
    cursor: auto;
  }
  .cursor-default {
    cursor: default;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .cursor-wait {
    cursor: wait;
  }
  .cursor-text {
    cursor: text;
  }
  .cursor-move {
    cursor: move;
  }
  .cursor-help {
    cursor: help;
  }
  .cursor-grab {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .cursor-grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .cursor-not-allowed {
    cursor: not-allowed;
  }
  .cursor-no-drop {
    cursor: no-drop;
  }
  .cursor-context-menu {
    cursor: context-menu;
  }
  .cursor-progress {
    cursor: progress;
  }
  .cursor-crosshair {
    cursor: crosshair;
  }
  .cursor-cell {
    cursor: cell;
  }
  .cursor-alias {
    cursor: alias;
  }
  .cursor-copy {
    cursor: copy;
  }
  .cursor-zoom-in {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
  }
  .cursor-zoom-out {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
  }
  .cursor-all-scroll {
    cursor: all-scroll;
  }
  .cursor-w-resize {
    cursor: w-resize;
  }
  .cursor-e-resize {
    cursor: e-resize;
  }
  .cursor-n-resize {
    cursor: n-resize;
  }
  .cursor-s-resize {
    cursor: s-resize;
  }
  .cursor-ew-resize {
    cursor: ew-resize;
  }
  .cursor-ns-resize {
    cursor: ns-resize;
  }
  .cursor-nesw-resize {
    cursor: nesw-resize;
  }
  .cursor-nwse-resize {
    cursor: nwse-resize;
  }
  .cursor-col-resize {
    cursor: col-resize;
  }
  .cursor-row-resize {
    cursor: row-resize;
  }
  .cursor-vertical-text {
    cursor: vertical-text;
  }
}
