@layer sf.utilities {
  .duration-fast {
    transition-duration: var(--sf-duration-fast);
  }
  .duration-normal {
    transition-duration: var(--sf-duration-normal);
  }
  .duration-slow {
    transition-duration: var(--sf-duration-slow);
  }
}
