@layer sf.utilities {
  .mask-top {
    -webkit-mask-position: top;
            mask-position: top;
  }
  .mask-inline-end {
    -webkit-mask-position: right;
            mask-position: right;
  }
  .mask-bottom {
    -webkit-mask-position: bottom;
            mask-position: bottom;
  }
  .mask-inline-start {
    -webkit-mask-position: left;
            mask-position: left;
  }
  .mask-center {
    -webkit-mask-position: center;
            mask-position: center;
  }
  .mask-inline-start-top {
    -webkit-mask-position: left top;
            mask-position: left top;
  }
  .mask-inline-start-bottom {
    -webkit-mask-position: left bottom;
            mask-position: left bottom;
  }
  .mask-inline-end-top {
    -webkit-mask-position: right top;
            mask-position: right top;
  }
  .mask-inline-end-bottom {
    -webkit-mask-position: right bottom;
            mask-position: right bottom;
  }
}
