@layer sf.utilities {
  .object-bottom {
    -o-object-position: bottom;
       object-position: bottom;
  }
  .object-center {
    -o-object-position: center;
       object-position: center;
  }
  .object-inline-start {
    -o-object-position: left;
       object-position: left;
  }
  .object-inline-start-bottom {
    -o-object-position: left bottom;
       object-position: left bottom;
  }
  .object-inline-start-top {
    -o-object-position: left top;
       object-position: left top;
  }
  .object-inline-end {
    -o-object-position: right;
       object-position: right;
  }
  .object-inline-end-bottom {
    -o-object-position: right bottom;
       object-position: right bottom;
  }
  .object-inline-end-top {
    -o-object-position: right top;
       object-position: right top;
  }
  .object-top {
    -o-object-position: top;
       object-position: top;
  }
}
