/*
 * Main SCSS file for including styles for component.
 *
 * Imports:
 * - Base styles (_css__component_name.scss)
 */
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-step {
    border-bottom-right-radius: var(--sf-radius-circle);
    border-bottom-right-radius: var(--sf-step--border-bottom-right-radius, var(--sf-radius-circle));
  }
  [dir="rtl"] .sf-step {
    border-bottom-left-radius: var(--sf-radius-circle);
    border-bottom-left-radius: var(--sf-step--border-bottom-right-radius, var(--sf-radius-circle));
  }
  [dir="ltr"] .sf-step {
    border-bottom-left-radius: var(--sf-radius-circle);
    border-bottom-left-radius: var(--sf-step--border-bottom-left-radius, var(--sf-radius-circle));
  }
  [dir="rtl"] .sf-step {
    border-bottom-right-radius: var(--sf-radius-circle);
    border-bottom-right-radius: var(--sf-step--border-bottom-left-radius, var(--sf-radius-circle));
  }
  [dir="ltr"] .sf-step {
    border-right-width: 1px;
    border-right-width: var(--sf-step--border-right-width, 1px);
  }
  [dir="rtl"] .sf-step {
    border-left-width: 1px;
    border-left-width: var(--sf-step--border-right-width, 1px);
  }
  [dir="ltr"] .sf-step {
    border-left-width: 1px;
    border-left-width: var(--sf-step--border-left-width, 1px);
  }
  [dir="rtl"] .sf-step {
    border-right-width: 1px;
    border-right-width: var(--sf-step--border-left-width, 1px);
  }
  [dir="ltr"] .sf-step {
    border-top-right-radius: var(--sf-radius-circle);
    border-top-right-radius: var(--sf-step--border-top-right-radius, var(--sf-radius-circle));
  }
  [dir="rtl"] .sf-step {
    border-top-left-radius: var(--sf-radius-circle);
    border-top-left-radius: var(--sf-step--border-top-right-radius, var(--sf-radius-circle));
  }
  [dir="ltr"] .sf-step {
    border-top-left-radius: var(--sf-radius-circle);
    border-top-left-radius: var(--sf-step--border-top-left-radius, var(--sf-radius-circle));
  }
  [dir="rtl"] .sf-step {
    border-top-right-radius: var(--sf-radius-circle);
    border-top-right-radius: var(--sf-step--border-top-left-radius, var(--sf-radius-circle));
  }
  [dir="ltr"] .sf-step {
    padding-right: var(--sf-space-1\/3);
    padding-right: var(--sf-step--padding-right, var(--sf-space-1\/3));
  }
  [dir="rtl"] .sf-step {
    padding-left: var(--sf-space-1\/3);
    padding-left: var(--sf-step--padding-right, var(--sf-space-1\/3));
  }
  [dir="ltr"] .sf-step {
    padding-left: var(--sf-space-1\/3);
    padding-left: var(--sf-step--padding-left, var(--sf-space-1\/3));
  }
  [dir="rtl"] .sf-step {
    padding-right: var(--sf-space-1\/3);
    padding-right: var(--sf-step--padding-left, var(--sf-space-1\/3));
  }
  [dir="ltr"] .sf-step {
    border-bottom-right-radius: var(--sf-radius-circle);
  }
  [dir="rtl"] .sf-step {
    border-bottom-left-radius: var(--sf-radius-circle);
  }
  [dir="ltr"] .sf-step {
    border-bottom-left-radius: var(--sf-radius-circle);
  }
  [dir="rtl"] .sf-step {
    border-bottom-right-radius: var(--sf-radius-circle);
  }
  [dir="ltr"] .sf-step {
    border-top-right-radius: var(--sf-radius-circle);
  }
  [dir="rtl"] .sf-step {
    border-top-left-radius: var(--sf-radius-circle);
  }
  [dir="ltr"] .sf-step {
    border-top-left-radius: var(--sf-radius-circle);
  }
  [dir="rtl"] .sf-step {
    border-top-right-radius: var(--sf-radius-circle);
  }
  [dir="ltr"] .sf-step {
    padding-right: var(--sf-space-1\/3);
  }
  [dir="rtl"] .sf-step {
    padding-left: var(--sf-space-1\/3);
  }
  [dir="ltr"] .sf-step {
    padding-left: var(--sf-space-1\/3);
  }
  [dir="rtl"] .sf-step {
    padding-right: var(--sf-space-1\/3);
  }
  .sf-step {
    border-bottom-width: 1px;
    border-bottom-width: var(--sf-step--border-bottom-width, 1px);
    border-end-end-radius: var(--sf-radius-circle);
    border-end-end-radius: var(--sf-step--border-bottom-right-radius, var(--sf-radius-circle));
    border-end-start-radius: var(--sf-radius-circle);
    border-end-start-radius: var(--sf-step--border-bottom-left-radius, var(--sf-radius-circle));
    border-inline-end-width: 1px;
    border-inline-end-width: var(--sf-step--border-right-width, 1px);
    border-inline-start-width: 1px;
    border-inline-start-width: var(--sf-step--border-left-width, 1px);
    border-start-end-radius: var(--sf-radius-circle);
    border-start-end-radius: var(--sf-step--border-top-right-radius, var(--sf-radius-circle));
    border-start-start-radius: var(--sf-radius-circle);
    border-start-start-radius: var(--sf-step--border-top-left-radius, var(--sf-radius-circle));
    border-style: solid;
    border-style: var(--sf-step--border-style, solid);
    border-top-width: 1px;
    border-top-width: var(--sf-step--border-top-width, 1px);
    border-width: 1px;
    border-width: var(--sf-step--border-width, 1px);
    font-family: var(--sf-text--family);
    font-family: var(--sf-step--font-family, var(--sf-text--family));
    font-weight: var(--sf-font-weight-regular);
    font-weight: var(--sf-step--font-weight, var(--sf-font-weight-regular));
    gap: var(--sf-space-1\/4);
    gap: var(--sf-step--gap, var(--sf-space-1\/4));
    min-width: var(--sf-c2);
    min-width: var(--sf-step--min-width, var(--sf-c2));
    -webkit-padding-end: var(--sf-space-1\/3);
            padding-inline-end: var(--sf-space-1\/3);
    -webkit-padding-end: var(--sf-step--padding-right, var(--sf-space-1\/3));
            padding-inline-end: var(--sf-step--padding-right, var(--sf-space-1\/3));
    -webkit-padding-start: var(--sf-space-1\/3);
            padding-inline-start: var(--sf-space-1\/3);
    -webkit-padding-start: var(--sf-step--padding-left, var(--sf-space-1\/3));
            padding-inline-start: var(--sf-step--padding-left, var(--sf-space-1\/3));
    padding-top: var(--sf-step--padding-top);
    padding-bottom: var(--sf-step--padding-bottom);
    border-color: transparent;
    border-color: var(--sf-step--border-color, transparent);
    background-color: var(--sf-step--background-color);
    color: var(--sf-step--color);
    font-size: var(--sf-step--font-size);
    line-height: var(--sf-step--line-height);
    --sf-step--border-color: var(--sf-outline-variant);
    --sf-step--background-color: transparent;
    --sf-step--color: var(--sf-on-surface-muted);
  }
  .sf-step .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-text-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-text-size-3));
    height: var(--sf-text-size-3);
    height: var(--sf-icon--height, var(--sf-text-size-3));
    width: var(--sf-text-size-3);
    width: var(--sf-icon--width, var(--sf-text-size-3));
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  .sf-step .sf-step-container {
    --sf-step-container--background-color: transparent;
    background-color: var(--sf-step-container--background-color);
    color: var(--sf-step-container--color);
    font-family: var(--sf-step-container--font-family);
    font-size: var(--sf-step-container--font-size);
    font-weight: var(--sf-step-container--font-weight);
    line-height: var(--sf-step-container--line-height);
  }
  .sf-step.sf-step--size-1 .sf-step-container {
    --sf-step-container--font-size: var(--sf-text-size-1);
    --sf-step-container--line-height: var(--sf-text-height-1);
  }
  .sf-step.sf-step--stage-default .sf-step-container, .sf-step.sf-step--stage-completed .sf-step-container, .sf-step.sf-step--stage-error .sf-step-container {
    --sf-step-container--color: var(--sf-on-surface-muted);
  }
  .sf-step.sf-step--stage-completed .sf-icon {
    --sf-icon--color: var(--sf-success);
  }
  .sf-step.selected.sf-step--stage-default .sf-step-container, .sf-step.selected.sf-step--stage-completed .sf-step-container, .sf-step.selected.sf-step--stage-error .sf-step-container {
    --sf-step-container--color: var(--sf-on-surface);
  }
  .sf-step.disabled.sf-step--stage-default .sf-step-container, .sf-step.disabled.sf-step--stage-completed .sf-step-container {
    --sf-step-container--color: var(--sf-on-disable);
  }
  .sf-step.disabled.sf-step--stage-completed .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-step.sf-step--size-1\/2 .sf-step-container {
    --sf-step-container--font-size: var(--sf-text-size-1\/2);
    --sf-step-container--line-height: var(--sf-text-height-1\/2);
  }
  .sf-step.sf-step--size-1\/2 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-2);
    --sf-icon--height: var(--sf-text-size-2);
    --sf-icon--width: var(--sf-text-size-2);
  }
  .sf-step--size-1 {
    --sf-step--font-size: var(--sf-text-size-1);
    --sf-step--line-height: var(--sf-text-height-1);
    --sf-step--padding-bottom: var(--sf-space-1\/4);
    --sf-step--padding-top: var(--sf-space-1\/4);
  }
  .sf-step--size-1\/2 {
    --sf-step--font-size: var(--sf-text-size-1\/2);
    --sf-step--line-height: var(--sf-text-height-1\/2);
    --sf-step--padding-bottom: var(--sf-a2);
    --sf-step--padding-top: var(--sf-a2);
  }
  .sf-step:not(:disabled):not(.disabled):hover {
    --sf-step--background-color: var(--sf-surface-container);
  }
  .sf-step.selected {
    --sf-step--border-color: var(--sf-outline-primary);
    --sf-step--color: var(--sf-on-surface);
  }
  .sf-step.disabled {
    --sf-step--border-color: var(--sf-outline-disable);
    --sf-step--color: var(--sf-on-disable);
  }
  .sf-step.sf-step--stage-error .sf-icon {
    --sf-icon--color: var(--sf-error);
  }
}
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-steps {
    background-color: transparent;
    background-color: var(--sf-steps--background-color, transparent);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/center (.items-center) gap/var(--sf-steps-container--gap) */
  .sf-steps .sf-steps-container {
    --sf-steps-container--background-color: transparent;
    background-color: var(--sf-steps-container--background-color);
    gap: var(--sf-steps-container--gap);
  }
  .sf-steps .sf-steps-container > .sf-icon {
    --sf-icon--color: var(--sf-on-surface-muted);
    color: var(--sf-icon--color);
    font-size: var(--sf-text-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-text-size-3));
    height: var(--sf-text-size-3);
    height: var(--sf-icon--height, var(--sf-text-size-3));
    width: var(--sf-text-size-3);
    width: var(--sf-icon--width, var(--sf-text-size-3));
  }
  .sf-steps.sf-steps--size-1 .sf-steps-container > .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-3);
    --sf-icon--height: var(--sf-text-size-3);
    --sf-icon--width: var(--sf-text-size-3);
  }
  .sf-steps.sf-steps--size-1 .sf-steps-container {
    --sf-steps-container--gap: var(--sf-space-1\/2);
  }
  .sf-steps.sf-steps--size-1\/2 .sf-steps-container > .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-2);
    --sf-icon--height: var(--sf-text-size-2);
    --sf-icon--width: var(--sf-text-size-2);
  }
  .sf-steps.sf-steps--size-1\/2 .sf-steps-container {
    --sf-steps-container--gap: var(--sf-space-1\/3);
  }
}
