@layer sf.utilities {
  @media (min-width: 960px) {
    .lg\:object-contain {
      -o-object-fit: contain;
         object-fit: contain;
    }
    .lg\:object-cover {
      -o-object-fit: cover;
         object-fit: cover;
    }
    .lg\:object-fill {
      -o-object-fit: fill;
         object-fit: fill;
    }
    .lg\:object-none {
      -o-object-fit: none;
         object-fit: none;
    }
    .lg\:object-scale-down {
      -o-object-fit: scale-down;
         object-fit: scale-down;
    }
  }
}
