@layer sf.utilities {
  @media (min-width: 960px) {
    .lg\:clear-inline-start {
      clear: left;
    }
    .lg\:clear-inline-end {
      clear: right;
    }
    .lg\:clear-both {
      clear: both;
    }
    .lg\:clear-none {
      clear: none;
    }
  }
}
