@layer sf.utilities {
  .hover\:ring-opacity-1:hover {
    --sf-ring--alfa: var(--sf-opacity-10, 0.1);
  }
  .hover\:ring-opacity-2:hover {
    --sf-ring--alfa: var(--sf-opacity-20, 0.2);
  }
  .hover\:ring-opacity-3:hover {
    --sf-ring--alfa: var(--sf-opacity-30, 0.3);
  }
  .hover\:ring-opacity-4:hover {
    --sf-ring--alfa: var(--sf-opacity-40, 0.4);
  }
  .hover\:ring-opacity-5:hover {
    --sf-ring--alfa: var(--sf-opacity-50, 0.5);
  }
  .hover\:ring-opacity-6:hover {
    --sf-ring--alfa: var(--sf-opacity-60, 0.6);
  }
  .hover\:ring-opacity-7:hover {
    --sf-ring--alfa: var(--sf-opacity-70, 0.7);
  }
  .hover\:ring-opacity-8:hover {
    --sf-ring--alfa: var(--sf-opacity-80, 0.8);
  }
  .hover\:ring-opacity-9:hover {
    --sf-ring--alfa: var(--sf-opacity-90, 0.9);
  }
  .hover\:ring-opacity-full:hover {
    --sf-ring--alfa: 1;
  }
  .hover\:ring-opacity-0:hover {
    --sf-ring--alfa: 0;
  }
}
