@charset "UTF-8";
/*
 * SIMAI Framework - Р”РѕРєСѓРјРµРЅС‚Р°С†РёСЏ
 */
code, .t-source {
  font-family: var(--sf-mono);
}

.t-lead {
  font-size: var(--sf-text-size-2);
  line-height: var(--sf-text-height-2);
  color: var(--sf-color--text-tertiary);
}

* + .example {
  margin-top: var(--sf-text--space-bottom);
}

.example {
  padding: var(--sf-space-1);
  background-color: var(--sf-surface-overlay);
}

[dir="ltr"] .sf-playground + .source,[dir="ltr"] 
.example + .source{
  border-top-right-radius: 0;
}

[dir="rtl"] .sf-playground + .source,[dir="rtl"] 
.example + .source{
  border-top-left-radius: 0;
}

[dir="ltr"] .sf-playground + .source,[dir="ltr"] 
.example + .source{
  border-top-left-radius: 0;
}

[dir="rtl"] .sf-playground + .source,[dir="rtl"] 
.example + .source{
  border-top-right-radius: 0;
}

.sf-playground + .source,
.example + .source {
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}

[dir="ltr"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="ltr"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-right-radius: 0;
}

[dir="rtl"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="rtl"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-left-radius: 0;
}

[dir="ltr"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="ltr"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-left-radius: 0;
}

[dir="rtl"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="rtl"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-right-radius: 0;
}

.sf-playground[\:has\(\%2B\%20.source\)],
.example[\:has\(\%2B\%20.source\)] {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

[dir="ltr"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="ltr"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-right-radius: 0;
}

[dir="ltr"] .sf-playground:has(+ .source),[dir="ltr"] 
.example:has(+ .source){
  border-bottom-right-radius: 0;
}

[dir="rtl"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="rtl"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-left-radius: 0;
}

[dir="rtl"] .sf-playground:has(+ .source),[dir="rtl"] 
.example:has(+ .source){
  border-bottom-left-radius: 0;
}

[dir="ltr"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="ltr"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-left-radius: 0;
}

[dir="ltr"] .sf-playground:has(+ .source),[dir="ltr"] 
.example:has(+ .source){
  border-bottom-left-radius: 0;
}

[dir="rtl"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="rtl"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-right-radius: 0;
}

[dir="rtl"] .sf-playground:has(+ .source),[dir="rtl"] 
.example:has(+ .source){
  border-bottom-right-radius: 0;
}

[dir="ltr"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="ltr"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-right-radius: 0;
}

[dir="rtl"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="rtl"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-left-radius: 0;
}

[dir="ltr"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="ltr"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-left-radius: 0;
}

[dir="rtl"] .sf-playground[\:has\(\%2B\%20.source\)],[dir="rtl"] 
.example[\:has\(\%2B\%20.source\)]{
  border-bottom-right-radius: 0;
}

.sf-playground[\:has\(\%2B\%20.source\)],
.example[\:has\(\%2B\%20.source\)] {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.sf-playground:has(+ .source),
.example:has(+ .source) {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.source {
  margin-bottom: var(--sf-text-size-1);
  -webkit-margin-after: var(--sf-text-size-1);
          margin-block-end: var(--sf-text-size-1);
  background-color: var(--sf-surface-overlay);
  color: var(--sf-surface-inverse);
  -moz-tab-size: var(--sf-text-size-1);
    -o-tab-size: var(--sf-text-size-1);
       tab-size: var(--sf-text-size-1);
}

[dir="ltr"] .clipboard{
  right: var(--sf-space-4);
}

[dir="rtl"] .clipboard{
  left: var(--sf-space-4);
}

.clipboard {
  position: absolute;
  inset-inline-end: var(--sf-space-4);
  top: var(--sf-space-4);
  background: none;
  font-size: var(--sf-c0);
}

[dir="ltr"] .btn-clipboard{
  right: 0;
}

[dir="rtl"] .btn-clipboard{
  left: 0;
}

.btn-clipboard {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  z-index: 10;
  display: block;
  color: var(--sf-color--text-secondary);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}

.btn-clipboard:hover {
  color: var(--sf-color--text-secondary);
}

code:not([class]) {
  color: var(--sf-error);
}

code.value {
  color: var(--sf-surface-0);
}

.bg-stripes {
  --sf-stripes: var(--sf-surface-1);
  background-image: linear-gradient(-45deg, var(--sf-stripes) 12.5%, transparent 12.5%, transparent 50%, var(--sf-stripes) 50%, var(--sf-stripes) 62.5%, transparent 62.5%, transparent 100%);
  background-size: 5.66px 5.66px;
}

.bg-stripes-white {
  --sf-stripes: hsla(0, 0%, 100%, 0.4) ;
}

.bg-stripes-blue {
  --sf-stripes: var(--sf-color--info-tonal) ;
}

.bg-checkered {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill=%27%23F0F0F0%27 d=%27M0 0h8v8H0zm8 8h8v8H8z%27/%3E%3C/svg%3E");
  background-size: 16px 16px;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
