/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  .sf-input .sf-input-field input {
    flex: 1 1 auto;
    min-width: 0;
    width: auto;
  }
  .sf-input .sf-input-right,
  .sf-input .sf-input-field > .sf-icon,
  .sf-input .sf-input-field > .sf-icon-hint {
    flex-shrink: 0;
  }
}
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-input {--sf-input--radius: var(--sf-radius--ui);
    background-color: transparent;
    background-color: var(--sf-input--background-color, transparent);
    gap: var(--sf-space-1\/4);
    gap: var(--sf-input--gap, var(--sf-space-1\/4));
  }
  .sf-input .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-icon-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-icon-size-3));
    height: var(--sf-icon-size-3);
    height: var(--sf-icon--height, var(--sf-icon-size-3));
    width: var(--sf-icon-size-3);
    width: var(--sf-icon--width, var(--sf-icon-size-3));
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  [dir="ltr"] .sf-input .sf-input-field {
    border-bottom-right-radius: var(--sf-input-field--border-end-end-radius);
  }
  [dir="rtl"] .sf-input .sf-input-field {
    border-bottom-left-radius: var(--sf-input-field--border-end-end-radius);
  }
  [dir="ltr"] .sf-input .sf-input-field {
    border-bottom-left-radius: var(--sf-input-field--border-end-start-radius);
  }
  [dir="rtl"] .sf-input .sf-input-field {
    border-bottom-right-radius: var(--sf-input-field--border-end-start-radius);
  }
  [dir="ltr"] .sf-input .sf-input-field {
    border-top-right-radius: var(--sf-input-field--border-start-end-radius);
  }
  [dir="rtl"] .sf-input .sf-input-field {
    border-top-left-radius: var(--sf-input-field--border-start-end-radius);
  }
  [dir="ltr"] .sf-input .sf-input-field {
    border-top-left-radius: var(--sf-input-field--border-start-start-radius);
  }
  [dir="rtl"] .sf-input .sf-input-field {
    border-top-right-radius: var(--sf-input-field--border-start-start-radius);
  }
  [dir="ltr"] .sf-input .sf-input-field {
    padding-right: var(--sf-input-field--padding-inline-end);
  }
  [dir="rtl"] .sf-input .sf-input-field {
    padding-left: var(--sf-input-field--padding-inline-end);
  }
  [dir="ltr"] .sf-input .sf-input-field {
    padding-left: var(--sf-input-field--padding-inline-start);
  }
  [dir="rtl"] .sf-input .sf-input-field {
    padding-right: var(--sf-input-field--padding-inline-start);
  }
  .sf-input .sf-input-field {
    --sf-input-field--border: var(--sf-a1) solid;
    --sf-input-field--border-end-end-radius: var(--sf-input--radius);
    --sf-input-field--border-end-start-radius: var(--sf-input--radius);
    --sf-input-field--border-start-end-radius: var(--sf-input--radius);
    --sf-input-field--border-start-start-radius: var(--sf-input--radius);
    background-color: var(--sf-input-field--background-color);
    border: 0 solid;
    border: var(--sf-input-field--border, 0 solid);
    border-color: transparent;
    border-color: var(--sf-input-field--border-color, transparent);
    border-end-end-radius: var(--sf-input-field--border-end-end-radius);
    border-end-start-radius: var(--sf-input-field--border-end-start-radius);
    border-start-end-radius: var(--sf-input-field--border-start-end-radius);
    border-start-start-radius: var(--sf-input-field--border-start-start-radius);
    box-shadow: var(--sf-input-field--box-shadow);
    padding-bottom: var(--sf-input-field--padding-bottom);
    -webkit-padding-end: var(--sf-input-field--padding-inline-end);
            padding-inline-end: var(--sf-input-field--padding-inline-end);
    -webkit-padding-start: var(--sf-input-field--padding-inline-start);
            padding-inline-start: var(--sf-input-field--padding-inline-start);
    padding-top: var(--sf-input-field--padding-top);
  }
  .sf-input .sf-input-hint {
    --sf-input-hint--background-color: transparent;
    background-color: var(--sf-input-hint--background-color);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) */
  [dir="ltr"] .sf-input .sf-input-field input {
    padding-right: var(--sf-input-input--padding-inline-end);
  }
  [dir="rtl"] .sf-input .sf-input-field input {
    padding-left: var(--sf-input-input--padding-inline-end);
  }
  [dir="ltr"] .sf-input .sf-input-field input {
    padding-left: var(--sf-input-input--padding-inline-start);
  }
  [dir="rtl"] .sf-input .sf-input-field input {
    padding-right: var(--sf-input-input--padding-inline-start);
  }
  .sf-input .sf-input-field input {
    --sf-input-input--background-color: transparent;
    background-color: var(--sf-input-input--background-color);
    color: var(--sf-input-input--color);
    font-family: var(--sf-input-input--font-family);
    font-size: var(--sf-input-input--font-size);
    line-height: var(--sf-input-input--line-height);
    -webkit-padding-end: var(--sf-input-input--padding-inline-end);
            padding-inline-end: var(--sf-input-input--padding-inline-end);
    -webkit-padding-start: var(--sf-input-input--padding-inline-start);
            padding-inline-start: var(--sf-input-input--padding-inline-start);
  }
  .sf-input .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-surface-muted);
    --sf-input-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-input-placeholder--color);
    font-family: var(--sf-input-placeholder--font-family);
    font-size: var(--sf-input-placeholder--font-size);
    line-height: var(--sf-input-placeholder--line-height);
  }
  .sf-input .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--color: var(--sf-on-surface-muted);
    --sf-input-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-input-placeholder--color);
    font-family: var(--sf-input-placeholder--font-family);
    font-size: var(--sf-input-placeholder--font-size);
    line-height: var(--sf-input-placeholder--line-height);
  }
  .sf-input .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-surface-muted);
    --sf-input-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-input-placeholder--color);
    font-family: var(--sf-input-placeholder--font-family);
    font-size: var(--sf-input-placeholder--font-size);
    line-height: var(--sf-input-placeholder--line-height);
  }
  .sf-input .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-surface-muted);
    --sf-input-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-input-placeholder--color);
    font-family: var(--sf-input-placeholder--font-family);
    font-size: var(--sf-input-placeholder--font-size);
    line-height: var(--sf-input-placeholder--line-height);
  }
  .sf-input .sf-input-field input::placeholder {
    --sf-input-placeholder--color: var(--sf-on-surface-muted);
    --sf-input-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-input-placeholder--color);
    font-family: var(--sf-input-placeholder--font-family);
    font-size: var(--sf-input-placeholder--font-size);
    line-height: var(--sf-input-placeholder--line-height);
  }
  .sf-input .sf-input-left {
    --sf-input-left--background-color: transparent;
    background-color: var(--sf-input-left--background-color);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-input .sf-input-right {
    padding-right: var(--sf-input-right--padding-inline-end);
  }
  [dir="rtl"] .sf-input .sf-input-right {
    padding-left: var(--sf-input-right--padding-inline-end);
  }
  [dir="ltr"] .sf-input .sf-input-right {
    padding-left: var(--sf-input-right--padding-inline-start);
  }
  [dir="rtl"] .sf-input .sf-input-right {
    padding-right: var(--sf-input-right--padding-inline-start);
  }
  .sf-input .sf-input-right {
    --sf-input-right--background-color: transparent;
    background-color: var(--sf-input-right--background-color);
    -webkit-padding-end: var(--sf-input-right--padding-inline-end);
            padding-inline-end: var(--sf-input-right--padding-inline-end);
    -webkit-padding-start: var(--sf-input-right--padding-inline-start);
            padding-inline-start: var(--sf-input-right--padding-inline-start);
  }
  .sf-input .sf-input-text {
    --sf-input-text--color: var(--sf-on-surface-muted);
    --sf-input-text--font-family: var(--sf-text--family);
    --sf-input-text--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-input-text--color);
    font-family: var(--sf-input-text--font-family);
    font-size: var(--sf-input-text--font-size);
    font-weight: var(--sf-input-text--font-weight);
    line-height: var(--sf-input-text--line-height);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-b0) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-input .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--background-color: transparent;
    background-color: var(--sf-input-hint-text-wrap--background-color);
    color: var(--sf-input-hint-text-wrap--color);
    font-family: var(--sf-input-hint-text-wrap--font-family);
    font-size: var(--sf-input-hint-text-wrap--font-size);
    font-weight: var(--sf-input-hint-text-wrap--font-weight);
    gap: var(--sf-b0);
    line-height: var(--sf-input-hint-text-wrap--line-height);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-input-label--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-input .sf-input-label {
    --sf-input-label--background-color: transparent;
    --sf-input-label--gap: var(--sf-space-1\/4);
    background-color: var(--sf-input-label--background-color);
    gap: var(--sf-input-label--gap);
  }
  .sf-input .sf-input-required {
    --sf-input-required--color: var(--sf-error);
    --sf-input-required--font-family: var(--sf-text--family);
    --sf-input-required--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-input-required--color);
    font-family: var(--sf-input-required--font-family);
    font-size: var(--sf-input-required--font-size);
    font-weight: var(--sf-input-required--font-weight);
    line-height: var(--sf-input-required--line-height);
  }
  .sf-input.sf-input--size-1 .sf-input-field .sf-input-right .sf-input-text, .sf-input.sf-input--size-2 .sf-input-label .sf-input-text {
    --sf-input-text--font-size: var(--sf-text-size-1);
    --sf-input-text--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--bordered > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input.sf-input--filled > .sf-input-field > .sf-input-hint > .sf-icon {
    --sf-icon--color: var(--sf-on-surface-muted);
  }
  .sf-input.sf-input--size-1 > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input.sf-input--size-1 > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1);
    --sf-icon--height: var(--sf-text-height-1);
    --sf-icon--width: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-1 .sf-input-field input {
    --sf-input-input--padding-inline-end: var(--sf-ui-1--text-space-x);
    --sf-input-input--padding-inline-start: var(--sf-ui-1--text-space-x);
  }
  .sf-input.sf-input--size-1 .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--font-size: var(--sf-text-size-1\/2);
    --sf-input-hint-text-wrap--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1 .sf-input-hint-text-wrap, .sf-input.sf-input--size-2 .sf-input-hint-text-wrap, .sf-input.sf-input--size-3 .sf-input-hint-text-wrap, .sf-input.sf-input--size-1\/3 .sf-input-hint-text-wrap, .sf-input.sf-input--size-1\/2 .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--font-family: var(--sf-text--family);
    --sf-input-hint-text-wrap--font-weight: var(--sf-font-weight-regular);
  }
  .sf-input.sf-input--bordered .sf-input-hint-text-wrap, .sf-input.sf-input--filled .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--color: var(--sf-on-surface-muted);
  }
  .sf-input.sf-input--size-1 input {
    --sf-input-input--font-size: var(--sf-text-size-1);
    --sf-input-input--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-1 input, .sf-input.sf-input--size-2 input, .sf-input.sf-input--size-3 input, .sf-input.sf-input--size-1\/3 input, .sf-input.sf-input--size-1\/2 input {
    --sf-input-input--font-family: var(--sf-text--family);
  }
  .sf-input.sf-input--bordered input, .sf-input.sf-input--filled input {
    --sf-input-input--color: var(--sf-on-surface);
  }
  .sf-input.sf-input--size-1 .sf-input-label .sf-input-text, .sf-input.sf-input--size-1\/2 .sf-input-field .sf-input-right .sf-input-text {
    --sf-input-text--font-size: var(--sf-text-size-1\/2);
    --sf-input-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1 .sf-input-required {
    --sf-input-required--font-size: var(--sf-text-size-1\/2);
    --sf-input-required--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1 .sf-input-right {
    --sf-input-right--padding-inline-end: var(--sf-ui-1--text-space-x);
    --sf-input-right--padding-inline-start: var(--sf-ui-1--text-space-x);
  }
  .sf-input.error.sf-input--bordered .sf-input-field {
    --sf-input-field--background-color: var(--sf-transparent-for-focus);
    --sf-input-field--border-color: var(--sf-error);
  }
  .sf-input.error.sf-input--bordered .sf-input-hint-text-wrap, .sf-input.error.sf-input--filled .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--color: var(--sf-error);
  }
  .sf-input.error.sf-input--filled .sf-input-field {
    --sf-input-field--background-color: var(--sf-error-container);
  }
  .sf-input.sf-input--size-2 .sf-input-field input {
    --sf-input-input--padding-inline-end: var(--sf-ui-2--text-space-x);
    --sf-input-input--padding-inline-start: var(--sf-ui-2--text-space-x);
  }
  .sf-input.sf-input--size-2 .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--font-size: var(--sf-text-size-1);
    --sf-input-hint-text-wrap--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-2 .sf-input-required {
    --sf-input-required--font-size: var(--sf-text-size-1);
    --sf-input-required--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-2 .sf-input-right {
    --sf-input-right--padding-inline-end: var(--sf-ui-2--text-space-x);
    --sf-input-right--padding-inline-start: var(--sf-ui-2--text-space-x);
  }
  .sf-input.sf-input--size-2 .sf-input-field .sf-input-right .sf-input-text, .sf-input.sf-input--size-3 .sf-input-label .sf-input-text {
    --sf-input-text--font-size: var(--sf-text-size-2);
    --sf-input-text--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-2 > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input.sf-input--size-2 > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-2);
    --sf-icon--height: var(--sf-text-height-2);
    --sf-icon--width: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-2 input {
    --sf-input-input--font-size: var(--sf-text-size-2);
    --sf-input-input--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-3 .sf-input-field input {
    --sf-input-input--padding-inline-end: var(--sf-ui-3--text-space-x);
    --sf-input-input--padding-inline-start: var(--sf-ui-3--text-space-x);
  }
  .sf-input.sf-input--size-3 .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--font-size: var(--sf-text-size-2);
    --sf-input-hint-text-wrap--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-3 .sf-input-required {
    --sf-input-required--font-size: var(--sf-text-size-2);
    --sf-input-required--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-3 .sf-input-right {
    --sf-input-right--padding-inline-end: var(--sf-ui-3--text-space-x);
    --sf-input-right--padding-inline-start: var(--sf-ui-3--text-space-x);
  }
  .sf-input.sf-input--size-3 .sf-input-field .sf-input-right .sf-input-text {
    --sf-input-text--font-size: var(--sf-text-size-3);
    --sf-input-text--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-3 > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input.sf-input--size-3 > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-3);
    --sf-icon--height: var(--sf-text-height-3);
    --sf-icon--width: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-3 input {
    --sf-input-input--font-size: var(--sf-text-size-3);
    --sf-input-input--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field .sf-input-right .sf-input-text, .sf-input.sf-input--size-1\/2 .sf-input-label .sf-input-text {
    --sf-input-text--font-size: var(--sf-text-size-1\/3);
    --sf-input-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input.sf-input--size-1\/3 > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1\/3);
    --sf-icon--height: var(--sf-text-height-1\/3);
    --sf-icon--width: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field input {
    --sf-input-input--padding-inline-end: var(--sf-ui-1\/3--text-space-x);
    --sf-input-input--padding-inline-start: var(--sf-ui-1\/3--text-space-x);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--font-size: var(--sf-text-size-1\/4);
    --sf-input-hint-text-wrap--line-height: var(--sf-text-height-1\/4);
  }
  .sf-input.sf-input--size-1\/3 input {
    --sf-input-input--font-size: var(--sf-text-size-1\/3);
    --sf-input-input--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-label .sf-input-text {
    --sf-input-text--font-size: var(--sf-text-size-1\/4);
    --sf-input-text--line-height: var(--sf-text-height-1\/4);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-required {
    --sf-input-required--font-size: var(--sf-text-size-1\/4);
    --sf-input-required--line-height: var(--sf-text-height-1\/4);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-right {
    --sf-input-right--padding-inline-end: var(--sf-ui-1\/3--text-space-x);
    --sf-input-right--padding-inline-start: var(--sf-ui-1\/3--text-space-x);
  }
  .sf-input.sf-input--size-1\/2 > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input.sf-input--size-1\/2 > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--font-size: var(--sf-text-height-1\/2);
    --sf-icon--height: var(--sf-text-height-1\/2);
    --sf-icon--width: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field input {
    --sf-input-input--padding-inline-end: var(--sf-ui-1\/2--text-space-x);
    --sf-input-input--padding-inline-start: var(--sf-ui-1\/2--text-space-x);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-hint-text-wrap {
    --sf-input-hint-text-wrap--font-size: var(--sf-text-size-1\/3);
    --sf-input-hint-text-wrap--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/2 input {
    --sf-input-input--font-size: var(--sf-text-size-1\/2);
    --sf-input-input--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-required {
    --sf-input-required--font-size: var(--sf-text-size-1\/3);
    --sf-input-required--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-right {
    --sf-input-right--padding-inline-end: var(--sf-ui-1\/2--text-space-x);
    --sf-input-right--padding-inline-start: var(--sf-ui-1\/2--text-space-x);
  }
  .sf-input.sf-input--size-1 .sf-input-field {
    height: var(--sf-ui-1--control-height);
    block-size: var(--sf-ui-1--control-height);
    --sf-input-field--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-input-field--padding-inline-end: var(--sf-ui-1--space-x);
    --sf-input-field--padding-inline-start: var(--sf-ui-1--space-x);
    --sf-input-field--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-input.sf-input--size-1 .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1);
    --sf-input-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-1 .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1);
    --sf-input-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-1 .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1);
    --sf-input-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-1 .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1);
    --sf-input-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-1 .sf-input-field input::placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1);
    --sf-input-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-input.sf-input--size-2 .sf-input-field {
    height: var(--sf-ui-2--control-height);
    block-size: var(--sf-ui-2--control-height);
    --sf-input-field--padding-bottom: var(--sf-ui-2--space-y-tightness-default);
    --sf-input-field--padding-inline-end: var(--sf-ui-2--space-x);
    --sf-input-field--padding-inline-start: var(--sf-ui-2--space-x);
    --sf-input-field--padding-top: var(--sf-ui-2--space-y-tightness-default);
  }
  .sf-input.sf-input--size-2 .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-2);
    --sf-input-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-2 .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-2);
    --sf-input-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-2 .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-2);
    --sf-input-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-2 .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-2);
    --sf-input-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-2 .sf-input-field input::placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-2);
    --sf-input-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-input.sf-input--size-3 .sf-input-field {
    height: var(--sf-ui-3--control-height);
    block-size: var(--sf-ui-3--control-height);
    --sf-input-field--padding-bottom: var(--sf-ui-3--space-y-tightness-default);
    --sf-input-field--padding-inline-end: var(--sf-ui-3--space-x);
    --sf-input-field--padding-inline-start: var(--sf-ui-3--space-x);
    --sf-input-field--padding-top: var(--sf-ui-3--space-y-tightness-default);
  }
  .sf-input.sf-input--size-3 .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-3);
    --sf-input-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-3 .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-3);
    --sf-input-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-3 .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-3);
    --sf-input-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-3 .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-3);
    --sf-input-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-3 .sf-input-field input::placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-3);
    --sf-input-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field {
    height: var(--sf-ui-1\/3--control-height);
    block-size: var(--sf-ui-1\/3--control-height);
    --sf-input-field--padding-bottom: var(--sf-ui-1\/3--space-y-tightness-default);
    --sf-input-field--padding-inline-end: var(--sf-ui-1\/3--space-x);
    --sf-input-field--padding-inline-start: var(--sf-ui-1\/3--space-x);
    --sf-input-field--padding-top: var(--sf-ui-1\/3--space-y-tightness-default);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/3 .sf-input-field input::placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field {
    height: var(--sf-ui-1\/2--control-height);
    block-size: var(--sf-ui-1\/2--control-height);
    --sf-input-field--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-input-field--padding-inline-end: var(--sf-ui-1\/2--space-x);
    --sf-input-field--padding-inline-start: var(--sf-ui-1\/2--space-x);
    --sf-input-field--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.sf-input--size-1\/2 .sf-input-field input::placeholder {
    --sf-input-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-input-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-input.error > .sf-input-field > .sf-input-hint > .sf-icon {
    --sf-icon--color: var(--sf-on-surface-muted);
  }
}
@layer sf.states {
  .sf-input:not(.error).sf-input--bordered[\:not-has\(input\:disabled\)] .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-0);
    --sf-input-field--border-color: var(--sf-outline-variant);
  }
  .sf-input:not(.error).sf-input--bordered:not(:has(input:disabled)) .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-0);
    --sf-input-field--border-color: var(--sf-outline-variant);
  }
  .sf-input:not(.error).sf-input--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] .sf-input-field {
    --sf-input-field--border-color: var(--sf-primary);
  }
  .sf-input:not(.error).sf-input--bordered:has(input:enabled:not(:disabled):not(.disabled):active) .sf-input-field {
    --sf-input-field--border-color: var(--sf-primary);
  }
  .sf-input.sf-input--bordered[\:has\(input\:disabled\)] .sf-input-field {
    --sf-input-field--border-color: var(--sf-outline-disable);
  }
  .sf-input.sf-input--bordered:has(input:disabled) .sf-input-field {
    --sf-input-field--border-color: var(--sf-outline-disable);
  }
  .sf-input.sf-input--bordered[\:has\(input\:disabled\)] input, .sf-input.sf-input--filled[\:has\(input\:disabled\)] input {
    --sf-input-input--color: var(--sf-on-disable);
  }
  .sf-input.sf-input--bordered:has(input:disabled) input, .sf-input.sf-input--filled:has(input:disabled) input {
    --sf-input-input--color: var(--sf-on-disable);
  }
  .sf-input.sf-input--filled[\:has\(input\:disabled\)] .sf-input-field {
    --sf-input-field--background-color: var(--sf-disable);
  }
  .sf-input.sf-input--filled:has(input:disabled) .sf-input-field {
    --sf-input-field--background-color: var(--sf-disable);
  }
  .sf-input:not(.error).sf-input--filled[\:not-has\(input\:disabled\)] .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-container);
    --sf-input-field--border-color: var(--sf-transparent-for-focus);
  }
  .sf-input:not(.error).sf-input--filled:not(:has(input:disabled)) .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-container);
    --sf-input-field--border-color: var(--sf-transparent-for-focus);
  }
  .sf-input:not(.error).sf-input--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-container-hover);
  }
  .sf-input:not(.error).sf-input--filled:has(input:enabled:not(:disabled):not(.disabled):hover) .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-container-hover);
  }
  .sf-input:not(.error).sf-input--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] .sf-input-field {
    --sf-input-field--border-color: var(--sf-primary-active);
  }
  .sf-input:not(.error).sf-input--filled:has(input:enabled:not(:disabled):not(.disabled):active) .sf-input-field {
    --sf-input-field--border-color: var(--sf-primary-active);
  }
  .sf-input[\:has\(input\:disabled\)] > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input[\:has\(input\:disabled\)] > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) > .sf-input-field > .sf-input-hint > .sf-icon, .sf-input:has(input:disabled) > .sf-input-field > .sf-input-left > .sf-icon {
    --sf-icon--color: var(--sf-on-disable);
  }
  .sf-input[\:has\(input\:disabled\)] .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input[\:has\(input\:disabled\)] .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input[\:has\(input\:disabled\)] .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input[\:has\(input\:disabled\)] .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input[\:has\(input\:disabled\)] .sf-input-field input::placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) .sf-input-field input::-webkit-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) .sf-input-field input::-moz-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) .sf-input-field input:-ms-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) .sf-input-field input::-ms-input-placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) .sf-input-field input::placeholder {
    --sf-input-placeholder--color: var(--sf-on-disable);
  }
  .sf-input[\:has\(input\:disabled\)] .sf-input-text {
    --sf-input-text--color: var(--sf-on-disable);
  }
  .sf-input:has(input:disabled) .sf-input-text {
    --sf-input-text--color: var(--sf-on-disable);
  }
  .sf-input:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] .sf-input-field {
    --sf-input-field--border-color: var(--sf-primary-hover);
  }
  .sf-input:not(.error):has(input:enabled:not(:disabled):not(.disabled):hover) .sf-input-field {
    --sf-input-field--border-color: var(--sf-primary-hover);
  }
  .sf-input:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-0);
  }
  .sf-input:not(.error):has(input:enabled:not(:disabled):not(.disabled):active) .sf-input-field {
    --sf-input-field--background-color: var(--sf-surface-0);
  }
  .sf-input:not(.error)[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] .sf-input-field {
    --sf-input-field--box-shadow: var(--sf-ui-focus);
  }
  .sf-input:not(.error):has(input:enabled:not(:disabled):not(.disabled):focus) .sf-input-field {
    --sf-input-field--box-shadow: var(--sf-ui-focus);
  }
}
