@layer sf.utilities {
  @media (min-width: 520px) {
    .sm\:col-gap-0 {
      -webkit-column-gap: var(--sf-space-0);
         -moz-column-gap: var(--sf-space-0);
              column-gap: var(--sf-space-0);
    }
    .sm\:col-gap-1\/4 {
      -webkit-column-gap: var(--sf-space-1\/4);
         -moz-column-gap: var(--sf-space-1\/4);
              column-gap: var(--sf-space-1\/4);
    }
    .sm\:col-gap-1\/3 {
      -webkit-column-gap: var(--sf-space-1\/3);
         -moz-column-gap: var(--sf-space-1\/3);
              column-gap: var(--sf-space-1\/3);
    }
    .sm\:col-gap-1\/2 {
      -webkit-column-gap: var(--sf-space-1\/2);
         -moz-column-gap: var(--sf-space-1\/2);
              column-gap: var(--sf-space-1\/2);
    }
    .sm\:col-gap-1 {
      -webkit-column-gap: var(--sf-space-1);
         -moz-column-gap: var(--sf-space-1);
              column-gap: var(--sf-space-1);
    }
    .sm\:col-gap-2 {
      -webkit-column-gap: var(--sf-space-2);
         -moz-column-gap: var(--sf-space-2);
              column-gap: var(--sf-space-2);
    }
    .sm\:col-gap-3 {
      -webkit-column-gap: var(--sf-space-3);
         -moz-column-gap: var(--sf-space-3);
              column-gap: var(--sf-space-3);
    }
    .sm\:col-gap-4 {
      -webkit-column-gap: var(--sf-space-4);
         -moz-column-gap: var(--sf-space-4);
              column-gap: var(--sf-space-4);
    }
    .sm\:col-gap-5 {
      -webkit-column-gap: var(--sf-space-5);
         -moz-column-gap: var(--sf-space-5);
              column-gap: var(--sf-space-5);
    }
    .sm\:col-gap-6 {
      -webkit-column-gap: var(--sf-space-6);
         -moz-column-gap: var(--sf-space-6);
              column-gap: var(--sf-space-6);
    }
    .sm\:col-gap-7 {
      -webkit-column-gap: var(--sf-space-7);
         -moz-column-gap: var(--sf-space-7);
              column-gap: var(--sf-space-7);
    }
    .sm\:col-gap-8 {
      -webkit-column-gap: var(--sf-space-8);
         -moz-column-gap: var(--sf-space-8);
              column-gap: var(--sf-space-8);
    }
  }
}
