/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) justify-content/center (.justify-center) align-items/center (.items-center) */
  [dir="ltr"] .sf-verification {
    border-bottom-right-radius: var(--sf-ui-radius-default);
    border-bottom-right-radius: var(--sf-verification--border-bottom-right-radius, var(--sf-ui-radius-default));
  }
  [dir="rtl"] .sf-verification {
    border-bottom-left-radius: var(--sf-ui-radius-default);
    border-bottom-left-radius: var(--sf-verification--border-bottom-right-radius, var(--sf-ui-radius-default));
  }
  [dir="ltr"] .sf-verification {
    border-bottom-left-radius: var(--sf-ui-radius-default);
    border-bottom-left-radius: var(--sf-verification--border-bottom-left-radius, var(--sf-ui-radius-default));
  }
  [dir="rtl"] .sf-verification {
    border-bottom-right-radius: var(--sf-ui-radius-default);
    border-bottom-right-radius: var(--sf-verification--border-bottom-left-radius, var(--sf-ui-radius-default));
  }
  [dir="ltr"] .sf-verification {
    border-top-right-radius: var(--sf-ui-radius-default);
    border-top-right-radius: var(--sf-verification--border-top-right-radius, var(--sf-ui-radius-default));
  }
  [dir="rtl"] .sf-verification {
    border-top-left-radius: var(--sf-ui-radius-default);
    border-top-left-radius: var(--sf-verification--border-top-right-radius, var(--sf-ui-radius-default));
  }
  [dir="ltr"] .sf-verification {
    border-top-left-radius: var(--sf-ui-radius-default);
    border-top-left-radius: var(--sf-verification--border-top-left-radius, var(--sf-ui-radius-default));
  }
  [dir="rtl"] .sf-verification {
    border-top-right-radius: var(--sf-ui-radius-default);
    border-top-right-radius: var(--sf-verification--border-top-left-radius, var(--sf-ui-radius-default));
  }
  [dir="ltr"] .sf-verification {
    border-right-width: 0;
    border-right-width: var(--sf-verification--border-inline-end-width, 0);
  }
  [dir="rtl"] .sf-verification {
    border-left-width: 0;
    border-left-width: var(--sf-verification--border-inline-end-width, 0);
  }
  [dir="ltr"] .sf-verification {
    border-left-width: 0;
    border-left-width: var(--sf-verification--border-inline-start-width, 0);
  }
  [dir="rtl"] .sf-verification {
    border-right-width: 0;
    border-right-width: var(--sf-verification--border-inline-start-width, 0);
  }
  [dir="ltr"] .sf-verification {
    border-bottom-right-radius: var(--sf-ui-radius-default);
  }
  [dir="rtl"] .sf-verification {
    border-bottom-left-radius: var(--sf-ui-radius-default);
  }
  [dir="ltr"] .sf-verification {
    border-bottom-left-radius: var(--sf-ui-radius-default);
  }
  [dir="rtl"] .sf-verification {
    border-bottom-right-radius: var(--sf-ui-radius-default);
  }
  [dir="ltr"] .sf-verification {
    border-top-right-radius: var(--sf-ui-radius-default);
  }
  [dir="rtl"] .sf-verification {
    border-top-left-radius: var(--sf-ui-radius-default);
  }
  [dir="ltr"] .sf-verification {
    border-top-left-radius: var(--sf-ui-radius-default);
  }
  [dir="rtl"] .sf-verification {
    border-top-right-radius: var(--sf-ui-radius-default);
  }
  .sf-verification {
    border-end-end-radius: var(--sf-ui-radius-default);
    border-end-end-radius: var(--sf-verification--border-bottom-right-radius, var(--sf-ui-radius-default));
    border-end-start-radius: var(--sf-ui-radius-default);
    border-end-start-radius: var(--sf-verification--border-bottom-left-radius, var(--sf-ui-radius-default));
    border-start-end-radius: var(--sf-ui-radius-default);
    border-start-end-radius: var(--sf-verification--border-top-right-radius, var(--sf-ui-radius-default));
    border-start-start-radius: var(--sf-ui-radius-default);
    border-start-start-radius: var(--sf-verification--border-top-left-radius, var(--sf-ui-radius-default));
    font-family: var(--sf-text--family);
    font-family: var(--sf-verification--font-family, var(--sf-text--family));
    font-weight: var(--sf-font-weight-regular);
    font-weight: var(--sf-verification--font-weight, var(--sf-font-weight-regular));
    width: var(--sf-verification--width);
    height: var(--sf-verification--height);
    background-color: var(--sf-verification--background-color);
    color: var(--sf-verification--color);
    font-size: var(--sf-verification--font-size);
    line-height: var(--sf-verification--line-height);
    box-shadow: var(--sf-verification--box-shadow);
    border-color: transparent;
    border-color: var(--sf-verification--border-color, transparent);
    border-width: 0;
    border-width: var(--sf-verification--border-width, 0);
    border-top-width: 0;
    border-top-width: var(--sf-verification--border-top-width, 0);
    border-inline-end-width: 0;
    border-inline-end-width: var(--sf-verification--border-inline-end-width, 0);
    border-bottom-width: 0;
    border-bottom-width: var(--sf-verification--border-bottom-width, 0);
    border-inline-start-width: 0;
    border-inline-start-width: var(--sf-verification--border-inline-start-width, 0);
    border-style: solid;
    border-style: var(--sf-verification--border-style, solid);
    --sf-verification--color: var(--sf-on-surface-muted);
    --sf-verification--border-top-width: 1px;
    --sf-verification--border-bottom-width: 1px;
    --sf-verification--border-inline-start-width: 1px;
    --sf-verification--border-inline-end-width: 1px;
  }
  /* utility-hint: flex/1 (.flex-1) */
  .sf-verification input {
    --sf-verification-input--background-color: transparent;
    background-color: var(--sf-verification-input--background-color);
    color: var(--sf-verification-input--color);
    font-family: var(--sf-verification-input--font-family);
    font-size: var(--sf-verification-input--font-size);
    font-weight: var(--sf-verification-input--font-weight);
    line-height: var(--sf-verification-input--line-height);
  }
  .sf-verification input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface-muted);
    --sf-verification-placeholder--font-family: var(--sf-text--family);
    --sf-verification-placeholder--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-verification-placeholder--color);
    font-family: var(--sf-verification-placeholder--font-family);
    font-size: var(--sf-verification-placeholder--font-size);
    font-weight: var(--sf-verification-placeholder--font-weight);
    line-height: var(--sf-verification-placeholder--line-height);
  }
  .sf-verification input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface-muted);
    --sf-verification-placeholder--font-family: var(--sf-text--family);
    --sf-verification-placeholder--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-verification-placeholder--color);
    font-family: var(--sf-verification-placeholder--font-family);
    font-size: var(--sf-verification-placeholder--font-size);
    font-weight: var(--sf-verification-placeholder--font-weight);
    line-height: var(--sf-verification-placeholder--line-height);
  }
  .sf-verification input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface-muted);
    --sf-verification-placeholder--font-family: var(--sf-text--family);
    --sf-verification-placeholder--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-verification-placeholder--color);
    font-family: var(--sf-verification-placeholder--font-family);
    font-size: var(--sf-verification-placeholder--font-size);
    font-weight: var(--sf-verification-placeholder--font-weight);
    line-height: var(--sf-verification-placeholder--line-height);
  }
  .sf-verification input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface-muted);
    --sf-verification-placeholder--font-family: var(--sf-text--family);
    --sf-verification-placeholder--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-verification-placeholder--color);
    font-family: var(--sf-verification-placeholder--font-family);
    font-size: var(--sf-verification-placeholder--font-size);
    font-weight: var(--sf-verification-placeholder--font-weight);
    line-height: var(--sf-verification-placeholder--line-height);
  }
  .sf-verification input::placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface-muted);
    --sf-verification-placeholder--font-family: var(--sf-text--family);
    --sf-verification-placeholder--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-verification-placeholder--color);
    font-family: var(--sf-verification-placeholder--font-family);
    font-size: var(--sf-verification-placeholder--font-size);
    font-weight: var(--sf-verification-placeholder--font-weight);
    line-height: var(--sf-verification-placeholder--line-height);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] {
    --sf-verification--background-color: var(--sf-surface-0);
    --sf-verification--border-color: var(--sf-outline-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) {
    --sf-verification--background-color: var(--sf-surface-0);
    --sf-verification--border-color: var(--sf-outline-disable);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] input::-webkit-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] input::-moz-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] input:-ms-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] input::-ms-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] input::placeholder, .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] input::placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) input::-webkit-input-placeholder, .sf-verification.sf-verification--filled:has(input:disabled) input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) input::-moz-placeholder, .sf-verification.sf-verification--filled:has(input:disabled) input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) input:-ms-input-placeholder, .sf-verification.sf-verification--filled:has(input:disabled) input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) input::-ms-input-placeholder, .sf-verification.sf-verification--filled:has(input:disabled) input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) input::placeholder, .sf-verification.sf-verification--filled:has(input:disabled) input::placeholder {
    --sf-verification-placeholder--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:disabled\)] input, .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] input {
    --sf-verification-input--color: var(--sf-on-disable);
  }
  .sf-verification.sf-verification--bordered:has(input:disabled) input, .sf-verification.sf-verification--filled:has(input:disabled) input {
    --sf-verification-input--color: var(--sf-on-disable);
  }
  .sf-verification.error.sf-verification--bordered {
    --sf-verification--background-color: var(--sf-surface-0);
    --sf-verification--border-color: var(--sf-error);
    --sf-verification--color: var(--sf-error);
  }
  .sf-verification.error.sf-verification--bordered input::-webkit-input-placeholder, .sf-verification.error.sf-verification--filled input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.error.sf-verification--bordered input::-moz-placeholder, .sf-verification.error.sf-verification--filled input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.error.sf-verification--bordered input:-ms-input-placeholder, .sf-verification.error.sf-verification--filled input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.error.sf-verification--bordered input::-ms-input-placeholder, .sf-verification.error.sf-verification--filled input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.error.sf-verification--bordered input::placeholder, .sf-verification.error.sf-verification--filled input::placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.error.sf-verification--bordered input, .sf-verification.error.sf-verification--filled input {
    --sf-verification-input--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered {
    --sf-verification--border-color: var(--sf-outline);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1 input::-webkit-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1 input::-webkit-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1 input::-moz-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1 input::-moz-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1 input:-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1 input:-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1 input::-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1 input::-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1 input::placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1 input::placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1 input, .sf-verification.sf-verification--filled.sf-verification--size-1 input {
    --sf-verification-input--font-size: var(--sf-text-size-1);
    --sf-verification-input--line-height: var(--sf-text-height-1);
  }
  .sf-verification.sf-verification--bordered input, .sf-verification.sf-verification--filled input {
    --sf-verification-input--color: var(--sf-on-surface-muted);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)], .sf-verification.sf-verification--bordered.sf-verification--size-2[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)], .sf-verification.sf-verification--bordered.sf-verification--size-1\/2[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)], .sf-verification.sf-verification--bordered.sf-verification--size-1\/3[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] {
    --sf-verification--color: var(--sf-on-surface-variant);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1:has(input:enabled:not(:disabled):not(.disabled):focus), .sf-verification.sf-verification--bordered.sf-verification--size-2:has(input:enabled:not(:disabled):not(.disabled):focus), .sf-verification.sf-verification--bordered.sf-verification--size-1\/2:has(input:enabled:not(:disabled):not(.disabled):focus), .sf-verification.sf-verification--bordered.sf-verification--size-1\/3:has(input:enabled:not(:disabled):not(.disabled):focus) {
    --sf-verification--color: var(--sf-on-surface-variant);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::-webkit-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::-webkit-input-placeholder, .sf-verification[\:has\(input\:disabled\)] input::-webkit-input-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-webkit-input-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::-moz-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::-moz-placeholder, .sf-verification[\:has\(input\:disabled\)] input::-moz-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-moz-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input:-ms-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input:-ms-input-placeholder, .sf-verification[\:has\(input\:disabled\)] input:-ms-input-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input:-ms-input-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::-ms-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::-ms-input-placeholder, .sf-verification[\:has\(input\:disabled\)] input::-ms-input-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-ms-input-placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input::placeholder, .sf-verification[\:has\(input\:disabled\)] input::placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::placeholder, .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] input::placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):focus) input::-webkit-input-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):focus) input::-webkit-input-placeholder, .sf-verification:has(input:disabled) input::-webkit-input-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):active) input::-webkit-input-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):hover) input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):focus) input::-moz-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):focus) input::-moz-placeholder, .sf-verification:has(input:disabled) input::-moz-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):active) input::-moz-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):hover) input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):focus) input:-ms-input-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):focus) input:-ms-input-placeholder, .sf-verification:has(input:disabled) input:-ms-input-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):active) input:-ms-input-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):hover) input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):focus) input::-ms-input-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):focus) input::-ms-input-placeholder, .sf-verification:has(input:disabled) input::-ms-input-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):active) input::-ms-input-placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):hover) input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):focus) input::placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):focus) input::placeholder, .sf-verification:has(input:disabled) input::placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):active) input::placeholder, .sf-verification:has(input:enabled:not(:disabled):not(.disabled):hover) input::placeholder {
    --sf-verification-placeholder--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] input {
    --sf-verification-input--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):focus) input, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):focus) input {
    --sf-verification-input--color: var(--sf-verification--color);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-webkit-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-moz-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input:-ms-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-ms-input-placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::placeholder, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input::placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):active) input::-webkit-input-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) input::-webkit-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):active) input::-moz-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) input::-moz-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):active) input:-ms-input-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) input:-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):active) input::-ms-input-placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) input::-ms-input-placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):active) input::placeholder, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) input::placeholder {
    --sf-verification-placeholder--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input, .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] input {
    --sf-verification-input--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):active) input, .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) input {
    --sf-verification-input--color: var(--sf-on-surface);
  }
  .sf-verification.sf-verification--bordered[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] {
    --sf-verification--border-color: var(--sf-primary-hover);
  }
  .sf-verification.sf-verification--bordered:has(input:enabled:not(:disabled):not(.disabled):hover) {
    --sf-verification--border-color: var(--sf-primary-hover);
  }
  .sf-verification.sf-verification--filled[\:has\(input\:disabled\)] {
    --sf-verification--background-color: var(--sf-disable);
  }
  .sf-verification.sf-verification--filled:has(input:disabled) {
    --sf-verification--background-color: var(--sf-disable);
  }
  .sf-verification.error.sf-verification--filled {
    --sf-verification--background-color: var(--sf-error-container);
    --sf-verification--color: var(--sf-on-error-container);
  }
  .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] {
    --sf-verification--background-color: var(--sf-surface-container-active);
  }
  .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):active) {
    --sf-verification--background-color: var(--sf-surface-container-active);
  }
  .sf-verification.sf-verification--filled[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] {
    --sf-verification--background-color: var(--sf-surface-container-hover);
  }
  .sf-verification.sf-verification--filled:has(input:enabled:not(:disabled):not(.disabled):hover) {
    --sf-verification--background-color: var(--sf-surface-container-hover);
  }
  .sf-verification.sf-verification--filled {
    --sf-verification--background-color: var(--sf-surface-container);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-2 input::-webkit-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-2 input::-webkit-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-2 input::-moz-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-2 input::-moz-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-2 input:-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-2 input:-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-2 input::-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-2 input::-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-2 input::placeholder, .sf-verification.sf-verification--filled.sf-verification--size-2 input::placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-2 input, .sf-verification.sf-verification--filled.sf-verification--size-2 input {
    --sf-verification-input--font-size: var(--sf-text-size-2);
    --sf-verification-input--line-height: var(--sf-text-height-2);
  }
  .sf-verification.sf-verification--filled.sf-verification--size-3 input::-webkit-input-placeholder, .sf-verification.sf-verification--bordered.sf-verification--size-3 input::-webkit-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-verification.sf-verification--filled.sf-verification--size-3 input::-moz-placeholder, .sf-verification.sf-verification--bordered.sf-verification--size-3 input::-moz-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-verification.sf-verification--filled.sf-verification--size-3 input:-ms-input-placeholder, .sf-verification.sf-verification--bordered.sf-verification--size-3 input:-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-verification.sf-verification--filled.sf-verification--size-3 input::-ms-input-placeholder, .sf-verification.sf-verification--bordered.sf-verification--size-3 input::-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-verification.sf-verification--filled.sf-verification--size-3 input::placeholder, .sf-verification.sf-verification--bordered.sf-verification--size-3 input::placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-verification.sf-verification--filled.sf-verification--size-3 input, .sf-verification.sf-verification--bordered.sf-verification--size-3 input {
    --sf-verification-input--font-size: var(--sf-text-size-3);
    --sf-verification-input--line-height: var(--sf-text-height-3);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-3[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] {
    --sf-verification--border-color: var(--sf-outline);
    --sf-verification--color: var(--sf-on-surface-variant);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-3:has(input:enabled:not(:disabled):not(.disabled):focus) {
    --sf-verification--border-color: var(--sf-outline);
    --sf-verification--color: var(--sf-on-surface-variant);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/2 input::-webkit-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/2 input::-webkit-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/2 input::-moz-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/2 input::-moz-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/2 input:-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/2 input:-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/2 input::-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/2 input::-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/2 input::placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/2 input::placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/2 input, .sf-verification.sf-verification--filled.sf-verification--size-1\/2 input {
    --sf-verification-input--font-size: var(--sf-text-size-1\/2);
    --sf-verification-input--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/3 input::-webkit-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/3 input::-webkit-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/3 input::-moz-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/3 input::-moz-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/3 input:-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/3 input:-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/3 input::-ms-input-placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/3 input::-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/3 input::placeholder, .sf-verification.sf-verification--filled.sf-verification--size-1\/3 input::placeholder {
    --sf-verification-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-verification-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification.sf-verification--bordered.sf-verification--size-1\/3 input, .sf-verification.sf-verification--filled.sf-verification--size-1\/3 input {
    --sf-verification-input--font-size: var(--sf-text-size-1\/3);
    --sf-verification-input--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification--size-1 {
    --sf-verification--font-size: var(--sf-text-size-1);
    --sf-verification--height: var(--sf-title-height-6);
    --sf-verification--line-height: var(--sf-text-height-1);
    --sf-verification--width: var(--sf-title-height-6);
  }
  .sf-verification--size-1 input::-webkit-input-placeholder, .sf-verification--size-2 input::-webkit-input-placeholder, .sf-verification--size-3 input::-webkit-input-placeholder, .sf-verification--size-1\/2 input::-webkit-input-placeholder, .sf-verification--size-1\/3 input::-webkit-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-verification--font-size);
    --sf-verification-placeholder--line-height: var(--sf-verification--line-height);
  }
  .sf-verification--size-1 input::-moz-placeholder, .sf-verification--size-2 input::-moz-placeholder, .sf-verification--size-3 input::-moz-placeholder, .sf-verification--size-1\/2 input::-moz-placeholder, .sf-verification--size-1\/3 input::-moz-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-verification--font-size);
    --sf-verification-placeholder--line-height: var(--sf-verification--line-height);
  }
  .sf-verification--size-1 input:-ms-input-placeholder, .sf-verification--size-2 input:-ms-input-placeholder, .sf-verification--size-3 input:-ms-input-placeholder, .sf-verification--size-1\/2 input:-ms-input-placeholder, .sf-verification--size-1\/3 input:-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-verification--font-size);
    --sf-verification-placeholder--line-height: var(--sf-verification--line-height);
  }
  .sf-verification--size-1 input::-ms-input-placeholder, .sf-verification--size-2 input::-ms-input-placeholder, .sf-verification--size-3 input::-ms-input-placeholder, .sf-verification--size-1\/2 input::-ms-input-placeholder, .sf-verification--size-1\/3 input::-ms-input-placeholder {
    --sf-verification-placeholder--font-size: var(--sf-verification--font-size);
    --sf-verification-placeholder--line-height: var(--sf-verification--line-height);
  }
  .sf-verification--size-1 input::placeholder, .sf-verification--size-2 input::placeholder, .sf-verification--size-3 input::placeholder, .sf-verification--size-1\/2 input::placeholder, .sf-verification--size-1\/3 input::placeholder {
    --sf-verification-placeholder--font-size: var(--sf-verification--font-size);
    --sf-verification-placeholder--line-height: var(--sf-verification--line-height);
  }
  .sf-verification--size-2 {
    --sf-verification--font-size: var(--sf-text-size-2);
    --sf-verification--height: var(--sf-title-height-7);
    --sf-verification--line-height: var(--sf-text-height-2);
    --sf-verification--width: var(--sf-title-height-7);
  }
  .sf-verification--size-3 {
    --sf-verification--font-size: var(--sf-text-size-3);
    --sf-verification--height: var(--sf-title-height-8);
    --sf-verification--line-height: var(--sf-text-height-3);
    --sf-verification--width: var(--sf-title-height-8);
  }
  .sf-verification--size-1\/2 {
    --sf-verification--font-size: var(--sf-text-size-1\/2);
    --sf-verification--height: var(--sf-title-height-4);
    --sf-verification--line-height: var(--sf-text-height-1\/2);
    --sf-verification--width: var(--sf-title-height-4);
  }
  .sf-verification--size-1\/3 {
    --sf-verification--font-size: var(--sf-text-size-1\/3);
    --sf-verification--height: var(--sf-title-height-3);
    --sf-verification--line-height: var(--sf-text-height-1\/3);
    --sf-verification--width: var(--sf-title-height-3);
  }
  .sf-verification[\:has\(input\:disabled\)] {
    --sf-verification--color: var(--sf-on-disable);
  }
  .sf-verification:has(input:disabled) {
    --sf-verification--color: var(--sf-on-disable);
  }
  .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] {
    --sf-verification--background-color: var(--sf-ui-focus);
    --sf-verification--box-shadow: var(--sf-ui-focus);
  }
  .sf-verification:has(input:enabled:not(:disabled):not(.disabled):focus) {
    --sf-verification--background-color: var(--sf-ui-focus);
    --sf-verification--box-shadow: var(--sf-ui-focus);
  }
  .sf-verification[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:active\)] {
    --sf-verification--border-color: var(--sf-primary-active);
    --sf-verification--border-style: solid;
    --sf-verification--border-width: 1px;
    --sf-verification--color: var(--sf-on-surface);
  }
  .sf-verification:has(input:enabled:not(:disabled):not(.disabled):active) {
    --sf-verification--border-color: var(--sf-primary-active);
    --sf-verification--border-style: solid;
    --sf-verification--border-width: 1px;
    --sf-verification--color: var(--sf-on-surface);
  }
  .sf-verification--bordered {
    --sf-verification--border-style: solid;
    --sf-verification--border-width: 1px;
  }
}
@layer sf.components {
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/3) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-verification-form {
    background-color: transparent;
    background-color: var(--sf-verification-form--background-color, transparent);
    gap: var(--sf-space-1\/3);
    gap: var(--sf-verification-form--gap, var(--sf-space-1\/3));
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-b0) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-verification-form .sf-verification-form-wrap {
    --sf-verification-form-wrap--background-color: transparent;
    background-color: var(--sf-verification-form-wrap--background-color);
    gap: var(--sf-b0);
  }
  [dir="ltr"] .sf-verification-form .sf-verification {
    border-bottom-right-radius: var(--sf-verification--border-end-end-radius);
  }
  [dir="rtl"] .sf-verification-form .sf-verification {
    border-bottom-left-radius: var(--sf-verification--border-end-end-radius);
  }
  [dir="ltr"] .sf-verification-form .sf-verification {
    border-bottom-left-radius: var(--sf-verification--border-end-start-radius);
  }
  [dir="rtl"] .sf-verification-form .sf-verification {
    border-bottom-right-radius: var(--sf-verification--border-end-start-radius);
  }
  [dir="ltr"] .sf-verification-form .sf-verification {
    border-top-right-radius: var(--sf-verification--border-start-end-radius);
  }
  [dir="rtl"] .sf-verification-form .sf-verification {
    border-top-left-radius: var(--sf-verification--border-start-end-radius);
  }
  [dir="ltr"] .sf-verification-form .sf-verification {
    border-top-left-radius: var(--sf-verification--border-start-start-radius);
  }
  [dir="rtl"] .sf-verification-form .sf-verification {
    border-top-right-radius: var(--sf-verification--border-start-start-radius);
  }
  .sf-verification-form .sf-verification {
    --sf-verification--border-end-end-radius: var(--sf-ui-radius-default);
    --sf-verification--border-end-start-radius: var(--sf-ui-radius-default);
    --sf-verification--border-start-end-radius: var(--sf-ui-radius-default);
    --sf-verification--border-start-start-radius: var(--sf-ui-radius-default);
    background-color: var(--sf-verification--background-color);
    border: var(--sf-verification--border);
    border-color: transparent;
    border-color: var(--sf-verification--border-color, transparent);
    border-end-end-radius: var(--sf-verification--border-end-end-radius);
    border-end-start-radius: var(--sf-verification--border-end-start-radius);
    border-start-end-radius: var(--sf-verification--border-start-end-radius);
    border-start-start-radius: var(--sf-verification--border-start-start-radius);
    border-style: solid;
    border-style: var(--sf-verification--border-style, solid);
    border-width: var(--sf-verification--border-width);
    color: var(--sf-verification--color);
    font-family: var(--sf-verification--font-family);
    font-size: var(--sf-verification--font-size);
    font-weight: var(--sf-verification--font-weight);
    height: var(--sf-verification--height);
    line-height: var(--sf-verification--line-height);
    width: var(--sf-verification--width);
  }
  .sf-verification-form .sf-verification-form-hint {
    --sf-verification-form-hint--color: var(--sf-on-surface-variant);
    --sf-verification-form-hint--font-family: var(--sf-text--family);
    --sf-verification-form-hint--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-verification-form-hint--color);
    font-family: var(--sf-verification-form-hint--font-family);
    font-size: var(--sf-verification-form-hint--font-size);
    font-weight: var(--sf-verification-form-hint--font-weight);
    line-height: var(--sf-verification-form-hint--line-height);
  }
  .sf-verification-form.sf-verification-form--bordered .sf-verification {
    --sf-verification--border-color: var(--sf-outline);
    --sf-verification--color: var(--sf-on-surface-muted);
  }
  .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-1 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1 .sf-verification {
    --sf-verification--font-size: var(--sf-text-size-1);
    --sf-verification--line-height: var(--sf-text-height-1);
  }
  .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-1 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1 .sf-verification, .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-2 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-2 .sf-verification, .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-3 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-3 .sf-verification, .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-1\/2 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1\/2 .sf-verification, .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-1\/3 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1\/3 .sf-verification {
    --sf-verification--font-family: var(--sf-text--family);
    --sf-verification--font-weight: var(--sf-font-weight-regular);
  }
  .sf-verification-form.sf-verification-form--bordered.error .sf-verification {
    --sf-verification--border-color: var(--sf-error);
    --sf-verification--color: var(--sf-error);
  }
  .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-2 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-3 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1\/3 .sf-verification {
    --sf-verification--background-color: var(--sf-surface-container);
  }
  .sf-verification-form.sf-verification-form--filled.error .sf-verification {
    --sf-verification--background-color: var(--sf-error-container);
    --sf-verification--color: var(--sf-on-error-container);
  }
  .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-2 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-2 .sf-verification {
    --sf-verification--font-size: var(--sf-text-size-2);
    --sf-verification--line-height: var(--sf-text-height-2);
  }
  .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-3 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-3 .sf-verification {
    --sf-verification--font-size: var(--sf-text-size-3);
    --sf-verification--line-height: var(--sf-text-height-3);
  }
  .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-1\/2 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1\/2 .sf-verification {
    --sf-verification--font-size: var(--sf-text-size-1\/2);
    --sf-verification--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1\/2 .sf-verification {
    --sf-verification--background-color: var(--sf-error-container);
    --sf-verification--color: var(--sf-on-error-container);
  }
  .sf-verification-form.sf-verification-form--bordered.sf-verification-form--size-1\/3 .sf-verification, .sf-verification-form.sf-verification-form--filled.sf-verification-form--size-1\/3 .sf-verification {
    --sf-verification--font-size: var(--sf-text-size-1\/3);
    --sf-verification--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification-form.sf-verification-form--size-1 .sf-verification {
    --sf-verification--height: var(--sf-title-height-6);
    --sf-verification--width: var(--sf-title-height-6);
  }
  .sf-verification-form.sf-verification-form--size-1 .sf-verification-form-hint {
    --sf-verification-form-hint--font-size: var(--sf-text-size-1\/3);
    --sf-verification-form-hint--line-height: var(--sf-text-height-1\/3);
  }
  .sf-verification-form.sf-verification-form--size-2 .sf-verification {
    --sf-verification--height: var(--sf-title-height-7);
    --sf-verification--width: var(--sf-title-height-7);
  }
  .sf-verification-form.sf-verification-form--size-2 .sf-verification-form-hint {
    --sf-verification-form-hint--font-size: var(--sf-text-size-1\/2);
    --sf-verification-form-hint--line-height: var(--sf-text-height-1\/2);
  }
  .sf-verification-form.sf-verification-form--size-3 .sf-verification {
    --sf-verification--height: var(--sf-title-height-8);
    --sf-verification--width: var(--sf-title-height-8);
  }
  .sf-verification-form.sf-verification-form--size-3 .sf-verification-form-hint {
    --sf-verification-form-hint--font-size: var(--sf-text-size-1);
    --sf-verification-form-hint--line-height: var(--sf-text-height-1);
  }
  .sf-verification-form.sf-verification-form--size-1\/2 .sf-verification {
    --sf-verification--height: var(--sf-title-height-4);
    --sf-verification--width: var(--sf-title-height-4);
  }
  .sf-verification-form--size-1\/2 .sf-verification-form-hint, .sf-verification-form--size-1\/3 .sf-verification-form-hint {
    --sf-verification-form-hint--font-size: var(--sf-text-size-1\/4);
    --sf-verification-form-hint--line-height: var(--sf-text-height-1\/4);
  }
  .sf-verification-form.sf-verification-form--size-1\/3 .sf-verification {
    --sf-verification--height: var(--sf-title-height-3);
    --sf-verification--width: var(--sf-title-height-3);
  }
  .sf-verification-form--bordered .sf-verification {
    --sf-verification--background-color: var(--sf-surface-0);
    --sf-verification--border: 1px solid;
    --sf-verification--border-style: solid;
    --sf-verification--border-width: 1px;
  }
  .sf-verification-form.error .sf-verification-form-hint {
    --sf-verification-form-hint--color: var(--sf-error);
  }
}
@layer sf.components {
  .sf-verification input {
    text-align: center;
  }
}
