@layer sf.utilities {
  .hover\:placeholder-opacity-1:hover::-webkit-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .hover\:placeholder-opacity-1:hover::-moz-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .hover\:placeholder-opacity-1:hover:-ms-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .hover\:placeholder-opacity-1:hover::-ms-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .hover\:placeholder-opacity-1:hover::placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .hover\:placeholder-opacity-2:hover::-webkit-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .hover\:placeholder-opacity-2:hover::-moz-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .hover\:placeholder-opacity-2:hover:-ms-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .hover\:placeholder-opacity-2:hover::-ms-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .hover\:placeholder-opacity-2:hover::placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .hover\:placeholder-opacity-3:hover::-webkit-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .hover\:placeholder-opacity-3:hover::-moz-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .hover\:placeholder-opacity-3:hover:-ms-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .hover\:placeholder-opacity-3:hover::-ms-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .hover\:placeholder-opacity-3:hover::placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .hover\:placeholder-opacity-4:hover::-webkit-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .hover\:placeholder-opacity-4:hover::-moz-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .hover\:placeholder-opacity-4:hover:-ms-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .hover\:placeholder-opacity-4:hover::-ms-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .hover\:placeholder-opacity-4:hover::placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .hover\:placeholder-opacity-5:hover::-webkit-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .hover\:placeholder-opacity-5:hover::-moz-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .hover\:placeholder-opacity-5:hover:-ms-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .hover\:placeholder-opacity-5:hover::-ms-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .hover\:placeholder-opacity-5:hover::placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .hover\:placeholder-opacity-6:hover::-webkit-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .hover\:placeholder-opacity-6:hover::-moz-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .hover\:placeholder-opacity-6:hover:-ms-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .hover\:placeholder-opacity-6:hover::-ms-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .hover\:placeholder-opacity-6:hover::placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .hover\:placeholder-opacity-7:hover::-webkit-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .hover\:placeholder-opacity-7:hover::-moz-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .hover\:placeholder-opacity-7:hover:-ms-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .hover\:placeholder-opacity-7:hover::-ms-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .hover\:placeholder-opacity-7:hover::placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .hover\:placeholder-opacity-8:hover::-webkit-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .hover\:placeholder-opacity-8:hover::-moz-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .hover\:placeholder-opacity-8:hover:-ms-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .hover\:placeholder-opacity-8:hover::-ms-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .hover\:placeholder-opacity-8:hover::placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .hover\:placeholder-opacity-9:hover::-webkit-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .hover\:placeholder-opacity-9:hover::-moz-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .hover\:placeholder-opacity-9:hover:-ms-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .hover\:placeholder-opacity-9:hover::-ms-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .hover\:placeholder-opacity-9:hover::placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .hover\:placeholder-opacity-full:hover::-webkit-input-placeholder {
    opacity: 1;
  }
  .hover\:placeholder-opacity-full:hover::-moz-placeholder {
    opacity: 1;
  }
  .hover\:placeholder-opacity-full:hover:-ms-input-placeholder {
    opacity: 1;
  }
  .hover\:placeholder-opacity-full:hover::-ms-input-placeholder {
    opacity: 1;
  }
  .hover\:placeholder-opacity-full:hover::placeholder {
    opacity: 1;
  }
  .hover\:placeholder-opacity-0:hover::-webkit-input-placeholder {
    opacity: 0;
  }
  .hover\:placeholder-opacity-0:hover::-moz-placeholder {
    opacity: 0;
  }
  .hover\:placeholder-opacity-0:hover:-ms-input-placeholder {
    opacity: 0;
  }
  .hover\:placeholder-opacity-0:hover::-ms-input-placeholder {
    opacity: 0;
  }
  .hover\:placeholder-opacity-0:hover::placeholder {
    opacity: 0;
  }
}
