@layer sf.utilities {
  .hover\:rotate-0:hover {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .hover\:rotate-1:hover {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  .hover\:rotate-2:hover {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  .hover\:rotate-3:hover {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  .hover\:rotate-5:hover {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  .hover\:rotate-15:hover {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  .hover\:rotate-45:hover {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hover\:rotate-90:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .hover\:rotate-180:hover {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
