/*
  * Main SCSS file for including styles for component.
  *
  * Imports:
  * - Styling variables (_var__component_name.scss)
  * - Base styles (_css__component_name.scss)
  *
  */
/*
* _var__component_name.scss
* 
* SCSS file containing variables for component styling.
* 
* Used to define default parameters (color, size, etc.)
* that can be overridden in other parts of the project.
* 
* Example usage:
* --sf-icon--fill: 0; // Fill for icon
*/
/*
  * Main SCSS file for including styles for component.
  *
  * Imports:
  * - Styling variables (_var__component_name.scss)
  * - Base styles (_css__component_name.scss)
  *
  */
/* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/3) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
[dir="ltr"] .sf-accordion {
  border-bottom-right-radius: var(--sf-radius-1);
}
[dir="rtl"] .sf-accordion {
  border-bottom-left-radius: var(--sf-radius-1);
}
[dir="ltr"] .sf-accordion {
  border-bottom-left-radius: var(--sf-radius-1);
}
[dir="rtl"] .sf-accordion {
  border-bottom-right-radius: var(--sf-radius-1);
}
[dir="ltr"] .sf-accordion {
  border-top-right-radius: var(--sf-radius-1);
}
[dir="rtl"] .sf-accordion {
  border-top-left-radius: var(--sf-radius-1);
}
[dir="ltr"] .sf-accordion {
  border-top-left-radius: var(--sf-radius-1);
}
[dir="rtl"] .sf-accordion {
  border-top-right-radius: var(--sf-radius-1);
}
[dir="ltr"] .sf-accordion {
  padding-right: var(--sf-space-3);
}
[dir="rtl"] .sf-accordion {
  padding-left: var(--sf-space-3);
}
[dir="ltr"] .sf-accordion {
  padding-left: var(--sf-space-3);
}
[dir="rtl"] .sf-accordion {
  padding-right: var(--sf-space-3);
}
.sf-accordion {
  border-end-end-radius: var(--sf-radius-1);
  border-end-start-radius: var(--sf-radius-1);
  border-start-end-radius: var(--sf-radius-1);
  border-start-start-radius: var(--sf-radius-1);
  gap: var(--sf-space-1\/3);
  padding-bottom: var(--sf-space-3);
  -webkit-padding-end: var(--sf-space-3);
          padding-inline-end: var(--sf-space-3);
  -webkit-padding-start: var(--sf-space-3);
          padding-inline-start: var(--sf-space-3);
  padding-top: var(--sf-space-3);
  background-color: var(--sf-accordion--background-color);
  --sf-accordion--background-color: var(--sf-primary-container);
}

/* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/3) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
.sf-accordion .sf-accordion-wrap {
  background-color: transparent;
  gap: var(--sf-space-1\/3);
}

.sf-accordion .sf-accordion-title {
  color: var(--sf-accordion-title--color);
  font-family: var(--sf-text--family);
  font-size: var(--sf-text-size-2);
  font-weight: var(--sf-font-weight-medium);
  line-height: var(--sf-text-height-2);
}

.sf-accordion .sf-icon {
  color: var(--sf-icon--color);
  font-size: var(--sf-text-height-1);
  height: var(--sf-text-height-1);
  width: var(--sf-text-height-1);
}

.sf-accordion:hover {
  --sf-accordion--background-color: var(--sf-primary);
}

.sf-accordion:hover .sf-accordion-title {
  --sf-accordion-title--color: var(--sf-on-primary);
}

.sf-accordion:hover > .sf-icon {
  --sf-icon--color: var(--sf-on-primary);
}

.sf-accordion .sf-accordion-content {
  color: var(--sf-on-primary-container);
  font-family: var(--sf-text--family);
  font-size: var(--sf-text-size-1);
  font-weight: var(--sf-font-weight-regular);
  line-height: var(--sf-text-height-1);
}
