@layer sf.utilities {
  :root {
    --sf-text-num-ordinal:ordinal;
    --sf-text-num-slashed-zero:slashed-zero;
    --sf-text-num-lining:lining-nums;
    --sf-text-num-oldstyle:oldstyle-nums;
    --sf-text-num-proportional:proportional-nums;
    --sf-text-num-tabular:tabular-nums;
    --sf-text-num-diagonal:diagonal-fractions;
    --sf-text-num-stacked-fractions:stacked-fractions;
    --sf-text-num-normal:normal;
  }
  .num-ordinal {
    -webkit-font-feature-settings: var(--sf-text-num-ordinal);
            font-feature-settings: var(--sf-text-num-ordinal);
    font-variant-numeric: var(--sf-text-num-ordinal);
  }
  .num-slashed-zero {
    -webkit-font-feature-settings: var(--sf-text-num-slashed-zero);
            font-feature-settings: var(--sf-text-num-slashed-zero);
    font-variant-numeric: var(--sf-text-num-slashed-zero);
  }
  .num-lining {
    -webkit-font-feature-settings: var(--sf-text-num-lining);
            font-feature-settings: var(--sf-text-num-lining);
    font-variant-numeric: var(--sf-text-num-lining);
  }
  .num-oldstyle {
    -webkit-font-feature-settings: var(--sf-text-num-oldstyle);
            font-feature-settings: var(--sf-text-num-oldstyle);
    font-variant-numeric: var(--sf-text-num-oldstyle);
  }
  .num-proportional {
    -webkit-font-feature-settings: var(--sf-text-num-proportional);
            font-feature-settings: var(--sf-text-num-proportional);
    font-variant-numeric: var(--sf-text-num-proportional);
  }
  .num-tabular {
    -webkit-font-feature-settings: var(--sf-text-num-tabular);
            font-feature-settings: var(--sf-text-num-tabular);
    font-variant-numeric: var(--sf-text-num-tabular);
  }
  .num-diagonal {
    -webkit-font-feature-settings: var(--sf-text-num-diagonal);
            font-feature-settings: var(--sf-text-num-diagonal);
    font-variant-numeric: var(--sf-text-num-diagonal);
  }
  .num-stacked-fractions {
    -webkit-font-feature-settings: var(--sf-text-num-stacked-fractions);
            font-feature-settings: var(--sf-text-num-stacked-fractions);
    font-variant-numeric: var(--sf-text-num-stacked-fractions);
  }
  .num-normal {
    -webkit-font-feature-settings: var(--sf-text-num-normal);
            font-feature-settings: var(--sf-text-num-normal);
    font-variant-numeric: var(--sf-text-num-normal);
  }
}
