@layer sf.utilities {
  @media (min-width: 1140px) {
    [dir="ltr"] .xl\:float-inline-end {
      float: right;
    }
    [dir="rtl"] .xl\:float-inline-end {
      float: left;
    }
    .xl\:float-inline-end {
      float: inline-end;
    }
    [dir="ltr"] .xl\:float-inline-start {
      float: left;
    }
    [dir="rtl"] .xl\:float-inline-start {
      float: right;
    }
    .xl\:float-inline-start {
      float: inline-start;
    }
    .xl\:float-none {
      float: none;
    }
  }
}
