@layer sf.utilities {
  @media (min-width: 1320px) {
    .xxl\:isolate {
      isolation: isolate;
    }
    .xxl\:isolation-auto {
      isolation: auto;
    }
    .xxl\:auto {
      isolation: auto;
    }
  }
}
