@layer sf.utilities {
  @media (min-width: 60rem) {
    .lg\:bg-auto {
      background-size: auto;
    }
    .lg\:bg-cover {
      background-size: cover;
    }
    .lg\:bg-contain {
      background-size: contain;
    }
  }
}
