@layer sf.utilities {
  @media (min-width: 960px) {
    _:-ms-input-placeholder, html:not([dir="rtl"]) .lg\:container {
      padding-left: var(--sf-space-4);
    }
    @supports not (padding-inline-start: initial) {
    html:not([dir="rtl"]) .lg\:container {
      padding-left: var(--sf-space-4);
      }
    }
    .lg\:container:where(:dir(ltr)) {
      padding-left: var(--sf-space-4);
    }
    _:-ms-input-placeholder, [dir="rtl"] .lg\:container {
      padding-right: var(--sf-space-4);
    }
    @supports not (padding-inline-start: initial) {
    [dir="rtl"] .lg\:container {
      padding-right: var(--sf-space-4);
      }
    }
    .lg\:container:where(:dir(rtl)) {
      padding-right: var(--sf-space-4);
    }
    _:-ms-input-placeholder, html:not([dir="rtl"]) .lg\:container {
      padding-right: var(--sf-space-4);
    }
    @supports not (padding-inline-end: initial) {
    html:not([dir="rtl"]) .lg\:container {
      padding-right: var(--sf-space-4);
      }
    }
    .lg\:container:where(:dir(ltr)) {
      padding-right: var(--sf-space-4);
    }
    _:-ms-input-placeholder, [dir="rtl"] .lg\:container {
      padding-left: var(--sf-space-4);
    }
    @supports not (padding-inline-end: initial) {
    [dir="rtl"] .lg\:container {
      padding-left: var(--sf-space-4);
      }
    }
    .lg\:container:where(:dir(rtl)) {
      padding-left: var(--sf-space-4);
    }
    .lg\:container {
      width: var(--sf-breakpoint-lg);
      -webkit-padding-start: var(--sf-space-4);
              padding-inline-start: var(--sf-space-4);
      -webkit-padding-end: var(--sf-space-4);
              padding-inline-end: var(--sf-space-4);
    }
  }
}
