@layer sf.utilities {
  .auto-rows {
    grid-auto-rows: auto;
  }
  .auto-rows-min {
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
  }
  .auto-rows-max {
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }
  .auto-rows-fr {
    grid-auto-rows: minmax(0, 1fr);
  }
}
