@layer sf.utilities {
  .bg-bottom {
    background-position: bottom;
  }
  .bg-center {
    background-position: center;
  }
  .bg-center-top {
    background-position: center top;
  }
  .bg-center-bottom {
    background-position: center bottom;
  }
  .bg-left {
    background-position: left;
  }
  .bg-left-top {
    background-position: left top;
  }
  .bg-left-bottom {
    background-position: left bottom;
  }
  .bg-right {
    background-position: right;
  }
  .bg-right-top {
    background-position: right top;
  }
  .bg-right-bottom {
    background-position: right bottom;
  }
  .bg-inline-start {
    background-position: left;
  }
  .bg-inline-start-bottom {
    background-position: left bottom;
  }
  .bg-inline-start-top {
    background-position: left top;
  }
  .bg-inline-start-center {
    background-position: left center;
  }
  .bg-inline-end {
    background-position: right;
  }
  .bg-inline-end-bottom {
    background-position: right bottom;
  }
  .bg-inline-end-top {
    background-position: right top;
  }
  .bg-inline-end-center {
    background-position: right center;
  }
  .bg-top {
    background-position: top;
  }
}
