/*
* Main SCSS file for including styles for component.
*
* Imports:
* - Styling variables (_var__component_name.scss)
* - Base styles (_css__component_name.scss)
*
*/
@layer sf.components {
  /* utility-hint: display/flex (.flex) flex-direction/column (.flex-col) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-space-1\/4) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-country-code {
    background-color: transparent;
    background-color: var(--sf-country-code--background-color, transparent);
    gap: var(--sf-space-1\/4);
    gap: var(--sf-country-code--gap, var(--sf-space-1\/4));
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-country-code-label--gap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-country-code .sf-country-code-label {
    --sf-country-code-label--background-color: transparent;
    --sf-country-code-label--gap: var(--sf-space-1\/4);
    background-color: var(--sf-country-code-label--background-color);
    gap: var(--sf-country-code-label--gap);
  }
  .sf-country-code .sf-country-code-text {
    --sf-country-code-text--color: var(--sf-on-surface-muted);
    --sf-country-code-text--font-family: var(--sf-text--family);
    --sf-country-code-text--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-country-code-text--color);
    font-family: var(--sf-country-code-text--font-family);
    font-size: var(--sf-country-code-text--font-size);
    font-weight: var(--sf-country-code-text--font-weight);
    line-height: var(--sf-country-code-text--line-height);
  }
  .sf-country-code .sf-country-code-required {
    --sf-country-code-required--color: var(--sf-error);
    --sf-country-code-required--font-family: var(--sf-text--family);
    --sf-country-code-required--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-country-code-required--color);
    font-family: var(--sf-country-code-required--font-family);
    font-size: var(--sf-country-code-required--font-size);
    font-weight: var(--sf-country-code-required--font-weight);
    line-height: var(--sf-country-code-required--line-height);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  [dir="ltr"] .sf-country-code .sf-country-code-field {
    border-bottom-right-radius: var(--sf-country-code-field--border-end-end-radius);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field {
    border-bottom-left-radius: var(--sf-country-code-field--border-end-end-radius);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-field {
    border-bottom-left-radius: var(--sf-country-code-field--border-end-start-radius);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field {
    border-bottom-right-radius: var(--sf-country-code-field--border-end-start-radius);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-field {
    border-top-right-radius: var(--sf-country-code-field--border-start-end-radius);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field {
    border-top-left-radius: var(--sf-country-code-field--border-start-end-radius);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-field {
    border-top-left-radius: var(--sf-country-code-field--border-start-start-radius);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field {
    border-top-right-radius: var(--sf-country-code-field--border-start-start-radius);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-field {
    padding-right: var(--sf-country-code-field--padding-inline-end);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field {
    padding-left: var(--sf-country-code-field--padding-inline-end);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-field {
    padding-left: var(--sf-country-code-field--padding-inline-start);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field {
    padding-right: var(--sf-country-code-field--padding-inline-start);
  }
  .sf-country-code .sf-country-code-field {
    --sf-country-code-field--background-color: var(--sf-surface-0);
    --sf-country-code-field--border: var(--sf-a1) solid;
    --sf-country-code-field--border-color: var(--sf-outline-variant);
    --sf-country-code-field--border-end-end-radius: var(--sf-ui-radius-default);
    --sf-country-code-field--border-end-start-radius: var(--sf-ui-radius-default);
    --sf-country-code-field--border-start-end-radius: var(--sf-ui-radius-default);
    --sf-country-code-field--border-start-start-radius: var(--sf-ui-radius-default);
    background-color: var(--sf-country-code-field--background-color);
    border: var(--sf-country-code-field--border);
    border-color: transparent;
    border-color: var(--sf-country-code-field--border-color, transparent);
    border-end-end-radius: var(--sf-country-code-field--border-end-end-radius);
    border-end-start-radius: var(--sf-country-code-field--border-end-start-radius);
    border-start-end-radius: var(--sf-country-code-field--border-start-end-radius);
    border-start-start-radius: var(--sf-country-code-field--border-start-start-radius);
    box-shadow: var(--sf-country-code-field--box-shadow);
    padding-bottom: var(--sf-country-code-field--padding-bottom);
    -webkit-padding-end: var(--sf-country-code-field--padding-inline-end);
            padding-inline-end: var(--sf-country-code-field--padding-inline-end);
    -webkit-padding-start: var(--sf-country-code-field--padding-inline-start);
            padding-inline-start: var(--sf-country-code-field--padding-inline-start);
    padding-top: var(--sf-country-code-field--padding-top);
  }
  /* utility-hint: display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  .sf-country-code .sf-country-code-left {
    --sf-country-code-left--background-color: transparent;
    background-color: var(--sf-country-code-left--background-color);
  }
  .sf-country-code .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--background-color: transparent;
    background-color: var(--sf-country-code-flag-icon--background-color);
    font-size: var(--sf-country-code-flag-icon--font-size);
    height: var(--sf-country-code-flag-icon--height);
    opacity: var(--sf-country-code-flag-icon--opacity);
    width: var(--sf-country-code-flag-icon--width);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) */
  [dir="ltr"] .sf-country-code .sf-country-code-field input {
    padding-right: var(--sf-country-code-input--padding-inline-end);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field input {
    padding-left: var(--sf-country-code-input--padding-inline-end);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-field input {
    padding-left: var(--sf-country-code-input--padding-inline-start);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-field input {
    padding-right: var(--sf-country-code-input--padding-inline-start);
  }
  .sf-country-code .sf-country-code-field input {
    --sf-country-code-input--background-color: transparent;
    background-color: var(--sf-country-code-input--background-color);
    color: var(--sf-country-code-input--color);
    font-family: var(--sf-country-code-input--font-family);
    font-size: var(--sf-country-code-input--font-size);
    font-weight: var(--sf-country-code-input--font-weight);
    line-height: var(--sf-country-code-input--line-height);
    -webkit-padding-end: var(--sf-country-code-input--padding-inline-end);
            padding-inline-end: var(--sf-country-code-input--padding-inline-end);
    -webkit-padding-start: var(--sf-country-code-input--padding-inline-start);
            padding-inline-start: var(--sf-country-code-input--padding-inline-start);
  }
  .sf-country-code .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-surface-muted);
    --sf-country-code-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-country-code-placeholder--color);
    font-family: var(--sf-country-code-placeholder--font-family);
    font-size: var(--sf-country-code-placeholder--font-size);
    line-height: var(--sf-country-code-placeholder--line-height);
  }
  .sf-country-code .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-surface-muted);
    --sf-country-code-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-country-code-placeholder--color);
    font-family: var(--sf-country-code-placeholder--font-family);
    font-size: var(--sf-country-code-placeholder--font-size);
    line-height: var(--sf-country-code-placeholder--line-height);
  }
  .sf-country-code .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-surface-muted);
    --sf-country-code-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-country-code-placeholder--color);
    font-family: var(--sf-country-code-placeholder--font-family);
    font-size: var(--sf-country-code-placeholder--font-size);
    line-height: var(--sf-country-code-placeholder--line-height);
  }
  .sf-country-code .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-surface-muted);
    --sf-country-code-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-country-code-placeholder--color);
    font-family: var(--sf-country-code-placeholder--font-family);
    font-size: var(--sf-country-code-placeholder--font-size);
    line-height: var(--sf-country-code-placeholder--line-height);
  }
  .sf-country-code .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-surface-muted);
    --sf-country-code-placeholder--font-family: var(--sf-text--family);
    color: var(--sf-country-code-placeholder--color);
    font-family: var(--sf-country-code-placeholder--font-family);
    font-size: var(--sf-country-code-placeholder--font-size);
    line-height: var(--sf-country-code-placeholder--line-height);
  }
  .sf-country-code .sf-country-code-hint {
    --sf-country-code-hint--color: var(--sf-on-surface-muted);
    --sf-country-code-hint--font-family: var(--sf-text--family);
    --sf-country-code-hint--font-weight: var(--sf-font-weight-regular);
    color: var(--sf-country-code-hint--color);
    font-family: var(--sf-country-code-hint--font-family);
    font-size: var(--sf-country-code-hint--font-size);
    font-weight: var(--sf-country-code-hint--font-weight);
    line-height: var(--sf-country-code-hint--line-height);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-list {
    padding-right: var(--sf-country-code-list--padding-inline-end);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-list {
    padding-left: var(--sf-country-code-list--padding-inline-end);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-list {
    padding-left: var(--sf-country-code-list--padding-inline-start);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-list {
    padding-right: var(--sf-country-code-list--padding-inline-start);
  }
  .sf-country-code .sf-country-code-list {
    background-color: var(--sf-country-code-list--background-color);
    box-shadow: var(--sf-country-code-list--box-shadow);
    padding-bottom: var(--sf-country-code-list--padding-bottom);
    -webkit-padding-end: var(--sf-country-code-list--padding-inline-end);
            padding-inline-end: var(--sf-country-code-list--padding-inline-end);
    -webkit-padding-start: var(--sf-country-code-list--padding-inline-start);
            padding-inline-start: var(--sf-country-code-list--padding-inline-start);
    padding-top: var(--sf-country-code-list--padding-top);
  }
  .sf-country-code .sf-country-code-items {
    background-color: var(--sf-country-code-items--background-color);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) gap/var(--sf-country-code-item--gap) justify-content/flex-start (.justify-start) align-items/center (.items-center) */
  [dir="ltr"] .sf-country-code .sf-country-code-item {
    padding-right: var(--sf-country-code-item--padding-inline-end);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-item {
    padding-left: var(--sf-country-code-item--padding-inline-end);
  }
  [dir="ltr"] .sf-country-code .sf-country-code-item {
    padding-left: var(--sf-country-code-item--padding-inline-start);
  }
  [dir="rtl"] .sf-country-code .sf-country-code-item {
    padding-right: var(--sf-country-code-item--padding-inline-start);
  }
  .sf-country-code .sf-country-code-item {
    --sf-country-code-item--background-color: transparent;
    --sf-country-code-item--gap: var(--sf-space-1\/3);
    background-color: var(--sf-country-code-item--background-color);
    color: var(--sf-country-code-item--color);
    font-family: var(--sf-country-code-item--font-family);
    font-size: var(--sf-country-code-item--font-size);
    font-weight: var(--sf-country-code-item--font-weight);
    gap: var(--sf-country-code-item--gap);
    line-height: var(--sf-country-code-item--line-height);
    padding-bottom: var(--sf-country-code-item--padding-bottom);
    -webkit-padding-end: var(--sf-country-code-item--padding-inline-end);
            padding-inline-end: var(--sf-country-code-item--padding-inline-end);
    -webkit-padding-start: var(--sf-country-code-item--padding-inline-start);
            padding-inline-start: var(--sf-country-code-item--padding-inline-start);
    padding-top: var(--sf-country-code-item--padding-top);
    --sf-country-code-item--color: var(--sf-on-surface);
  }
  .sf-country-code .sf-country-code-flag {
    --sf-country-code-flag--background-color: transparent;
    background-color: var(--sf-country-code-flag--background-color);
    font-size: var(--sf-country-code-flag--font-size);
    height: var(--sf-country-code-flag--height);
    width: var(--sf-country-code-flag--width);
  }
  .sf-country-code .sf-icon {
    color: var(--sf-on-surface-variant);
    color: var(--sf-icon--color, var(--sf-on-surface-variant));
    font-size: var(--sf-text-size-3);
    font-size: var(--sf-icon--font-size, var(--sf-text-size-3));
    height: var(--sf-text-size-3);
    height: var(--sf-icon--height, var(--sf-text-size-3));
    width: var(--sf-text-size-3);
    width: var(--sf-icon--width, var(--sf-text-size-3));
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-text {
    --sf-country-code-text--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-text--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-required {
    --sf-country-code-required--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-required--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-field {
    --sf-country-code-field--padding-bottom: var(--sf-ui-1--space-y-tightness-default);
    --sf-country-code-field--padding-inline-end: var(--sf-ui-1--space-x);
    --sf-country-code-field--padding-inline-start: var(--sf-ui-1--space-x);
    --sf-country-code-field--padding-top: var(--sf-ui-1--space-y-tightness-default);
  }
  .sf-country-code[\:not-has\(input\:disabled\)] .sf-country-code-field {
    --sf-country-code-field--border-color: var(--sf-primary-active);
  }
  .sf-country-code:not(:has(input:disabled)) .sf-country-code-field {
    --sf-country-code-field--border-color: var(--sf-primary-active);
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--font-size: var(--sf-text-size-6);
    --sf-country-code-flag-icon--height: var(--sf-text-height-1);
    --sf-country-code-flag-icon--width: var(--sf-text-size-6);
  }
  .sf-country-code.sf-country-code--size-1 .sf-icon {
    --sf-icon--color: var(--sf-on-surface-variant);
  }
  .sf-country-code.sf-country-code--size-1 input {
    --sf-country-code-input--padding-inline-end: var(--sf-ui-1--text-space-x);
    --sf-country-code-input--padding-inline-start: var(--sf-ui-1--text-space-x);
  }
  .sf-country-code.sf-country-code--size-1 input, .sf-country-code.sf-country-code--size-2 input, .sf-country-code.sf-country-code--size-3 input, .sf-country-code.sf-country-code--size-1\/3 input, .sf-country-code.sf-country-code--size-1\/2 input {
    --sf-country-code-input--font-size: var(--sf-text-size-1);
    --sf-country-code-input--line-height: var(--sf-text-height-1);
    --sf-country-code-input--font-family: var(--sf-text--family);
    --sf-country-code-input--font-weight: var(--sf-font-weight-regular);
  }
  .sf-country-code input {
    --sf-country-code-input--color: var(--sf-on-surface);
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-hint {
    --sf-country-code-hint--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-hint--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code[\:has\(input\:disabled\)] input {
    --sf-country-code-input--color: var(--sf-on-disable);
  }
  .sf-country-code:has(input:disabled) input {
    --sf-country-code-input--color: var(--sf-on-disable);
  }
  .sf-country-code--size-1 .sf-country-code-item, .sf-country-code--size-1\/2 .sf-country-code-item {
    --sf-country-code-item--padding-bottom: var(--sf-ui-1\/2--space-y);
    --sf-country-code-item--padding-inline-end: var(--sf-ui-1\/2--space-y);
    --sf-country-code-item--padding-inline-start: var(--sf-ui-1\/2--space-y);
    --sf-country-code-item--padding-top: var(--sf-ui-1\/2--space-y);
  }
  .sf-country-code--size-1 .sf-country-code-flag, .sf-country-code--size-1\/2 .sf-country-code-flag {
    --sf-country-code-flag--font-size: var(--sf-text-size-3);
    --sf-country-code-flag--height: var(--sf-text-height-1\/3);
    --sf-country-code-flag--width: var(--sf-text-size-3);
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-item {
    --sf-country-code-item--font-size: var(--sf-text-size-1);
    --sf-country-code-item--line-height: var(--sf-text-height-1);
  }
  .sf-country-code.sf-country-code--size-1 .sf-country-code-item, .sf-country-code.sf-country-code--size-2 .sf-country-code-item, .sf-country-code.sf-country-code--size-3 .sf-country-code-item, .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-item, .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-item {
    --sf-country-code-item--font-family: var(--sf-text--family);
    --sf-country-code-item--font-weight: var(--sf-font-weight-regular);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-text {
    --sf-country-code-text--font-size: var(--sf-text-size-1);
    --sf-country-code-text--line-height: var(--sf-text-height-1);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-required {
    --sf-country-code-required--font-size: var(--sf-text-size-1);
    --sf-country-code-required--line-height: var(--sf-text-height-1);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-field {
    --sf-country-code-field--padding-bottom: var(--sf-ui-2--space-y-tightness-default);
    --sf-country-code-field--padding-inline-end: var(--sf-ui-2--space-x);
    --sf-country-code-field--padding-inline-start: var(--sf-ui-2--space-x);
    --sf-country-code-field--padding-top: var(--sf-ui-2--space-y-tightness-default);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--font-size: var(--sf-text-size-8);
    --sf-country-code-flag-icon--height: var(--sf-text-height-2);
    --sf-country-code-flag-icon--width: var(--sf-text-size-8);
  }
  .sf-country-code.sf-country-code--size-2 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-4);
    --sf-icon--height: var(--sf-text-size-4);
    --sf-icon--width: var(--sf-text-size-4);
  }
  .sf-country-code.sf-country-code--size-2 input {
    --sf-country-code-input--padding-inline-end: var(--sf-ui-2--text-space-x);
    --sf-country-code-input--padding-inline-start: var(--sf-ui-2--text-space-x);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-hint {
    --sf-country-code-hint--font-size: var(--sf-text-size-1);
    --sf-country-code-hint--line-height: var(--sf-text-height-1);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-item {
    --sf-country-code-item--padding-bottom: var(--sf-ui-1--space-y);
    --sf-country-code-item--padding-inline-end: var(--sf-ui-1--space-y);
    --sf-country-code-item--padding-inline-start: var(--sf-ui-1--space-y);
    --sf-country-code-item--padding-top: var(--sf-ui-1--space-y);
    --sf-country-code-item--font-size: var(--sf-text-size-2);
    --sf-country-code-item--line-height: var(--sf-text-height-2);
  }
  .sf-country-code.sf-country-code--size-2 .sf-country-code-flag {
    --sf-country-code-flag--font-size: var(--sf-text-size-5);
    --sf-country-code-flag--height: var(--sf-text-height-1\/2);
    --sf-country-code-flag--width: var(--sf-text-size-5);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-text {
    --sf-country-code-text--font-size: var(--sf-text-size-2);
    --sf-country-code-text--line-height: var(--sf-text-height-2);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-required {
    --sf-country-code-required--font-size: var(--sf-text-size-2);
    --sf-country-code-required--line-height: var(--sf-text-height-2);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-field {
    --sf-country-code-field--padding-bottom: var(--sf-ui-3--space-y-tightness-default);
    --sf-country-code-field--padding-inline-end: var(--sf-ui-3--space-x);
    --sf-country-code-field--padding-inline-start: var(--sf-ui-3--space-x);
    --sf-country-code-field--padding-top: var(--sf-ui-3--space-y-tightness-default);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--font-size: var(--sf-text-size-9);
    --sf-country-code-flag-icon--height: var(--sf-text-height-3);
    --sf-country-code-flag-icon--width: var(--sf-text-size-9);
  }
  .sf-country-code.sf-country-code--size-3 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-6);
    --sf-icon--height: var(--sf-text-size-6);
    --sf-icon--width: var(--sf-text-size-6);
  }
  .sf-country-code.sf-country-code--size-3 input {
    --sf-country-code-input--padding-inline-end: var(--sf-ui-3--text-space-x);
    --sf-country-code-input--padding-inline-start: var(--sf-ui-3--text-space-x);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-hint {
    --sf-country-code-hint--font-size: var(--sf-text-size-2);
    --sf-country-code-hint--line-height: var(--sf-text-height-2);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-item {
    --sf-country-code-item--padding-bottom: var(--sf-ui-3--space-y);
    --sf-country-code-item--padding-inline-end: var(--sf-ui-2--space-y);
    --sf-country-code-item--padding-inline-start: var(--sf-ui-2--space-y);
    --sf-country-code-item--padding-top: var(--sf-ui-3--space-y);
    --sf-country-code-item--font-size: var(--sf-text-size-3);
    --sf-country-code-item--line-height: var(--sf-text-height-3);
  }
  .sf-country-code.sf-country-code--size-3 .sf-country-code-flag {
    --sf-country-code-flag--font-size: var(--sf-text-size-6);
    --sf-country-code-flag--height: var(--sf-text-height-1);
    --sf-country-code-flag--width: var(--sf-text-size-6);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-text {
    --sf-country-code-text--font-size: var(--sf-text-size-1\/4);
    --sf-country-code-text--line-height: var(--sf-text-height-1\/4);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-required {
    --sf-country-code-required--font-size: var(--sf-text-size-1\/4);
    --sf-country-code-required--line-height: var(--sf-text-height-1\/4);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-field {
    --sf-country-code-field--padding-bottom: var(--sf-ui-1\/3--space-y-tightness-default);
    --sf-country-code-field--padding-inline-end: var(--sf-ui-1\/3--space-x);
    --sf-country-code-field--padding-inline-start: var(--sf-ui-1\/3--space-x);
    --sf-country-code-field--padding-top: var(--sf-ui-1\/3--space-y-tightness-default);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--font-size: var(--sf-text-size-3);
    --sf-country-code-flag-icon--height: var(--sf-text-height-1\/3);
    --sf-country-code-flag-icon--width: var(--sf-text-size-3);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-1);
    --sf-icon--height: var(--sf-text-size-1);
    --sf-icon--width: var(--sf-text-size-1);
  }
  .sf-country-code.sf-country-code--size-1\/3 input {
    --sf-country-code-input--padding-inline-end: var(--sf-ui-1\/3--text-space-x);
    --sf-country-code-input--padding-inline-start: var(--sf-ui-1\/3--text-space-x);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-hint {
    --sf-country-code-hint--font-size: var(--sf-text-size-1\/4);
    --sf-country-code-hint--line-height: var(--sf-text-height-1\/4);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-item {
    --sf-country-code-item--padding-bottom: var(--sf-ui-1\/3--space-y);
    --sf-country-code-item--padding-inline-end: var(--sf-ui-1\/3--space-y);
    --sf-country-code-item--padding-inline-start: var(--sf-ui-1\/3--space-y);
    --sf-country-code-item--padding-top: var(--sf-ui-1\/3--space-y);
    --sf-country-code-item--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-item--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code.sf-country-code--size-1\/3 .sf-country-code-flag {
    --sf-country-code-flag--font-size: var(--sf-text-size-2);
    --sf-country-code-flag--height: var(--sf-text-height-1\/4);
    --sf-country-code-flag--width: var(--sf-text-size-2);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-text {
    --sf-country-code-text--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-text--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-required {
    --sf-country-code-required--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-required--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-field {
    --sf-country-code-field--padding-bottom: var(--sf-ui-1\/2--space-y-tightness-default);
    --sf-country-code-field--padding-inline-end: var(--sf-ui-1\/2--space-x);
    --sf-country-code-field--padding-inline-start: var(--sf-ui-1\/2--space-x);
    --sf-country-code-field--padding-top: var(--sf-ui-1\/2--space-y-tightness-default);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--font-size: var(--sf-text-size-5);
    --sf-country-code-flag-icon--height: var(--sf-c0);
    --sf-country-code-flag-icon--width: var(--sf-text-size-5);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-icon {
    --sf-icon--font-size: var(--sf-text-size-2);
    --sf-icon--height: var(--sf-text-size-2);
    --sf-icon--width: var(--sf-text-size-2);
  }
  .sf-country-code.sf-country-code--size-1\/2 input {
    --sf-country-code-input--padding-inline-end: var(--sf-ui-1\/2--text-space-x);
    --sf-country-code-input--padding-inline-start: var(--sf-ui-1\/2--text-space-x);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-hint {
    --sf-country-code-hint--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-hint--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code.sf-country-code--size-1\/2 .sf-country-code-item {
    --sf-country-code-item--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-item--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code--size-1 .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-country-code--size-1 .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-country-code--size-1 .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-country-code--size-1 .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-country-code--size-1 .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1);
  }
  .sf-country-code--size-2 .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-country-code--size-2 .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-country-code--size-2 .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-country-code--size-2 .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-country-code--size-2 .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-2);
  }
  .sf-country-code--size-3 .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-country-code--size-3 .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-country-code--size-3 .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-country-code--size-3 .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-country-code--size-3 .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-3);
  }
  .sf-country-code--size-1\/3 .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code--size-1\/3 .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code--size-1\/3 .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code--size-1\/3 .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code--size-1\/3 .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/3);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/3);
  }
  .sf-country-code--size-1\/2 .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code--size-1\/2 .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code--size-1\/2 .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code--size-1\/2 .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code--size-1\/2 .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--font-size: var(--sf-text-size-1\/2);
    --sf-country-code-placeholder--line-height: var(--sf-text-height-1\/2);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-field {
    --sf-country-code-field--border-color: var(--sf-outline-disable);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-field {
    --sf-country-code-field--border-color: var(--sf-outline-disable);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--opacity: var(--sf-opacity-60);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-flag-icon {
    --sf-country-code-flag-icon--opacity: var(--sf-opacity-60);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-icon {
    --sf-icon--color: var(--sf-outline-disable);
  }
  .sf-country-code:has(input:disabled) .sf-icon {
    --sf-icon--color: var(--sf-outline-disable);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code[\:has\(input\:disabled\)] .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-field input::-webkit-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-field input::-moz-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-field input:-ms-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-field input::-ms-input-placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code:has(input:disabled) .sf-country-code-field input::placeholder {
    --sf-country-code-placeholder--color: var(--sf-on-disable);
  }
  .sf-country-code[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:focus\)] .sf-country-code-field {
    --sf-country-code-field--background-color: var(--sf-ui-focus);
    --sf-country-code-field--box-shadow: var(--sf-ui-focus);
  }
  .sf-country-code:has(input:enabled:not(:disabled):not(.disabled):focus) .sf-country-code-field {
    --sf-country-code-field--background-color: var(--sf-ui-focus);
    --sf-country-code-field--box-shadow: var(--sf-ui-focus);
  }
  .sf-country-code[\:has\(input\:enabled\:not\(\:disabled\)\:not\(.disabled\)\:hover\)] .sf-country-code-field {
    --sf-country-code-field--border-color: var(--sf-primary-hover);
  }
  .sf-country-code:has(input:enabled:not(:disabled):not(.disabled):hover) .sf-country-code-field {
    --sf-country-code-field--border-color: var(--sf-primary-hover);
  }
  /* utility-hint: flex/1 (.flex-1) display/flex (.flex) flex-direction/row (.flex-row) flex-wrap/nowrap (.flex-nowrap) justify-content/flex-start (.justify-start) align-items/flex-start (.items-start) */
  .sf-country-code.open .sf-country-code-list {
    --sf-country-code-list--background-color: var(--sf-surface-0);
    --sf-country-code-list--box-shadow: var(--sf-ui-shadow-3);
    --sf-country-code-list--padding-bottom: var(--sf-space-1\/3);
    --sf-country-code-list--padding-inline-end: var(--sf-space-1\/3);
    --sf-country-code-list--padding-inline-start: var(--sf-space-1\/3);
    --sf-country-code-list--padding-top: var(--sf-space-1\/3);
  }
}
@layer sf.components {
  .sf-country-code {
    position: relative;
  }
  [dir="ltr"] .sf-country-code .sf-country-code-list {
    left: 0;
  }
  [dir="rtl"] .sf-country-code .sf-country-code-list {
    right: 0;
  }
  .sf-country-code .sf-country-code-list {
    position: absolute;
    inset-inline-start: 0;
    top: 100%;
    inset-block-start: 100%;
    width: 100%;
    inline-size: 100%;
    z-index: 9;
  }
  .sf-country-code-left, .sf-country-code-item {
    cursor: pointer;
  }
  .sf-country-code-item:hover {
    background: var(--sf-surface-container-hover);
  }
  .sf-country-code--fixed-dial-code .sf-country-code-left {
    cursor: default;
  }
  .sf-country-code--fixed-dial-code .sf-country-code-left .sf-icon {
    display: none;
  }
  .sf-country-code img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sf-country-code:not(.open) .sf-country-code-list {
    display: none;
  }
}
