@layer sf.utilities {
  .focus\:placeholder-transparent:focus::-webkit-input-placeholder {
    color: var(--sf-transparent);
  }
  .focus\:placeholder-transparent:focus::-moz-placeholder {
    color: var(--sf-transparent);
  }
  .focus\:placeholder-transparent:focus:-ms-input-placeholder {
    color: var(--sf-transparent);
  }
  .focus\:placeholder-transparent:focus::-ms-input-placeholder {
    color: var(--sf-transparent);
  }
  .focus\:placeholder-transparent:focus::placeholder {
    color: var(--sf-transparent);
  }
  .focus\:placeholder-inherit:focus::-webkit-input-placeholder {
    color: var(--sf-inherit);
  }
  .focus\:placeholder-inherit:focus::-moz-placeholder {
    color: var(--sf-inherit);
  }
  .focus\:placeholder-inherit:focus:-ms-input-placeholder {
    color: var(--sf-inherit);
  }
  .focus\:placeholder-inherit:focus::-ms-input-placeholder {
    color: var(--sf-inherit);
  }
  .focus\:placeholder-inherit:focus::placeholder {
    color: var(--sf-inherit);
  }
  .focus\:placeholder-on-surface:focus::-webkit-input-placeholder {
    color: var(--sf-on-surface);
  }
  .focus\:placeholder-on-surface:focus::-moz-placeholder {
    color: var(--sf-on-surface);
  }
  .focus\:placeholder-on-surface:focus:-ms-input-placeholder {
    color: var(--sf-on-surface);
  }
  .focus\:placeholder-on-surface:focus::-ms-input-placeholder {
    color: var(--sf-on-surface);
  }
  .focus\:placeholder-on-surface:focus::placeholder {
    color: var(--sf-on-surface);
  }
  .focus\:placeholder-on-surface-fixed:focus::-webkit-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .focus\:placeholder-on-surface-fixed:focus::-moz-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .focus\:placeholder-on-surface-fixed:focus:-ms-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .focus\:placeholder-on-surface-fixed:focus::-ms-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .focus\:placeholder-on-surface-fixed:focus::placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .focus\:placeholder-on-surface-variant:focus::-webkit-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .focus\:placeholder-on-surface-variant:focus::-moz-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .focus\:placeholder-on-surface-variant:focus:-ms-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .focus\:placeholder-on-surface-variant:focus::-ms-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .focus\:placeholder-on-surface-variant:focus::placeholder {
    color: var(--sf-on-surface-variant);
  }
  .focus\:placeholder-on-surface-inverse:focus::-webkit-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .focus\:placeholder-on-surface-inverse:focus::-moz-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .focus\:placeholder-on-surface-inverse:focus:-ms-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .focus\:placeholder-on-surface-inverse:focus::-ms-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .focus\:placeholder-on-surface-inverse:focus::placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .focus\:placeholder-on-surface-inverse-fixed:focus::-webkit-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .focus\:placeholder-on-surface-inverse-fixed:focus::-moz-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .focus\:placeholder-on-surface-inverse-fixed:focus:-ms-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .focus\:placeholder-on-surface-inverse-fixed:focus::-ms-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .focus\:placeholder-on-surface-inverse-fixed:focus::placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .focus\:placeholder-disable:focus::-webkit-input-placeholder {
    color: var(--sf-disable);
  }
  .focus\:placeholder-disable:focus::-moz-placeholder {
    color: var(--sf-disable);
  }
  .focus\:placeholder-disable:focus:-ms-input-placeholder {
    color: var(--sf-disable);
  }
  .focus\:placeholder-disable:focus::-ms-input-placeholder {
    color: var(--sf-disable);
  }
  .focus\:placeholder-disable:focus::placeholder {
    color: var(--sf-disable);
  }
  .focus\:placeholder-on-disable:focus::-webkit-input-placeholder {
    color: var(--sf-on-disable);
  }
  .focus\:placeholder-on-disable:focus::-moz-placeholder {
    color: var(--sf-on-disable);
  }
  .focus\:placeholder-on-disable:focus:-ms-input-placeholder {
    color: var(--sf-on-disable);
  }
  .focus\:placeholder-on-disable:focus::-ms-input-placeholder {
    color: var(--sf-on-disable);
  }
  .focus\:placeholder-on-disable:focus::placeholder {
    color: var(--sf-on-disable);
  }
  .focus\:placeholder-primary:focus::-webkit-input-placeholder {
    color: var(--sf-primary);
  }
  .focus\:placeholder-primary:focus::-moz-placeholder {
    color: var(--sf-primary);
  }
  .focus\:placeholder-primary:focus:-ms-input-placeholder {
    color: var(--sf-primary);
  }
  .focus\:placeholder-primary:focus::-ms-input-placeholder {
    color: var(--sf-primary);
  }
  .focus\:placeholder-primary:focus::placeholder {
    color: var(--sf-primary);
  }
  .focus\:placeholder-on-primary:focus::-webkit-input-placeholder {
    color: var(--sf-on-primary);
  }
  .focus\:placeholder-on-primary:focus::-moz-placeholder {
    color: var(--sf-on-primary);
  }
  .focus\:placeholder-on-primary:focus:-ms-input-placeholder {
    color: var(--sf-on-primary);
  }
  .focus\:placeholder-on-primary:focus::-ms-input-placeholder {
    color: var(--sf-on-primary);
  }
  .focus\:placeholder-on-primary:focus::placeholder {
    color: var(--sf-on-primary);
  }
  .focus\:placeholder-on-primary-container:focus::-webkit-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .focus\:placeholder-on-primary-container:focus::-moz-placeholder {
    color: var(--sf-on-primary-container);
  }
  .focus\:placeholder-on-primary-container:focus:-ms-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .focus\:placeholder-on-primary-container:focus::-ms-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .focus\:placeholder-on-primary-container:focus::placeholder {
    color: var(--sf-on-primary-container);
  }
  .focus\:placeholder-on-primary-container-graphic:focus::-webkit-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .focus\:placeholder-on-primary-container-graphic:focus::-moz-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .focus\:placeholder-on-primary-container-graphic:focus:-ms-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .focus\:placeholder-on-primary-container-graphic:focus::-ms-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .focus\:placeholder-on-primary-container-graphic:focus::placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .focus\:placeholder-secondary:focus::-webkit-input-placeholder {
    color: var(--sf-secondary);
  }
  .focus\:placeholder-secondary:focus::-moz-placeholder {
    color: var(--sf-secondary);
  }
  .focus\:placeholder-secondary:focus:-ms-input-placeholder {
    color: var(--sf-secondary);
  }
  .focus\:placeholder-secondary:focus::-ms-input-placeholder {
    color: var(--sf-secondary);
  }
  .focus\:placeholder-secondary:focus::placeholder {
    color: var(--sf-secondary);
  }
  .focus\:placeholder-on-secondary:focus::-webkit-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .focus\:placeholder-on-secondary:focus::-moz-placeholder {
    color: var(--sf-on-secondary);
  }
  .focus\:placeholder-on-secondary:focus:-ms-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .focus\:placeholder-on-secondary:focus::-ms-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .focus\:placeholder-on-secondary:focus::placeholder {
    color: var(--sf-on-secondary);
  }
  .focus\:placeholder-on-secondary-container:focus::-webkit-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .focus\:placeholder-on-secondary-container:focus::-moz-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .focus\:placeholder-on-secondary-container:focus:-ms-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .focus\:placeholder-on-secondary-container:focus::-ms-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .focus\:placeholder-on-secondary-container:focus::placeholder {
    color: var(--sf-on-secondary-container);
  }
  .focus\:placeholder-on-secondary-container-graphic:focus::-webkit-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .focus\:placeholder-on-secondary-container-graphic:focus::-moz-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .focus\:placeholder-on-secondary-container-graphic:focus:-ms-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .focus\:placeholder-on-secondary-container-graphic:focus::-ms-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .focus\:placeholder-on-secondary-container-graphic:focus::placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .focus\:placeholder-tertiary:focus::-webkit-input-placeholder {
    color: var(--sf-tertiary);
  }
  .focus\:placeholder-tertiary:focus::-moz-placeholder {
    color: var(--sf-tertiary);
  }
  .focus\:placeholder-tertiary:focus:-ms-input-placeholder {
    color: var(--sf-tertiary);
  }
  .focus\:placeholder-tertiary:focus::-ms-input-placeholder {
    color: var(--sf-tertiary);
  }
  .focus\:placeholder-tertiary:focus::placeholder {
    color: var(--sf-tertiary);
  }
  .focus\:placeholder-on-tertiary:focus::-webkit-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .focus\:placeholder-on-tertiary:focus::-moz-placeholder {
    color: var(--sf-on-tertiary);
  }
  .focus\:placeholder-on-tertiary:focus:-ms-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .focus\:placeholder-on-tertiary:focus::-ms-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .focus\:placeholder-on-tertiary:focus::placeholder {
    color: var(--sf-on-tertiary);
  }
  .focus\:placeholder-on-tertiary-container:focus::-webkit-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .focus\:placeholder-on-tertiary-container:focus::-moz-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .focus\:placeholder-on-tertiary-container:focus:-ms-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .focus\:placeholder-on-tertiary-container:focus::-ms-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .focus\:placeholder-on-tertiary-container:focus::placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .focus\:placeholder-on-tertiary-container-graphic:focus::-webkit-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .focus\:placeholder-on-tertiary-container-graphic:focus::-moz-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .focus\:placeholder-on-tertiary-container-graphic:focus:-ms-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .focus\:placeholder-on-tertiary-container-graphic:focus::-ms-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .focus\:placeholder-on-tertiary-container-graphic:focus::placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .focus\:placeholder-error:focus::-webkit-input-placeholder {
    color: var(--sf-error);
  }
  .focus\:placeholder-error:focus::-moz-placeholder {
    color: var(--sf-error);
  }
  .focus\:placeholder-error:focus:-ms-input-placeholder {
    color: var(--sf-error);
  }
  .focus\:placeholder-error:focus::-ms-input-placeholder {
    color: var(--sf-error);
  }
  .focus\:placeholder-error:focus::placeholder {
    color: var(--sf-error);
  }
  .focus\:placeholder-on-error:focus::-webkit-input-placeholder {
    color: var(--sf-on-error);
  }
  .focus\:placeholder-on-error:focus::-moz-placeholder {
    color: var(--sf-on-error);
  }
  .focus\:placeholder-on-error:focus:-ms-input-placeholder {
    color: var(--sf-on-error);
  }
  .focus\:placeholder-on-error:focus::-ms-input-placeholder {
    color: var(--sf-on-error);
  }
  .focus\:placeholder-on-error:focus::placeholder {
    color: var(--sf-on-error);
  }
  .focus\:placeholder-on-error-container:focus::-webkit-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .focus\:placeholder-on-error-container:focus::-moz-placeholder {
    color: var(--sf-on-error-container);
  }
  .focus\:placeholder-on-error-container:focus:-ms-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .focus\:placeholder-on-error-container:focus::-ms-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .focus\:placeholder-on-error-container:focus::placeholder {
    color: var(--sf-on-error-container);
  }
  .focus\:placeholder-on-error-container-graphic:focus::-webkit-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .focus\:placeholder-on-error-container-graphic:focus::-moz-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .focus\:placeholder-on-error-container-graphic:focus:-ms-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .focus\:placeholder-on-error-container-graphic:focus::-ms-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .focus\:placeholder-on-error-container-graphic:focus::placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .focus\:placeholder-warning:focus::-webkit-input-placeholder {
    color: var(--sf-warning);
  }
  .focus\:placeholder-warning:focus::-moz-placeholder {
    color: var(--sf-warning);
  }
  .focus\:placeholder-warning:focus:-ms-input-placeholder {
    color: var(--sf-warning);
  }
  .focus\:placeholder-warning:focus::-ms-input-placeholder {
    color: var(--sf-warning);
  }
  .focus\:placeholder-warning:focus::placeholder {
    color: var(--sf-warning);
  }
  .focus\:placeholder-on-warning:focus::-webkit-input-placeholder {
    color: var(--sf-on-warning);
  }
  .focus\:placeholder-on-warning:focus::-moz-placeholder {
    color: var(--sf-on-warning);
  }
  .focus\:placeholder-on-warning:focus:-ms-input-placeholder {
    color: var(--sf-on-warning);
  }
  .focus\:placeholder-on-warning:focus::-ms-input-placeholder {
    color: var(--sf-on-warning);
  }
  .focus\:placeholder-on-warning:focus::placeholder {
    color: var(--sf-on-warning);
  }
  .focus\:placeholder-on-warning-container:focus::-webkit-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .focus\:placeholder-on-warning-container:focus::-moz-placeholder {
    color: var(--sf-on-warning-container);
  }
  .focus\:placeholder-on-warning-container:focus:-ms-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .focus\:placeholder-on-warning-container:focus::-ms-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .focus\:placeholder-on-warning-container:focus::placeholder {
    color: var(--sf-on-warning-container);
  }
  .focus\:placeholder-on-warning-container-graphic:focus::-webkit-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .focus\:placeholder-on-warning-container-graphic:focus::-moz-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .focus\:placeholder-on-warning-container-graphic:focus:-ms-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .focus\:placeholder-on-warning-container-graphic:focus::-ms-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .focus\:placeholder-on-warning-container-graphic:focus::placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .focus\:placeholder-success:focus::-webkit-input-placeholder {
    color: var(--sf-success);
  }
  .focus\:placeholder-success:focus::-moz-placeholder {
    color: var(--sf-success);
  }
  .focus\:placeholder-success:focus:-ms-input-placeholder {
    color: var(--sf-success);
  }
  .focus\:placeholder-success:focus::-ms-input-placeholder {
    color: var(--sf-success);
  }
  .focus\:placeholder-success:focus::placeholder {
    color: var(--sf-success);
  }
  .focus\:placeholder-on-success:focus::-webkit-input-placeholder {
    color: var(--sf-on-success);
  }
  .focus\:placeholder-on-success:focus::-moz-placeholder {
    color: var(--sf-on-success);
  }
  .focus\:placeholder-on-success:focus:-ms-input-placeholder {
    color: var(--sf-on-success);
  }
  .focus\:placeholder-on-success:focus::-ms-input-placeholder {
    color: var(--sf-on-success);
  }
  .focus\:placeholder-on-success:focus::placeholder {
    color: var(--sf-on-success);
  }
  .focus\:placeholder-on-success-container:focus::-webkit-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .focus\:placeholder-on-success-container:focus::-moz-placeholder {
    color: var(--sf-on-success-container);
  }
  .focus\:placeholder-on-success-container:focus:-ms-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .focus\:placeholder-on-success-container:focus::-ms-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .focus\:placeholder-on-success-container:focus::placeholder {
    color: var(--sf-on-success-container);
  }
  .focus\:placeholder-on-success-container-graphic:focus::-webkit-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .focus\:placeholder-on-success-container-graphic:focus::-moz-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .focus\:placeholder-on-success-container-graphic:focus:-ms-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .focus\:placeholder-on-success-container-graphic:focus::-ms-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .focus\:placeholder-on-success-container-graphic:focus::placeholder {
    color: var(--sf-on-success-container-graphic);
  }
}
