@layer sf.utilities {
  .placeholder-opacity-1::-webkit-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .placeholder-opacity-1::-moz-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .placeholder-opacity-1:-ms-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .placeholder-opacity-1::-ms-input-placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .placeholder-opacity-1::placeholder {
    opacity: 0.1;
    opacity: var(--sf-opacity-10, 0.1);
  }
  .placeholder-opacity-2::-webkit-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .placeholder-opacity-2::-moz-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .placeholder-opacity-2:-ms-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .placeholder-opacity-2::-ms-input-placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .placeholder-opacity-2::placeholder {
    opacity: 0.2;
    opacity: var(--sf-opacity-20, 0.2);
  }
  .placeholder-opacity-3::-webkit-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .placeholder-opacity-3::-moz-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .placeholder-opacity-3:-ms-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .placeholder-opacity-3::-ms-input-placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .placeholder-opacity-3::placeholder {
    opacity: 0.3;
    opacity: var(--sf-opacity-30, 0.3);
  }
  .placeholder-opacity-4::-webkit-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .placeholder-opacity-4::-moz-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .placeholder-opacity-4:-ms-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .placeholder-opacity-4::-ms-input-placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .placeholder-opacity-4::placeholder {
    opacity: 0.4;
    opacity: var(--sf-opacity-40, 0.4);
  }
  .placeholder-opacity-5::-webkit-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .placeholder-opacity-5::-moz-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .placeholder-opacity-5:-ms-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .placeholder-opacity-5::-ms-input-placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .placeholder-opacity-5::placeholder {
    opacity: 0.5;
    opacity: var(--sf-opacity-50, 0.5);
  }
  .placeholder-opacity-6::-webkit-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .placeholder-opacity-6::-moz-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .placeholder-opacity-6:-ms-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .placeholder-opacity-6::-ms-input-placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .placeholder-opacity-6::placeholder {
    opacity: 0.6;
    opacity: var(--sf-opacity-60, 0.6);
  }
  .placeholder-opacity-7::-webkit-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .placeholder-opacity-7::-moz-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .placeholder-opacity-7:-ms-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .placeholder-opacity-7::-ms-input-placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .placeholder-opacity-7::placeholder {
    opacity: 0.7;
    opacity: var(--sf-opacity-70, 0.7);
  }
  .placeholder-opacity-8::-webkit-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .placeholder-opacity-8::-moz-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .placeholder-opacity-8:-ms-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .placeholder-opacity-8::-ms-input-placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .placeholder-opacity-8::placeholder {
    opacity: 0.8;
    opacity: var(--sf-opacity-80, 0.8);
  }
  .placeholder-opacity-9::-webkit-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .placeholder-opacity-9::-moz-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .placeholder-opacity-9:-ms-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .placeholder-opacity-9::-ms-input-placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .placeholder-opacity-9::placeholder {
    opacity: 0.9;
    opacity: var(--sf-opacity-90, 0.9);
  }
  .placeholder-opacity-full::-webkit-input-placeholder {
    opacity: 1;
  }
  .placeholder-opacity-full::-moz-placeholder {
    opacity: 1;
  }
  .placeholder-opacity-full:-ms-input-placeholder {
    opacity: 1;
  }
  .placeholder-opacity-full::-ms-input-placeholder {
    opacity: 1;
  }
  .placeholder-opacity-full::placeholder {
    opacity: 1;
  }
  .placeholder-opacity-0::-webkit-input-placeholder {
    opacity: 0;
  }
  .placeholder-opacity-0::-moz-placeholder {
    opacity: 0;
  }
  .placeholder-opacity-0:-ms-input-placeholder {
    opacity: 0;
  }
  .placeholder-opacity-0::-ms-input-placeholder {
    opacity: 0;
  }
  .placeholder-opacity-0::placeholder {
    opacity: 0;
  }
}
