@layer sf.utilities {
  @media (min-width: 45rem) {
    .md\:flex-wrap {
      flex-wrap: wrap;
    }
    .md\:flex-wrap-reverse {
      flex-wrap: wrap-reverse;
    }
    .md\:flex-nowrap {
      flex-wrap: nowrap;
    }
  }
}
