@layer sf.utilities {
  @media (min-width: 720px) {
    .md\:clear-inline-start {
      clear: left;
    }
    .md\:clear-inline-end {
      clear: right;
    }
    .md\:clear-both {
      clear: both;
    }
    .md\:clear-none {
      clear: none;
    }
  }
}
