@layer sf.utilities {
  @media (min-width: 960px) {
    .lg\:items-start {
      align-items: start;
      justify-items: start;
      place-items: start;
    }
    .lg\:items-end {
      align-items: end;
      justify-items: end;
      place-items: end;
    }
    .lg\:items-center {
      align-items: center;
      justify-items: center;
      place-items: center;
    }
    .lg\:items-stretch {
      align-items: stretch;
      justify-items: stretch;
      place-items: stretch;
    }
  }
}
