@layer sf.utilities {
  .placeholder-transparent::-webkit-input-placeholder {
    color: var(--sf-transparent);
  }
  .placeholder-transparent::-moz-placeholder {
    color: var(--sf-transparent);
  }
  .placeholder-transparent:-ms-input-placeholder {
    color: var(--sf-transparent);
  }
  .placeholder-transparent::-ms-input-placeholder {
    color: var(--sf-transparent);
  }
  .placeholder-transparent::placeholder {
    color: var(--sf-transparent);
  }
  .placeholder-inherit::-webkit-input-placeholder {
    color: var(--sf-inherit);
  }
  .placeholder-inherit::-moz-placeholder {
    color: var(--sf-inherit);
  }
  .placeholder-inherit:-ms-input-placeholder {
    color: var(--sf-inherit);
  }
  .placeholder-inherit::-ms-input-placeholder {
    color: var(--sf-inherit);
  }
  .placeholder-inherit::placeholder {
    color: var(--sf-inherit);
  }
  .placeholder-on-surface::-webkit-input-placeholder {
    color: var(--sf-on-surface);
  }
  .placeholder-on-surface::-moz-placeholder {
    color: var(--sf-on-surface);
  }
  .placeholder-on-surface:-ms-input-placeholder {
    color: var(--sf-on-surface);
  }
  .placeholder-on-surface::-ms-input-placeholder {
    color: var(--sf-on-surface);
  }
  .placeholder-on-surface::placeholder {
    color: var(--sf-on-surface);
  }
  .placeholder-on-surface-fixed::-webkit-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .placeholder-on-surface-fixed::-moz-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .placeholder-on-surface-fixed:-ms-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .placeholder-on-surface-fixed::-ms-input-placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .placeholder-on-surface-fixed::placeholder {
    color: var(--sf-on-surface-fixed);
  }
  .placeholder-on-surface-variant::-webkit-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .placeholder-on-surface-variant::-moz-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .placeholder-on-surface-variant:-ms-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .placeholder-on-surface-variant::-ms-input-placeholder {
    color: var(--sf-on-surface-variant);
  }
  .placeholder-on-surface-variant::placeholder {
    color: var(--sf-on-surface-variant);
  }
  .placeholder-on-surface-inverse::-webkit-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .placeholder-on-surface-inverse::-moz-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .placeholder-on-surface-inverse:-ms-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .placeholder-on-surface-inverse::-ms-input-placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .placeholder-on-surface-inverse::placeholder {
    color: var(--sf-on-surface-inverse);
  }
  .placeholder-on-surface-inverse-fixed::-webkit-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .placeholder-on-surface-inverse-fixed::-moz-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .placeholder-on-surface-inverse-fixed:-ms-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .placeholder-on-surface-inverse-fixed::-ms-input-placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .placeholder-on-surface-inverse-fixed::placeholder {
    color: var(--sf-on-surface-inverse-fixed);
  }
  .placeholder-disable::-webkit-input-placeholder {
    color: var(--sf-disable);
  }
  .placeholder-disable::-moz-placeholder {
    color: var(--sf-disable);
  }
  .placeholder-disable:-ms-input-placeholder {
    color: var(--sf-disable);
  }
  .placeholder-disable::-ms-input-placeholder {
    color: var(--sf-disable);
  }
  .placeholder-disable::placeholder {
    color: var(--sf-disable);
  }
  .placeholder-on-disable::-webkit-input-placeholder {
    color: var(--sf-on-disable);
  }
  .placeholder-on-disable::-moz-placeholder {
    color: var(--sf-on-disable);
  }
  .placeholder-on-disable:-ms-input-placeholder {
    color: var(--sf-on-disable);
  }
  .placeholder-on-disable::-ms-input-placeholder {
    color: var(--sf-on-disable);
  }
  .placeholder-on-disable::placeholder {
    color: var(--sf-on-disable);
  }
  .placeholder-primary::-webkit-input-placeholder {
    color: var(--sf-primary);
  }
  .placeholder-primary::-moz-placeholder {
    color: var(--sf-primary);
  }
  .placeholder-primary:-ms-input-placeholder {
    color: var(--sf-primary);
  }
  .placeholder-primary::-ms-input-placeholder {
    color: var(--sf-primary);
  }
  .placeholder-primary::placeholder {
    color: var(--sf-primary);
  }
  .placeholder-on-primary::-webkit-input-placeholder {
    color: var(--sf-on-primary);
  }
  .placeholder-on-primary::-moz-placeholder {
    color: var(--sf-on-primary);
  }
  .placeholder-on-primary:-ms-input-placeholder {
    color: var(--sf-on-primary);
  }
  .placeholder-on-primary::-ms-input-placeholder {
    color: var(--sf-on-primary);
  }
  .placeholder-on-primary::placeholder {
    color: var(--sf-on-primary);
  }
  .placeholder-on-primary-container::-webkit-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .placeholder-on-primary-container::-moz-placeholder {
    color: var(--sf-on-primary-container);
  }
  .placeholder-on-primary-container:-ms-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .placeholder-on-primary-container::-ms-input-placeholder {
    color: var(--sf-on-primary-container);
  }
  .placeholder-on-primary-container::placeholder {
    color: var(--sf-on-primary-container);
  }
  .placeholder-on-primary-container-graphic::-webkit-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .placeholder-on-primary-container-graphic::-moz-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .placeholder-on-primary-container-graphic:-ms-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .placeholder-on-primary-container-graphic::-ms-input-placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .placeholder-on-primary-container-graphic::placeholder {
    color: var(--sf-on-primary-container-graphic);
  }
  .placeholder-secondary::-webkit-input-placeholder {
    color: var(--sf-secondary);
  }
  .placeholder-secondary::-moz-placeholder {
    color: var(--sf-secondary);
  }
  .placeholder-secondary:-ms-input-placeholder {
    color: var(--sf-secondary);
  }
  .placeholder-secondary::-ms-input-placeholder {
    color: var(--sf-secondary);
  }
  .placeholder-secondary::placeholder {
    color: var(--sf-secondary);
  }
  .placeholder-on-secondary::-webkit-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .placeholder-on-secondary::-moz-placeholder {
    color: var(--sf-on-secondary);
  }
  .placeholder-on-secondary:-ms-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .placeholder-on-secondary::-ms-input-placeholder {
    color: var(--sf-on-secondary);
  }
  .placeholder-on-secondary::placeholder {
    color: var(--sf-on-secondary);
  }
  .placeholder-on-secondary-container::-webkit-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .placeholder-on-secondary-container::-moz-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .placeholder-on-secondary-container:-ms-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .placeholder-on-secondary-container::-ms-input-placeholder {
    color: var(--sf-on-secondary-container);
  }
  .placeholder-on-secondary-container::placeholder {
    color: var(--sf-on-secondary-container);
  }
  .placeholder-on-secondary-container-graphic::-webkit-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .placeholder-on-secondary-container-graphic::-moz-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .placeholder-on-secondary-container-graphic:-ms-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .placeholder-on-secondary-container-graphic::-ms-input-placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .placeholder-on-secondary-container-graphic::placeholder {
    color: var(--sf-on-secondary-container-graphic);
  }
  .placeholder-tertiary::-webkit-input-placeholder {
    color: var(--sf-tertiary);
  }
  .placeholder-tertiary::-moz-placeholder {
    color: var(--sf-tertiary);
  }
  .placeholder-tertiary:-ms-input-placeholder {
    color: var(--sf-tertiary);
  }
  .placeholder-tertiary::-ms-input-placeholder {
    color: var(--sf-tertiary);
  }
  .placeholder-tertiary::placeholder {
    color: var(--sf-tertiary);
  }
  .placeholder-on-tertiary::-webkit-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .placeholder-on-tertiary::-moz-placeholder {
    color: var(--sf-on-tertiary);
  }
  .placeholder-on-tertiary:-ms-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .placeholder-on-tertiary::-ms-input-placeholder {
    color: var(--sf-on-tertiary);
  }
  .placeholder-on-tertiary::placeholder {
    color: var(--sf-on-tertiary);
  }
  .placeholder-on-tertiary-container::-webkit-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .placeholder-on-tertiary-container::-moz-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .placeholder-on-tertiary-container:-ms-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .placeholder-on-tertiary-container::-ms-input-placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .placeholder-on-tertiary-container::placeholder {
    color: var(--sf-on-tertiary-container);
  }
  .placeholder-on-tertiary-container-graphic::-webkit-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .placeholder-on-tertiary-container-graphic::-moz-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .placeholder-on-tertiary-container-graphic:-ms-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .placeholder-on-tertiary-container-graphic::-ms-input-placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .placeholder-on-tertiary-container-graphic::placeholder {
    color: var(--sf-on-tertiary-container-graphic);
  }
  .placeholder-error::-webkit-input-placeholder {
    color: var(--sf-error);
  }
  .placeholder-error::-moz-placeholder {
    color: var(--sf-error);
  }
  .placeholder-error:-ms-input-placeholder {
    color: var(--sf-error);
  }
  .placeholder-error::-ms-input-placeholder {
    color: var(--sf-error);
  }
  .placeholder-error::placeholder {
    color: var(--sf-error);
  }
  .placeholder-on-error::-webkit-input-placeholder {
    color: var(--sf-on-error);
  }
  .placeholder-on-error::-moz-placeholder {
    color: var(--sf-on-error);
  }
  .placeholder-on-error:-ms-input-placeholder {
    color: var(--sf-on-error);
  }
  .placeholder-on-error::-ms-input-placeholder {
    color: var(--sf-on-error);
  }
  .placeholder-on-error::placeholder {
    color: var(--sf-on-error);
  }
  .placeholder-on-error-container::-webkit-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .placeholder-on-error-container::-moz-placeholder {
    color: var(--sf-on-error-container);
  }
  .placeholder-on-error-container:-ms-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .placeholder-on-error-container::-ms-input-placeholder {
    color: var(--sf-on-error-container);
  }
  .placeholder-on-error-container::placeholder {
    color: var(--sf-on-error-container);
  }
  .placeholder-on-error-container-graphic::-webkit-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .placeholder-on-error-container-graphic::-moz-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .placeholder-on-error-container-graphic:-ms-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .placeholder-on-error-container-graphic::-ms-input-placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .placeholder-on-error-container-graphic::placeholder {
    color: var(--sf-on-error-container-graphic);
  }
  .placeholder-warning::-webkit-input-placeholder {
    color: var(--sf-warning);
  }
  .placeholder-warning::-moz-placeholder {
    color: var(--sf-warning);
  }
  .placeholder-warning:-ms-input-placeholder {
    color: var(--sf-warning);
  }
  .placeholder-warning::-ms-input-placeholder {
    color: var(--sf-warning);
  }
  .placeholder-warning::placeholder {
    color: var(--sf-warning);
  }
  .placeholder-on-warning::-webkit-input-placeholder {
    color: var(--sf-on-warning);
  }
  .placeholder-on-warning::-moz-placeholder {
    color: var(--sf-on-warning);
  }
  .placeholder-on-warning:-ms-input-placeholder {
    color: var(--sf-on-warning);
  }
  .placeholder-on-warning::-ms-input-placeholder {
    color: var(--sf-on-warning);
  }
  .placeholder-on-warning::placeholder {
    color: var(--sf-on-warning);
  }
  .placeholder-on-warning-container::-webkit-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .placeholder-on-warning-container::-moz-placeholder {
    color: var(--sf-on-warning-container);
  }
  .placeholder-on-warning-container:-ms-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .placeholder-on-warning-container::-ms-input-placeholder {
    color: var(--sf-on-warning-container);
  }
  .placeholder-on-warning-container::placeholder {
    color: var(--sf-on-warning-container);
  }
  .placeholder-on-warning-container-graphic::-webkit-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .placeholder-on-warning-container-graphic::-moz-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .placeholder-on-warning-container-graphic:-ms-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .placeholder-on-warning-container-graphic::-ms-input-placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .placeholder-on-warning-container-graphic::placeholder {
    color: var(--sf-on-warning-container-graphic);
  }
  .placeholder-success::-webkit-input-placeholder {
    color: var(--sf-success);
  }
  .placeholder-success::-moz-placeholder {
    color: var(--sf-success);
  }
  .placeholder-success:-ms-input-placeholder {
    color: var(--sf-success);
  }
  .placeholder-success::-ms-input-placeholder {
    color: var(--sf-success);
  }
  .placeholder-success::placeholder {
    color: var(--sf-success);
  }
  .placeholder-on-success::-webkit-input-placeholder {
    color: var(--sf-on-success);
  }
  .placeholder-on-success::-moz-placeholder {
    color: var(--sf-on-success);
  }
  .placeholder-on-success:-ms-input-placeholder {
    color: var(--sf-on-success);
  }
  .placeholder-on-success::-ms-input-placeholder {
    color: var(--sf-on-success);
  }
  .placeholder-on-success::placeholder {
    color: var(--sf-on-success);
  }
  .placeholder-on-success-container::-webkit-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .placeholder-on-success-container::-moz-placeholder {
    color: var(--sf-on-success-container);
  }
  .placeholder-on-success-container:-ms-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .placeholder-on-success-container::-ms-input-placeholder {
    color: var(--sf-on-success-container);
  }
  .placeholder-on-success-container::placeholder {
    color: var(--sf-on-success-container);
  }
  .placeholder-on-success-container-graphic::-webkit-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .placeholder-on-success-container-graphic::-moz-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .placeholder-on-success-container-graphic:-ms-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .placeholder-on-success-container-graphic::-ms-input-placeholder {
    color: var(--sf-on-success-container-graphic);
  }
  .placeholder-on-success-container-graphic::placeholder {
    color: var(--sf-on-success-container-graphic);
  }
}
