@layer sf.utilities {
  @media (min-width: 960px) {
    .lg\:break-inside-auto {
      page-break-inside: auto;
      -webkit-column-break-inside: auto;
         -moz-column-break-inside: auto;
              break-inside: auto;
    }
    .lg\:break-inside-avoid {
      page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
         -moz-column-break-inside: avoid;
              break-inside: avoid;
    }
    .lg\:break-inside-avoid-page {
      page-break-inside: avoid;
      break-inside: avoid-page;
    }
    .lg\:break-inside-avoid-column {
      -webkit-column-break-inside: avoid;
         -moz-column-break-inside: avoid;
              break-inside: avoid-column;
    }
  }
}
