@layer sf.utilities {
  @media (min-width: 520px) {
    .sm\:object-bottom {
      -o-object-position: bottom;
         object-position: bottom;
    }
    .sm\:object-center {
      -o-object-position: center;
         object-position: center;
    }
    .sm\:object-inline-start {
      -o-object-position: left;
         object-position: left;
    }
    .sm\:object-inline-start-bottom {
      -o-object-position: left bottom;
         object-position: left bottom;
    }
    .sm\:object-inline-start-top {
      -o-object-position: left top;
         object-position: left top;
    }
    .sm\:object-inline-end {
      -o-object-position: right;
         object-position: right;
    }
    .sm\:object-inline-end-bottom {
      -o-object-position: right bottom;
         object-position: right bottom;
    }
    .sm\:object-inline-end-top {
      -o-object-position: right top;
         object-position: right top;
    }
    .sm\:object-top {
      -o-object-position: top;
         object-position: top;
    }
  }
}
