@layer sf.utilities {
  @media (min-width: 720px) {
    .md\:bg-size-a0 {
      background-size: var(--sf-a0);
    }
    .md\:bg-size-a1 {
      background-size: var(--sf-a1);
    }
    .md\:bg-size-a2 {
      background-size: var(--sf-a2);
    }
    .md\:bg-size-a3 {
      background-size: var(--sf-a3);
    }
    .md\:bg-size-a4 {
      background-size: var(--sf-a4);
    }
    .md\:bg-size-a5 {
      background-size: var(--sf-a5);
    }
    .md\:bg-size-a6 {
      background-size: var(--sf-a6);
    }
    .md\:bg-size-a7 {
      background-size: var(--sf-a7);
    }
    .md\:bg-size-a8 {
      background-size: var(--sf-a8);
    }
    .md\:bg-size-a9 {
      background-size: var(--sf-a9);
    }
    .md\:bg-size-b0 {
      background-size: var(--sf-b0);
    }
    .md\:bg-size-b1 {
      background-size: var(--sf-b1);
    }
    .md\:bg-size-b2 {
      background-size: var(--sf-b2);
    }
    .md\:bg-size-b3 {
      background-size: var(--sf-b3);
    }
    .md\:bg-size-b4 {
      background-size: var(--sf-b4);
    }
    .md\:bg-size-b5 {
      background-size: var(--sf-b5);
    }
    .md\:bg-size-b6 {
      background-size: var(--sf-b6);
    }
    .md\:bg-size-b7 {
      background-size: var(--sf-b7);
    }
    .md\:bg-size-b8 {
      background-size: var(--sf-b8);
    }
    .md\:bg-size-b9 {
      background-size: var(--sf-b9);
    }
    .md\:bg-size-c0 {
      background-size: var(--sf-c0);
    }
    .md\:bg-size-c1 {
      background-size: var(--sf-c1);
    }
    .md\:bg-size-c2 {
      background-size: var(--sf-c2);
    }
    .md\:bg-size-c3 {
      background-size: var(--sf-c3);
    }
    .md\:bg-size-c4 {
      background-size: var(--sf-c4);
    }
    .md\:bg-size-c5 {
      background-size: var(--sf-c5);
    }
    .md\:bg-size-c6 {
      background-size: var(--sf-c6);
    }
    .md\:bg-size-c7 {
      background-size: var(--sf-c7);
    }
    .md\:bg-size-c8 {
      background-size: var(--sf-c8);
    }
    .md\:bg-size-c9 {
      background-size: var(--sf-c9);
    }
    .md\:bg-size-d0 {
      background-size: var(--sf-d0);
    }
    .md\:bg-size-d1 {
      background-size: var(--sf-d1);
    }
    .md\:bg-size-d2 {
      background-size: var(--sf-d2);
    }
    .md\:bg-size-d3 {
      background-size: var(--sf-d3);
    }
    .md\:bg-size-d4 {
      background-size: var(--sf-d4);
    }
    .md\:bg-size-d5 {
      background-size: var(--sf-d5);
    }
    .md\:bg-size-d6 {
      background-size: var(--sf-d6);
    }
    .md\:bg-size-d7 {
      background-size: var(--sf-d7);
    }
    .md\:bg-size-d8 {
      background-size: var(--sf-d8);
    }
    .md\:bg-size-d9 {
      background-size: var(--sf-d9);
    }
    .md\:bg-size-e0 {
      background-size: var(--sf-e0);
    }
    .md\:bg-size-e1 {
      background-size: var(--sf-e1);
    }
    .md\:bg-size-e2 {
      background-size: var(--sf-e2);
    }
    .md\:bg-size-e3 {
      background-size: var(--sf-e3);
    }
    .md\:bg-size-e4 {
      background-size: var(--sf-e4);
    }
    .md\:bg-size-e5 {
      background-size: var(--sf-e5);
    }
    .md\:bg-size-e6 {
      background-size: var(--sf-e6);
    }
    .md\:bg-size-e7 {
      background-size: var(--sf-e7);
    }
    .md\:bg-size-e8 {
      background-size: var(--sf-e8);
    }
    .md\:bg-size-e9 {
      background-size: var(--sf-e9);
    }
    .md\:bg-size-f0 {
      background-size: var(--sf-f0);
    }
    .md\:bg-size-f1 {
      background-size: var(--sf-f1);
    }
    .md\:bg-size-f2 {
      background-size: var(--sf-f2);
    }
    .md\:bg-size-f3 {
      background-size: var(--sf-f3);
    }
    .md\:bg-size-f4 {
      background-size: var(--sf-f4);
    }
    .md\:bg-size-f5 {
      background-size: var(--sf-f5);
    }
    .md\:bg-size-f6 {
      background-size: var(--sf-f6);
    }
    .md\:bg-size-f7 {
      background-size: var(--sf-f7);
    }
    .md\:bg-size-f8 {
      background-size: var(--sf-f8);
    }
    .md\:bg-size-f9 {
      background-size: var(--sf-f9);
    }
    .md\:bg-size-g0 {
      background-size: var(--sf-g0);
    }
    .md\:bg-size-g1 {
      background-size: var(--sf-g1);
    }
    .md\:bg-size-g2 {
      background-size: var(--sf-g2);
    }
    .md\:bg-size-g3 {
      background-size: var(--sf-g3);
    }
    .md\:bg-size-g4 {
      background-size: var(--sf-g4);
    }
    .md\:bg-size-g5 {
      background-size: var(--sf-g5);
    }
    .md\:bg-size-g6 {
      background-size: var(--sf-g6);
    }
    .md\:bg-size-g7 {
      background-size: var(--sf-g7);
    }
    .md\:bg-size-g8 {
      background-size: var(--sf-g8);
    }
    .md\:bg-size-g9 {
      background-size: var(--sf-g9);
    }
    .md\:bg-size-h0 {
      background-size: var(--sf-h0);
    }
    .md\:bg-size-h1 {
      background-size: var(--sf-h1);
    }
    .md\:bg-size-h2 {
      background-size: var(--sf-h2);
    }
    .md\:bg-size-h3 {
      background-size: var(--sf-h3);
    }
    .md\:bg-size-h4 {
      background-size: var(--sf-h4);
    }
    .md\:bg-size-h5 {
      background-size: var(--sf-h5);
    }
    .md\:bg-size-h6 {
      background-size: var(--sf-h6);
    }
    .md\:bg-size-h7 {
      background-size: var(--sf-h7);
    }
    .md\:bg-size-h8 {
      background-size: var(--sf-h8);
    }
    .md\:bg-size-h9 {
      background-size: var(--sf-h9);
    }
    .md\:bg-size-i0 {
      background-size: var(--sf-i0);
    }
    .md\:bg-size-i1 {
      background-size: var(--sf-i1);
    }
    .md\:bg-size-i2 {
      background-size: var(--sf-i2);
    }
    .md\:bg-size-i3 {
      background-size: var(--sf-i3);
    }
    .md\:bg-size-i4 {
      background-size: var(--sf-i4);
    }
    .md\:bg-size-i5 {
      background-size: var(--sf-i5);
    }
    .md\:bg-size-i6 {
      background-size: var(--sf-i6);
    }
    .md\:bg-size-i7 {
      background-size: var(--sf-i7);
    }
    .md\:bg-size-i8 {
      background-size: var(--sf-i8);
    }
    .md\:bg-size-i9 {
      background-size: var(--sf-i9);
    }
    .md\:bg-size-0 {
      background-size: 0%;
    }
    .md\:bg-size-1 {
      background-size: 1%;
    }
    .md\:bg-size-2 {
      background-size: 2%;
    }
    .md\:bg-size-3 {
      background-size: 3%;
    }
    .md\:bg-size-4 {
      background-size: 4%;
    }
    .md\:bg-size-5 {
      background-size: 5%;
    }
    .md\:bg-size-6 {
      background-size: 6%;
    }
    .md\:bg-size-7 {
      background-size: 7%;
    }
    .md\:bg-size-8 {
      background-size: 8%;
    }
    .md\:bg-size-9 {
      background-size: 9%;
    }
    .md\:bg-size-10 {
      background-size: 10%;
    }
    .md\:bg-size-11 {
      background-size: 11%;
    }
    .md\:bg-size-12 {
      background-size: 12%;
    }
    .md\:bg-size-13 {
      background-size: 13%;
    }
    .md\:bg-size-14 {
      background-size: 14%;
    }
    .md\:bg-size-15 {
      background-size: 15%;
    }
    .md\:bg-size-16 {
      background-size: 16%;
    }
    .md\:bg-size-17 {
      background-size: 17%;
    }
    .md\:bg-size-18 {
      background-size: 18%;
    }
    .md\:bg-size-19 {
      background-size: 19%;
    }
    .md\:bg-size-20 {
      background-size: 20%;
    }
    .md\:bg-size-21 {
      background-size: 21%;
    }
    .md\:bg-size-22 {
      background-size: 22%;
    }
    .md\:bg-size-23 {
      background-size: 23%;
    }
    .md\:bg-size-24 {
      background-size: 24%;
    }
    .md\:bg-size-25 {
      background-size: 25%;
    }
    .md\:bg-size-26 {
      background-size: 26%;
    }
    .md\:bg-size-27 {
      background-size: 27%;
    }
    .md\:bg-size-28 {
      background-size: 28%;
    }
    .md\:bg-size-29 {
      background-size: 29%;
    }
    .md\:bg-size-30 {
      background-size: 30%;
    }
    .md\:bg-size-31 {
      background-size: 31%;
    }
    .md\:bg-size-32 {
      background-size: 32%;
    }
    .md\:bg-size-33 {
      background-size: 33%;
    }
    .md\:bg-size-34 {
      background-size: 34%;
    }
    .md\:bg-size-35 {
      background-size: 35%;
    }
    .md\:bg-size-36 {
      background-size: 36%;
    }
    .md\:bg-size-37 {
      background-size: 37%;
    }
    .md\:bg-size-38 {
      background-size: 38%;
    }
    .md\:bg-size-39 {
      background-size: 39%;
    }
    .md\:bg-size-40 {
      background-size: 40%;
    }
    .md\:bg-size-41 {
      background-size: 41%;
    }
    .md\:bg-size-42 {
      background-size: 42%;
    }
    .md\:bg-size-43 {
      background-size: 43%;
    }
    .md\:bg-size-44 {
      background-size: 44%;
    }
    .md\:bg-size-45 {
      background-size: 45%;
    }
    .md\:bg-size-46 {
      background-size: 46%;
    }
    .md\:bg-size-47 {
      background-size: 47%;
    }
    .md\:bg-size-48 {
      background-size: 48%;
    }
    .md\:bg-size-49 {
      background-size: 49%;
    }
    .md\:bg-size-50 {
      background-size: 50%;
    }
    .md\:bg-size-51 {
      background-size: 51%;
    }
    .md\:bg-size-52 {
      background-size: 52%;
    }
    .md\:bg-size-53 {
      background-size: 53%;
    }
    .md\:bg-size-54 {
      background-size: 54%;
    }
    .md\:bg-size-55 {
      background-size: 55%;
    }
    .md\:bg-size-56 {
      background-size: 56%;
    }
    .md\:bg-size-57 {
      background-size: 57%;
    }
    .md\:bg-size-58 {
      background-size: 58%;
    }
    .md\:bg-size-59 {
      background-size: 59%;
    }
    .md\:bg-size-60 {
      background-size: 60%;
    }
    .md\:bg-size-61 {
      background-size: 61%;
    }
    .md\:bg-size-62 {
      background-size: 62%;
    }
    .md\:bg-size-63 {
      background-size: 63%;
    }
    .md\:bg-size-64 {
      background-size: 64%;
    }
    .md\:bg-size-65 {
      background-size: 65%;
    }
    .md\:bg-size-66 {
      background-size: 66%;
    }
    .md\:bg-size-67 {
      background-size: 67%;
    }
    .md\:bg-size-68 {
      background-size: 68%;
    }
    .md\:bg-size-69 {
      background-size: 69%;
    }
    .md\:bg-size-70 {
      background-size: 70%;
    }
    .md\:bg-size-71 {
      background-size: 71%;
    }
    .md\:bg-size-72 {
      background-size: 72%;
    }
    .md\:bg-size-73 {
      background-size: 73%;
    }
    .md\:bg-size-74 {
      background-size: 74%;
    }
    .md\:bg-size-75 {
      background-size: 75%;
    }
    .md\:bg-size-76 {
      background-size: 76%;
    }
    .md\:bg-size-77 {
      background-size: 77%;
    }
    .md\:bg-size-78 {
      background-size: 78%;
    }
    .md\:bg-size-79 {
      background-size: 79%;
    }
    .md\:bg-size-80 {
      background-size: 80%;
    }
    .md\:bg-size-81 {
      background-size: 81%;
    }
    .md\:bg-size-82 {
      background-size: 82%;
    }
    .md\:bg-size-83 {
      background-size: 83%;
    }
    .md\:bg-size-84 {
      background-size: 84%;
    }
    .md\:bg-size-85 {
      background-size: 85%;
    }
    .md\:bg-size-86 {
      background-size: 86%;
    }
    .md\:bg-size-87 {
      background-size: 87%;
    }
    .md\:bg-size-88 {
      background-size: 88%;
    }
    .md\:bg-size-89 {
      background-size: 89%;
    }
    .md\:bg-size-90 {
      background-size: 90%;
    }
    .md\:bg-size-91 {
      background-size: 91%;
    }
    .md\:bg-size-92 {
      background-size: 92%;
    }
    .md\:bg-size-93 {
      background-size: 93%;
    }
    .md\:bg-size-94 {
      background-size: 94%;
    }
    .md\:bg-size-95 {
      background-size: 95%;
    }
    .md\:bg-size-96 {
      background-size: 96%;
    }
    .md\:bg-size-97 {
      background-size: 97%;
    }
    .md\:bg-size-98 {
      background-size: 98%;
    }
    .md\:bg-size-99 {
      background-size: 99%;
    }
    .md\:bg-size-100 {
      background-size: 100%;
    }
  }
}
