@layer sf.utilities {
  @media (min-width: 520px) {
    .sm\:bg-bottom {
      background-position: bottom;
    }
    .sm\:bg-center {
      background-position: center;
    }
    .sm\:bg-center-top {
      background-position: center top;
    }
    .sm\:bg-center-bottom {
      background-position: center bottom;
    }
    .sm\:bg-left {
      background-position: left;
    }
    .sm\:bg-left-top {
      background-position: left top;
    }
    .sm\:bg-left-bottom {
      background-position: left bottom;
    }
    .sm\:bg-right {
      background-position: right;
    }
    .sm\:bg-right-top {
      background-position: right top;
    }
    .sm\:bg-right-bottom {
      background-position: right bottom;
    }
    .sm\:bg-inline-start {
      background-position: left;
    }
    .sm\:bg-inline-start-bottom {
      background-position: left bottom;
    }
    .sm\:bg-inline-start-top {
      background-position: left top;
    }
    .sm\:bg-inline-start-center {
      background-position: left center;
    }
    .sm\:bg-inline-end {
      background-position: right;
    }
    .sm\:bg-inline-end-bottom {
      background-position: right bottom;
    }
    .sm\:bg-inline-end-top {
      background-position: right top;
    }
    .sm\:bg-inline-end-center {
      background-position: right center;
    }
    .sm\:bg-top {
      background-position: top;
    }
  }
}
