@layer sf.utilities {
  .content-center {
    align-content: center;
    justify-content: center;
    place-content: center;
  }
  .content-start {
    align-content: start;
    justify-content: start;
    place-content: start;
  }
  .content-end {
    align-content: end;
    justify-content: end;
    place-content: end;
  }
  .content-between {
    align-content: space-between;
    justify-content: space-between;
    place-content: space-between;
  }
  .content-around {
    align-content: space-around;
    justify-content: space-around;
    place-content: space-around;
  }
  .content-evenly {
    align-content: space-evenly;
    justify-content: space-evenly;
    place-content: space-evenly;
  }
  .content-stretch {
    align-content: stretch;
    justify-content: stretch;
    place-content: stretch;
  }
}
