@layer sf.components {
  .sf-overbox-pointer {
    top: calc(-1 * var(--sf-c1));
    height: var(--sf-c1);
    width: var(--sf-c6);
  }
  [dir="ltr"] .sf-overbox-pointer:before {
    left: var(--sf-a8);
  }
  [dir="rtl"] .sf-overbox-pointer:before {
    right: var(--sf-a8);
  }
  .sf-overbox-pointer:before {
    content: "";
    background-color: #fff;
    box-shadow: 0 0 calc(var(--sf-c0) + var(--sf-px)) rgba(83, 92, 105, 0.13);
    width: var(--sf-b6);
    height: var(--sf-b6);
    position: absolute;
    inset-inline-start: var(--sf-a8);
    top: var(--sf-b6);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  [dir="ltr"] .sf-overbox-right {
    right: calc(-1 * var(--sf-c3));
  }
  [dir="rtl"] .sf-overbox-right {
    left: calc(-1 * var(--sf-c3));
  }
  .sf-overbox-right {
    top: var(--sf-c6);
    inset-inline-end: calc(-1 * var(--sf-c3));
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sf-overbox-bottom:before {
    top: auto;
    bottom: var(--sf-b6);
  }
  [dir="ltr"] .sf-overbox-left {
    left: calc(-1 * var(--sf-c3));
  }
  [dir="rtl"] .sf-overbox-left {
    right: calc(-1 * var(--sf-c3));
  }
  .sf-overbox-left {
    top: var(--sf-b6);
    inset-inline-start: calc(-1 * var(--sf-c3));
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
