@layer sf.utilities {
  .sr-only {
    position: absolute;
    width: var(--sf-px);
    height: var(--sf-px);
    padding: 0;
    margin: calc(-1 * var(--sf-px));
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .not-sr-only {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;
  }
}
