@layer sf.utilities {
  .hover\:decoration-inherit:hover {
    -webkit-text-decoration-color: var(--sf-inherit);
            text-decoration-color: var(--sf-inherit);
  }
  .hover\:decoration-current:hover {
    -webkit-text-decoration-color: var(--sf-currentColor);
            text-decoration-color: var(--sf-currentColor);
  }
  .hover\:decoration-transparent:hover {
    -webkit-text-decoration-color: var(--sf-transparent);
            text-decoration-color: var(--sf-transparent);
  }
  .hover\:decoration-primary:hover {
    -webkit-text-decoration-color: var(--sf-outline-primary);
            text-decoration-color: var(--sf-outline-primary);
  }
  .hover\:decoration-secondary:hover {
    -webkit-text-decoration-color: var(--sf-outline-secondary);
            text-decoration-color: var(--sf-outline-secondary);
  }
  .hover\:decoration-tertiary:hover {
    -webkit-text-decoration-color: var(--sf-outline-tertiary);
            text-decoration-color: var(--sf-outline-tertiary);
  }
  .hover\:decoration-error:hover {
    -webkit-text-decoration-color: var(--sf-outline-error);
            text-decoration-color: var(--sf-outline-error);
  }
  .hover\:decoration-warning:hover {
    -webkit-text-decoration-color: var(--sf-outline-warning);
            text-decoration-color: var(--sf-outline-warning);
  }
  .hover\:decoration-success:hover {
    -webkit-text-decoration-color: var(--sf-outline-success);
            text-decoration-color: var(--sf-outline-success);
  }
}
